@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls016ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:50px;
line-height:130%;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:52px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls016ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:86px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls016ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:470.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:608.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt7
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:138px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:204px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:204px;
left:249.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:204px;
left:408.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:308px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:308px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:308px;
left:408.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:308px;
left:616.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt15
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:298px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:342px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:399px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:399px;
left:266.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:399px;
left:372.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:399px;
left:512.333313px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:502px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:502px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:502px;
left:292.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:502px;
left:492.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt25
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:493px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:559px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:559px;
left:314.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:559px;
left:528.333313px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:559px;
left:669.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:662px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:662px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:662px;
left:326.666656px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.67px;
}
.cls016ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:662px;
left:586.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt34
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:653px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:719px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:719px;
left:259.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:822px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:822px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:822px;
left:377.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:822px;
left:594.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt41
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:813px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:879px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:879px;
left:263.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:879px;
left:419.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:982px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:982px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:982px;
left:372.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt48
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:973px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt49
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:973px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1039px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1039px;
left:473.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1104px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1104px;
left:473.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1208px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1208px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1208px;
left:481.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1208px;
left:584.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt58
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1198px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1264px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1264px;
left:258.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1264px;
left:449.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1264px;
left:595.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1368px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1368px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1368px;
left:296.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1368px;
left:429.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt67
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1358px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt68
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1358px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1424px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1424px;
left:300.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1424px;
left:465.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1424px;
left:630.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1528px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1528px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1528px;
left:341.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1528px;
left:442.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt77
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1518px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt78
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1518px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1584px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1584px;
left:302.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1584px;
left:479.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1584px;
left:668.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1688px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1688px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1688px;
left:242.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1688px;
left:402.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt87
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1678px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1744px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1744px;
left:410.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1808px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1913px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1913px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.83px;
}
.cls016ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1913px;
left:585.333313px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt94
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1904px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1969px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1969px;
left:377.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1969px;
left:594.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2033px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2033px;
left:377.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2138px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2138px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt102
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2128px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2193px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2193px;
left:390.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2259px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2259px;
left:390.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2362px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2362px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt109
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2353px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2419px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2419px;
left:277.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2419px;
left:475.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2419px;
left:655.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2522px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2522px;
left:133.333328px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2522px;
left:270.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt117
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2513px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2579px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2579px;
left:273.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2579px;
left:449.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2579px;
left:609.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2682px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2682px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2682px;
left:350.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt125
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2673px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2739px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2739px;
left:295.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2739px;
left:493.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2739px;
left:652.333313px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2842px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2842px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt132
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2842px;
left:289.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt133
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2833px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt134
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2899px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt135
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2899px;
left:297.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt136
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2899px;
left:447.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt137
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2964px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt138
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2964px;
left:297.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt139
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3068px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt140
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3068px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.25px;
}
.cls016ClsTxt141
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3068px;
left:586.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt142
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:3058px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt143
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3124px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt144
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3124px;
left:293.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt145
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3124px;
left:455.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt146
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3124px;
left:612.333313px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt147
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3228px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt148
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3228px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt149
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3228px;
left:329.333344px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.56px;
}
.cls016ClsTxt150
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3228px;
left:553.333313px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt151
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:3218px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt152
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3284px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt153
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3284px;
left:285.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt154
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3284px;
left:423.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt155
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3284px;
left:569.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt156
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3388px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt157
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3388px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt158
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3388px;
left:321.333344px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt159
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:3378px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls016ClsTxt160
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3444px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt161
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3444px;
left:285.666656px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt162
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3444px;
left:439.000000px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt163
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3444px;
left:577.666687px;
letter-spacing:0px;
color:#000000;
}
.cls016ClsTxt164
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:3444px;
left:723.000000px;
letter-spacing:0px;
color:#000000;
}
