@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls020ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:38px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls020ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls020ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls020ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:92px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls020ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls020ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:141px;
left:550.418884px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls020ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:164px;
left:550.418884px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls020ClsTxt7
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:164px;
left:627.907288px;
color:#C00D0E;
}
.span8
{
color:#C00D0E;
}
.cls020ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:188px;
left:550.418884px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls020ClsTxt9
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:188px;
left:627.907288px;
color:#C00D0E;
}
.span10
{
color:#C00D0E;
}
.cls020ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:212px;
left:550.418884px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls020ClsTxt11
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:212px;
left:627.907288px;
color:#C00D0E;
}
.span12
{
color:#C00D0E;
}
.cls020ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:249px;
left:166.103378px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls020ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:270px;
left:550.418884px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls020ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:294px;
left:550.418884px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls020ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:294px;
left:612.479492px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls020ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:294px;
left:905.354736px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls020ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:317px;
left:550.418884px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls020ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:317px;
left:612.479492px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls020ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:341px;
left:550.418884px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls020ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:341px;
left:612.479492px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls020ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:166.103378px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls020ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:550.418884px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls020ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:550.418884px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls020ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:612.479492px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls020ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:550.418884px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls020ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:550.418884px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls020ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:508px;
left:166.103378px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls020ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:529px;
left:550.418884px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls020ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:550.418884px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls020ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:550.418884px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls020ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:550.418884px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls020ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:637px;
left:166.103378px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls020ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:659px;
left:550.418884px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls020ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:682px;
left:550.418884px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls020ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:706px;
left:550.418884px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls020ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:730px;
left:550.418884px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls020ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:487px;
left:229.989288px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls020ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:487px;
left:323.080200px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls020ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:487px;
left:405.219238px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls020ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:487px;
left:481.882324px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.span41
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls020ClsTxt41
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:793px;
left:166.103378px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls020ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:822px;
left:166.103378px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls020ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:822px;
left:186.181824px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls020ClsTxt44
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:821px;
left:410.695190px;
color:#C00D0E;
}
.span45
{
color:#C00D0E;
}
.cls020ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:822px;
left:576.798584px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls020ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:846px;
left:166.103378px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls020ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:846px;
left:186.181824px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls020ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:846px;
left:731.950073px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls020ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
left:166.103378px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls020ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
left:186.181824px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls020ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
left:680.841309px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls020ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:893px;
left:166.103378px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls020ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:893px;
left:186.181824px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls020ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:893px;
left:744.727295px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls020ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:917px;
left:166.103378px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls020ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:917px;
left:186.181824px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls020ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:917px;
left:744.727295px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls020ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:940px;
left:166.103378px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls020ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:940px;
left:186.181824px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls020ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:940px;
left:702.745056px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls020ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:964px;
left:166.103378px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls020ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:964px;
left:186.181824px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls020ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:964px;
left:717.347534px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls020ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:988px;
left:166.103378px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls020ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:988px;
left:186.181824px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls020ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:988px;
left:733.775391px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls020ClsTxt67
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1027px;
left:166.103378px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls020ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1027px;
left:439.900177px;
color:#C00D0E;
}
.span69
{
color:#C00D0E;
}
.cls020ClsTxt69
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1027px;
left:532.991028px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls020ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:186.181824px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls020ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:276.622101px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls020ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:379.664886px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls020ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:462.803925px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls020ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:567.671997px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls020ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:186.181824px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls020ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:276.622101px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls020ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:379.664886px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls020ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:462.803925px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls020ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:567.671997px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls020ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:186.181824px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls020ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:276.622101px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls020ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:379.664886px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls020ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:462.803925px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls020ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:567.671997px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls020ClsTxt85
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:668.064148px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls020ClsTxt86
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:773.932251px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls020ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:668.064148px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls020ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:773.932251px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls020ClsTxt89
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:668.064148px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls020ClsTxt90
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:773.932251px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls020ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1149px;
left:166.103378px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls020ClsTxt92
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1148px;
left:202.609619px;
color:#C00D0E;
}
.span93
{
color:#C00D0E;
}
.cls020ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:166.103378px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls020ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:186.181824px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls020ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1196px;
left:166.103378px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls020ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:166.103378px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls020ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:166.103378px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls020ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1267px;
left:166.103378px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls020ClsTxt99
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span100
{
color:#C00D0E;
}
.cls020ClsTxt100
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:787px;
left:96.741531px;
color:#FFF374;
}
.span101
{
color:#C00D0E;
}
.cls020ClsTxt101
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1022px;
left:96.741531px;
color:#FFF374;
}
.span102
{
color:#C00D0E;
}
.cls020ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:228.163986px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls020ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:305px;
left:261.019592px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls020ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:255px;
left:366.887695px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls020ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:282.923340px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls020ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:284px;
left:361.411743px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls020ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:304.827087px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls020ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:281px;
left:427.122955px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls020ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:356px;
left:326.730835px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls020ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:288px;
left:469.105133px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls020ClsTxt111
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:391px;
left:194.483063px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls020ClsTxt112
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:391px;
left:276.622101px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls020ClsTxt113
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:391px;
left:361.411743px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls020ClsTxt114
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:391px;
left:447.201416px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls020ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:321.254883px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls020ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:396.092651px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls020ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:469.105133px;
color:#000000;
}
.span12
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.span12aa
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
color:#c00d0e;
}
.span50
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.zap {
font-family:'ZapfDingbatsStd';
}
.underline-nor
{
font-family:'CronosPro-Semibold';
text-decoration:underline;
color:#c00d0e;
}
.span12a
{
font-family:'CronosPro-Semibold';
font-size:18.078430px;
}
.CPL {font-family:'CronosPro-Lt'; font-size:27px; color:#000000; }
.CPL1 {font-family:'CronosPro-Lt'; font-size:22px; color:#000000; }
.TPR {font-family:'TektonPro-Regular'; font-size:20px; color:#000000; }