@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls028ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:37px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls028ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls028ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:28px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.span3
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls028ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:92px;
left:166.103378px;
color:#000000;
word-spacing:-1px;
}
.span4
{
color:#C00D0E;
}
.cls028ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:211px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls028ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:211px;
left:264.670227px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls028ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:211px;
left:485.532928px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls028ClsTxt7
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:210px;
left:618.780701px;
color:#C00D0E;
}
.span8
{
color:#C00D0E;
}
.cls028ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:166.103378px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls028ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:292.049927px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls028ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:485.532928px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls028ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:604.178223px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls028ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:166.103378px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls028ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:246.417099px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls028ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:485.532928px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls028ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:604.178223px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls028ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:166.103378px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls028ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:282px;
left:276.622101px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls028ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:485.532928px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls028ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:166.103378px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls028ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:305px;
left:243.766464px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls028ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:485.532928px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls028ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:332px;
left:166.103378px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls028ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:332px;
left:197.133682px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls028ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:332px;
left:485.532928px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.span25
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls028ClsTxt25
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:381px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls028ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:410px;
left:166.103378px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls028ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:410px;
left:186.181824px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls028ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:410px;
left:388.791412px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls028ClsTxt29
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:409px;
left:470.930450px;
color:#C00D0E;
}
.span30
{
color:#C00D0E;
}
.cls028ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:434px;
left:166.103378px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls028ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:434px;
left:186.181824px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls028ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:434px;
left:306.652405px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls028ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:434px;
left:379.664886px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls028ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:458px;
left:166.103378px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls028ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:458px;
left:186.181824px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls028ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:458px;
left:379.664886px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls028ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:458px;
left:456.327972px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls028ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:166.103378px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls028ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:186.181824px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls028ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:405.219238px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls028ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:458.153259px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls028ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:505px;
left:166.103378px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls028ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:505px;
left:186.181824px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls028ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:505px;
left:407.044556px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls028ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:529px;
left:166.103378px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls028ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:529px;
left:186.181824px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls028ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:529px;
left:324.905518px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls028ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:166.103378px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls028ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:186.181824px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls028ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:304.827087px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls028ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:166.103378px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls028ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:186.181824px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls028ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:390.616760px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls028ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:166.103378px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls028ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:186.181824px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls028ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:412.520477px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls028ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:157.976822px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls028ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:186.181824px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls028ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:436.249542px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls028ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:157.976822px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls028ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:186.181824px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls028ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:405.219238px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls028ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:672px;
left:157.976822px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls028ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:672px;
left:186.181824px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls028ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:672px;
left:432.598907px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls028ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:696px;
left:157.976822px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls028ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:696px;
left:186.181824px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls028ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:696px;
left:288.399292px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls028ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:157.976822px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls028ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:186.181824px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls028ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:439.900177px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls028ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:157.976822px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls028ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:186.181824px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls028ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:390.616760px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.span75
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls028ClsTxt75
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:782px;
left:166.103378px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls028ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:811px;
left:166.103378px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls028ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:811px;
left:186.181824px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls028ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:811px;
left:355.935822px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls028ClsTxt79
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:811px;
left:523.864502px;
color:#C00D0E;
}
.span80
{
color:#C00D0E;
}
.cls028ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:835px;
left:166.103378px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls028ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:835px;
left:186.181824px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls028ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:835px;
left:355.935822px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls028ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:835px;
left:509.261993px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls028ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:859px;
left:166.103378px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls028ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:859px;
left:186.181824px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls028ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:859px;
left:303.001770px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls028ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:859px;
left:509.261993px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls028ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:882px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls028ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:882px;
left:186.181824px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls028ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:882px;
left:401.568604px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls028ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:882px;
left:509.261993px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls028ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:166.103378px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls028ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:186.181824px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls028ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:385.140808px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls028ClsTxt95
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:945px;
left:166.103378px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls028ClsTxt96
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:945px;
left:332.206757px;
color:#C00D0E;
}
.span97
{
color:#C00D0E;
}
.cls028ClsTxt97
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:945px;
left:374.188934px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls028ClsTxt98
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:945px;
left:408.869843px;
color:#C00D0E;
}
.span99
{
color:#C00D0E;
}
.cls028ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:166.103378px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls028ClsTxt100
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1191px;
left:202.609619px;
color:#C00D0E;
}
.span101
{
color:#C00D0E;
}
.cls028ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:553.069519px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls028ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:574.973267px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls028ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:859.721924px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls028ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:186.181824px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls028ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:471.930450px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls028ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:574.973267px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls028ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:858.896606px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls028ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1239px;
left:465.454529px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls028ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1263px;
left:500.135468px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls028ClsTxt110
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span111
{
color:#C00D0E;
}
.cls028ClsTxt111
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:376px;
left:96.741531px;
color:#FFF374;
}
.span112
{
color:#C00D0E;
}
.cls028ClsTxt112
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:776px;
left:96.741531px;
color:#FFF374;
}
.span113
{
color:#C00D0E;
}
.cls028ClsTxt113
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:940px;
left:96.741531px;
color:#FFF374;
}
.span114
{
color:#C00D0E;
}
.cls028ClsTxt114
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:179px;
left:596.877014px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls028ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1076px;
left:192.657745px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls028ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1096px;
left:192.657745px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls028ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1116px;
left:192.657745px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls028ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1136px;
left:192.657745px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.cls028ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1076px;
left:334.032074px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.cls028ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1096px;
left:334.032074px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls028ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1116px;
left:334.032074px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls028ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1136px;
left:334.032074px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls028ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:980px;
left:619.780701px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls028ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1000px;
left:619.780701px;
color:#000000;
}
