@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls031ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:17px;
left:43.807484px;
color:#FFFFFF;
}
.span1 {
color:#CB0307;
}
.cls031ClsTxt1 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:120px;
left:105.868088px;
color:#FEFF59;
}
.span2 {
color:#CB0307;
}
.cls031ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:409px;
left:107px;
color:#FEFF59;
}
.span3 {
color:#CB0307;
}
.cls031ClsTxt3 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:724px;
left:105px;
color:#FEFF59;
}
.span4 {
color:#CB0307;
}
.cls031ClsTxt4 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:954px;
left:105px;
color:#FEFF59;
}
.span5 {
color:#CB0307;
}
.cls031ClsTxt5 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span6 {
color:#CB0307;
}
.cls031ClsTxt6 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:118px;
left:149.675583px;
color:#000000;
}
.span7 {
color:#CB0307;
}
.span7 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:160.627441px;
color:#000000;
}
.span8 {
color:#CB0307;
}
.span8 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt8 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:615.130127px;
color:#000000;
}
.span9 {
color:#CB0307;
}
.cls031ClsTxt9 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:237px;
left:217.212112px;
color:#000000;
}
.span10 {
color:#CB0307;
}
.cls031ClsTxt10 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:237px;
left:226.338684px;
color:#000000;
}
.span11 {
color:#CB0307;
}
.cls031ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:237px;
left:257.368988px;
color:#000000;
}
.span12 {
color:#CB0307;
}
.cls031ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:237px;
left:511.087341px;
color:#000000;
}
.cls031ClsTxt13 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:261px;
left:217.212112px;
color:#000000;
}
.span14 {
color:#CB0307;
}
.cls031ClsTxt14 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:261px;
left:476.406403px;
color:#000000;
}
.span15 {
color:#CB0307;
}
.cls031ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:261px;
left:505.611389px;
color:#000000;
}
.span16 {
color:#CB0307;
}
.cls031ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:284px;
left:217.212112px;
color:#000000;
}
.span17 {
color:#CB0307;
}
.cls031ClsTxt17 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:284px;
left:299.351166px;
color:#000000;
}
.span18 {
color:#CB0307;
}
.cls031ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:284px;
left:328.556122px;
color:#000000;
}
.span19 {
color:#CB0307;
}
.cls031ClsTxt19 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:308px;
left:217.212112px;
color:#000000;
}
.span20 {
color:#CB0307;
}
.cls031ClsTxt20 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:308px;
left:321.254883px;
color:#000000;
}
.span21 {
color:#CB0307;
}
.cls031ClsTxt21 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:308px;
left:376.014252px;
color:#000000;
}
.span22 {
color:#CB0307;
}
.cls031ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:308px;
left:405.219238px;
color:#000000;
}
.span23 {
color:#CB0307;
}
.cls031ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:341px;
left:149.675583px;
color:#000000;
}
.span24 {
color:#CB0307;
}
.cls031ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:365px;
left:217.212112px;
color:#000000;
}
.span25 {
color:#CB0307;
}
.span25 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:365px;
left:385.140808px;
color:#000000;
}
.span26 {
color:#CB0307;
}
.cls031ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:149.675583px;
color:#000000;
}
.span27 {
color:#CB0307;
}
.span27 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls031ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:160.627441px;
color:#000000;
}
.span28 {
color:#CB0307;
}
.span28 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls031ClsTxt28 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:596.877014px;
color:#000000;
}
.span29 {
color:#CB0307;
}
.cls031ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:527px;
left:217.212112px;
color:#000000;
}
.span30 {
color:#CB0307;
}
.cls031ClsTxt30 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:527px;
left:368.713013px;
color:#000000;
}
.span31 {
color:#CB0307;
}
.cls031ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:551px;
left:217.212112px;
color:#000000;
}
.span32 {
color:#CB0307;
}
.span32 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls031ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:551px;
left:357.761108px;
color:#000000;
}
.span33 {
color:#CB0307;
}
.cls031ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:575px;
left:217.212112px;
color:#000000;
}
.span34 {
color:#CB0307;
}
.cls031ClsTxt34 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:575px;
left:503.786072px;
color:#000000;
}
.span35 {
color:#CB0307;
}
.cls031ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:575px;
left:595.051636px;
color:#000000;
}
.span36 {
color:#CB0307;
}
.cls031ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:598px;
left:217.212112px;
color:#000000;
}
.span37 {
color:#CB0307;
}
.cls031ClsTxt37 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:598px;
left:658.937622px;
color:#000000;
}
.span38 {
color:#CB0307;
}
.cls031ClsTxt38 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:598px;
left:689.967896px;
color:#000000;
}
.span39 {
color:#CB0307;
}
.cls031ClsTxt39 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:598px;
left:726.474121px;
color:#000000;
}
.span40 {
color:#CB0307;
}
.span40 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls031ClsTxt40 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:631px;
left:149.675583px;
color:#000000;
}
.span41 {
color:#CB0307;
}
.span41 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt41 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:569.497314px;
color:#000000;
}
.span42 {
color:#CB0307;
}
.span42 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt42 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:655px;
left:182.531189px;
color:#000000;
}
.span43 {
color:#CB0307;
}
.span43 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:655px;
left:569.497314px;
color:#000000;
}
.span44 {
color:#CB0307;
}
.span44 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt44 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:679px;
left:182.531189px;
color:#000000;
}
.span45 {
color:#CB0307;
}
.span45 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls031ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:679px;
left:569.497314px;
color:#000000;
}
.span46 {
color:#CB0307;
}
.cls031ClsTxt46 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:149.675583px;
color:#000000;
}
.span47 {
color:#CB0307;
}
.cls031ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:149.675583px;
color:#000000;
}
.span48 {
color:#CB0307;
}
.cls031ClsTxt48 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:452.677368px;
color:#000000;
}
.span49 {
color:#CB0307;
}
.cls031ClsTxt49 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:485.532928px;
color:#000000;
}
.span50 {
color:#CB0307;
}
.cls031ClsTxt50 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:514.737976px;
color:#000000;
}
.span51 {
color:#CB0307;
}
.cls031ClsTxt51 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:443px;
left:388.791412px;
color:#000000;
}
.span52 {
color:#CB0307;
}
.cls031ClsTxt52 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:443px;
left:421.647064px;
color:#000000;
}
.span53 {
color:#CB0307;
}
.cls031ClsTxt53 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:746px;
left:217.212112px;
color:#000000;
}
.span54 {
color:#CB0307;
}
.cls031ClsTxt54 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:746px;
left:281.098022px;
color:#000000;
}
.span55 {
color:#CB0307;
}
.cls031ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:746px;
left:376.014252px;
color:#000000;
}
.span56 {
color:#CB0307;
}
.cls031ClsTxt56 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:746px;
left:472.755737px;
color:#000000;
}
.span57 {
color:#CB0307;
}
.cls031ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:770px;
left:217.212112px;
color:#000000;
}
.span58 {
color:#CB0307;
}
.cls031ClsTxt58 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:770px;
left:467.279846px;
color:#000000;
}
.span59 {
color:#CB0307;
}
.cls031ClsTxt59 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:794px;
left:217.212112px;
color:#000000;
}
.span60 {
color:#CB0307;
}
.span60 {
font-weight:bold;
font-size:20.078430px;
}
.cls031ClsTxt60 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:828px;
left:149.675583px;
color:#000000;
}
.span61 {
color:#CB0307;
}
.span61 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:852px;
left:217.212112px;
color:#000000;
}
.span62 {
color:#CB0307;
}
.span62 {
font-weight:bold;
font-size:20.078430px;
}
.cls031ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:885px;
left:149.675583px;
color:#000000;
}
.span63 {
color:#CB0307;
}
.span63 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:909px;
left:217.212112px;
color:#000000;
}
.span64 {
color:#CB0307;
}
.cls031ClsTxt64 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:47.458111px;
color:#FFFFFF;
}
.span65 {
color:#CB0307;
}
.cls031ClsTxt65 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:953px;
left:149.675583px;
color:#000000;
}
.span66 {
color:#CB0307;
}
.cls031ClsTxt66 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1153px;
left:149.675583px;
color:#000000;
}
.span67 {
color:#CB0307;
}
.cls031ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:198.959000px;
color:#000000;
}
.span68 {
color:#CB0307;
}
.cls031ClsTxt68 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1153px;
left:334.032074px;
color:#000000;
}
.span69 {
color:#CB0307;
}
.cls031ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:396.092651px;
color:#000000;
}
.span70 {
color:#CB0307;
}
.cls031ClsTxt70 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1153px;
left:401.568604px;
color:#000000;
}
.span71 {
color:#CB0307;
}
.cls031ClsTxt71 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:421.647064px;
color:#000000;
}
.span72 {
color:#CB0307;
}
.cls031ClsTxt72 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1153px;
left:569.497314px;
color:#000000;
}
.span73 {
color:#CB0307;
}
.cls031ClsTxt73 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1153px;
left:752.028503px;
color:#000000;
}
.span74 {
color:#CB0307;
}
.cls031ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1177px;
left:584.099854px;
color:#000000;
}
.span75 {
color:#CB0307;
}
.span75 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1210px;
left:217.212112px;
color:#000000;
}
.span76 {
color:#CB0307;
}
.span76 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls031ClsTxt76 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1210px;
left:498.310181px;
color:#000000;
}
.span77 {
color:#CB0307;
}
.span77 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls031ClsTxt77 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:217.212112px;
color:#000000;
}
.span78 {
color:#CB0307;
}
.cls031ClsTxt78 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:483.707642px;
color:#000000;
}
.span79 {
color:#CB0307;
}
.cls031ClsTxt79 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:217.212112px;
color:#000000;
}
.span80 {
color:#CB0307;
}
.cls031ClsTxt80 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:849px;
left:857.896606px;
color:#000000;
}
.span81 {
color:#CB0307;
}
.cls031ClsTxt81 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span83 {
color:#CB0307;
}
.cls031ClsTxt83 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:229.989288px;
color:#CB0307;
}
.span84 {
color:#CB0307;
}
.cls031ClsTxt84 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:312.128326px;
color:#000000;
}
.span86 {
color:#CB0307;
}
.cls031ClsTxt86 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:434.424225px;
color:#CB0307;
}
.span87 {
color:#CB0307;
}
.cls031ClsTxt87 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:556.720093px;
color:#000000;
}
.span89 {
color:#CB0307;
}
.cls031ClsTxt89 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:627.907288px;
color:#CB0307;
}
.span90 {
color:#CB0307;
}
.cls031ClsTxt90 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:711.871643px;
color:#000000;
}
.span92 {
color:#CB0307;
}
.cls031ClsTxt92 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:781.233521px;
color:#CB0307;
}
