@font-face{font-family:"SourceSansPro-Regular";src:url('../fonts/SourceSansPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-Bold";src:url('../fonts/SourceSansPro-Bold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls008ClsTxt0
{
position:absolute;
font-family:'SourceSansPro-Bold';
font-size:21.333334px;
top:57px;
left:73.333336px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls008ClsTxt1
{
position:absolute;
font-family:'SourceSansPro-Bold';
font-size:21.333334px;
top:57px;
left:133.333328px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls008ClsTxt2
{
position:absolute;
font-family:'SourceSansPro-Bold';
font-size:21.333334px;
top:57px;
left:196.000000px;
letter-spacing:0px;
color:#FFF373;
}
.cls008ClsTxt3
{
position:absolute;
font-family:'SourceSansPro-Regular';
font-size:21.333334px;
top:57px;
left:256.000000px;
letter-spacing:0px;
color:#FFF373;
}
.cls008ClsTxt4
{
position:absolute;
font-family:'SourceSansPro-Bold';
font-size:21.333334px;
top:57px;
left:294.666656px;
letter-spacing:0px;
color:#FFF373;
}
.cls008ClsTxt5
{
position:absolute;
font-family:'SourceSansPro-Regular';
font-size:21.333334px;
top:57px;
left:313.333344px;
letter-spacing:0px;
color:#FFF373;
word-spacing:0.83px;
}
.cls008ClsTxt6
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:119px;
line-height:130%;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.88px;
}
.cls008ClsTxt7
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:155px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls008ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:329.333344px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt11
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:207px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls008ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:310.000000px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:480.666687px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:647.333313px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:377px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:377px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.94px;
}
.cls008ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:377px;
left:517.333313px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt19
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:367px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls008ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:433px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:433px;
left:309.666656px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:433px;
left:481.666687px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:497px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:497px;
left:309.333344px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:602px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:602px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.86px;
}
.cls008ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:602px;
left:565.333313px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt28
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:591px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls008ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:657px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:657px;
left:347.333344px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:722px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:722px;
left:347.333344px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:826px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:826px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.25px;
}
.cls008ClsTxt35
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:817px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls008ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:882px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:882px;
left:251.000000px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:882px;
left:405.666656px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:882px;
left:584.333313px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:986px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:986px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt42
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:977px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls008ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:291.000000px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:427.000000px;
letter-spacing:0px;
color:#000000;
}
.cls008ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:565.666687px;
letter-spacing:0px;
color:#000000;
}
