@font-face{font-family:"SourceSansPro-Bold";src:url('../fonts/SourceSansPro-Bold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.header {
position:relative;
border-top-left-radius:22px;
border-top-right-radius:22px;
width:962px;
height:58px;
background-color:#c02012;
}
.exe {
position:relative;
font-family:'SourceSansPro-Bold';
font-size:25px;
color:#ffffff;
padding-top:12px;
margin-left:35px;
}
.cls004ClsTxt0
{
z-index:1;
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:121px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt1
{
z-index:1;
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:121px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls004ClsTxt2
{
z-index:1;
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:155px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls004ClsTxt3
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt4
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt5
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:326.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt6
{
z-index:1;
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:219px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls004ClsTxt7
{
z-index:1;
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:219px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls004ClsTxt8
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:271px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt9
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:271px;
left:310.000000px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt10
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:271px;
left:510.000000px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt11
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:336px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt12
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:336px;
left:310.000000px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt13
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt14
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt15
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:254.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.17px;
}
.cls004ClsTxt16
{
z-index:1;
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:443px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls004ClsTxt17
{
z-index:1;
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:443px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls004ClsTxt18
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:496px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt19
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:496px;
left:367.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt20
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:496px;
left:602.000000px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt21
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:561px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt22
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:561px;
left:367.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt23
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:666px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt24
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:666px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt25
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:666px;
left:292.000000px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt26
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:666px;
left:380.000000px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt27
{
z-index:1;
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:669px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls004ClsTxt28
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:721px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt29
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:721px;
left:300.333344px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt30
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:721px;
left:510.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt31
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:787px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt32
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:787px;
left:300.333344px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt33
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:891px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt34
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:891px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt35
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:891px;
left:358.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt36
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:891px;
left:470.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt37
{
z-index:1;
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:894px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls004ClsTxt38
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:947px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt39
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:947px;
left:400.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt40
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:947px;
left:610.000000px;
letter-spacing:0px;
color:#000000;
width:290px;
}
.cls004ClsTxt41
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1011px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt42
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1011px;
left:400.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt43
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1117px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt44
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1117px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt45
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1117px;
left:325.333344px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt46
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1117px;
left:486.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt47
{
z-index:1;
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1118px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls004ClsTxt48
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1171px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt49
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1171px;
left:450.666656px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt50
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1236px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls004ClsTxt51
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1236px;
left:450.666656px;
letter-spacing:0px;
color:#000000;
}
