@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#000000;
}
.cls003ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#000000;
}
.cls003ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#000000;
}
.cls003ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:508px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#000000;
}
.cls003ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:731px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#000000;
}
.cls003ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1084px;
left:105.042778px;
color:#FFF374;
}
.span5
{
color:#000000;
}
.cls003ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:149.675583px;
color:#FFFFFF;
}
.span6
{
color:#000000;
}
.cls003ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:262.844910px;
color:#FFFFFF;
}
.span7
{
color:#000000;
}
.cls003ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:394.267365px;
color:#FFFFFF;
}
.span8
{
color:#000000;
}
.span8
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:149.675583px;
color:#000000;
}
.span9
{
color:#000000;
}
.cls003ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:188px;
left:248.242401px;
color:#000000;
}
.span10
{
color:#000000;
}
.cls003ClsTxt10
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:91.265594px;
top:148px;
left:450.852020px;
color:#000000;
}
.span11
{
color:#000000;
}
.cls003ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:188px;
left:520.213867px;
color:#000000;
}
.span12
{
color:#000000;
}
.cls003ClsTxt12
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:91.265594px;
top:148px;
left:571.322571px;
color:#000000;
}
.span13
{
color:#000000;
}
.cls003ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:253px;
left:232.639923px;
color:#000000;
}
.span14
{
color:#000000;
}
.cls003ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:253px;
left:505.611389px;
color:#000000;
}
.span15
{
color:#000000;
}
.cls003ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:730.950073px;
color:#000000;
}
.span16
{
color:#000000;
}
.cls003ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:794.010681px;
color:#000000;
}
.span17
{
color:#000000;
}
.cls003ClsTxt17
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:253px;
left:799.486572px;
color:#000000;
}
.span18
{
color:#000000;
}
.cls003ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:832.342224px;
color:#000000;
}
.span19
{
color:#000000;
}
.cls003ClsTxt19
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:253px;
left:846.944702px;
color:#000000;
}
.span20
{
color:#000000;
}
.span20
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:288px;
left:218.212112px;
color:#000000;
}
.span21
{
color:#000000;
}
.span21
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:286px;
left:562.196045px;
color:#000000;
}
.span22
{
color:#000000;
}
.span22
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls003ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:311px;
left:218.212112px;
color:#000000;
}
.span23
{
color:#000000;
}
.span23
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:607.828857px;
color:#000000;
}
.span24
{
color:#000000;
}
.cls003ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:335px;
left:218.212112px;
color:#000000;
}
.span25
{
color:#000000;
}
.span25
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:218.212112px;
color:#000000;
}
.span26
{
color:#000000;
}
.span26
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:492.834198px;
color:#000000;
}
.span27
{
color:#000000;
}
.cls003ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:392px;
left:149.675583px;
color:#000000;
}
.span28
{
color:#000000;
}
.span28
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls003ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:507px;
left:149.675583px;
color:#000000;
}
.span29
{
color:#000000;
}
.cls003ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:550px;
left:169.753998px;
color:#000000;
}
.span30
{
color:#000000;
}
.span30
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls003ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:551px;
left:224.513367px;
color:#000000;
}
.span31
{
color:#000000;
}
.cls003ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:550px;
left:348.634583px;
color:#000000;
}
.span32
{
color:#000000;
}
.span32
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:550px;
left:408.869843px;
color:#000000;
}
.span33
{
color:#000000;
}
.cls003ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:582px;
left:160.627441px;
color:#000000;
}
.span34
{
color:#000000;
}
.span34
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls003ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:593px;
left:224.513367px;
color:#000000;
}
.span35
{
color:#000000;
}
.cls003ClsTxt35
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:582px;
left:339.507996px;
color:#000000;
}
.span36
{
color:#000000;
}
.cls003ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:594px;
left:408.869843px;
color:#000000;
}
.span37
{
color:#000000;
}
.cls003ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:595px;
left:571.322571px;
color:#000000;
}
.span38
{
color:#000000;
}
.cls003ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:606px;
left:149.675583px;
color:#000000;
}
.span39
{
color:#000000;
}
.cls003ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:606px;
left:330.381470px;
color:#000000;
}
.span40
{
color:#000000;
}
.span40
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:640px;
left:217.212112px;
color:#000000;
}
.span41
{
color:#000000;
}
.span41
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:664px;
left:217.212112px;
color:#000000;
}
.span42
{
color:#000000;
}
.span42
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls003ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:688px;
left:217.212112px;
color:#000000;
}
.span43
{
color:#000000;
}
.cls003ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:731px;
left:149.675583px;
color:#000000;
}
.span44
{
color:#000000;
}
.cls003ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:774px;
left:181.705872px;
color:#000000;
}
.span45
{
color:#000000;
}
.span45
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls003ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:240.941162px;
color:#000000;
}
.span46
{
color:#000000;
}
.span46
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:290.224579px;
color:#000000;
}
.span47
{
color:#000000;
}
.cls003ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:806px;
left:171.579315px;
color:#000000;
}
.span48
{
color:#000000;
}
.cls003ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:819px;
left:240.941162px;
color:#000000;
}
.span49
{
color:#000000;
}
.cls003ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:830px;
left:162.452759px;
color:#000000;
}
.span50
{
color:#000000;
}
.span50
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:807px;
left:290.224579px;
color:#000000;
}
.span51
{
color:#000000;
}
.span51
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:830px;
left:290.224579px;
color:#000000;
}
.span52
{
color:#000000;
}
.cls003ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:830px;
left:443.550781px;
color:#000000;
}
.span53
{
color:#000000;
}
.span53
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:865px;
left:217.212112px;
color:#000000;
}
.span54
{
color:#000000;
}
.cls003ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:217.212112px;
color:#000000;
}
.span55
{
color:#000000;
}
.cls003ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:149.675583px;
color:#000000;
}
.span56
{
color:#000000;
}
.cls003ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:923px;
left:240.941162px;
color:#000000;
}
.span57
{
color:#000000;
}
.cls003ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:417.996429px;
color:#000000;
}
.span58
{
color:#000000;
}
.cls003ClsTxt58
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:923px;
left:458.153259px;
color:#000000;
}
.span59
{
color:#000000;
}
.cls003ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:613.304810px;
color:#000000;
}
.span60
{
color:#000000;
}
.cls003ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:923px;
left:761.155029px;
color:#000000;
}
.span61
{
color:#000000;
}
.cls003ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:217.212112px;
color:#000000;
}
.span62
{
color:#000000;
}
.cls003ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:947px;
left:255.543671px;
color:#000000;
}
.span63
{
color:#000000;
}
.cls003ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:317.604279px;
color:#000000;
}
.span64
{
color:#000000;
}
.cls003ClsTxt64
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:947px;
left:439.900177px;
color:#000000;
}
.span65
{
color:#000000;
}
.cls003ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:217.212112px;
color:#000000;
}
.span66
{
color:#000000;
}
.cls003ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:971px;
left:255.543671px;
color:#000000;
}
.span67
{
color:#000000;
}
.cls003ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:297.525818px;
color:#000000;
}
.span68
{
color:#000000;
}
.cls003ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:994px;
left:217.212112px;
color:#000000;
}
.span69
{
color:#000000;
}
.cls003ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:995px;
left:281.098022px;
color:#000000;
}
.span70
{
color:#000000;
}
.cls003ClsTxt70
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:995px;
left:472.755737px;
color:#000000;
}
.span71
{
color:#000000;
}
.cls003ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1018px;
left:217.212112px;
color:#000000;
}
.span72
{
color:#000000;
}
.cls003ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1018px;
left:261.019592px;
color:#000000;
}
.span73
{
color:#000000;
}
.cls003ClsTxt73
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1042px;
left:149.675583px;
color:#000000;
}
.span74
{
color:#000000;
}
.cls003ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:217.212112px;
color:#000000;
}
.span75
{
color:#000000;
}
.cls003ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:303.001770px;
color:#000000;
}
.span76
{
color:#000000;
}
.span76
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:483.707642px;
color:#000000;
}
.span77
{
color:#000000;
}
.span77
{
font-weight:bold;
font-size:20.078430px;
}
.cls003ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:149.675583px;
color:#000000;
}
.span78
{
color:#000000;
}
.cls003ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1117px;
left:182.531189px;
color:#000000;
}
.span79
{
color:#000000;
}
.cls003ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1141px;
left:173.404617px;
color:#000000;
}
.span80
{
color:#000000;
}
.cls003ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1164px;
left:162.452759px;
color:#000000;
}
.span81
{
color:#000000;
}
.cls003ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1141px;
left:240.941162px;
color:#000000;
}
.span82
{
color:#000000;
}
.cls003ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1117px;
left:281.098022px;
color:#000000;
}
.span83
{
color:#000000;
}
.cls003ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1141px;
left:281.098022px;
color:#000000;
}
.span84
{
color:#000000;
}
.cls003ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1164px;
left:281.098022px;
color:#000000;
}
.span85
{
color:#000000;
}
.span85
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:217.212112px;
color:#000000;
}
.span86
{
color:#000000;
}
.span86
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:217.212112px;
color:#000000;
}
.span87
{
color:#000000;
}
.cls003ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:217.212112px;
color:#000000;
}
.span88
{
color:#000000;
}
.cls003ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:48.458111px;
color:#FFFFFF;
}
.span89
{
color:#000000;
}
.span89
{
font-weight:bold;
font-size:18.253120px;
}
.cls003ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span90
{
color:#000000;
}
.cls003ClsTxt90
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:363.237061px;
color:#000000;
}
.span91
{
color:#000000;
}
.cls003ClsTxt91
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:383.315491px;
color:#C00D0E;
}
.span92
{
color:#000000;
}
.span92
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls003ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:416px;
left:489.183594px;
color:#000000;
}
.span93
{
color:#000000;
}
.cls003ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:416px;
left:556.720093px;
color:#000000;
}
.span94
{
color:#000000;
}
.cls003ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:416px;
left:666.238831px;
color:#000000;
}
.span95
{
color:#000000;
}
.cls003ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:217.212112px;
color:#000000;
}
.span96
{
color:#000000;
}
.cls003ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:489.183594px;
color:#000000;
}
.span97
{
color:#000000;
}
.span97
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls003ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:655.286926px;
color:#000000;
}
.span98
{
color:#000000;
}
.span98
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls003ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:489.183594px;
color:#000000;
}
.span99
{
color:#000000;
}
.cls003ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:571.322571px;
color:#000000;
}
.span100
{
color:#000000;
}
.cls003ClsTxt100
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:860px;
left:622.208557px;
text-align:center;
line-height:115%;
color:#000000;
}
.span101
{
color:#000000;
}
.cls003ClsTxt101
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:878px;
left:622.431396px;
color:#000000;
}
