@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width:1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls010ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:50px;
line-height:130%;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:52px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls010ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:86px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls010ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:286.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:326.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:148px;
left:464.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt8
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:138px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:189px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-0.67px;
}
.cls010ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:189px;
left:522.666687px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.00px;
}
.cls010ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:253px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.22px;
}
.cls010ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:253px;
left:522.666687px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.67px;
}
.cls010ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:319px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.22px;
}
.cls010ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:422px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:422px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:422px;
left:420.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:422px;
left:570.666687px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt18
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:413px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:479px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:479px;
left:287.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:479px;
left:452.333344px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:479px;
left:653.333313px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:582px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:582px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:582px;
left:268.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:582px;
left:414.666656px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.33px;
}
.cls010ClsTxt27
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:573px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:639px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:639px;
left:433.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:704px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:704px;
left:433.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:808px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:808px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:808px;
left:274.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:808px;
left:441.333344px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt36
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:798px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:864px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:864px;
left:255.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:864px;
left:438.333344px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:864px;
left:633.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:968px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:968px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:968px;
left:276.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.40px;
}
.cls010ClsTxt44
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:958px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1024px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1024px;
left:308.333344px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1024px;
left:533.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1024px;
left:718.333313px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1128px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1128px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1128px;
left:410.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1128px;
left:513.333313px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt53
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1118px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1184px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.83px;
}
.cls010ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1184px;
left:466.333344px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.80px;
}
.cls010ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1248px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.25px;
}
.cls010ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1248px;
left:466.333344px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.67px;
}
.cls010ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1353px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1353px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.73px;
}
.cls010ClsTxt60
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1344px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1408px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1408px;
left:532.333313px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1473px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1473px;
left:532.333313px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1577px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1577px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt67
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1568px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1633px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1633px;
left:279.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1633px;
left:447.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1633px;
left:622.333313px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1738px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1738px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1738px;
left:518.666687px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt75
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1728px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt76
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1728px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1793px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1793px;
left:263.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1793px;
left:395.333344px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1793px;
left:545.666687px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1793px;
left:677.666687px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1898px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1898px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1898px;
left:317.333344px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.33px;
}
.cls010ClsTxt85
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1888px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1953px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1953px;
left:257.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1953px;
left:479.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1953px;
left:695.666687px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2058px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2058px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2058px;
left:448.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt93
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2048px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2113px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2113px;
left:409.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2113px;
left:696.333313px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2218px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2218px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2218px;
left:360.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2218px;
left:400.000000px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt101
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2208px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls010ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2273px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2273px;
left:486.666656px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2339px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls010ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2339px;
left:486.666656px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.25px;
}
