@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls047ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls047ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls047ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:276px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls047ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:588px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls047ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1032px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls047ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls047ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:344.983948px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.cls047ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:456.327972px;
color:#FFFFFF;
}
.span8
{
color:#C00D0E;
}
.cls047ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:574.973267px;
color:#FFFFFF;
}
.span9
{
color:#C00D0E;
}
.cls047ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:119px;
left:149.675583px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls047ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:217.212112px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls047ClsTxt11
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:350.459869px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls047ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:394.267365px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls047ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:432.598907px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls047ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:454.502655px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls047ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:217.212112px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls047ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:177px;
left:268.320862px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls047ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:312.128326px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls047ClsTxt18
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:177px;
left:379.664886px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls047ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:399.743286px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls047ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:149.675583px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls047ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:234px;
left:217.212112px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls047ClsTxt22
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:171px;
left:668.064148px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls047ClsTxt23
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:219px;
left:613.304810px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls047ClsTxt24
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:219px;
left:881.625671px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls047ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:356px;
left:160.627441px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls047ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:222.688049px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls047ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:344px;
left:222.688049px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls047ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:368px;
left:222.688049px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls047ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:391px;
left:222.688049px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls047ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:149.675583px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls047ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:195.308380px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls047ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:623px;
left:149.675583px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls047ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:352.285187px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.span34
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:352.285187px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls047ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:352.285187px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls047ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:352.285187px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.span37
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:352.285187px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls047ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:352.285187px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.span39
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:799px;
left:352.285187px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls047ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:701px;
left:160.627441px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls047ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:149.675583px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls047ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:337px;
left:733.775391px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls047ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:701px;
left:704.570374px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls047ClsTxt44
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:385px;
left:881.625671px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls047ClsTxt45
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:750px;
left:613.304810px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls047ClsTxt46
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:750px;
left:894.402832px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls047ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:666px;
left:226.338684px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls047ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:690px;
left:226.338684px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls047ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:713px;
left:226.338684px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls047ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:226.338684px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls047ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:858px;
left:217.212112px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls047ClsTxt52
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:858px;
left:350.459869px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls047ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:858px;
left:394.267365px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls047ClsTxt54
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:858px;
left:432.598907px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls047ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:858px;
left:454.502655px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls047ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:881px;
left:217.212112px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls047ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:881px;
left:350.459869px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls047ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:881px;
left:392.442047px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls047ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:217.212112px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls047ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:905px;
left:554.894775px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls047ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:574.973267px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls047ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:929px;
left:215.386795px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls047ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:929px;
left:403.393921px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls047ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:929px;
left:447.201416px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls047ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:929px;
left:498.310181px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls047ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:963px;
left:149.675583px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:986px;
left:217.212112px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.span68
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:522.039185px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.span69
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1032px;
left:149.675583px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.span70
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1066px;
left:361.411743px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls047ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1089px;
left:361.411743px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.span72
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1113px;
left:361.411743px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls047ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1137px;
left:361.411743px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.span74
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1161px;
left:361.411743px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.span75
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls047ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1184px;
left:361.411743px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.span76
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:277px;
left:149.675583px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls047ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:312px;
left:377.839539px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls047ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:336px;
left:377.839539px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls047ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:336px;
left:494.659515px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls047ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:359px;
left:377.839539px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls047ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:383px;
left:377.839539px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls047ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:383px;
left:478.231720px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls047ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:407px;
left:377.839539px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls047ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:407px;
left:454.502655px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls047ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:149.675583px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.span86
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:217.212112px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls047ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:498px;
left:149.675583px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.span88
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:522px;
left:217.212112px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.span89
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:522px;
left:454.502655px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.span90
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:217.212112px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.span91
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls047ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:458.153259px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls047ClsTxt92
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:36.506241px;
color:#FFFFFF;
}
.span93
{
color:#C00D0E;
}
.cls047ClsTxt93
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1110px;
left:160.627441px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls047ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1074px;
left:209.910858px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls047ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1098px;
left:209.910858px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls047ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1121px;
left:209.910858px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls047ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1145px;
left:209.910858px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls047ClsTxt98
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1082px;
left:715.522217px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls047ClsTxt99
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1120px;
left:618.780701px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls047ClsTxt100
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1120px;
left:735.600708px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls047ClsTxt101
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1120px;
left:861.547180px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.span102
{
font-family:'CronosPro-Semibold';
font-size:18.253120px;
}
.cls047ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls047ClsTxt103
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:348.634583px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls047ClsTxt104
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:368.713013px;
color:#C00D0E;
}
.span105
{
color:#C00D0E;
}
.cls047ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:476.406403px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls047ClsTxt106
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:843.294128px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls047ClsTxt107
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:863.372498px;
color:#C00D0E;
}
.CSemibold
{
font-family:"CronosPro-Semibold" ;
}