@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"SymbolStd-SC700";src:url('../fonts/SymbolStd-SC700.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#000000;
}
.cls013ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#000000;
}
.cls013ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:118px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#000000;
}
.cls013ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:449px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#000000;
}
.cls013ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:895px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#000000;
}
.cls013ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1124px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#000000;
}
.cls013ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span6
{
color:#000000;
}
.cls013ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:334.032074px;
color:#FFFFFF;
}
.span7
{
color:#000000;
}
.cls013ClsTxt7
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:143px;
left:179.880554px;
color:#000000;
}
.span8
{
color:#000000;
}
.cls013ClsTxt8
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:143px;
left:359.586426px;
color:#000000;
}
.span9
{
color:#000000;
}
.cls013ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:336px;
left:204.434921px;
color:#000000;
}
.span10
{
color:#000000;
}
.cls013ClsTxt10
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:336px;
left:326.730835px;
color:#000000;
}
.span11
{
color:#000000;
}
.cls013ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:336px;
left:463.629242px;
color:#000000;
}
.span12
{
color:#000000;
}
.cls013ClsTxt12
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:336px;
left:560.370789px;
color:#000000;
}
.span13
{
color:#000000;
}
.cls013ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:336px;
left:671.714783px;
color:#000000;
}
.span14
{
color:#000000;
}
.cls013ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:336px;
left:779.408142px;
color:#000000;
}
.span15
{
color:#000000;
}
.cls013ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:382px;
left:150.675583px;
color:#000000;
}
.span16
{
color:#000000;
}
.cls013ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:405px;
left:149.675583px;
color:#000000;
}
.span17
{
color:#000000;
}
.cls013ClsTxt17
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:449px;
left:149.675583px;
color:#000000;
}
.span18
{
color:#000000;
}
.cls013ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:449px;
left:261.019592px;
color:#000000;
}
.span19
{
color:#000000;
}
.span19
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:166.103378px;
color:#000000;
}
.span20
{
color:#000000;
}
.span20
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:186.181824px;
color:#000000;
}
.span21
{
color:#000000;
}
.span21
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:323.080200px;
color:#000000;
}
.span22
{
color:#000000;
}
.span22
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:476.406403px;
color:#000000;
}
.span23
{
color:#000000;
}
.span23
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:186.181824px;
color:#000000;
}
.span24
{
color:#000000;
}
.span24
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:323.080200px;
color:#000000;
}
.span25
{
color:#000000;
}
.span25
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:476.406403px;
color:#000000;
}
.span26
{
color:#000000;
}
.span26
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt26
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:573px;
left:166.103378px;
color:#000000;
}
.span27
{
color:#000000;
}
.cls013ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:255.543671px;
color:#000000;
}
.span28
{
color:#000000;
}
.span28
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:376.014252px;
color:#000000;
}
.span29
{
color:#000000;
}
.span29
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:500.135468px;
color:#000000;
}
.span30
{
color:#000000;
}
.span30
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:629.732605px;
color:#000000;
}
.span31
{
color:#000000;
}
.span31
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:608px;
left:166.103378px;
color:#000000;
}
.span32
{
color:#000000;
}
.cls013ClsTxt32
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:604px;
left:313.953644px;
color:#000000;
}
.span33
{
color:#000000;
}
.cls013ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:608px;
left:337.682709px;
color:#000000;
}
.span34
{
color:#000000;
}
.cls013ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:186.181824px;
color:#000000;
}
.span35
{
color:#000000;
}
.cls013ClsTxt35
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:628px;
left:222.688049px;
color:#000000;
}
.span36
{
color:#000000;
}
.cls013ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:631px;
left:246.417099px;
color:#000000;
}
.span37
{
color:#000000;
}
.cls013ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:323.080200px;
color:#000000;
}
.span38
{
color:#000000;
}
.cls013ClsTxt38
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:628px;
left:370.538300px;
color:#000000;
}
.span39
{
color:#000000;
}
.cls013ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:631px;
left:394.267365px;
color:#000000;
}
.span40
{
color:#000000;
}
.cls013ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:476.406403px;
color:#000000;
}
.span41
{
color:#000000;
}
.cls013ClsTxt41
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:628px;
left:514.737976px;
color:#000000;
}
.span42
{
color:#000000;
}
.cls013ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:631px;
left:538.467041px;
color:#000000;
}
.span43
{
color:#000000;
}
.span43
{
font-weight:bold;
font-size:20.078430px;
}
.cls013ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:807px;
left:149.675583px;
color:#000000;
}
.span44
{
color:#000000;
}
.span44
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:896px;
left:149.675583px;
color:#000000;
}
.span45
{
color:#000000;
}
.cls013ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:679px;
left:217.212112px;
color:#000000;
}
.span46
{
color:#000000;
}
.span46
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:679px;
left:474.581116px;
color:#000000;
}
.span47
{
color:#000000;
}
.span47
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:217.212112px;
color:#000000;
}
.span48
{
color:#000000;
}
.span48
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:503.786072px;
color:#000000;
}
.span49
{
color:#000000;
}
.span49
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:726px;
left:217.212112px;
color:#000000;
}
.span50
{
color:#000000;
}
.span50
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:750px;
left:217.212112px;
color:#000000;
}
.span51
{
color:#000000;
}
.span51
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:217.212112px;
color:#000000;
}
.span52
{
color:#000000;
}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:553.069519px;
color:#000000;
}
.span53
{
color:#000000;
}
.cls013ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:830px;
left:217.212112px;
color:#000000;
}
.span54
{
color:#000000;
}
.span54
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:854px;
left:217.212112px;
color:#000000;
}
.span55
{
color:#000000;
}
.cls013ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:166.103378px;
color:#000000;
}
.span56
{
color:#000000;
}
.cls013ClsTxt56
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:934px;
left:377.839539px;
color:#000000;
}
.span57
{
color:#000000;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:938px;
left:401.568604px;
color:#000000;
}
.span58
{
color:#000000;
}
.cls013ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:202.609619px;
color:#000000;
}
.span59
{
color:#000000;
}
.cls013ClsTxt59
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:958px;
left:255.543671px;
color:#000000;
}
.span60
{
color:#000000;
}
.cls013ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:962px;
left:279.272705px;
color:#000000;
}
.span61
{
color:#000000;
}
.cls013ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:470.930450px;
color:#000000;
}
.span62
{
color:#000000;
}
.cls013ClsTxt62
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:958px;
left:518.388550px;
color:#000000;
}
.span63
{
color:#000000;
}
.cls013ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:962px;
left:542.117615px;
color:#000000;
}
.span64
{
color:#000000;
}
.cls013ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:202.609619px;
color:#000000;
}
.span65
{
color:#000000;
}
.cls013ClsTxt65
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:982px;
left:279.272705px;
color:#000000;
}
.span66
{
color:#000000;
}
.cls013ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:985px;
left:303.001770px;
color:#000000;
}
.span67
{
color:#000000;
}
.cls013ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:470.930450px;
color:#000000;
}
.span68
{
color:#000000;
}
.cls013ClsTxt68
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:982px;
left:553.069519px;
color:#000000;
}
.span69
{
color:#000000;
}
.cls013ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:985px;
left:576.798584px;
color:#000000;
}
.span70
{
color:#000000;
}
.cls013ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1033px;
left:217.212112px;
color:#000000;
}
.span71
{
color:#000000;
}
.cls013ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1033px;
left:315.778931px;
color:#000000;
}
.span72
{
color:#000000;
}
.cls013ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1057px;
left:217.212112px;
color:#000000;
}
.span73
{
color:#000000;
}
.cls013ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1057px;
left:540.292297px;
color:#000000;
}
.span74
{
color:#000000;
}
.cls013ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1080px;
left:217.212112px;
color:#000000;
}
.span75
{
color:#000000;
}
.cls013ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1080px;
left:246.417099px;
color:#000000;
}
.span76
{
color:#000000;
}
.cls013ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1080px;
left:376.014252px;
color:#000000;
}
.span77
{
color:#000000;
}
.span77
{
font-weight:bold;
font-size:20.078430px;
}
.cls013ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1124px;
left:149.675583px;
color:#000000;
}
.span78
{
color:#000000;
}
.span78
{
font-weight:bold;
font-size:20.078430px;
}
.cls013ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1124px;
left:334.032074px;
color:#000000;
}
.span79
{
color:#000000;
}
.cls013ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1148px;
left:217.212112px;
color:#000000;
}
.span80
{
color:#000000;
}
.span80
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:217.212112px;
color:#000000;
}
.span81
{
color:#000000;
}
.span81
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls013ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:438.074829px;
color:#000000;
}
.span82
{
color:#000000;
}
.span82
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls013ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:217.212112px;
color:#000000;
}
.span83
{
color:#000000;
}
.cls013ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:48.458111px;
color:#FFFFFF;
}
.span84
{
color:#000000;
}
.cls013ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span85
{
color:#000000;
}
.cls013ClsTxt85
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:443.550781px;
color:#000000;
}
.span86
{
color:#000000;
}
.cls013ClsTxt86
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:465.454529px;
color:#C00D0E;
}
.span87
{
color:#000000;
}
.span87
{
font-weight:bold;
font-size:18.253120px;
}
.cls013ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:538.467041px;
color:#000000;
}
.span88
{
color:#000000;
}
.cls013ClsTxt88
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:768.456299px;
color:#000000;
}
.span89
{
color:#000000;
}
.cls013ClsTxt89
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:790.360046px;
color:#C00D0E;
}
.CSemibold
{
font-family:"CronosPro-Semibold" ;
}