@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-Regular";src:url('../fonts/SourceSansPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls075ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:78.488411px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls075ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:101px;
left:122.295898px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls075ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:103px;
left:817.739685px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls075ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:171.579315px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls075ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:171.579315px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls075ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:191.657745px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls075ClsTxt6
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:179px;
left:340.507996px;
color:#C00D0E;
}
.span7
{
color:#C00D0E;
}
.cls075ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:390.616760px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls075ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:171.579315px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls075ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:191.657745px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls075ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:580.449158px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls075ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:230px;
left:171.579315px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls075ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:230px;
left:191.657745px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls075ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:230px;
left:359.586426px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls075ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:171.579315px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls075ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:191.657745px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls075ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:556.720093px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls075ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:277px;
left:171.579315px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls075ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:277px;
left:191.657745px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls075ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:277px;
left:576.798584px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls075ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:301px;
left:171.579315px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls075ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:301px;
left:191.657745px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls075ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:301px;
left:350.459869px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls075ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:301px;
left:653.461670px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls075ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:325px;
left:171.579315px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls075ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:324px;
left:191.657745px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls075ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:325px;
left:447.201416px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls075ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:325px;
left:777.582825px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls075ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:348px;
left:171.579315px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls075ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:348px;
left:191.657745px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls075ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:348px;
left:381.490173px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls075ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:171.579315px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls075ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:191.657745px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls075ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:392.442047px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls075ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:595.051636px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls075ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:162.452759px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls075ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:191.657745px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls075ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:445.376099px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls075ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:664.413513px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls075ClsTxt39
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:434px;
left:171.579315px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls075ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:507px;
left:180.705872px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls075ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:531px;
left:293.875214px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls075ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:531px;
left:440.900177px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls075ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:531px;
left:500.135468px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls075ClsTxt44
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:528px;
left:535.816345px;
color:#C00D0E;
}
.span45
{
color:#C00D0E;
}
.cls075ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:555px;
left:250.067734px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls075ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:555px;
left:440.900177px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls075ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:555px;
left:500.135468px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls075ClsTxt48
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:552px;
left:535.816345px;
color:#C00D0E;
}
.span49
{
color:#C00D0E;
}
.cls075ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:215.386795px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls075ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:440.900177px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls075ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:500.135468px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls075ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:520.213867px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls075ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:237.290558px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls075ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:440.900177px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls075ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:500.135468px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls075ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:180.705872px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls075ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:440.900177px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls075ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:500.135468px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls075ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:184.356506px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls075ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:440.900177px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls075ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:500.135468px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls075ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:246.417099px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls075ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:440.900177px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls075ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:500.135468px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls075ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:224.513367px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls075ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:440.900177px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls075ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:500.135468px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls075ClsTxt68
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:746px;
left:171.579315px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls075ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:825px;
left:171.579315px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls075ClsTxt70
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:822px;
left:244.591797px;
color:#C00D0E;
}
.span71
{
color:#C00D0E;
}
.cls075ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:825px;
left:363.237061px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls075ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:825px;
left:512.912659px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls075ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:849px;
left:171.579315px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls075ClsTxt74
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:846px;
left:310.303009px;
color:#C00D0E;
}
.span75
{
color:#C00D0E;
}
.cls075ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:849px;
left:463.629242px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls075ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:849px;
left:512.912659px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls075ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:872px;
left:171.579315px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls075ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:872px;
left:425.297668px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls075ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:872px;
left:512.912659px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls075ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:896px;
left:171.579315px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls075ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:896px;
left:376.014252px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls075ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:896px;
left:512.912659px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls075ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:920px;
left:171.579315px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls075ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:920px;
left:463.629242px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls075ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:920px;
left:512.912659px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls075ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:943px;
left:171.579315px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls075ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:943px;
left:425.297668px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls075ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:943px;
left:512.912659px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls075ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:967px;
left:171.579315px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls075ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:967px;
left:429.948303px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls075ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:967px;
left:512.912659px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls075ClsTxt92
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1017px;
left:171.579315px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls075ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1046px;
left:171.579315px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls075ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1046px;
left:191.657745px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls075ClsTxt95
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1043px;
left:365.062378px;
color:#C00D0E;
}
.span96
{
color:#C00D0E;
}
.cls075ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1046px;
left:453.677368px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls075ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1046px;
left:480.057007px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls075ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1069px;
left:171.579315px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls075ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1069px;
left:191.657745px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls075ClsTxt100
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1067px;
left:210.910858px;
color:#C00D0E;
}
.span101
{
color:#C00D0E;
}
.cls075ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1069px;
left:312.128326px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls075ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1069px;
left:434.424225px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls075ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1069px;
left:531.165771px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls075ClsTxt104
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1067px;
left:580.449158px;
color:#C00D0E;
}
.span105
{
color:#C00D0E;
}
.cls075ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1069px;
left:695.443848px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls075ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1069px;
left:748.377869px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls075ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:171.579315px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls075ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:191.657745px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls075ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:388.791412px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls075ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:788.534729px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls075ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:806.787842px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls075ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:171.579315px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls075ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:191.657745px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls075ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:708.221008px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls075ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:737.426025px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls075ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1141px;
left:171.579315px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls075ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1141px;
left:191.657745px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls075ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1141px;
left:689.967896px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.cls075ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1141px;
left:748.377869px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.cls075ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:171.579315px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls075ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:191.657745px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls075ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:505.611389px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls075ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:638.859131px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls075ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:191.657745px;
color:#000000;
}
.span125
{
color:#C00D0E;
}
.cls075ClsTxt125
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1212px;
left:171.579315px;
color:#000000;
}
.span126
{
color:#C00D0E;
}
.cls075ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1212px;
left:191.657745px;
color:#000000;
}
.span127
{
color:#C00D0E;
}
.cls075ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1212px;
left:702.745056px;
color:#000000;
}
.span128
{
color:#C00D0E;
}
.cls075ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1212px;
left:777.582825px;
color:#000000;
}
.span129
{
color:#C00D0E;
}
.cls075ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1235px;
left:171.579315px;
color:#000000;
}
.span130
{
color:#C00D0E;
}
.cls075ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1235px;
left:191.657745px;
color:#000000;
}
.span131
{
color:#C00D0E;
}
.cls075ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1235px;
left:317.604279px;
color:#000000;
}
.span132
{
color:#C00D0E;
}
.cls075ClsTxt132
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1235px;
left:646.160400px;
color:#000000;
}
.span133
{
color:#C00D0E;
}
.cls075ClsTxt133
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1235px;
left:784.884094px;
color:#000000;
}
.span134
{
color:#C00D0E;
}
.cls075ClsTxt134
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:171.579315px;
color:#000000;
}
.span135
{
color:#C00D0E;
}
.cls075ClsTxt135
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:191.657745px;
color:#000000;
}
.span136
{
color:#C00D0E;
}
.cls075ClsTxt136
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:540.292297px;
color:#000000;
}
.span137
{
color:#C00D0E;
}
.cls075ClsTxt137
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:722.823486px;
color:#000000;
}
.span138
{
color:#C00D0E;
}
.cls075ClsTxt138
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1283px;
left:162.452759px;
color:#000000;
}
.span139
{
color:#C00D0E;
}
.cls075ClsTxt139
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1283px;
left:191.657745px;
color:#000000;
}
.span140
{
color:#C00D0E;
}
.cls075ClsTxt140
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1283px;
left:706.395691px;
color:#000000;
}
.span141
{
color:#C00D0E;
}
.cls075ClsTxt141
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1283px;
left:801.311890px;
color:#000000;
}
.span142
{
color:#C00D0E;
}
.cls075ClsTxt142
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:146px;
left:111.344025px;
color:#FFF374;
}
.span143
{
color:#C00D0E;
}
.cls075ClsTxt143
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:429px;
left:111.344025px;
color:#FFF374;
}
.span144
{
color:#C00D0E;
}
.cls075ClsTxt144
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:741px;
left:111.344025px;
color:#FFF374;
}
.span145
{
color:#C00D0E;
}
.cls075ClsTxt145
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1011px;
left:111.344025px;
color:#FFF374;
}
.span146
{
color:#C00D0E;
}
.cls075ClsTxt146
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:480px;
left:452.677368px;
color:#000000;
}
.danswer
{
position:relative;
font-family:'SourceSansPro-Regular';
font-size:27px;
border-radius:25px;
background-color:#ffffff;
margin:10px 30px 10px 70px;
padding:10px 25px 10px 15px;
}