@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls027ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:27px;
left:52.807484px;
letter-spacing:0px;
color:#FFFFFF;
}
.span1 {
color:#CB0307;
}
.cls027ClsTxt1 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:128px;
left:113.868088px;
letter-spacing:0px;
color:#FEFF59;
}
.span2 {
color:#CB0307;
}
.cls027ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:762px;
left:115.693398px;
letter-spacing:0px;
color:#FEFF59;
}
.span3 {
color:#CB0307;
}
.span3 {
font-family:'CronosPro-Regular';
font-size:38.331551px;
}
.cls027ClsTxt3 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:34px;
left:158.675583px;
line-height:105%;
letter-spacing:0px;
color:#FFFFFF;
word-spacing:0px;
}
.span4 {
color:#CB0307;
}
.span4 {
font-family:'CronosPro-Regular';
font-size:38.331551px;
}
.cls027ClsTxt4 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
letter-spacing:0px;
color:#FFFFFF;
}
.span5 {
color:#CB0307;
}
.cls027ClsTxt5 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:157px;
left:761.853760px;
letter-spacing:0px;
color:#030506;
}
.span6 {
color:#CB0307;
}
.cls027ClsTxt6 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:346px;
left:174.103378px;
line-height:115%;
letter-spacing:0px;
color:#030506;
}
.span7 {
color:#CB0307;
}
.cls027ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:344px;
left:365.761108px;
letter-spacing:0px;
color:#030506;
}
.span8 {
color:#CB0307;
}
.cls027ClsTxt8 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:345px;
left:551.942932px;
letter-spacing:0px;
color:#030506;
}
.span9 {
color:#CB0307;
}
.cls027ClsTxt9 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:346px;
left:761.853760px;
line-height:115%;
letter-spacing:0px;
color:#030506;
}
.span10 {
color:#CB0307;
}
.cls027ClsTxt10 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:359px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span11 {
color:#CB0307;
}
.cls027ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:359px;
left:753.853760px;
letter-spacing:0px;
color:#030506;
}
.span12 {
color:#CB0307;
}
.cls027ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:402px;
left:173.103378px;
letter-spacing:0px;
color:#030506;
}
.span13 {
color:#CB0307;
}
.cls027ClsTxt13 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:394px;
left:211.736176px;
letter-spacing:0px;
color:#030506;
}
.span14 {
color:#CB0307;
}
.cls027ClsTxt14 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:394px;
left:306.652405px;
letter-spacing:0px;
color:#030506;
}
.span15 {
color:#CB0307;
}
.cls027ClsTxt15 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:394px;
left:386.966125px;
letter-spacing:0px;
color:#030506;
}
.span16 {
color:#CB0307;
}
.cls027ClsTxt16 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:394px;
left:439.900177px;
letter-spacing:0px;
color:#030506;
}
.span17 {
color:#CB0307;
}
.cls027ClsTxt17 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:173.103378px;
letter-spacing:0px;
color:#030506;
}
.span18 {
color:#CB0307;
}
.cls027ClsTxt18 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:418px;
left:211.736176px;
letter-spacing:0px;
color:#030506;
}
.span19 {
color:#CB0307;
}
.cls027ClsTxt19 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:418px;
left:246.417099px;
letter-spacing:0px;
color:#030506;
}
.span20 {
color:#CB0307;
}
.cls027ClsTxt20 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:418px;
left:279.272705px;
letter-spacing:0px;
color:#030506;
}
.span21 {
color:#CB0307;
}
.cls027ClsTxt21 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:418px;
left:330.381470px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span22 {
color:#CB0307;
}
.cls027ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:209.609619px;
letter-spacing:0px;
color:#030506;
}
.span23 {
color:#CB0307;
}
.cls027ClsTxt23 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:441px;
left:228.163986px;
letter-spacing:0px;
color:#030506;
}
.span24 {
color:#CB0307;
}
.cls027ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:441px;
left:326.730835px;
letter-spacing:0px;
color:#030506;
}
.span25 {
color:#CB0307;
}
.cls027ClsTxt25 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:439px;
left:522.737976px;
letter-spacing:0px;
color:#030506;
}
.span26 {
color:#CB0307;
}
.cls027ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:483px;
left:173.103378px;
letter-spacing:0px;
color:#030506;
}
.span27 {
color:#CB0307;
}
.cls027ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:508px;
left:209.609619px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span28 {
color:#CB0307;
}
.cls027ClsTxt28 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:497px;
left:574.846680px;
letter-spacing:0px;
color:#030506;
}
.span29 {
color:#CB0307;
}
.span29 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:541px;
left:173.103378px;
letter-spacing:0px;
color:#030506;
}
.span30 {
color:#CB0307;
}
.cls027ClsTxt30 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:556px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span31 {
color:#CB0307;
}
.cls027ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:186.880554px;
text-align:center;
letter-spacing:0px;
color:#030506;
}
.span32 {
color:#CB0307;
}
.cls027ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:499.008911px;
text-align:center;
letter-spacing:0px;
color:#030506;
}
.span33 {
color:#CB0307;
}
.cls027ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:648.684448px;
text-align:center;
letter-spacing:0px;
color:#030506;
}
.span34 {
color:#CB0307;
}
.cls027ClsTxt34 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:603px;
left:812.962524px;
text-align:center;
letter-spacing:0px;
color:#030506;
}
.span35 {
color:#CB0307;
}
.cls027ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:188.007126px;
letter-spacing:0px;
color:#030506;
}
.span36 {
color:#CB0307;
}
.cls027ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:511.087341px;
letter-spacing:0px;
color:#030506;
}
.span37 {
color:#CB0307;
}
.cls027ClsTxt37 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:655.286926px;
letter-spacing:0px;
color:#030506;
}
.span38 {
color:#CB0307;
}
.cls027ClsTxt38 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:814.089111px;
letter-spacing:0px;
color:#030506;
}
.span39 {
color:#CB0307;
}
.cls027ClsTxt39 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:676px;
left:398.616760px;
letter-spacing:0px;
color:#030506;
}
.span40 {
color:#CB0307;
}
.cls027ClsTxt40 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:772px;
left:174.103378px;
letter-spacing:0px;
color:#030506;
}
.span41 {
color:#CB0307;
}
.cls027ClsTxt41 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:795px;
left:261.639923px;
letter-spacing:0px;
color:#030506;
}
.cls027ClsTxt41-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.078430px;
top:798px;
left:240.639923px;
letter-spacing:0px;
color:#030506;
}
.cls027ClsTxt42-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:261.639923px;
letter-spacing:0px;
color:#030506;
}
.span42 {
color:#CB0307;
}
.span42 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.078430px;
top:824px;
left:241.639923px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span43 {
color:#CB0307;
}
.cls027ClsTxt43 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:853px;
text-align:center;
left:209.212112px;
letter-spacing:0px;
color:#030506;
}
.span44 {
color:#CB0307;
}
.cls027ClsTxt44 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:853px;
left:495.358276px;
text-align:center;
letter-spacing:0px;
color:#030506;
}
.span45 {
color:#CB0307;
}
.cls027ClsTxt45 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:869px;
left:200.784302px;
letter-spacing:0px;
color:#030506;
}
.span46 {
color:#CB0307;
}
.cls027ClsTxt46 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:869px;
left:489.183594px;
letter-spacing:0px;
color:#030506;
}
.span47 {
color:#CB0307;
}
.span47 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls027ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:941px;
left:321.206757px;
text-align:center;
letter-spacing:0px;
color:#030506;
}
.span48 {
color:#CB0307;
}
.cls027ClsTxt48 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:956px;
left:313.953644px;
letter-spacing:0px;
color:#030506;
}
.span49 {
color:#CB0307;
}
.cls027ClsTxt49 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1011px;
left:241.639923px;
line-height:115%;
letter-spacing:0px;
color:#030506;
}
.span50 {
color:#CB0307;
}
.cls027ClsTxt50 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1002px;
left:266.495514px;
letter-spacing:0px;
color:#030506;
}
.span51 {
color:#CB0307;
}
.cls027ClsTxt51 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1002px;
left:306.652405px;
letter-spacing:0px;
color:#030506;
}
.span52 {
color:#CB0307;
}
.cls027ClsTxt52 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1002px;
left:447.201416px;
letter-spacing:0px;
color:#030506;
}
.span53 {
color:#CB0307;
}
.cls027ClsTxt53 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1026px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span54 {
color:#CB0307;
}
.cls027ClsTxt54 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1057px;
left:241.639923px;
letter-spacing:0px;
color:#030506;
}
.span55 {
color:#CB0307;
}
.cls027ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1049px;
left:266.495514px;
letter-spacing:0px;
color:#030506;
}
.span56 {
color:#CB0307;
}
.cls027ClsTxt56 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1049px;
left:299.351166px;
letter-spacing:0px;
color:#030506;
}
.span57 {
color:#CB0307;
}
.cls027ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1049px;
left:352.285187px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span58 {
color:#CB0307;
}
.cls027ClsTxt58 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1073px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span59 {
color:#CB0307;
}
.cls027ClsTxt59 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1105px;
left:241.639923px;
letter-spacing:0px;
color:#030506;
}
.span60 {
color:#CB0307;
}
.cls027ClsTxt60 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1097px;
left:248.242401px;
letter-spacing:0px;
color:#030506;
}
.span61 {
color:#CB0307;
}
.cls027ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1097px;
left:335.857391px;
letter-spacing:0px;
color:#030506;
}
.span62 {
color:#CB0307;
}
.cls027ClsTxt62 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:772px;
left:562.069519px;
letter-spacing:0px;
color:#030506;
}
.span63 {
color:#CB0307;
}
.cls027ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:649.606018px;
letter-spacing:0px;
color:#030506;
}
.cls027ClsTxt63-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.078430px;
top:801px;
left:629.606018px;
letter-spacing:0px;
color:#030506;
}
.span64 {
color:#CB0307;
}
.span64 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.078430px;
top:824px;
left:629.606018px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.cls027ClsTxt64-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:650.606018px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span65 {
color:#CB0307;
}
.cls027ClsTxt65 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:854px;
left:583.401062px;
text-align:center;
letter-spacing:0px;
color:#030506;
}
.span66 {
color:#CB0307;
}
.cls027ClsTxt66 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:869px;
left:573.147949px;
letter-spacing:0px;
color:#030506;
}
.span67 {
color:#CB0307;
}
.span67 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls027ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:941px;
left:686.190674px;
letter-spacing:0px;
color:#030506;
}
.span68 {
color:#CB0307;
}
.cls027ClsTxt68 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:956px;
left:679.015991px;
letter-spacing:0px;
color:#030506;
}
.span69 {
color:#CB0307;
}
.cls027ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1010px;
left:614.003540px;
letter-spacing:0px;
color:#030506;
}
.span70 {
color:#CB0307;
}
.cls027ClsTxt70 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1002px;
left:638.859131px;
letter-spacing:0px;
color:#030506;
}
.span71 {
color:#CB0307;
}
.cls027ClsTxt71 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1002px;
left:737.426025px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span72 {
color:#CB0307;
}
.cls027ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1026px;
left:606.003540px;
letter-spacing:0px;
color:#030506;
}
.span73 {
color:#CB0307;
}
.cls027ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1058px;
left:613.003540px;
letter-spacing:0px;
color:#030506;
}
.span74 {
color:#CB0307;
}
.cls027ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1049px;
left:651.636353px;
letter-spacing:0px;
color:#030506;
}
.span75 {
color:#CB0307;
}
.cls027ClsTxt75 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1049px;
left:684.491943px;
letter-spacing:0px;
color:#030506;
}
.span76 {
color:#CB0307;
}
.cls027ClsTxt76 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1049px;
left:761.155029px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span77 {
color:#CB0307;
}
.cls027ClsTxt77 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1073px;
left:606.003540px;
letter-spacing:0px;
color:#030506;
}
.span78 {
color:#CB0307;
}
.cls027ClsTxt78 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1105px;
left:613.003540px;
letter-spacing:0px;
color:#030506;
}
.span79 {
color:#CB0307;
}
.cls027ClsTxt79 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1097px;
left:620.606018px;
letter-spacing:0px;
color:#030506;
}
.span80 {
color:#CB0307;
}
.cls027ClsTxt80 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1097px;
left:737.426025px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span81 {
color:#CB0307;
}
.cls027ClsTxt81 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:226.212112px;
letter-spacing:0px;
color:#030506;
}
.span82 {
color:#CB0307;
}
.cls027ClsTxt82 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1144px;
left:226.338684px;
letter-spacing:0px;
color:#030506;
}
.span83 {
color:#CB0307;
}
.cls027ClsTxt83 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:288.399292px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span84 {
color:#CB0307;
}
.cls027ClsTxt84 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1144px;
left:449.026733px;
letter-spacing:0px;
color:#030506;
}
.span85 {
color:#CB0307;
}
.cls027ClsTxt85 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:518.388550px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span86 {
color:#CB0307;
}
.cls027ClsTxt86 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1144px;
left:642.509766px;
letter-spacing:0px;
color:#030506;
}
.span87 {
color:#CB0307;
}
.cls027ClsTxt87 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1176px;
left:225.212112px;
letter-spacing:0px;
color:#030506;
}
.span88 {
color:#CB0307;
}
.cls027ClsTxt88 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1168px;
left:231.814621px;
letter-spacing:0px;
color:#030506;
}
.span89 {
color:#CB0307;
}
.cls027ClsTxt89 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:326.730835px;
letter-spacing:0px;
color:#030506;
}
.span90 {
color:#CB0307;
}
.cls027ClsTxt90 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1168px;
left:399.743286px;
letter-spacing:0px;
color:#030506;
}
.span91 {
color:#CB0307;
}
.cls027ClsTxt91 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:443.550781px;
letter-spacing:0px;
color:#030506;
}
.span92 {
color:#CB0307;
}
.cls027ClsTxt92 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:485.532928px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span93 {
color:#CB0307;
}
.cls027ClsTxt93 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1168px;
left:635.208557px;
letter-spacing:0px;
color:#030506;
}
.span94 {
color:#CB0307;
}
.cls027ClsTxt94 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:682.666687px;
letter-spacing:0px;
color:#030506;
}
.span95 {
color:#CB0307;
}
.cls027ClsTxt95 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1200px;
left:225.212112px;
letter-spacing:0px;
color:#030506;
}
.span96 {
color:#CB0307;
}
.cls027ClsTxt96 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1192px;
left:226.338684px;
letter-spacing:0px;
color:#030506;
}
.span97 {
color:#CB0307;
}
.cls027ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:259.194275px;
letter-spacing:0px;
color:#030506;
}
.span98 {
color:#CB0307;
}
.cls027ClsTxt98 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1192px;
left:523.864502px;
letter-spacing:0px;
color:#030506;
}
.span99 {
color:#CB0307;
}
.cls027ClsTxt99 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:629.732605px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span100 {
color:#CB0307;
}
.cls027ClsTxt100 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1224px;
left:225.212112px;
letter-spacing:0px;
color:#030506;
}
.span101 {
color:#CB0307;
}
.cls027ClsTxt101 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1215px;
left:255.543671px;
letter-spacing:0px;
color:#030506;
}
.span102 {
color:#CB0307;
}
.cls027ClsTxt102 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:284.748657px;
letter-spacing:0px;
color:#030506;
}
.span103 {
color:#CB0307;
}
.cls027ClsTxt103 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1215px;
left:408.869843px;
letter-spacing:0px;
color:#030506;
}
.span104 {
color:#CB0307;
}
.cls027ClsTxt104 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:56px;
left:56.458111px;
letter-spacing:0px;
color:#FFFFFF;
}
.span105 {
color:#CB0307;
}
.span105 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls027ClsTxt105 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1326px;
left:171.452759px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span0050{
font-family:'CronosPro-Semibold';
text-decoration:underline;
color:#c00c0d;
}
.span107 {
color:#CB0307;
}
.cls027ClsTxt107 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:312.128326px;
letter-spacing:0px;
color:#CB0307;
}
.span108 {
color:#CB0307;
}
.span108 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls027ClsTxt108 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:419.821716px;
letter-spacing:0px;
color:#030506;
}
.span110 {
color:#CB0307;
}
.cls027ClsTxt110 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:651.636353px;
letter-spacing:0px;
color:#CB0307;
}
.span111 {
color:#CB0307;
}
.cls027ClsTxt111 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:726.474121px;
letter-spacing:0px;
color:#030506;
}
.span113 {
color:#CB0307;
}
.cls027ClsTxt113 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:792.185303px;
letter-spacing:0px;
color:#CB0307;
}
.zap {
font-family:'ZapfDingbatsStd';
}
.pglayout {
position: absolute;
top:-8px;
left:-8px;
width: 1024px;
height:1365px;
}
