@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls001ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:20px;
left:44.807484px;
color:#FFFFFF;
}
.cls001ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:120px;
left:106.868088px;
color:#FFF374;
}
.cls001ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:364px;
left:107.693398px;
color:#FFF374;
}
.cls001ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1048px;
left:105.868088px;
color:#FFF374;
}
.cls001ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:62px;
left:150.675583px;
color:#FFFFFF;
}
.cls001ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:226.338684px;
color:#FFFFFF;
}
.cls001ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:343.158630px;
color:#FFFFFF;
}
.cls001ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:465.454529px;
color:#FFFFFF;
}
.cls001ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:560.370789px;
color:#FFFFFF;
}
.span9
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:161px;
left:166.103378px;
color:#000000;
}
.span10
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:233.639923px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:208px;
left:233.639923px;
color:#000000;
}
.span12
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:233.639923px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:256px;
left:233.639923px;
color:#000000;
}
.span14
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:279px;
left:233.639923px;
color:#000000;
}
.span15
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:303px;
left:233.639923px;
color:#000000;
}
.cls001ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:150.675583px;
color:#000000;
}
.cls001ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:195.308380px;
color:#000000;
}
.cls001ClsTxt18
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:363px;
left:206.260239px;
color:#000000;
}
.cls001ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:271.971466px;
color:#000000;
}
.cls001ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:363px;
left:297.525818px;
color:#000000;
}
.cls001ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:344.983948px;
color:#000000;
}
.cls001ClsTxt22
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:363px;
left:355.935822px;
color:#000000;
}
.cls001ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:423.472351px;
color:#000000;
}
.cls001ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:182.531189px;
color:#000000;
}
.cls001ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:310.303009px;
color:#000000;
}
.cls001ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:445.376099px;
color:#000000;
}
.cls001ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:589.575745px;
color:#000000;
}
.cls001ClsTxt28
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:700.919739px;
color:#000000;
}
.cls001ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:493px;
left:826.866272px;
color:#000000;
}
.cls001ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:843.294128px;
color:#000000;
}
.cls001ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:166.103378px;
color:#000000;
}
.cls001ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:259.194275px;
color:#000000;
}
.cls001ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:572px;
left:205.434921px;
color:#000000;
}
.cls001ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:595px;
left:183.531189px;
color:#000000;
}
.cls001ClsTxt35
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:619px;
left:181.705872px;
color:#000000;
}
.cls001ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:642px;
left:196.308380px;
color:#000000;
}
.cls001ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:666px;
left:203.609619px;
color:#000000;
}
.cls001ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:619px;
left:248.242401px;
color:#000000;
}
.cls001ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:583px;
left:291.049927px;
color:#000000;
}
.cls001ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:607px;
left:291.049927px;
color:#000000;
}
.cls001ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:631px;
left:291.049927px;
color:#000000;
}
.cls001ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:654px;
left:291.049927px;
color:#000000;
}
.cls001ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:716px;
left:233.639923px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:348.634583px;
color:#000000;
}
.cls001ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:739px;
left:233.639923px;
color:#000000;
}
.cls001ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:763px;
left:233.639923px;
color:#000000;
}
.cls001ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:763px;
left:326.730835px;
color:#000000;
}
.cls001ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:786px;
left:233.639923px;
color:#000000;
}
.cls001ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:786px;
left:334.032074px;
color:#000000;
}
.cls001ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:810px;
left:233.639923px;
color:#000000;
}
.cls001ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:288.399292px;
color:#000000;
}
.cls001ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:835px;
left:233.639923px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:304.827087px;
color:#000000;
}
.cls001ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:858px;
left:233.639923px;
color:#000000;
}
.span55
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:166.103378px;
color:#000000;
}
.span56
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:917px;
left:233.639923px;
line-height:115%;
color:#000000;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:233.639923px;
color:#000000;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:965px;
left:233.639923px;
line-height:115%;
color:#000000;
}
.span59
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:233.639923px;
color:#000000;
}
.cls001ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1048px;
left:150.675583px;
color:#000000;
}
.cls001ClsTxt61
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1091px;
left:190.832443px;
color:#000000;
}
.cls001ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1115px;
left:168.928696px;
color:#000000;
}
.cls001ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1139px;
left:166.103378px;
color:#000000;
}
.cls001ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1162px;
left:181.705872px;
color:#000000;
}
.cls001ClsTxt65
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1186px;
left:168.928696px;
color:#000000;
}
.cls001ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1139px;
left:229.989288px;
color:#000000;
}
.cls001ClsTxt67
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1103px;
left:267.495514px;
color:#000000;
}
.cls001ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1127px;
left:267.495514px;
color:#000000;
}
.cls001ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1151px;
left:267.495514px;
color:#000000;
}
.cls001ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1174px;
left:267.495514px;
color:#000000;
}
.cls001ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:150.675583px;
color:#000000;
}
.cls001ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:48.458111px;
color:#FFFFFF;
}
.cls001ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:161px;
left:553.069519px;
color:#000000;
}
.span74
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:185px;
left:620.606018px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:208px;
left:620.606018px;
color:#000000;
}
.cls001ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:620.606018px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:255px;
left:620.606018px;
color:#000000;
}
.cls001ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:255px;
left:722.823486px;
color:#000000;
}
.span79
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:279px;
left:620.606018px;
color:#000000;
}
.span80
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:303px;
left:620.606018px;
color:#000000;
}
.cls001ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:534px;
left:554.069519px;
color:#000000;
}
.cls001ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:688.142578px;
color:#000000;
}
.cls001ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:535px;
left:733.775391px;
color:#000000;
}
.cls001ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:832.342224px;
color:#000000;
}
.cls001ClsTxt85
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:567px;
left:590.575745px;
color:#000000;
}
.cls001ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:567px;
left:630.732605px;
color:#000000;
}
.cls001ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:568px;
left:636.208557px;
color:#000000;
}
.span88
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:583px;
left:680.015991px;
color:#000000;
}
.span89
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:607px;
left:680.015991px;
color:#000000;
}
.span90
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:630px;
left:680.015991px;
color:#000000;
}
.cls001ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:654px;
left:680.015991px;
color:#000000;
}
.cls001ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:653px;
left:775.757568px;
color:#000000;
}
.cls001ClsTxt93
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:600px;
left:568.671997px;
color:#000000;
}
.cls001ClsTxt94
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:623px;
left:566.846680px;
color:#000000;
}
.cls001ClsTxt95
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:647px;
left:581.449158px;
color:#000000;
}
.cls001ClsTxt96
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:671px;
left:568.671997px;
color:#000000;
}
.cls001ClsTxt97
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:635px;
left:630.732605px;
color:#000000;
}
.cls001ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:717px;
left:621.606018px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:739px;
left:621.606018px;
color:#000000;
}
.cls001ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:763px;
left:621.606018px;
color:#000000;
}
.cls001ClsTxt101
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:763px;
left:713.696960px;
color:#000000;
}
.cls001ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:786px;
left:621.606018px;
color:#000000;
}
.cls001ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:786px;
left:790.360046px;
color:#000000;
}
.cls001ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:810px;
left:621.606018px;
color:#000000;
}
.cls001ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:810px;
left:777.582825px;
color:#000000;
}
.cls001ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:846px;
left:553.069519px;
line-height:115%;
color:#000000;
}
.span107
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
left:553.069519px;
color:#000000;
}
.span108
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:893px;
left:621.606018px;
line-height:115%;
color:#000000;
}
.cls001ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:916px;
left:620.606018px;
color:#000000;
}
.cls001ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:916px;
left:706.395691px;
color:#000000;
}
.span111
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:941px;
left:621.606018px;
line-height:115%;
color:#000000;
}
.span112
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:964px;
left:620.606018px;
color:#000000;
}
.cls001ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1085px;
left:373.363647px;
color:#000000;
}
.cls001ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1109px;
left:373px;
color:#000000;
}
.cls001ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1132px;
left:373.363647px;
color:#000000;
}
.span116
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls001ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1156px;
left:373.363647px;
color:#000000;
}
.span117
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1180px;
left:373.363647px;
color:#000000;
}
.cls001ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1204px;
left:373.363647px;
color:#000000;
}
.span119
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls001ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1203px;
left:710.046326px;
color:#000000;
}
.cls001ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1303px;
left:163.452759px;
line-height:110%;
color:#000000;
}
.cls001ClsTxt121
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1301px;
left:414.345795px;
color:#000000;
}
.cls001ClsTxt122
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:434.424225px;
color:#C00D0E;
}
.span123
{
font-weight:bold;
font-size:18.253120px;
}
.cls001ClsTxt123
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:509.261993px;
color:#000000;
}
.cls001ClsTxt124
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1301px;
left:611.479492px;
color:#000000;
}
.cls001ClsTxt125
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:631.557861px;
color:#C00D0E;
}
.cls001ClsTxt126
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:706.395691px;
color:#000000;
}
.cls001ClsTxt127
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1301px;
left:803.137207px;
color:#000000;
}
.cls001ClsTxt128
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:825.040955px;
color:#C00D0E;
}
.span129
{
font-weight:bold;
font-size:18.253120px;
}
.cls001ClsTxt129
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1320px;
left:162.452759px;
color:#000000;
}
.cls001ClsTxt130
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:257.368988px;
color:#000000;
}
.cls001ClsTxt131
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1320px;
left:277.447388px;
color:#C00D0E;
}
