@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls011ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
letter-spacing:0px;
color:#FFFFFF;
}
.span1 {
color:#CB0307;
}
.cls011ClsTxt1 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
letter-spacing:0px;
color:#FEFF59;
}
.cls011ClsTxt1a {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.816399px;
top:119px;
left:149.868088px;
letter-spacing:0px;
color:#000000;
}
.span2 {
color:#CB0307;
}
.cls011ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:942px;
left:107.693398px;
letter-spacing:0px;
color:#FEFF59;
}
.span3 {
color:#CB0307;
}
.cls011ClsTxt3 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1132px;
left:105.868088px;
letter-spacing:0px;
color:#FEFF59;
}
.span4 {
font-family:'CronosPro-Regular';
font-size:38.331551px;
}
.cls011ClsTxt4 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
letter-spacing:0px;
color:#FFFFFF;
}
.span5 {
color:#CB0307;
}
.cls011ClsTxt5 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:118px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span6 {
color:#CB0307;
}
.cls011ClsTxt6 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:176px;
left:262.844910px;
letter-spacing:0px;
color:#030506;
}
.span7 {
color:#CB0307;
}
.cls011ClsTxt7 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:337px;
left:560.370789px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.span8 {
color:#CB0307;
}
.cls011ClsTxt8 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:354px;
left:571.322571px;
letter-spacing:0px;
color:#030506;
}
.span9 {
color:#CB0307;
}
.cls011ClsTxt9 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:176px;
left:354.188934px;
letter-spacing:0px;
text-align:center;
color:#030506;
line-height:115%;
}
.span10 {
color:#CB0307;
}
.cls011ClsTxt10 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:193px;
left:355.935822px;
letter-spacing:0px;
color:#030506;
}
.span11 {
color:#CB0307;
}
.span11 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span12 {
color:#CB0307;
}
.span12 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:536.641724px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span13 {
color:#CB0307;
}
.cls011ClsTxt13 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:527px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span14 {
color:#CB0307;
}
.cls011ClsTxt14 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:527px;
left:297.525818px;
letter-spacing:0px;
color:#030506;
}
.span15 {
color:#CB0307;
}
.cls011ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:560px;
left:191.657745px;
letter-spacing:0px;
color:#030506;
}
.span16 {
color:#CB0307;
}
.cls011ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:584px;
left:173.404617px;
letter-spacing:0px;
color:#030506;
}
.span17 {
color:#CB0307;
}
.cls011ClsTxt17 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:608px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span18 {
color:#CB0307;
}
.cls011ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:162.452759px;
letter-spacing:0px;
color:#030506;
}
.span19 {
color:#CB0307;
}
.cls011ClsTxt19 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:560px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span20 {
color:#CB0307;
}
.cls011ClsTxt20 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:584px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span21 {
color:#CB0307;
}
.cls011ClsTxt21 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:608px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span22 {
color:#CB0307;
}
.cls011ClsTxt22 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:631px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span23 {
color:#CB0307;
}
.cls011ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:560px;
left:337.682709px;
letter-spacing:0px;
color:#030506;
}
.span24 {
color:#CB0307;
}
.cls011ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:584px;
left:321.254883px;
letter-spacing:0px;
color:#030506;
}
.span25 {
color:#CB0307;
}
.cls011ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:608px;
left:313.953644px;
letter-spacing:0px;
color:#030506;
}
.span26 {
color:#CB0307;
}
.cls011ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:310.303009px;
letter-spacing:0px;
color:#030506;
}
.span27 {
color:#CB0307;
}
.cls011ClsTxt27 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:664px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span28 {
color:#CB0307;
}
.cls011ClsTxt28 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:688px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span29 {
color:#CB0307;
}
.cls011ClsTxt29 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:712px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span30 {
color:#CB0307;
}
.cls011ClsTxt30 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:735px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span31 {
color:#CB0307;
}
.cls011ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:675px;
left:177.055252px;
letter-spacing:0px;
color:#030506;
}
.span32 {
color:#CB0307;
}
.cls011ClsTxt32 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:682px;
left:465.454529px;
letter-spacing:0px;
color:#030506;
}
.span33 {
color:#CB0307;
}
.cls011ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:699px;
left:169.753998px;
letter-spacing:0px;
color:#030506;
}
.span34 {
color:#CB0307;
}
.cls011ClsTxt34 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:184.356506px;
letter-spacing:0px;
color:#030506;
}
.span35 {
color:#CB0307;
}
.cls011ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:675px;
left:324.905518px;
letter-spacing:0px;
color:#030506;
}
.span36 {
color:#CB0307;
}
.cls011ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:699px;
left:317.604279px;
letter-spacing:0px;
color:#030506;
}
.span37 {
color:#CB0307;
}
.cls011ClsTxt37 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:332.206757px;
letter-spacing:0px;
color:#030506;
}
.span38 {
color:#CB0307;
}
.cls011ClsTxt38 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span39 {
color:#CB0307;
}
.cls011ClsTxt39 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:803px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span40 {
color:#CB0307;
}
.span40 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt40 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:827px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span41 {
color:#CB0307;
}
.span41 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt41 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:850px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span42 {
color:#CB0307;
}
.span42 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span43 {
color:#CB0307;
}
.span43 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:898px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span44 {
color:#CB0307;
}
.cls011ClsTxt44 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:942px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span45 {
color:#CB0307;
}
.cls011ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:160.627441px;
letter-spacing:0px;
color:#030506;
}
.span46 {
color:#CB0307;
}
.cls011ClsTxt46 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:974px;
left:279.272705px;
letter-spacing:0px;
color:#030506;
}
.span47 {
color:#CB0307;
}
.cls011ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:324.905518px;
letter-spacing:0px;
color:#030506;
}
.span48 {
color:#CB0307;
}
.cls011ClsTxt48 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:998px;
left:160.627441px;
letter-spacing:0px;
color:#030506;
}
.span49 {
color:#CB0307;
}
.cls011ClsTxt49 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:998px;
left:279.272705px;
letter-spacing:0px;
color:#030506;
}
.span50 {
color:#CB0307;
}
.cls011ClsTxt50 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:998px;
left:341.333344px;
letter-spacing:0px;
color:#030506;
}
.span51 {
color:#CB0307;
}
.cls011ClsTxt51 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:584px;
left:363.237061px;
letter-spacing:0px;
color:#030506;
}
.span52 {
color:#CB0307;
}
.span52 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls011ClsTxt52 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:608px;
left:363.237061px;
letter-spacing:0px;
color:#030506;
}
.span53 {
color:#CB0307;
}
.cls011ClsTxt53 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:611px;
left:465.454529px;
letter-spacing:0px;
color:#030506;
}
.span54 {
color:#CB0307;
}
.cls011ClsTxt54 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:635px;
left:465.454529px;
letter-spacing:0px;
color:#030506;
}
.span55 {
color:#CB0307;
}
.cls011ClsTxt55 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:659px;
left:465.454529px;
letter-spacing:0px;
color:#030506;
}
.span56 {
color:#CB0307;
}
.cls011ClsTxt56 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:688px;
left:363.237061px;
letter-spacing:0px;
color:#030506;
}
.span57 {
color:#CB0307;
}
.cls011ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:712px;
left:363.237061px;
letter-spacing:0px;
color:#030506;
}
.span58 {
color:#CB0307;
}
.cls011ClsTxt58 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:712px;
left:368.713013px;
letter-spacing:0px;
color:#030506;
}
.span59 {
color:#CB0307;
}
.cls011ClsTxt59 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:974px;
left:419.821716px;
letter-spacing:0px;
color:#030506;
}
.span60 {
color:#CB0307;
}
.cls011ClsTxt60 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:476.406403px;
letter-spacing:0px;
color:#030506;
}
.span61 {
color:#CB0307;
}
.cls011ClsTxt61 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:998px;
left:419.821716px;
letter-spacing:0px;
color:#030506;
}
.span62 {
color:#CB0307;
}
.cls011ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:998px;
left:509.261993px;
letter-spacing:0px;
color:#030506;
}
.span63 {
color:#CB0307;
}
.cls011ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span64 {
color:#CB0307;
}
.span64 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:543.942932px;
letter-spacing:0px;
color:#030506;
}
.span65 {
color:#CB0307;
}
.span65 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt65 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1066px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span66 {
color:#CB0307;
}
.span66 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1066px;
left:476.406403px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span67 {
color:#CB0307;
}
.span67 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1089px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span68 {
color:#CB0307;
}
.cls011ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span69 {
color:#CB0307;
}
.cls011ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1155px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span70 {
color:#CB0307;
}
.cls011ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1179px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span71 {
color:#CB0307;
}
.span71 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt71 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1179px;
left:616.955383px;
letter-spacing:0px;
color:#030506;
}
.span72 {
color:#CB0307;
}
.span72 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1203px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span73 {
color:#CB0307;
}
.span73 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1203px;
left:487.358276px;
letter-spacing:0px;
color:#030506;
}
.span74 {
color:#CB0307;
}
.cls011ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1226px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span75 {
color:#CB0307;
}
.span75 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1226px;
left:503.786072px;
letter-spacing:0px;
color:#030506;
}
.span76 {
color:#CB0307;
}
.cls011ClsTxt76 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:48px;
left:60.235291px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.span77 {
color:#CB0307;
}
.span77 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls011ClsTxt77 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span79 {
color:#CB0307;
}
.cls011ClsTxt79 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:430.773590px;
letter-spacing:0px;
color:#CB0307;
}
.span80 {
color:#CB0307;
}
.span80 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls011ClsTxt80 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:496.484802px;
letter-spacing:0px;
color:#030506;
}
.span82 {
color:#CB0307;
}
.cls011ClsTxt82 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:783.058838px;
letter-spacing:0px;
color:#CB0307;
}
.zap {
font-family:'ZapfDingbatsStd';
}
