@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls034ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:38px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls034ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls034ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.span00100{
font-family:'CronosPro-Semibold';
color:#c00d0e;
}
.span3
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls034ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls034ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:176.705872px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls034ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:176.705872px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls034ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:180.705872px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls034ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:180.705872px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls034ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:180.705872px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls034ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:180.705872px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls034ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:180.705872px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls034ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:494.659515px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls034ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:494.659515px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls034ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:490.659515px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls034ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:494.659515px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls034ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:490.659515px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls034ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:494.659515px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls034ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:494.659515px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls034ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:317px;
left:166.103378px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls034ClsTxt19
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:316px;
left:202.609619px;
color:#C00D0E;
}
.span20
{
color:#C00D0E;
}
.cls034ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:340px;
left:166.103378px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls034ClsTxt21
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:340px;
left:202.609619px;
color:#C00D0E;
}
.span22
{
color:#C00D0E;
}
.cls034ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:364px;
left:166.103378px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls034ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:364px;
left:186.181824px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls034ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:387px;
left:166.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls034ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:411px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls034ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:435px;
left:166.103378px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls034ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:458px;
left:166.103378px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.span28
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls034ClsTxt28
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:498px;
left:166.103378px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls034ClsTxt29
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span30
{
color:#C00D0E;
}
.cls034ClsTxt30
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:493px;
left:96.741531px;
color:#FFF374;
}
.span31
{
color:#C00D0E;
}
.cls034ClsTxt31
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:779px;
left:549.418884px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls034ClsTxt32
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:807px;
left:259.194275px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls034ClsTxt33
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:807px;
left:617.955383px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls034ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:954px;
left:166.103378px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls034ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:954px;
left:186.181824px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls034ClsTxt36
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:954px;
left:319.429565px;
color:#C00D0E;
}
.span37
{
color:#C00D0E;
}
.cls034ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:978px;
left:166.103378px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls034ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:978px;
left:186.181824px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls034ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1002px;
left:166.103378px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls034ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1002px;
left:186.181824px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls034ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1026px;
left:166.103378px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls034ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1026px;
left:186.181824px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls034ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1049px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls034ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1049px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls034ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1073px;
left:166.103378px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls034ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1073px;
left:186.181824px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.span47
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls034ClsTxt47
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1112px;
left:166.103378px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls034ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1141px;
left:166.103378px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls034ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1141px;
left:186.181824px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls034ClsTxt50
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1141px;
left:294.875214px;
color:#C00D0E;
}
.span51
{
color:#C00D0E;
}
.cls034ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:166.103378px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls034ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:186.181824px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls034ClsTxt53
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1164px;
left:294.875214px;
color:#C00D0E;
}
.span54
{
color:#C00D0E;
}
.cls034ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:166.103378px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls034ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:186.181824px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls034ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1212px;
left:166.103378px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls034ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1212px;
left:186.181824px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls034ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1235px;
left:166.103378px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls034ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1235px;
left:186.181824px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls034ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:166.103378px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls034ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:186.181824px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls034ClsTxt62
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1106px;
left:96.741531px;
color:#FFF374;
}
.span63
{
color:#C00D0E;
}
.cls034ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:536px;
left:181.705872px;
color:#C00D0E;
}
.span64
{
color:#C00D0E;
}
.cls034ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:674px;
left:181.705872px;
color:#C00D0E;
}
.span65
{
color:#C00D0E;
}
.cls034ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:811px;
left:181.705872px;
color:#C00D0E;
}
.span66
{
color:#C00D0E;
}
.cls034ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:536px;
left:559.545410px;
color:#C00D0E;
}
.span67
{
color:#C00D0E;
}
.cls034ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:674px;
left:559.545410px;
color:#C00D0E;
}
.span68
{
color:#C00D0E;
}
.cls034ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:812px;
left:559.545410px;
color:#C00D0E;
}
.span69
{
color:#C00D0E;
}
.cls034ClsTxt69
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:19.713373px;
top:667px;
line-height:110%;
text-align:right;
left:838.468750px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls034ClsTxt70
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:19.713373px;
top:686px;
left:887.101563px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls034ClsTxt71
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:681px;
line-height:110%;
left:717.347534px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls034ClsTxt72
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:697px;
left:715.522217px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls034ClsTxt73
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:908px;
left:366.062378px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls034ClsTxt74
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:908px;
left:564.021362px;
color:#000000;
}
