@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls007ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:20px;
left:44.807484px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.span1 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt1 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:120px;
left:105.868088px;
letter-spacing:0px;
color:#FEFF59;
line-height:115%;
}
.span2 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:658px;
left:107.693398px;
letter-spacing:0px;
color:#FEFF59;
line-height:115%;
}
.span3 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt3 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:848px;
left:105.868088px;
letter-spacing:0px;
color:#FEFF59;
line-height:115%;
}
.span4 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt4 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:24px;
left:149.675583px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.span5 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt5 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:64px;
left:150.675583px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.span6 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt6 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:130px;
left:165.103378px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span7 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt7 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:129px;
left:231.814621px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span8 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt8 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:208.085556px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span9 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt9 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:231.814621px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span10 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt10 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:194px;
left:279.272705px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span11 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt11 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:218px;
left:280.272705px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span12 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt12 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:243px;
left:280.272705px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span13 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt13 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:267px;
left:280.272705px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span14 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt14 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:218px;
left:232.814621px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span15 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt15 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:218px;
left:407.044556px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span16 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:290px;
left:325.905518px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span17 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt17 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:394.267365px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span18 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:163px;
left:440.900177px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span19 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt19 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:195px;
left:532.991028px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span20 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt20 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:219px;
left:532.991028px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span21 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt21 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:243px;
left:532.991028px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span22 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt22 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:266px;
left:532.991028px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span23 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt23a {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:290px;
left:325.449158px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls007ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:290px;
left:580.449158px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span24 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:194px;
left:441.900177px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span25 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:219px;
left:441.900177px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span26 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:242px;
left:441.900177px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span27 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt27 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:298px;
left:232.814621px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span28 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt28 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:298px;
left:394.267365px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span29 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:274px;
left:440.900177px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span30 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt30 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:297px;
left:440.900177px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span31 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:323px;
left:440.900177px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span32 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span33 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt33 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:471px;
left:220.862732px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span34 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt34 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:253.718338px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span35 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt35 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:471px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span36 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:343.158630px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span37 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt37 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:399.743286px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span38 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt38 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:495px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span39 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt39 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:220.862732px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span40 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt40 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:237.290558px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span41 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt41 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:494px;
left:251.893036px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span42 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:343.158630px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span43 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:519px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span44 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt44 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:518px;
left:257.368988px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span45 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span46 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt46 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:518px;
left:319.429565px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span47 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:386.966125px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span48 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt48 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:543px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span49 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt49 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:220.862732px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span50 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt50 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:277.447388px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span51 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt51 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:542px;
left:312.128326px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span52 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt52 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:394.267365px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span53 {
color:#CB0307;
line-height:115%;
}
.span53 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt53 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:396.092651px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span54 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt54 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:505.611389px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span55 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:567px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span56 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt56 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:266.495514px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span57 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:295.700531px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span58 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt58 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:390.616760px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span59 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt59 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:470.930450px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span60 {
color:#CB0307;
line-height:115%;
}
.span60 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt60 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:494.659515px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span61 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:613.304810px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span62 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:590px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span63 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:365.062378px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span64 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:430.773590px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span65 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt65 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:589px;
left:459.978577px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span66 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:614px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span67 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt67 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:613px;
left:259.194275px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span68 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:288.399292px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span69 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt69 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:613px;
left:321.254883px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span70 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span71 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt71 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:613px;
left:419.821716px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span72 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:452.677368px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span73 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt73 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:613px;
left:485.532928px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span74 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:549.418884px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span75 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:195px;
left:193.483063px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span76 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt76 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:219px;
left:187.181824px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span77 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt77 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:242px;
left:201.784302px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span78 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt78 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:274px;
left:190.832443px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span79 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt79 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:298px;
left:183.531189px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span80 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt80 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:322px;
left:178.880554px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span81 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt81 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:658px;
left:150.675583px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span82 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt82 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:692px;
left:224.513367px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span83 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt83 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:692px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span84 {
color:#CB0307;
line-height:115%;
}
.span84 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt84 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:692px;
left:308.477692px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span85 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt85 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:692px;
left:399.743286px;
letter-spacing:0px;
line-height:115%;
}
.span86 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt86 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:850px;
left:150.675583px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span87 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt87 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:160.627441px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span88 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt88 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:239.115860px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span89 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt89 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:892px;
left:262.844910px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls007ClsTxt89-1 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:891px;
left:384.844910px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span90 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt90 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:334.032074px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span91 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt91 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls007ClsTxt91a{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:238.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls007ClsTxt91b {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:266.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span92 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt92 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:459.978577px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span93 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt93 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:970px;
left:513.912659px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span94 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt94 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:924px;
left:224.513367px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span95 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt95 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:948px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span96 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt96 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:972px;
left:232.814621px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span97 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:948px;
left:263.844910px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span98 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt98 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:925px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span99 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt99 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span100 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt100 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:972px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span101 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt101 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1004px;
left:221.862732px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span102 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt102 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1028px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span103 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt103 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1051px;
left:209.910858px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span104 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt104 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1027px;
left:263.844910px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span105 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt105 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1006px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span106 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt106 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1028px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span107 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt107 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1051px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span108 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt108 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:978px;
left:549.418884px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span109 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt109 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:913px;
left:597.877014px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span110 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt110 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:597.877014px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span111 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt111 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:597.877014px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span112 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt112 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:653.461670px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span113 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt113 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:994px;
left:597.877014px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span114 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt114 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1017px;
left:597.877014px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span115 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt115 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1041px;
left:597.877014px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span116 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt116 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1017px;
left:653.461670px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span117 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt117 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:146px;
left:732.950073px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span118 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt118 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1097px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span119 {
color:#CB0307;
line-height:115%;
}
.span119 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt119 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1095px;
left:403.393921px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span120 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt120 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span121 {
color:#CB0307;
line-height:115%;
}
.span121 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt121 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1119px;
left:417.996429px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span122 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt122 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1143px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span123 {
color:#CB0307;
line-height:115%;
}
.span123 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt123 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1142px;
left:343.158630px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span124 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt124 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1167px;
left:218.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span125 {
color:#CB0307;
line-height:115%;
}
.span125 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt125 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1167px;
left:511.087341px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span126 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt126 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:161.627441px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span127 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt127 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:161.627441px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span128 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt128 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:725px;
left:235.465225px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span129 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt129 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:748px;
left:235.465225px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span130 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt130 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:772px;
left:235.465225px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span131 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt131 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:796px;
left:235.465225px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span132 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt132 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:725px;
left:282.098022px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span133 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt133 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:748px;
left:282.098022px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span134 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt134 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:282.098022px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span135 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt135 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:282.098022px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span136 {
color:#CB0307;
line-height:115%;
}
.span136 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt136 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:724px;
left:400.743286px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span137 {
color:#CB0307;
line-height:115%;
}
.span137 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt137 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:748px;
left:400.743286px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span138 {
font-family:'CronosPro-LtIt';
line-height:115%;
}
.cls007ClsTxt138 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:748px;
left:531.165771px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span139 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt139 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:400.743286px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span140 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt140 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:400.743286px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span141 {
color:#CB0307;
line-height:115%;
}
.span141 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls007ClsTxt141 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:461.803925px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span142 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt142 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:49px;
left:60.235291px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.span143 {
color:#CB0307;
line-height:115%;
}
.span145 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt145 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:268.320862px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.span146 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt146 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:334.032074px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span148 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt148 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:585.925110px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.span149 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt149 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:660.762939px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span151 {
color:#CB0307;
line-height:115%;
}
.cls007ClsTxt151 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:750.203186px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.underline-nor
{
text-decoration:underline;
color:#c00d0e;
}
.zap {
font-family:'ZapfDingbatsStd';
}
.cls007ClsTxt143 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1320px;
left:162.452759px;
letter-spacing:0px;
line-height:115%;
}
