@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Italic";src:url('../fonts/CronosPro-Italic.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls008ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:849.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls008ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:853.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls008ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls008ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls008ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls008ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:186.181824px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls008ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:401.568604px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls008ClsTxt7
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:120px;
left:451.677368px;
color:#C00D0E;
}
.span8
{
color:#C00D0E;
}
.cls008ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:522.039185px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls008ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:166.103378px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls008ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:186.181824px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls008ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:423.472351px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls008ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:591.401062px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls008ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:166.103378px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls008ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:186.181824px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls008ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:467.279846px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls008ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:637.033875px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls008ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:166.103378px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls008ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:186.181824px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls008ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:604.178223px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls008ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:773.932251px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls008ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:166.103378px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls008ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:186.181824px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls008ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:447.201416px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls008ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:615.130127px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls008ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls008ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:186.181824px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls008ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:540.292297px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls008ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:710.046326px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls008ClsTxt29
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:278px;
left:166.103378px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls008ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:181.531189px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls008ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:259.194275px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls008ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:323.080200px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls008ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:417.996429px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls008ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:503px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls008ClsTxt35
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:567.671997px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls008ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:658.937622px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls008ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:311px;
left:737.426025px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls008ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:166.103378px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls008ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:186.181824px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls008ClsTxt40
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:351px;
left:532.991028px;
color:#C00D0E;
}
.span41
{
color:#C00D0E;
}
.cls008ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:642.509766px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls008ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:166.103378px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls008ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:186.181824px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls008ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:582.274475px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls008ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:166.103378px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls008ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:186.181824px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls008ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:403.393921px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls008ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:720.998230px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls008ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:166.103378px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls008ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:186.181824px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls008ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:483.707642px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls008ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:887.101563px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls008ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:166.103378px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls008ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:186.181824px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls008ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:397.917999px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls008ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:856.071289px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls008ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:166.103378px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls008ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:186.181824px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls008ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:447.201416px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls008ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:797.661316px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls008ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:166.103378px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls008ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:186.181824px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls008ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:918.131836px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls008ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:166.103378px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls008ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:186.181824px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls008ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:737.426025px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls008ClsTxt67
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:557px;
left:166.103378px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls008ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:182px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls008ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:259.194275px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls008ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:341.333344px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls008ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:445.376099px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls008ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:529.340454px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls008ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:591.401062px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls008ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:590px;
left:657.112244px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls008ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:166.103378px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls008ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:186.181824px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls008ClsTxt77
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:631px;
left:476.406403px;
color:#C00D0E;
}
.span78
{
color:#C00D0E;
}
.cls008ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:635.208557px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls008ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:655px;
left:166.103378px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls008ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:655px;
left:186.181824px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls008ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:655px;
left:553.069519px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls008ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:679px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls008ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:679px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls008ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:679px;
left:865.197815px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls008ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:166.103378px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls008ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:186.181824px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls008ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:918.131836px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls008ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:726px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls008ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:726px;
left:186.181824px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls008ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:726px;
left:649.811035px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls008ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:750px;
left:166.103378px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls008ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:750px;
left:186.181824px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls008ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:750px;
left:739.251282px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls008ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:166.103378px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls008ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:186.181824px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls008ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:863.372498px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls008ClsTxt97
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:812px;
left:166.103378px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls008ClsTxt98
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:812px;
left:330.381470px;
color:#000000;
}
.span99
{
color:#000000;
}
.span99
{
font-weight:bold;
font-size:20.078430px;
}
.cls008ClsTxt99
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:812px;
left:359.586426px;
color:#C00D0E;
}
.span100
{
color:#000000;
}
.cls008ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:166.103378px;
color:#000000;
}
.span101
{
color:#000000;
}
.cls008ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:186.181824px;
color:#000000;
}
.span102
{
color:#000000;
}
.cls008ClsTxt102
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:841px;
left:281.098022px;
color:#C00D0E;
}
.span103
{
color:#000000;
}
.cls008ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:335.857391px;
color:#000000;
}
.span104
{
color:#000000;
}
.cls008ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:865px;
left:166.103378px;
color:#000000;
}
.span105
{
color:#000000;
}
.cls008ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:865px;
left:186.181824px;
color:#000000;
}
.span106
{
color:#000000;
}
.cls008ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:865px;
left:392.442047px;
color:#000000;
}
.span107
{
color:#000000;
}
.cls008ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:865px;
left:529.340454px;
color:#000000;
}
.span108
{
color:#000000;
}
.cls008ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:166.103378px;
color:#000000;
}
.span109
{
color:#000000;
}
.cls008ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:186.181824px;
color:#000000;
}
.span110
{
color:#000000;
}
.cls008ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:516.563232px;
color:#000000;
}
.span111
{
color:#000000;
}
.cls008ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:912px;
left:166.103378px;
color:#000000;
}
.span112
{
color:#000000;
}
.cls008ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:912px;
left:186.181824px;
color:#000000;
}
.span113
{
color:#000000;
}
.cls008ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:912px;
left:399.743286px;
color:#000000;
}
.span114
{
color:#000000;
}
.cls008ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:936px;
left:166.103378px;
color:#000000;
}
.span115
{
color:#000000;
}
.cls008ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:936px;
left:186.181824px;
color:#000000;
}
.span116
{
color:#000000;
}
.cls008ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:936px;
left:697.269165px;
color:#000000;
}
.span117
{
color:#000000;
}
.cls008ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:166.103378px;
color:#000000;
}
.span118
{
color:#000000;
}
.cls008ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:186.181824px;
color:#000000;
}
.span119
{
color:#000000;
}
.cls008ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:419.821716px;
color:#000000;
}
.span120
{
color:#000000;
}
.cls008ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:587.750427px;
color:#000000;
}
.span121
{
color:#000000;
}
.cls008ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:984px;
left:166.103378px;
color:#000000;
}
.span122
{
color:#000000;
}
.cls008ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:984px;
left:186.181824px;
color:#000000;
}
.span123
{
color:#000000;
}
.cls008ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:984px;
left:660.762939px;
color:#000000;
}
.span124
{
color:#000000;
}
.cls008ClsTxt124
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1023px;
left:166.103378px;
color:#000000;
}
.span125
{
color:#000000;
}
.cls008ClsTxt125
{
position:absolute;
font-family:'CronosPro-Italic';
font-size:20.078430px;
top:1024px;
left:651.636353px;
color:#000000;
}
.span126
{
color:#000000;
}
.cls008ClsTxt126
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1024px;
left:680.841309px;
color:#000000;
}
.span127
{
color:#000000;
}
.cls008ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1052px;
left:166.103378px;
color:#000000;
}
.span128
{
color:#000000;
}
.cls008ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1052px;
left:186.181824px;
color:#000000;
}
.span129
{
color:#000000;
}
.cls008ClsTxt129
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1051px;
left:647.985718px;
color:#C00D0E;
}
.span130
{
color:#000000;
}
.cls008ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1076px;
left:166.103378px;
color:#000000;
}
.span131
{
color:#000000;
}
.cls008ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1076px;
left:186.181824px;
color:#000000;
}
.span132
{
color:#000000;
}
.cls008ClsTxt132
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1100px;
left:166.103378px;
color:#000000;
}
.span133
{
color:#000000;
}
.cls008ClsTxt133
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1100px;
left:186.181824px;
color:#000000;
}
.span134
{
color:#000000;
}
.cls008ClsTxt134
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1123px;
left:166.103378px;
color:#000000;
}
.span135
{
color:#000000;
}
.cls008ClsTxt135
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1123px;
left:186.181824px;
color:#000000;
}
.span136
{
color:#000000;
}
.cls008ClsTxt136
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1147px;
left:166.103378px;
color:#000000;
}
.span137
{
color:#000000;
}
.cls008ClsTxt137
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1147px;
left:186.181824px;
color:#000000;
}
.span138
{
color:#000000;
}
.cls008ClsTxt138
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1171px;
left:166.103378px;
color:#000000;
}
.span139
{
color:#000000;
}
.cls008ClsTxt139
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1171px;
left:186.181824px;
color:#000000;
}
.span140
{
color:#000000;
}
.cls008ClsTxt140
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1194px;
left:166.103378px;
color:#000000;
}
.span141
{
color:#000000;
}
.cls008ClsTxt141
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1194px;
left:186.181824px;
color:#000000;
}
.span142
{
color:#000000;
}
.cls008ClsTxt142
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span143
{
color:#000000;
}
.cls008ClsTxt143
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:272px;
left:96.741531px;
color:#FFF374;
}
.span144
{
color:#000000;
}
.cls008ClsTxt144
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:551px;
left:96.741531px;
color:#FFF374;
}
.span145
{
color:#000000;
}
.cls008ClsTxt145
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:807px;
left:96.741531px;
color:#FFF374;
}
.span146
{
color:#000000;
}
.cls008ClsTxt146
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1017px;
left:96.741531px;
color:#FFF374;
}
