@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls040ClsTxt0 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
letter-spacing:0px;
color:#CB0307;
}
.span1 {
color:#CB0307;
}
.cls040ClsTxt1 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:292.049927px;
letter-spacing:0px;
color:#030506;
}
.span2 {
color:#CB0307;
}
.cls040ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:88px;
left:98.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span3 {
color:#CB0307;
}
.span3 {
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls040ClsTxt3 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.351166px;
letter-spacing:0px;
color:#030506;
}
.span4 {
color:#CB0307;
}
.cls040ClsTxt4 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span5 {
color:#CB0307;
}
.cls040ClsTxt5 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span6 {
color:#CB0307;
}
.cls040ClsTxt6 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:118px;
left:407.044556px;
letter-spacing:0px;
color:#CB0307;
}
.span7 {
color:#CB0307;
}
.cls040ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:529.340454px;
letter-spacing:0px;
color:#030506;
}
.span8 {
color:#CB0307;
}
.cls040ClsTxt8 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span9 {
color:#CB0307;
}
.cls040ClsTxt9 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span10 {
color:#CB0307;
}
.cls040ClsTxt10 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:918.131836px;
letter-spacing:0px;
color:#030506;
}
.span11 {
color:#CB0307;
}
.cls040ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span12 {
color:#CB0307;
}
.cls040ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span13 {
color:#CB0307;
}
.cls040ClsTxt13 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:529.340454px;
letter-spacing:0px;
color:#030506;
}
.span14 {
color:#CB0307;
}
.cls040ClsTxt14 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span15 {
color:#CB0307;
}
.cls040ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span16 {
color:#CB0307;
}
.cls040ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:918.131836px;
letter-spacing:0px;
color:#030506;
}
.span17 {
color:#CB0307;
}
.cls040ClsTxt17 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span18 {
color:#CB0307;
}
.cls040ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span19 {
color:#CB0307;
}
.cls040ClsTxt19 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:529.340454px;
letter-spacing:0px;
color:#030506;
}
.span20 {
color:#CB0307;
}
.cls040ClsTxt20 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span21 {
color:#CB0307;
}
.cls040ClsTxt21 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span22 {
color:#CB0307;
}
.cls040ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:918.131836px;
letter-spacing:0px;
color:#030506;
}
.span23 {
color:#030506;
}
.span23 {
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls040ClsTxt23 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:206px;
left:536.641724px;
letter-spacing:0px;
color:#CB0307;
}
.span24 {
color:#030506;
}
.cls040ClsTxt24 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:203px;
left:98.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span25 {
}
.cls040ClsTxt25 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:206px;
left:166.103378px;
letter-spacing:0px;
}
.span26 {
color:#030506;
}
.cls040ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span27 {
color:#030506;
}
.cls040ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span28 {
color:#030506;
}
.cls040ClsTxt28 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:233px;
left:454.502655px;
letter-spacing:0px;
color:#CB0307;
}
.span29 {
color:#030506;
}
.cls040ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:529.340454px;
letter-spacing:0px;
color:#030506;
}
.span30 {
color:#030506;
}
.cls040ClsTxt30 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span31 {
color:#030506;
}
.cls040ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span32 {
color:#030506;
}
.cls040ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:918.131836px;
letter-spacing:0px;
color:#030506;
}
.span33 {
color:#030506;
}
.cls040ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span34 {
color:#030506;
}
.cls040ClsTxt34 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span35 {
color:#030506;
}
.cls040ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:529.340454px;
letter-spacing:0px;
color:#030506;
}
.span36 {
color:#030506;
}
.cls040ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span37 {
color:#030506;
}
.cls040ClsTxt37 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span38 {
color:#030506;
}
.cls040ClsTxt38 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:918.131836px;
letter-spacing:0px;
color:#030506;
}
.span39 {
color:#030506;
}
.cls040ClsTxt39 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span40 {
color:#030506;
}
.cls040ClsTxt40 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span41 {
color:#030506;
}
.cls040ClsTxt41 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:529.340454px;
letter-spacing:0px;
color:#030506;
}
.span42 {
color:#030506;
}
.cls040ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span43 {
color:#030506;
}
.cls040ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span44 {
color:#030506;
}
.cls040ClsTxt44 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:918.131836px;
letter-spacing:0px;
color:#030506;
}
.span45 {
color:#030506;
}
.cls040ClsTxt45 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:323px;
left:410.695190px;
letter-spacing:0px;
color:#CB0307;
}
.span46 {
color:#030506;
}
.cls040ClsTxt46 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:323px;
left:512.912659px;
letter-spacing:0px;
color:#030506;
}
.span47 {
color:#030506;
}
.cls040ClsTxt47 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:323px;
left:534.816345px;
letter-spacing:0px;
color:#CB0307;
}
.span48 {
color:#030506;
}
.cls040ClsTxt48 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:318px;
left:96.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span49 {
}
.cls040ClsTxt49 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:323px;
left:166.103378px;
letter-spacing:0px;
}
.span50 {
color:#030506;
}
.cls040ClsTxt50 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span51 {
color:#030506;
}
.cls040ClsTxt51 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span52 {
color:#030506;
}
.cls040ClsTxt52 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:350px;
left:441.725464px;
letter-spacing:0px;
color:#CB0307;
}
.span53 {
color:#030506;
}
.cls040ClsTxt53 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:500.135468px;
letter-spacing:0px;
color:#030506;
}
.span54 {
color:#030506;
}
.cls040ClsTxt54 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span55 {
color:#030506;
}
.cls040ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span56 {
color:#030506;
}
.cls040ClsTxt56 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:374px;
left:405.219238px;
letter-spacing:0px;
color:#CB0307;
}
.span57 {
color:#030506;
}
.cls040ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:465.454529px;
letter-spacing:0px;
color:#030506;
}
.span58 {
color:#030506;
}
.cls040ClsTxt58 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span59 {
color:#030506;
}
.cls040ClsTxt59 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span60 {
color:#030506;
}
.cls040ClsTxt60 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:606.003540px;
letter-spacing:0px;
color:#030506;
}
.span61 {
color:#030506;
}
.cls040ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span62 {
color:#030506;
}
.cls040ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span63 {
color:#030506;
}
.cls040ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:576.798584px;
letter-spacing:0px;
color:#030506;
}
.span64 {
color:#030506;
}
.cls040ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span65 {
color:#030506;
}
.cls040ClsTxt65 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span66 {
color:#030506;
}
.cls040ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:595.051636px;
letter-spacing:0px;
color:#030506;
}
.span67 {
color:#030506;
}
.cls040ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span68 {
color:#030506;
}
.cls040ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span69 {
color:#030506;
}
.cls040ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:558.545410px;
letter-spacing:0px;
color:#030506;
}
.span70 {
color:#030506;
}
.cls040ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span71 {
color:#030506;
}
.cls040ClsTxt71 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span72 {
color:#030506;
}
.cls040ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:584.099854px;
letter-spacing:0px;
color:#030506;
}
.span73 {
color:#030506;
}
.cls040ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span74 {
color:#030506;
}
.cls040ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span75 {
color:#030506;
}
.cls040ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:587.750427px;
letter-spacing:0px;
color:#030506;
}
.span76 {
color:#030506;
}
.cls040ClsTxt76 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:551px;
left:96.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span77 {
color:#030506;
}
.cls040ClsTxt77 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:556px;
left:166.103378px;
letter-spacing:0px;
}
.span78 {
color:#030506;
}
.cls040ClsTxt78 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span79 {
color:#030506;
}
.cls040ClsTxt79 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span80 {
color:#030506;
}
.cls040ClsTxt80 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:584px;
left:257.368988px;
letter-spacing:0px;
color:#CB0307;
}
.span81 {
color:#030506;
}
.cls040ClsTxt81 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span82 {
color:#030506;
}
.cls040ClsTxt82 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span83 {
color:#030506;
}
.cls040ClsTxt83 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:512.912659px;
letter-spacing:0px;
color:#030506;
}
.span84 {
color:#030506;
}
.cls040ClsTxt84 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span85 {
color:#030506;
}
.cls040ClsTxt85 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span86 {
color:#030506;
}
.cls040ClsTxt86 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:512.912659px;
letter-spacing:0px;
color:#030506;
}
.span87 {
color:#030506;
}
.cls040ClsTxt87 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span88 {
color:#030506;
}
.cls040ClsTxt88 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span89 {
color:#030506;
}
.cls040ClsTxt89 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span90 {
color:#030506;
}
.cls040ClsTxt90 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span91 {
color:#030506;
}
.cls040ClsTxt91 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:719px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span92 {
color:#030506;
}
.cls040ClsTxt92 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:748px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span93 {
color:#030506;
}
.cls040ClsTxt93 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:748px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span94 {
color:#030506;
}
.cls040ClsTxt94 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:748px;
left:315.778931px;
letter-spacing:0px;
color:#030506;
}
.span95 {
color:#030506;
}
.cls040ClsTxt95 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:746px;
left:343.158630px;
letter-spacing:0px;
color:#CB0307;
}
.span96 {
color:#030506;
}
.cls040ClsTxt96 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:748px;
left:394.267365px;
letter-spacing:0px;
color:#030506;
}
.span97 {
color:#030506;
}
.cls040ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span98 {
color:#030506;
}
.cls040ClsTxt98 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span99 {
color:#030506;
}
.cls040ClsTxt99 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:531.165771px;
letter-spacing:0px;
color:#030506;
}
.span100 {
color:#030506;
}
.cls040ClsTxt100 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span101 {
color:#030506;
}
.cls040ClsTxt101 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span102 {
color:#030506;
}
.cls040ClsTxt102 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:607.828857px;
letter-spacing:0px;
color:#030506;
}
.span103 {
color:#030506;
}
.cls040ClsTxt103 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span104 {
color:#030506;
}
.cls040ClsTxt104 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span105 {
color:#030506;
}
.cls040ClsTxt105 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:711.871643px;
letter-spacing:0px;
color:#030506;
}
.span106 {
color:#030506;
}
.cls040ClsTxt106 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:843px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span107 {
color:#030506;
}
.cls040ClsTxt107 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:843px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span108 {
color:#030506;
}
.cls040ClsTxt108 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:843px;
left:613.304810px;
letter-spacing:0px;
color:#030506;
}
.span109 {
color:#030506;
}
.cls040ClsTxt109 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:867px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span110 {
color:#030506;
}
.cls040ClsTxt110 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:867px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span111 {
color:#030506;
}
.cls040ClsTxt111 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:867px;
left:602.352905px;
letter-spacing:0px;
color:#030506;
}
.span112 {
color:#030506;
}
.cls040ClsTxt112 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span113 {
color:#030506;
}
.cls040ClsTxt113 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span114 {
color:#030506;
}
.cls040ClsTxt114 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span115 {
color:#030506;
}
.cls040ClsTxt115 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:456.327972px;
letter-spacing:0px;
color:#030506;
}
.span116 {
color:#030506;
}
.cls040ClsTxt116 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span117 {
color:#030506;
}
.cls040ClsTxt117 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span118 {
color:#030506;
}
.cls040ClsTxt118 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span119 {
color:#030506;
}
.cls040ClsTxt119 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:609.654175px;
letter-spacing:0px;
color:#030506;
}
.span120 {
color:#030506;
}
.cls040ClsTxt120 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span121 {
color:#030506;
}
.cls040ClsTxt121 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span122 {
color:#030506;
}
.cls040ClsTxt122 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:651.636353px;
letter-spacing:0px;
color:#030506;
}
.span123 {
color:#030506;
}
.cls040ClsTxt123 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:156.976822px;
letter-spacing:0px;
color:#030506;
}
.span124 {
color:#030506;
}
.cls040ClsTxt124 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span125 {
color:#030506;
}
.cls040ClsTxt125 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:545.768250px;
letter-spacing:0px;
color:#030506;
}
.span126 {
color:#030506;
}
.cls040ClsTxt126 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:804.962524px;
letter-spacing:0px;
color:#030506;
}
.span127 {
color:#030506;
}
.cls040ClsTxt127 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:156.976822px;
letter-spacing:0px;
color:#030506;
}
.span128 {
color:#030506;
}
.cls040ClsTxt128 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span129 {
color:#030506;
}
.cls040ClsTxt129 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:412.520477px;
letter-spacing:0px;
color:#030506;
}
.span130 {
color:#030506;
}
.cls040ClsTxt130 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:558.545410px;
letter-spacing:0px;
color:#030506;
}
.span131 {
color:#030506;
}
.cls040ClsTxt131 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1049px;
left:507.436676px;
letter-spacing:0px;
color:#CB0307;
}
.span132 {
color:#030506;
}
.cls040ClsTxt132 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1049px;
left:598.702332px;
letter-spacing:0px;
color:#030506;
}
.span133 {
color:#030506;
}
.cls040ClsTxt133 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1049px;
left:609.654175px;
letter-spacing:0px;
color:#CB0307;
}
.span134 {
color:#030506;
}
.cls040ClsTxt134 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1049px;
left:708.221008px;
letter-spacing:0px;
color:#030506;
}
.span135 {
color:#030506;
}
.cls040ClsTxt135 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1079px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span136 {
color:#030506;
}
.cls040ClsTxt136 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1079px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span137 {
color:#030506;
}
.cls040ClsTxt137 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1075px;
left:461.803925px;
letter-spacing:0px;
color:#CB0307;
}
.span138 {
color:#030506;
}
.cls040ClsTxt138 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1102px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span139 {
color:#030506;
}
.cls040ClsTxt139 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1102px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span140 {
color:#030506;
}
.cls040ClsTxt140 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1126px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span141 {
color:#030506;
}
.cls040ClsTxt141 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1126px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span142 {
color:#030506;
}
.cls040ClsTxt142 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1150px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span143 {
color:#030506;
}
.cls040ClsTxt143 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1150px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span144 {
color:#030506;
}
.cls040ClsTxt144 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1173px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span145 {
color:#030506;
}
.cls040ClsTxt145 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1173px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span146 {
color:#030506;
}
.cls040ClsTxt146 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1197px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span147 {
color:#030506;
}
.cls040ClsTxt147 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1197px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span148 {
color:#030506;
}
.cls040ClsTxt148 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1221px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span149 {
color:#030506;
}
.cls040ClsTxt149 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1221px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span150 {
color:#030506;
}
.cls040ClsTxt150 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1245px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span151 {
color:#030506;
}
.cls040ClsTxt151 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1245px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span152 {
color:#030506;
}
.cls040ClsTxt152 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1268px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span153 {
color:#030506;
}
.cls040ClsTxt153 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1268px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span154 {
color:#030506;
}
.cls040ClsTxt154 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1292px;
left:156.976822px;
letter-spacing:0px;
color:#030506;
}
.span155 {
color:#030506;
}
.cls040ClsTxt155 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1292px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span156 {
color:#030506;
}
.cls040ClsTxt156 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:714px;
left:96.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span157 {
color:#030506;
}
.cls040ClsTxt157 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1044px;
left:96.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span158 {
color:#030506;
}
.cls040ClsTxt158 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1049px;
left:166.103378px;
letter-spacing:0px;
}
.span159 {
color:#030506;
}
.cls040ClsTxt159 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:37px;
left:850.595337px;
letter-spacing:0px;
color:#FFFFFF;
}
.span160 {
color:#030506;
}
.cls040ClsTxt160 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:854.245911px;
letter-spacing:0px;
color:#FFFFFF;
}
.font
{
font-family:'CronosPro-Lt';
}
.font1
{
font-family:'CronosPro-Lt';
font-size:18.078430px;
}