@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls025ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls025ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:120px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls025ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:805px;
left:107.693398px;
color:#FFF374;
}
.span3
{
font-family:'CronosPro-Regular';
font-size:38.331551px;
}
.cls025ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:24px;
line-height:110%;
left:150.675583px;
color:#FFFFFF;
}
.span4
{
color:#C00D0E;
}
.cls025ClsTxt4
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span5
{
color:#C00D0E;
}
.cls025ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:216px;
left:177.055252px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls025ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:216px;
left:237.290558px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls025ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:216px;
left:327.730835px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls025ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:216px;
left:480.057007px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls025ClsTxt9
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:250px;
left:166.103378px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls025ClsTxt10
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:250px;
left:251.893036px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls025ClsTxt11
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:250px;
left:370.538300px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls025ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:294px;
left:166.103378px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls025ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:317px;
left:166.103378px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls025ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:233.639923px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls025ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:352px;
left:264.670227px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls025ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:459.978577px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.span17
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:233.639923px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls025ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:807px;
left:150.675583px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls025ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:866px;
left:166.103378px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls025ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:866px;
left:259.194275px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls025ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:866px;
left:366.887695px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls025ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:866px;
left:452.677368px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls025ClsTxt23
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:900px;
left:271.971466px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls025ClsTxt24
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:900px;
left:379.664886px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls025ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:935px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls025ClsTxt26
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:18.078430px;
top:430px;
left:574.973267px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls025ClsTxt27
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:18.078430px;
top:430px;
left:706.395691px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.span28
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls025ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:958px;
left:233.639923px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.span29
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:478.231720px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls025ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:332.206757px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls025ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:436.249542px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls025ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:498.310181px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls025ClsTxt33
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1030px;
left:332.206757px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls025ClsTxt34
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1030px;
left:498.310181px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls025ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1063px;
left:239.115860px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls025ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1097px;
left:226.338684px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls025ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:229.989288px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls025ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1165px;
left:231.814621px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls025ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:215.386795px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls025ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1233px;
left:162.452759px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls025ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1063px;
left:332.206757px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls025ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1097px;
left:332.206757px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls025ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1131px;
left:332.206757px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls025ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1165px;
left:332.206757px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls025ClsTxt45
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1199px;
left:332.206757px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls025ClsTxt46
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1233px;
left:332.206757px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls025ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1063px;
left:498.310181px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls025ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1097px;
left:498.310181px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls025ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1131px;
left:498.310181px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls025ClsTxt50
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1165px;
left:498.310181px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls025ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1199px;
left:498.310181px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls025ClsTxt52
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1233px;
left:498.310181px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.span53
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1063px;
left:620.606018px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.span54
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1097px;
left:620.606018px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.span55
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:620.606018px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls025ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:150.675583px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:480px;
left:323.080200px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.span58
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls025ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:513px;
left:277.447388px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls025ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:319.429565px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls025ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:547px;
left:328.556122px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.span61
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls025ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:582px;
left:243.766464px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.span62
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls025ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:230.989288px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls025ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:270.146149px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls025ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:650px;
left:299.351166px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.span65
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls025ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:685px;
left:286.573975px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.span66
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls025ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:164.278061px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls025ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:204.434921px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls025ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:752px;
left:297.525818px;
color:#000000;
}
.cls025ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:513px;
left:377.839539px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.span70
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:513px;
left:527.515137px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls025ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:547px;
left:377.839539px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls025ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:474.581116px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.span73
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:578.623840px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.span74
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:582px;
left:377.839539px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.span75
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:582px;
left:511.087341px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls025ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:615px;
left:377.839539px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.span77
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:489.183594px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls025ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:650px;
left:377.839539px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls025ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:496.484802px;
color:#000000;
}
.span80
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls025ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:685px;
left:377.839539px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls025ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:719px;
left:377.839539px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls025ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:752px;
left:377.839539px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls025ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:483.707642px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls025ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:47.458111px;
color:#FFFFFF;
}
.span85
{
color:#C00D0E;
}
.cls025ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1320px;
left:163.452759px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls025ClsTxt86
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:326.730835px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls025ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1320px;
left:348.634583px;
color:#C00D0E;
}
.span88
{
color:#C00D0E;
}
.span88
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls025ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1320px;
left:456.327972px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls025ClsTxt89
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:637.033875px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls025ClsTxt90
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1320px;
left:658.937622px;
color:#C00D0E;
}
.LtIt{
font-family:'CronosPro-LtIt';
}
.Lt
{
font-family:'CronosPro-Lt';
}
