@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span000052{
font-family:'CronosPro-Semibold';
color:#c00b0d;
}
.span0
{
color:#C00D0E;
}
.cls089ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:29px;
left:78.488411px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls089ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:171.579315px;
color:#000000;
}
.span2
{
color:#C00D0E;
}
.cls089ClsTxt2
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:171.579315px;
color:#000000;
}
.span3
{
color:#C00D0E;
}
.cls089ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:191.657745px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls089ClsTxt4
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:118px;
left:263.844910px;
color:#C00D0E;
}
.span5
{
color:#C00D0E;
}
.cls089ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:313.953644px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls089ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:171.579315px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls089ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:191.657745px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls089ClsTxt8
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:143px;
left:308.477692px;
color:#C00D0E;
}
.span9
{
color:#C00D0E;
}
.cls089ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:337.682709px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls089ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:171.579315px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls089ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:191.657745px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls089ClsTxt12
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:165px;
left:268.320862px;
color:#C00D0E;
}
.span13
{
color:#C00D0E;
}
.cls089ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:301.176453px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls089ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:441.725464px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls089ClsTxt15
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:165px;
left:511.087341px;
color:#C00D0E;
}
.span16
{
color:#C00D0E;
}
.cls089ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:562.196045px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls089ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:171.579315px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls089ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:191.657745px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls089ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:328.556122px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls089ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:171.579315px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls089ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:248.242401px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls089ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:171.579315px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls089ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:191.657745px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls089ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:454.502655px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls089ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:171.579315px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls089ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:191.657745px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls089ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:419.821716px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls089ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:286px;
left:171.579315px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls089ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:286px;
left:191.657745px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls089ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:286px;
left:322.254883px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls089ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:286px;
left:501.960785px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls089ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:171.579315px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls089ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:191.657745px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls089ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:501.960785px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls089ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:162.452759px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls089ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:191.657745px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls089ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:710.046326px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls089ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:162.452759px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls089ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:191.657745px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls089ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:346.809235px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls089ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:162.452759px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls089ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:191.657745px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls089ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:427.122955px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls089ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:162.452759px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls089ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:191.657745px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls089ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:315.778931px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls089ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:432.598907px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls089ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:162.452759px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls089ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:191.657745px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls089ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:445.376099px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls089ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:452px;
left:162.452759px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls089ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:452px;
left:191.657745px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls089ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:452px;
left:335.857391px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls089ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:452px;
left:602.352905px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls089ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:476px;
left:162.452759px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls089ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:476px;
left:191.657745px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls089ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:476px;
left:319.429565px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls089ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:476px;
left:529.340454px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls089ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:162.452759px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls089ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:191.657745px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls089ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:374.188934px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls089ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:596.877014px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls089ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:162.452759px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls089ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:191.657745px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls089ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:284.748657px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls089ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:549.418884px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls089ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:162.452759px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls089ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:191.657745px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls089ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:306.652405px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls089ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:538.467041px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls089ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:162.452759px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls089ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:191.657745px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls089ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:397.917999px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls089ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:644.335083px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls089ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:750.203186px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls089ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:595px;
left:248.242401px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls089ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:619px;
left:162.452759px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls089ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:619px;
left:191.657745px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls089ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:619px;
left:290.224579px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls089ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:619px;
left:494.659515px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls089ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:162.452759px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls089ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:191.657745px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls089ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:376.014252px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls089ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:589.575745px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls089ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:711.871643px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls089ClsTxt86
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:715px;
left:122.295898px;
color:#FFF374;
}
.span87
{
color:#C00D0E;
}
.cls089ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:717px;
left:710.504456px;
color:#C00D0E;
}
.span88
{
color:#C00D0E;
}
.span88
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls089ClsTxt88
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:766px;
left:171.579315px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls089ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:171.579315px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls089ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:191.657745px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls089ClsTxt91
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:793px;
left:365.887695px;
color:#C00D0E;
}
.span92
{
color:#C00D0E;
}
.cls089ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:405.219238px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls089ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:171.579315px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls089ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:191.657745px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls089ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:432.598907px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls089ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:843px;
left:171.579315px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls089ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:843px;
left:191.657745px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls089ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:843px;
left:375.188934px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls089ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:867px;
left:171.579315px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls089ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:867px;
left:191.657745px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls089ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:867px;
left:332.206757px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls089ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:171.579315px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls089ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:191.657745px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls089ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:328.556122px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls089ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:421.647064px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls089ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:171.579315px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls089ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:191.657745px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls089ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:485.532928px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls089ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:171.579315px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls089ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:191.657745px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls089ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:463.629242px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls089ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:171.579315px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls089ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:191.657745px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls089ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:397.917999px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls089ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:171.579315px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls089ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:191.657745px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls089ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:396.092651px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls089ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:162.452759px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.cls089ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:191.657745px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.cls089ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:425.297668px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls089ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1033px;
left:162.452759px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls089ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1033px;
left:191.657745px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls089ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1033px;
left:396.092651px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls089ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1057px;
left:162.452759px;
color:#000000;
}
.span125
{
color:#C00D0E;
}
.cls089ClsTxt125
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1057px;
left:191.657745px;
color:#000000;
}
.span126
{
color:#C00D0E;
}
.cls089ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1057px;
left:447.201416px;
color:#000000;
}
.span127
{
color:#C00D0E;
}
.cls089ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1080px;
left:162.452759px;
color:#000000;
}
.span128
{
color:#C00D0E;
}
.cls089ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1080px;
left:191.657745px;
color:#000000;
}
.span129
{
color:#C00D0E;
}
.cls089ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1080px;
left:399.743286px;
color:#000000;
}
.span130
{
color:#C00D0E;
}
.cls089ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1104px;
left:162.452759px;
color:#000000;
}
.span131
{
color:#C00D0E;
}
.cls089ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1104px;
left:191.657745px;
color:#000000;
}
.span132
{
color:#C00D0E;
}
.cls089ClsTxt132
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1104px;
left:480.057007px;
color:#000000;
}
.span133
{
color:#C00D0E;
}
.cls089ClsTxt133
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:162.452759px;
color:#000000;
}
.span134
{
color:#C00D0E;
}
.cls089ClsTxt134
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:191.657745px;
color:#000000;
}
.span135
{
color:#C00D0E;
}
.cls089ClsTxt135
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:512.912659px;
color:#000000;
}
.span136
{
color:#C00D0E;
}
.cls089ClsTxt136
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:162.452759px;
color:#000000;
}
.span137
{
color:#C00D0E;
}
.cls089ClsTxt137
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:191.657745px;
color:#000000;
}
.span138
{
color:#C00D0E;
}
.cls089ClsTxt138
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:499.310181px;
color:#000000;
}
.span139
{
color:#C00D0E;
}
.cls089ClsTxt139
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:162.452759px;
color:#000000;
}
.span140
{
color:#C00D0E;
}
.cls089ClsTxt140
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:191.657745px;
color:#000000;
}
.span141
{
color:#C00D0E;
}
.cls089ClsTxt141
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:408.869843px;
color:#000000;
}
.span142
{
color:#C00D0E;
}
.cls089ClsTxt142
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:638.859131px;
color:#000000;
}
.span143
{
color:#C00D0E;
}
.cls089ClsTxt143
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:162.452759px;
color:#000000;
}
.span144
{
color:#C00D0E;
}
.cls089ClsTxt144
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:191.657745px;
color:#000000;
}
.span145
{
color:#C00D0E;
}
.cls089ClsTxt145
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:361.411743px;
color:#000000;
}
.span146
{
color:#C00D0E;
}
.cls089ClsTxt146
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:587.750427px;
color:#000000;
}
.span147
{
color:#C00D0E;
}
.cls089ClsTxt147
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:162.452759px;
color:#000000;
}
.span148
{
color:#C00D0E;
}
.cls089ClsTxt148
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:191.657745px;
color:#000000;
}
.span149
{
color:#C00D0E;
}
.cls089ClsTxt149
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:358.586426px;
color:#000000;
}
.span150
{
color:#C00D0E;
}
.cls089ClsTxt150
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:496.484802px;
color:#000000;
}
.span151
{
color:#C00D0E;
}
.cls089ClsTxt151
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:162.452759px;
color:#000000;
}
.span152
{
color:#C00D0E;
}
.cls089ClsTxt152
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:191.657745px;
color:#000000;
}
.span153
{
color:#C00D0E;
}
.cls089ClsTxt153
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:381.490173px;
color:#000000;
}
.span154
{
color:#C00D0E;
}
.cls089ClsTxt154
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:595.051636px;
color:#000000;
}
.span155
{
color:#C00D0E;
}
.cls089ClsTxt155
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:111.344025px;
color:#FFF374;
}
.span156
{
color:#C00D0E;
}
.cls089ClsTxt156
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:761px;
left:111.344025px;
color:#FFF374;
}
