@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls036ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:38px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls036ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls036ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.span3
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls036ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.span4
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls036ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:188px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls036ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:250.543671px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls036ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:255.543671px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls036ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:255.543671px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls036ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:255.543671px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls036ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:255.543671px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls036ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:255.543671px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls036ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:188px;
left:447.201416px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls036ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:483.707642px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls036ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:483.707642px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls036ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:483.707642px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls036ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:480.707642px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls036ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:483.707642px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls036ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:483.707642px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls036ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:292px;
left:166.103378px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls036ClsTxt19
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:292px;
left:202.609619px;
color:#C00D0E;
}
.span20
{
color:#C00D0E;
}
.cls036ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:326px;
left:166.103378px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls036ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:361px;
left:166.103378px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls036ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:394px;
left:166.103378px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls036ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:166.103378px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls036ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:166.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls036ClsTxt25
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:502px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls036ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:535px;
left:186.181824px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls036ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:535px;
left:469.105133px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls036ClsTxt28
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:535px;
left:675.365417px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls036ClsTxt29
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:558px;
left:181.181824px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls036ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:558px;
left:470.930450px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls036ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:558px;
left:677.190674px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls036ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:582px;
left:186.181824px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls036ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:166.103378px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls036ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:186.181824px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls036ClsTxt35
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:623px;
left:379.664886px;
color:#C00D0E;
}
.span36
{
color:#C00D0E;
}
.cls036ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:916.306519px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls036ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:166.103378px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls036ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:186.181824px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls036ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:916.306519px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls036ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:671px;
left:166.103378px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls036ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:671px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls036ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:671px;
left:916.306519px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls036ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:695px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls036ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:695px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls036ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:695px;
left:916.306519px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls036ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:166.103378px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls036ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:186.181824px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls036ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:914.481201px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls036ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:166.103378px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls036ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:186.181824px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls036ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:916.306519px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls036ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:766px;
left:166.103378px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls036ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:766px;
left:186.181824px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls036ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:766px;
left:916.306519px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls036ClsTxt55
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:805px;
left:166.103378px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls036ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:166.103378px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls036ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:184.832443px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls036ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:624.256653px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls036ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:858px;
left:166.103378px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls036ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:858px;
left:189.832443px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls036ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:881px;
left:166.103378px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls036ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:881px;
left:189.832443px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls036ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:166.103378px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls036ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:189.832443px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls036ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:929px;
left:166.103378px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls036ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:929px;
left:189.832443px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls036ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:953px;
left:166.103378px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls036ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:953px;
left:189.832443px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls036ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:976px;
left:166.103378px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls036ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:976px;
left:189.832443px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls036ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1000px;
left:166.103378px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls036ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1000px;
left:189.832443px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls036ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1024px;
left:166.103378px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls036ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1024px;
left:189.832443px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls036ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:156.976822px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls036ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:189.832443px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls036ClsTxt77
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1088px;
left:166.103378px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls036ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1115px;
left:166.103378px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls036ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1115px;
left:186.181824px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls036ClsTxt80
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1115px;
left:456.327972px;
color:#C00D0E;
}
.span81
{
color:#C00D0E;
}
.cls036ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1115px;
left:914.481201px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls036ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1139px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls036ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1139px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls036ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1139px;
left:914.481201px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls036ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:166.103378px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls036ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:186.181824px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls036ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:914.481201px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls036ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1186px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls036ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1186px;
left:186.181824px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls036ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1186px;
left:914.481201px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls036ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1210px;
left:166.103378px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls036ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1210px;
left:186.181824px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls036ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1210px;
left:914.481201px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls036ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:166.103378px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls036ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:186.181824px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls036ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:914.481201px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls036ClsTxt97
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span98
{
color:#C00D0E;
}
.cls036ClsTxt98
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:497px;
left:96.741531px;
color:#FFF374;
}
.span99
{
color:#C00D0E;
}
.cls036ClsTxt99
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:800px;
left:96.741531px;
color:#FFF374;
}
.span100
{
color:#C00D0E;
}
.cls036ClsTxt100
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1081px;
left:96.741531px;
color:#FFF374;
}
