@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls080ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:772.106934px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls080ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:27px;
left:870.673767px;
color:#C00D0E;
}
.span2
{
color:#C00D0E;
}
.cls080ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:82px;
left:164.278061px;
color:#000000;
}
.span3
{
color:#C00D0E;
}
.cls080ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:111px;
left:160.627441px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls080ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:111px;
left:180.705872px;
color:#000000;
}

.cls080ClsTxt4a
{
font-size:16px;
}

.span5
{
color:#C00D0E;
}
.cls080ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:135px;
left:180.705872px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls080ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:136px;
left:201.609619px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls080ClsTxt7
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:133px;
left:248.242401px;
color:#C00D0E;
}
.span8
{
color:#C00D0E;
}
.cls080ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:135px;
left:445.376099px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls080ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:159px;
left:160.627441px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls080ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:159px;
left:180.705872px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls080ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:180.705872px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls080ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:201.609619px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls080ClsTxt13
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:180px;
left:324.905518px;
color:#C00D0E;
}
.span14
{
color:#C00D0E;
}
.cls080ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:516.563232px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls080ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:160.627441px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls080ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:180.705872px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls080ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:230px;
left:180.705872px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls080ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:230px;
left:783.058838px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls080ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:160.627441px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls080ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:253px;
left:180.705872px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls080ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:277px;
left:180.705872px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls080ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:277px;
left:202.609619px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls080ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:277px;
left:726.474121px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls080ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:301px;
left:160.627441px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls080ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:301px;
left:180.705872px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls080ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:325px;
left:180.705872px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls080ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:325px;
left:201.609619px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls080ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:325px;
left:657.112244px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls080ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:325px;
left:675.365417px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls080ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:348px;
left:160.627441px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls080ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:348px;
left:180.705872px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls080ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:180.705872px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls080ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:201.609619px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls080ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:755.679077px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls080ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:160.627441px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls080ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:180.705872px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls080ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:420px;
left:180.705872px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls080ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:420px;
left:702.745056px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls080ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:443px;
left:160.627441px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls080ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:443px;
left:180.705872px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls080ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:467px;
left:180.705872px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls080ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:467px;
left:202.609619px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls080ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:467px;
left:719.172852px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls080ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:160.627441px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls080ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:180.705872px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls080ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:180.705872px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls080ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:202.609619px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls080ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:699.094482px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls080ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:717.347534px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls080ClsTxt50
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:555px;
left:164.278061px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls080ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:595px;
left:171.579315px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls080ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:595px;
left:191.657745px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls080ClsTxt53
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:592px;
left:228.163986px;
color:#C00D0E;
}
.span54
{
color:#C00D0E;
}
.cls080ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:595px;
left:359.586426px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls080ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:618px;
left:191.657745px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls080ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:191.657745px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls080ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:421.647064px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls080ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:666px;
left:191.657745px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls080ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:757px;
left:171.579315px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls080ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:757px;
left:191.657745px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls080ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:781px;
left:191.657745px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls080ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:805px;
left:191.657745px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls080ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:805px;
left:501.960785px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls080ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:828px;
left:191.657745px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls080ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:828px;
left:498.310181px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls080ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:928px;
left:171.579315px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls080ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:928px;
left:191.657745px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls080ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:191.657745px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls080ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:976px;
left:191.657745px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls080ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:976px;
left:553.069519px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls080ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1000px;
left:191.657745px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls080ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1024px;
left:211.736176px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls080ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:191.657745px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls080ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:501.960785px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls080ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1071px;
left:191.657745px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls080ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:171.579315px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls080ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:191.657745px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls080ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:191.657745px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls080ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:191.657745px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls080ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:553.069519px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls080ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1190px;
left:191.657745px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls080ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:191.657745px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls080ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:470.930450px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls080ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1239px;
left:191.657745px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls080ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1239px;
left:432.598907px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls080ClsTxt86
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:79px;
left:101.392151px;
color:#FFF374;
}
.span87
{
color:#C00D0E;
}
.cls080ClsTxt87
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:550px;
left:101.392151px;
color:#FFF374;
}
.span88
{
color:#C00D0E;
}
.cls080ClsTxt88
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:770px;
left:624.256653px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls080ClsTxt89
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:790px;
left:613.304810px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls080ClsTxt90
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:990px;
left:826.866272px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls080ClsTxt91
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:1010px;
left:830.516907px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls080ClsTxt92
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:1205px;
left:825.866272px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls080ClsTxt93
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:1226px;
left:828.691589px;
color:#000000;
}
