@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls066ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:38px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls066ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:845.119385px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls066ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls066ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls066ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:91.440277px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.span5
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls066ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:556.720093px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls066ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:127px;
left:180.705872px;
color:#C00D0E;
}
.span7
{
color:#C00D0E;
}
.cls066ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:127px;
left:306.827087px;
color:#C00D0E;
}
.span8
{
color:#C00D0E;
}
.cls066ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:127px;
left:430.773590px;
color:#C00D0E;
}
.span9
{
color:#C00D0E;
}
.cls066ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:127px;
left:557.720093px;
color:#C00D0E;
}
.span10
{
color:#C00D0E;
}
.cls066ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:127px;
left:682.666687px;
color:#C00D0E;
}
.span11
{
color:#C00D0E;
}
.cls066ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:127px;
left:808.613159px;
color:#C00D0E;
}
.span12
{
color:#C00D0E;
}
.cls066ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:166.103378px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls066ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:186.181824px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls066ClsTxt14
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:374px;
left:303.001770px;
color:#C00D0E;
}
.span15
{
color:#C00D0E;
}
.cls066ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:341.333344px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls066ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:558.545410px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls066ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:578.623840px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls066ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:739.251282px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls066ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:166.103378px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls066ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:186.181824px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls066ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:343.158630px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls066ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:558.545410px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls066ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:578.623840px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls066ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:753.853760px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls066ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls066ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:186.181824px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls066ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:359.586426px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls066ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:558.545410px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls066ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:578.623840px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls066ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:741.076599px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.span31
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls066ClsTxt31
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:462px;
left:166.103378px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls066ClsTxt32
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:485px;
left:166.103378px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls066ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:166.103378px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls066ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:186.181824px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls066ClsTxt35
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:513px;
left:368.713013px;
color:#C00D0E;
}
.span36
{
color:#C00D0E;
}
.cls066ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:414.345795px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls066ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:166.103378px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls066ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:186.181824px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls066ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:492.834198px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls066ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:166.103378px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls066ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls066ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:461.803925px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls066ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls066ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls066ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:408.869843px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls066ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:166.103378px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls066ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:186.181824px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls066ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:326.730835px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls066ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:166.103378px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls066ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:186.181824px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls066ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:368.713013px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls066ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:166.103378px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls066ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:186.181824px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls066ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:355.935822px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls066ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:166.103378px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls066ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:186.181824px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls066ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:397.917999px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls066ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:166.103378px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls066ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:186.181824px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls066ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:414.345795px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls066ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:556.720093px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls066ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:157.976822px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls066ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:186.181824px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls066ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:562.196045px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls066ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:157.976822px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls066ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:186.181824px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls066ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:326.730835px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls066ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:157.976822px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls066ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:186.181824px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls066ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:303.001770px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls066ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:800px;
left:157.976822px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls066ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:800px;
left:186.181824px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls066ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:799px;
left:489.183594px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls066ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:823px;
left:157.976822px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls066ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:823px;
left:186.181824px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls066ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:823px;
left:540.292297px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls066ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:823px;
left:682.666687px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls066ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:157.976822px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls066ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:186.181824px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls066ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:399.743286px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.span81
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls066ClsTxt81
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:887px;
left:166.103378px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls066ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls066ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls066ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:332.206757px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls066ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:166.103378px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls066ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:186.181824px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls066ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:611.479492px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls066ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls066ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:186.181824px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls066ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:441.725464px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls066ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:986px;
left:166.103378px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls066ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:986px;
left:186.181824px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls066ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:986px;
left:529.340454px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls066ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:166.103378px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls066ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:186.181824px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls066ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1009px;
left:589.575745px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls066ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1034px;
left:166.103378px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls066ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1034px;
left:186.181824px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls066ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1034px;
left:376.014252px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.span100
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls066ClsTxt100
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1073px;
left:166.103378px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls066ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1130px;
left:166.103378px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls066ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:218.212112px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls066ClsTxt103
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1130px;
left:509.261993px;
color:#C00D0E;
}
.span104
{
color:#C00D0E;
}
.cls066ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:166.103378px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls066ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1154px;
left:209px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls066ClsTxt106
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1154px;
left:509.261993px;
color:#C00D0E;
}
.span107
{
color:#C00D0E;
}
.cls066ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1177px;
left:166.103378px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls066ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1178px;
left:248px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls066ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1178px;
left:493.834198px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls066ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:166.103378px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls066ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1202px;
left:223.688049px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls066ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1202px;
left:493.834198px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls066ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:166.103378px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls066ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:199.959000px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls066ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:166.103378px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls066ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1249px;
left:219px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls066ClsTxt117
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:457px;
left:91.440277px;
color:#FFF374;
}
.span118
{
color:#C00D0E;
}
.cls066ClsTxt118
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:880px;
left:91.440277px;
color:#FFF374;
}
.span119
{
color:#C00D0E;
}
.cls066ClsTxt119
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1068px;
left:91.440277px;
color:#FFF374;
}
.span120
{
color:#C00D0E;
}
.cls066ClsTxt120
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:162px;
left:554.069519px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls066ClsTxt121
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:325px;
left:825.040955px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls066ClsTxt122
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:161px;
left:618.780701px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls066ClsTxt123
{
position:absolute;
text-align: center;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:135px;
left:841.468750px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls066ClsTxt124
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:153px;
left:850.595337px;
color:#000000;
}
.bold
{
font-family:'CronosPro-Semibold';
color:#C00D0E;
}
