@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls012ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:849.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls012ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls012ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls012ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls012ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:182px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls012ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:266px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls012ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:340px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls012ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:466px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls012ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:529.340454px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls012ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:619px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls012ClsTxt10
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span11
{
color:#C00D0E;
}
.cls012ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:166.103378px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls012ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:186.181824px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls012ClsTxt13
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:373px;
left:281.098022px;
color:#C00D0E;
}
.span14
{
color:#C00D0E;
}
.cls012ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:529.340454px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls012ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:553.069519px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls012ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:574.973267px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls012ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:916.306519px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls012ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:166.103378px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls012ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:186.181824px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls012ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:529.340454px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls012ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:553.069519px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls012ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:574.973267px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls012ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:916.306519px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls012ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:166.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls012ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:186.181824px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls012ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:529.340454px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls012ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:553.069519px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls012ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:574.973267px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls012ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:916.306519px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls012ClsTxt30
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:461px;
left:166.103378px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls012ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:180.705872px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls012ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:273.796783px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls012ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:349px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls012ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:418px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls012ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:505px;
left:498.310181px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls012ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:549.418884px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls012ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:651.636353px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls012ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:733.775391px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls012ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:493px;
left:821.390381px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls012ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:517px;
left:181px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls012ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:517px;
left:273.796783px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls012ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:517px;
left:349px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls012ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:517px;
left:418px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls012ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:517px;
left:549.418884px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls012ClsTxt45
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:517px;
left:651.636353px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls012ClsTxt46
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:517px;
left:733.775391px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls012ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:516px;
left:821.390381px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls012ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:556px;
left:166.103378px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls012ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:556px;
left:186.181824px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls012ClsTxt50
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:555px;
left:629.732605px;
color:#C00D0E;
}
.span51
{
color:#C00D0E;
}
.cls012ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:556px;
left:762.980347px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls012ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:166.103378px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls012ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:186.181824px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls012ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:491.008911px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls012ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:166.103378px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls012ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:186.181824px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls012ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:677.190674px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls012ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:166.103378px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls012ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:186.181824px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls012ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:651px;
left:449.026733px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls012ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:675px;
left:166.103378px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls012ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:675px;
left:449.026733px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls012ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:699px;
left:166.103378px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls012ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:699px;
left:186.181824px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls012ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:699px;
left:596.877014px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls012ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:699px;
left:795.835999px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls012ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:166.103378px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls012ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:186.181824px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls012ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:472.755737px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls012ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:691.793213px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls012ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:746px;
left:166.103378px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls012ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:746px;
left:186.181824px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls012ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:746px;
left:646.160400px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls012ClsTxt74
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:786px;
left:166.103378px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls012ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:814px;
left:166.103378px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls012ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:814px;
left:186.181824px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.span77
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls012ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:814px;
left:576.798584px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls012ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:838px;
left:166.103378px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls012ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:838px;
left:186.181824px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls012ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:861px;
left:166.103378px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls012ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:861px;
left:186.181824px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls012ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:885px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls012ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:885px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls012ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:909px;
left:166.103378px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls012ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:909px;
left:186.181824px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls012ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:932px;
left:166.103378px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls012ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:932px;
left:186.181824px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls012ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls012ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:186.181824px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls012ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:323.080200px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls012ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:980px;
left:166.103378px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls012ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:980px;
left:186.181824px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls012ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1004px;
left:166.103378px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls012ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1004px;
left:186.181824px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls012ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1027px;
left:156.976822px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls012ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1027px;
left:186.181824px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls012ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1052px;
left:156.976822px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls012ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1052px;
left:186.181824px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls012ClsTxt99
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1091px;
left:166.103378px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls012ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:166.103378px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls012ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:186.181824px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls012ClsTxt102
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1119px;
left:346.809235px;
color:#C00D0E;
}
.span103
{
color:#C00D0E;
}
.cls012ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:407.044556px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls012ClsTxt104
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1119px;
left:564.021362px;
color:#C00D0E;
}
.span105
{
color:#C00D0E;
}
.cls012ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:613.304810px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls012ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:166.103378px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls012ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:186.181824px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls012ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:377.839539px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls012ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1167px;
left:166.103378px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls012ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1167px;
left:186.181824px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls012ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1167px;
left:412.520477px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls012ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1191px;
left:166.103378px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls012ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1191px;
left:186.181824px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls012ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1191px;
left:554.894775px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls012ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:166.103378px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls012ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:186.181824px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls012ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:511.087341px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls012ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1238px;
left:166.103378px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.cls012ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1238px;
left:186.181824px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.cls012ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1238px;
left:383.315491px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls012ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1238px;
left:664.413513px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls012ClsTxt122
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:455px;
left:96.741531px;
color:#FFF374;
}
.span123
{
color:#C00D0E;
}
.cls012ClsTxt123
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:780px;
left:96.741531px;
color:#FFF374;
}
.span124
{
color:#C00D0E;
}
.cls012ClsTxt124
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1086px;
left:96.741531px;
color:#FFF374;
}
.span125
{
color:#C00D0E;
}
.cls012ClsTxt125
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:179px;
left:180.705872px;
color:#C00D0E;
}
.span126
{
color:#C00D0E;
}
.cls012ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:179px;
left:304.827087px;
color:#C00D0E;
}
.span127
{
color:#C00D0E;
}
.cls012ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:179px;
left:430.773590px;
color:#C00D0E;
}
.span128
{
color:#C00D0E;
}
.cls012ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:179px;
left:556.720093px;
color:#C00D0E;
}
.span129
{
color:#C00D0E;
}
.cls012ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:179px;
left:682.666687px;
color:#C00D0E;
}
.span130
{
color:#C00D0E;
}
.cls012ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:179px;
left:808.613159px;
color:#C00D0E;
}
