@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls069ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:45.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls069ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls069ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:594px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.span3
{
font-family:'CronosPro-Regular';
font-size:38.331551px;
}
.cls069ClsTxt3
{
line-height: 110%;
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:22px;
left:151.675583px;
color:#FFFFFF;
}
.span4
{
color:#C00D0E;
}
.span4
{
font-weight:bold;
font-size:38.331551px;
}
.cls069ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:20px;
left:458.153259px;
color:#FFFFFF;
}
.span5
{
color:#C00D0E;
}
.cls069ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls069ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:150.675583px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls069ClsTxt7
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:162px;
left:178.880554px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls069ClsTxt8
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:162px;
left:246.417099px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls069ClsTxt9
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:162px;
left:553.069519px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls069ClsTxt10
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:162px;
left:631.557861px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls069ClsTxt11
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:186px;
left:166.103378px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls069ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:232.814621px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls069ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:186px;
left:538.467041px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls069ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:613.304810px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls069ClsTxt15
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:235px;
left:272.146149px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls069ClsTxt16
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:239px;
left:627.081970px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls069ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:347px;
left:166.103378px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls069ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:347px;
left:538.467041px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls069ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:370px;
left:233.639923px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls069ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:370px;
left:290.224579px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls069ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:370px;
left:574.973267px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls069ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:370px;
left:638.859131px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls069ClsTxt23
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:394px;
left:166.103378px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls069ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:394px;
left:233.639923px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls069ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:394px;
left:264.670227px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls069ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:394px;
left:341.333344px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls069ClsTxt27
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:394px;
left:538.467041px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls069ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:394px;
left:574.973267px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls069ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:394px;
left:613.304810px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls069ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:394px;
left:697.269165px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls069ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:166.103378px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls069ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:233.639923px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls069ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:606.003540px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.span34
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls069ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:485px;
left:233.639923px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.span35
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls069ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:485px;
left:606.003540px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls069ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:509px;
left:233.639923px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls069ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:509px;
left:261.019592px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls069ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:509px;
left:606.003540px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls069ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:509px;
left:633.383240px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.span40
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls069ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:533px;
left:233.639923px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.span41
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls069ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:533px;
left:606.003540px;
color:#000000;
}
.span42
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls069ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:150.675583px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls069ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:635px;
left:160.627441px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls069ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:635px;
left:226.338684px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls069ClsTxt45
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:635px;
left:237.290558px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls069ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:635px;
left:303.001770px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls069ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:670px;
left:228.163986px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls069ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:670px;
left:344.983948px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls069ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:670px;
left:430.773590px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.span50
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls069ClsTxt50
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:693px;
left:228.163986px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls069ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:693px;
left:281.098022px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls069ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:693px;
left:339.507996px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls069ClsTxt53
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:693px;
left:407.044556px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls069ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:717px;
left:228.163986px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls069ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:741px;
left:228.163986px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls069ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:741px;
left:292.049927px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls069ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:160.627441px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls069ClsTxt58
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:734px;
left:616.955383px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls069ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:228.163986px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.span60
{
font-weight:bold;
font-size:20.078430px;
}
.cls069ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:856px;
left:160.627441px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls069ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:228.163986px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls069ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:228.163986px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls069ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:914px;
left:295.700531px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls069ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:405.219238px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls069ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:228.163986px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls069ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:938px;
left:394.267365px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls069ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:427.122955px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls069ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:962px;
left:228.163986px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls069ClsTxt69
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:985px;
left:228.163986px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls069ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:255.543671px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls069ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:985px;
left:275.622101px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls069ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:357.761108px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls069ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:160.627441px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls069ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1077px;
left:228.163986px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls069ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1100px;
left:228.163986px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls069ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1124px;
left:228.163986px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls069ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1124px;
left:237.290558px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls069ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1124px;
left:277.447388px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls069ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1124px;
left:403.393921px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls069ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1124px;
left:445.376099px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls069ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1148px;
left:228.163986px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls069ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:228.163986px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls069ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1172px;
left:454.502655px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls069ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1195px;
left:228.163986px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls069ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:270.146149px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls069ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:228.163986px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls069ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1219px;
left:417.996429px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls069ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:507.436676px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls069ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:228.163986px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls069ClsTxt90
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:36.506241px;
color:#FFFFFF;
}
.span91
{
color:#C00D0E;
}
.cls069ClsTxt91
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:774px;
left:783.058838px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls069ClsTxt92
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:650px;
left:699.094482px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls069ClsTxt93
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:905px;
left:635.208557px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls069ClsTxt94
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:916px;
left:755.679077px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls069ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls069ClsTxt96
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:405.219238px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls069ClsTxt97
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:425.297668px;
color:#C00D0E;
}
.span98
{
color:#C00D0E;
}
.cls069ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:507.436676px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls069ClsTxt99
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:700.919739px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls069ClsTxt100
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:722.823486px;
color:#C00D0E;
}
.span101
{
color:#C00D0E;
}
.cls069ClsTxt101
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:734px;
left:825.040955px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls069ClsTxt102
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:1098px;
left:666.238831px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls069ClsTxt103
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:16.078430px;
top:1230px;
left:795.835999px;
color:#000000;
}
.bold
{
font-family:'CronosPro-Semibold';
}