@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls006ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:50px;
line-height:130%;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:51px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls006ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:86px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls006ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:147px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:147px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:147px;
left:300.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt6
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:150px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:202px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:202px;
left:313.333344px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:202px;
left:442.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:202px;
left:582.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:307px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:307px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt13
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:310px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:362px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:362px;
left:361.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:362px;
left:563.666687px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:427px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:427px;
left:361.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:531px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:531px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:531px;
left:493.333344px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:531px;
left:609.333313px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt23
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:534px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:587px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:587px;
left:285.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:587px;
left:483.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:654px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:654px;
left:285.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:756px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:756px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:756px;
left:276.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.00px;
}
.cls006ClsTxt32
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:759px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:813px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:813px;
left:387.666656px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.50px;
}
.cls006ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:878px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:878px;
left:387.666656px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.50px;
}
.cls006ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:982px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:982px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:982px;
left:336.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt40
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:984px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1038px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1038px;
left:281.333344px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1038px;
left:463.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1038px;
left:677.333313px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1142px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1142px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1142px;
left:485.333344px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.83px;
}
.cls006ClsTxt48
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1144px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1198px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1198px;
left:285.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1198px;
left:458.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1198px;
left:675.666687px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1302px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1302px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1302px;
left:225.333328px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1302px;
left:453.333344px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt57
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1304px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1358px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1358px;
left:291.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1358px;
left:481.666656px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1358px;
left:701.333313px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1462px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1462px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt64
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1464px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1518px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1518px;
left:275.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1518px;
left:448.333344px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1518px;
left:665.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1622px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1622px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1622px;
left:352.000000px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt72
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1624px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls006ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1678px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1678px;
left:310.333344px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1678px;
left:525.666687px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1742px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls006ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1742px;
left:310.333344px;
letter-spacing:0px;
color:#000000;
}
