@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"SymbolStd-SC700";src:url('../fonts/SymbolStd-SC700.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls011ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls011ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls011ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:524px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls011ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:939px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls011ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1121px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.span5
{
font-family:'CronosPro-Regular';
font-size:38.331551px;
}
.cls011ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:150.675583px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls011ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:166.103378px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls011ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:330.381470px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls011ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:573.147949px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls011ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:651.636353px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls011ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:357px;
left:149.675583px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls011ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:391px;
left:149.675583px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls011ClsTxt12
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:424px;
left:151.500885px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls011ClsTxt13
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:448px;
left:164.278061px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls011ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:423px;
left:236px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls011ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:447px;
left:236px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls011ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:149.675583px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.span17
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls011ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:559px;
left:217.212112px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls011ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:583px;
left:217.212112px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.span19
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls011ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:607px;
left:217.212112px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls011ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:630px;
left:217.212112px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls011ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:939px;
left:149.675583px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls011ClsTxt22
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:939px;
left:213.561478px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls011ClsTxt23
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:939px;
left:268.320862px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls011ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:939px;
left:324.905518px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.span25
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:973px;
left:149.675583px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls011ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1122px;
left:149.675583px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls011ClsTxt27
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1122px;
left:195.308380px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.span28
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls011ClsTxt28
{
position:absolute;
font-family:'SymbolStd-SC700';
font-size:20.078430px;
top:1119px;
left:273.796783px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls011ClsTxt29
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1122px;
left:334.032074px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls011ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:46px;
left:48.458111px;
color:#FFFFFF;
}
.span31
{
color:#C00D0E;
}
.cls011ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls011ClsTxt32
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:233.639923px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls011ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:253.718338px;
color:#C00D0E;
}
.span34
{
color:#C00D0E;
}
.cls011ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:423px;
left:326.730835px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls011ClsTxt35
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:447px;
left:326.730835px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls011ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:423px;
left:401.568604px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls011ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:447px;
left:401.568604px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls011ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:423px;
left:507.436676px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls011ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:447px;
left:507.436676px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls011ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:423px;
left:611.479492px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls011ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:447px;
left:611.479492px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls011ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:697.269165px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.span43
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:149.675583px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.span44
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:352.285187px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.span45
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:483.707642px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls011ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:718px;
left:149.675583px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls011ClsTxt47
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:760px;
left:166.103378px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls011ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:784px;
left:233px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls011ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:785px;
left:313.953644px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls011ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:807px;
left:233px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls011ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:831px;
left:233px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls011ClsTxt52
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:832px;
left:279.272705px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls011ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:857px;
left:233px;
line-height:115%;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls011ClsTxt54
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:856px;
left:240.941162px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls011ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:880px;
left:233.639923px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls011ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1014px;
left:233px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls011ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1014px;
left:301px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls011ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1014px;
left:317.604279px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls011ClsTxt59
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1015px;
left:352.285187px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls011ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:233px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls011ClsTxt61
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1038px;
left:279.272705px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls011ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1061px;
left:233px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls011ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1062px;
left:295.700531px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls011ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:233.639923px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.span65
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls011ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1186px;
left:233.639923px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls011ClsTxt66
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:760px;
left:465.454529px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls011ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:784px;
left:532.991028px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls011ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:785px;
left:564.021362px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls011ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:622.431396px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls011ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:785px;
left:657.112244px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls011ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:728.299438px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls011ClsTxt72
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:785px;
left:735.600708px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls011ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:762.980347px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls011ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:808px;
left:532.991028px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls011ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:808px;
left:669.889404px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls011ClsTxt76
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:808px;
left:675.365417px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls011ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:808px;
left:704.570374px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls011ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:532.991028px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls011ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:832px;
left:609.654175px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls011ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:728.299438px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls011ClsTxt81
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:832px;
left:733.775391px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls011ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:762.980347px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls011ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:856px;
left:532.991028px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls011ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:856px;
left:542.117615px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls011ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1014px;
left:532.991028px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls011ClsTxt86
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1015px;
left:564.021362px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls011ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:616.955383px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls011ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1015px;
left:651.636353px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.span89
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:704.570374px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls011ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:532.991028px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls011ClsTxt91
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1038px;
left:596.877014px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls011ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1061px;
left:532.991028px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls011ClsTxt93
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1062px;
left:542.117615px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls011ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:585.925110px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls011ClsTxt95
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1062px;
left:638.859131px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls011ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:532.991028px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.span97
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:755.679077px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.span98
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls011ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1186px;
left:532.991028px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls011ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:149.675583px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls011ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1258px;
left:217.212112px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.span101
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls011ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:346.809235px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.span102
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls011ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:713px;
left:783.058838px;
color:#000000;
}
