@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls044ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls044ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:845.119385px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls044ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls044ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls044ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:121px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls044ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:121px;
left:186.181824px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls044ClsTxt6
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:143px;
left:202.609619px;
color:#C00D0E;
}
.span7
{
color:#C00D0E;
}
.cls044ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:166.103378px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls044ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:186.181824px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls044ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:186.181824px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls044ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:166.103378px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls044ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:186.181824px;
color:#000000;
}
.cls044ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:186.181824px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls044ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:166.103378px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls044ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:186.181824px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls044ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:286px;
left:186.181824px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls044ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:286px;
left:915.481201px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls044ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:166.103378px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls044ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:186.181824px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls044ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:186.181824px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls044ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:166.103378px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls044ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:186.181824px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls044ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:382px;
left:186.181824px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls044ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:382px;
left:914.481201px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls044ClsTxt24
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:421px;
left:166.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls044ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:449px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls044ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:449px;
left:186.181824px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls044ClsTxt27
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:473px;
left:202.609619px;
color:#C00D0E;
}
.span28
{
color:#C00D0E;
}
.cls044ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:166.103378px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls044ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:186.181824px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls044ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:520px;
left:186.181824px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls044ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:545px;
left:166.103378px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls044ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:545px;
left:186.181824px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls044ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:568px;
left:186.181824px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls044ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:592px;
left:166.103378px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls044ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:592px;
left:186.181824px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls044ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:186.181824px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls044ClsTxt37
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:655px;
left:166.103378px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls044ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:684px;
left:166.103378px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls044ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:684px;
left:186.181824px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls044ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:708px;
left:186.181824px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls044ClsTxt41
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:707px;
left:352.285187px;
color:#C00D0E;
}
.span42
{
color:#C00D0E;
}
.cls044ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:708px;
left:914.481201px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls044ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:731px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls044ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:731px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls044ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:186.181824px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls044ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:914.481201px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls044ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:166.103378px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls044ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:186.181824px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls044ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:803px;
left:186.181824px;
color:#000000;
}
.cls044ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:803px;
left:914.481201px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls044ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:827px;
left:166.103378px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls044ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:827px;
left:186.181824px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls044ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:850px;
left:186.181824px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls044ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:850px;
left:914.481201px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls044ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:166.103378px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls044ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:186.181824px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls044ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:898px;
left:186.181824px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls044ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:898px;
left:914.481201px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls044ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:922px;
left:166.103378px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls044ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:922px;
left:186.181824px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls044ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:945px;
left:186.181824px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls044ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:945px;
left:914.481201px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls044ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:969px;
left:166.103378px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls044ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:969px;
left:186.181824px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls044ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:993px;
left:186.181824px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls044ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:993px;
left:914.481201px;
color:#000000;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
color:#c00d0e;
}
.cls044ClsTxt67
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1032px;
left:166.103378px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls044ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:166.103378px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls044ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:186.181824px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls044ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:186.181824px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls044ClsTxt71
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1083px;
left:295.875214px;
color:#C00D0E;
}
.span72
{
color:#C00D0E;
}
.cls044ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:914.481201px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls044ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1108px;
left:166.103378px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls044ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1108px;
left:186.181824px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls044ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:186.181824px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls044ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:914.481201px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls044ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1156px;
left:166.103378px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls044ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1156px;
left:186.181824px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls044ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1179px;
left:186.181824px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls044ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1179px;
left:914.481201px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls044ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1203px;
left:166.103378px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls044ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1203px;
left:186.181824px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls044ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1226px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls044ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1226px;
left:914.481201px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls044ClsTxt85
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:89.440277px;
color:#FFF374;
}
.span86
{
color:#C00D0E;
}
.cls044ClsTxt86
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:415px;
left:89.440277px;
color:#FFF374;
}
.span87
{
color:#C00D0E;
}
.cls044ClsTxt87
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:650px;
left:89.440277px;
color:#FFF374;
}
.span88
{
color:#C00D0E;
}
.cls044ClsTxt88
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1026px;
left:89.440277px;
color:#FFF374;
}
