@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#CB0307;
}
.cls035ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#CB0307;
}
.cls035ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FEFF59;
}
.span2
{
color:#CB0307;
}
.cls035ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:701px;
left:107.693398px;
color:#FEFF59;
}
.span3
{
color:#CB0307;
}
.cls035ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:972px;
left:105.868088px;
color:#FEFF59;
}
.span4
{
color:#CB0307;
}
.cls035ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1121px;
left:104.042778px;
color:#FEFF59;
}
.span5
{
color:#CB0307;
}
.span5
{
font-weight:bold;
font-size:38.331551px;
}
.cls035ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:24px;
left:149.675583px;
line-height:110%;
color:#FFFFFF;
}
.span6
{
color:#CB0307;
}
.cls035ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span7
{
color:#CB0307;
}
.cls035ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:166.103378px;
color:#030506;
}
.span8
{
color:#CB0307;
}
.cls035ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:197.133682px;
color:#030506;
}
.span9
{
color:#CB0307;
}
.cls035ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:213.561478px;
color:#030506;
}
.span10
{
color:#CB0307;
}
.cls035ClsTxt10
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:166.103378px;
color:#030506;
}
.span11
{
color:#CB0307;
}
.span11
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls035ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:166.103378px;
color:#030506;
}
.span12
{
color:#CB0307;
}
.cls035ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:432px;
left:233.639923px;
color:#030506;
}
.span13
{
color:#CB0307;
}
.cls035ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:432px;
left:279.272705px;
color:#030506;
}
.span14
{
color:#CB0307;
}
.cls035ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:423px;
left:330.381470px;
color:#030506;
}
.span15
{
color:#CB0307;
}
.cls035ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:432px;
left:416.171112px;
color:#030506;
}
.span16
{
color:#CB0307;
}
.cls035ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:447px;
left:330.381470px;
color:#030506;
}
.span17
{
color:#CB0307;
}
.span17
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:489px;
left:233.639923px;
color:#030506;
}
.span18
{
color:#CB0307;
}
.cls035ClsTxt18
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:480px;
left:308.477692px;
color:#030506;
}
.span19
{
color:#CB0307;
}
.cls035ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:489px;
left:386.966125px;
color:#030506;
}
.span20
{
color:#CB0307;
}
.cls035ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:504px;
left:308.477692px;
color:#030506;
}
.span21
{
color:#CB0307;
}
.span21
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:233.639923px;
color:#030506;
}
.span22
{
color:#CB0307;
}
.cls035ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:233.639923px;
color:#030506;
}
.span23
{
color:#CB0307;
}
.cls035ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:177.229935px;
color:#030506;
}
.span24
{
color:#CB0307;
}
.cls035ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:175.229935px;
color:#030506;
}
.span25
{
color:#CB0307;
}
.span25
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:339.507996px;
color:#030506;
}
.span26
{
color:#CB0307;
}
.cls035ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:553.069519px;
color:#030506;
}
.span27
{
color:#CB0307;
}
.cls035ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:585.925110px;
color:#030506;
}
.span28
{
color:#CB0307;
}
.cls035ClsTxt28
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:602.352905px;
color:#030506;
}
.span29
{
color:#CB0307;
}
.cls035ClsTxt29
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:553.069519px;
color:#030506;
}
.span30
{
color:#CB0307;
}
.span30
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls035ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:553.069519px;
color:#030506;
}
.span31
{
color:#CB0307;
}
.cls035ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:620.606018px;
color:#030506;
}
.span32
{
color:#CB0307;
}
.cls035ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:423px;
left:668.064148px;
color:#030506;
}
.span33
{
color:#CB0307;
}
.cls035ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:423px;
left:781.233521px;
color:#030506;
}
.span34
{
color:#CB0307;
}
.span34
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:480px;
left:620.606018px;
color:#030506;
}
.span35
{
color:#CB0307;
}
.span35
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:620.606018px;
color:#030506;
}
.span36
{
color:#CB0307;
}
.span36
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:620.606018px;
color:#030506;
}
.span37
{
color:#CB0307;
}
.cls035ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:712px;
left:166.103378px;
color:#030506;
}
.span38
{
color:#CB0307;
}
.cls035ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:712px;
left:197.133682px;
color:#030506;
}
.span39
{
color:#CB0307;
}
.cls035ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:712px;
left:213.561478px;
color:#030506;
}
.span40
{
color:#CB0307;
}
.cls035ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:735px;
left:233.639923px;
color:#030506;
}
.span41
{
color:#CB0307;
}
.cls035ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:735px;
left:240.941162px;
color:#030506;
}
.span42
{
color:#CB0307;
}
.cls035ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:735px;
left:286.573975px;
color:#030506;
}
.span43
{
color:#CB0307;
}
.cls035ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:735px;
left:332.206757px;
color:#030506;
}
.span44
{
color:#CB0307;
}
.span44
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls035ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:735px;
left:407.044556px;
color:#030506;
}
.span45
{
color:#CB0307;
}
.cls035ClsTxt45
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:735px;
left:432.598907px;
color:#030506;
}
.span46
{
color:#CB0307;
}
.cls035ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:759px;
left:233.639923px;
color:#030506;
}
.span47
{
color:#CB0307;
}
.cls035ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:166.103378px;
color:#030506;
}
.span48
{
color:#CB0307;
}
.cls035ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:166.103378px;
color:#030506;
}
.span49
{
color:#CB0307;
}
.span49
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:233.639923px;
color:#030506;
}
.span50
{
color:#CB0307;
}
.span50
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:233.639923px;
color:#030506;
}
.span51
{
color:#CB0307;
}
.span51
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:233.639923px;
color:#030506;
}
.span52
{
color:#CB0307;
}
.cls035ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:233.639923px;
color:#030506;
}
.span53
{
color:#CB0307;
}
.span53
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:259.194275px;
color:#030506;
}
.span54
{
color:#CB0307;
}
.cls035ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:712px;
left:553.069519px;
color:#030506;
}
.span55
{
color:#CB0307;
}
.cls035ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:712px;
left:585.925110px;
color:#030506;
}
.span56
{
color:#CB0307;
}
.cls035ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:712px;
left:602.352905px;
color:#030506;
}
.span57
{
color:#CB0307;
}
.cls035ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:735px;
left:620.606018px;
color:#030506;
}
.span58
{
color:#CB0307;
}
.cls035ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:735px;
left:629.732605px;
color:#030506;
}
.span59
{
color:#CB0307;
}
.cls035ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:735px;
left:671.714783px;
color:#030506;
}
.span60
{
color:#CB0307;
}
.cls035ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:735px;
left:753.853760px;
color:#030506;
}
.span61
{
color:#CB0307;
}
.cls035ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:805px;
left:553.069519px;
color:#030506;
}
.span62
{
color:#CB0307;
}
.cls035ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:805px;
left:620.606018px;
color:#030506;
}
.span63
{
color:#CB0307;
}
.cls035ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:805px;
left:637.033875px;
color:#030506;
}
.span64
{
color:#CB0307;
}
.cls035ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:805px;
left:669.889404px;
color:#030506;
}
.span65
{
color:#CB0307;
}
.cls035ClsTxt65
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:805px;
left:684.491943px;
color:#030506;
}
.span66
{
color:#CB0307;
}
.span66
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:840px;
left:620.606018px;
color:#030506;
}
.span67
{
color:#CB0307;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:620.606018px;
color:#030506;
}
.span68
{
color:#CB0307;
}
.span68
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:620.606018px;
color:#030506;
}
.span69
{
color:#CB0307;
}
.span69
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:620.606018px;
color:#030506;
}
.span70
{
color:#CB0307;
}
.span70
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:972px;
left:150.675583px;
color:#030506;
}
.span71
{
color:#CB0307;
}
.span71
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:233.639923px;
color:#030506;
}
.span72
{
color:#CB0307;
}
.cls035ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1038px;
left:233.639923px;
color:#030506;
}
.span73
{
color:#CB0307;
}
.cls035ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:233.639923px;
color:#030506;
}
.span74
{
color:#CB0307;
}
.span74
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:432.598907px;
color:#030506;
}
.span75
{
color:#CB0307;
}
.cls035ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1126px;
left:160.627441px;
color:#030506;
}
.span76
{
color:#CB0307;
}
.span76
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt76
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1126px;
left:266.495514px;
color:#030506;
}
.span77
{
color:#CB0307;
}
.span77
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt77
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1150px;
left:266.495514px;
color:#030506;
}
.span78
{
color:#CB0307;
}
.span78
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:620.606018px;
color:#030506;
}
.span79
{
color:#CB0307;
}
.cls035ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:620.606018px;
color:#030506;
}
.span80
{
color:#CB0307;
}
.span80
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls035ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:784.884094px;
color:#030506;
}
.span81
{
color:#CB0307;
}
.cls035ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:217.212112px;
color:#030506;
}
.span82
{
color:#CB0307;
}
.cls035ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:242.766464px;
color:#030506;
}
.span83
{
color:#CB0307;
}
.cls035ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:304.827087px;
color:#030506;
}
.span84
{
color:#CB0307;
}
.cls035ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1195px;
left:350.459869px;
color:#030506;
}
.span85
{
color:#CB0307;
}
.span85
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:436.249542px;
color:#030506;
}
.span86
{
color:#CB0307;
}
.cls035ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:217.212112px;
color:#030506;
}
.span87
{
color:#CB0307;
}
.cls035ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:266.495514px;
color:#030506;
}
.span88
{
color:#CB0307;
}
.cls035ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1219px;
left:292.049927px;
color:#030506;
}
.span89
{
color:#CB0307;
}
.span89
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:377.839539px;
color:#030506;
}
.span90
{
color:#CB0307;
}
.cls035ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:217.212112px;
color:#030506;
}
.span91
{
color:#CB0307;
}
.cls035ClsTxt91
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1243px;
left:264.670227px;
color:#030506;
}
.span92
{
color:#CB0307;
}
.cls035ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:348.634583px;
color:#030506;
}
.span93
{
color:#CB0307;
}
.span93
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls035ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:496.484802px;
color:#030506;
}
.span94
{
color:#CB0307;
}
.cls035ClsTxt94
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:47.458111px;
color:#FFFFFF;
}
.span95
{
color:#CB0307;
}
.span95
{
font-weight:bold;
font-size:18.253120px;
}
.cls035ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1319px;
left:164.452759px;
color:#030506;
}
.span97
{
color:#CB0307;
}
.cls035ClsTxt97
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:286.573975px;
color:#CB0307;
}
.span98
{
color:#CB0307;
}
.span98
{
font-weight:bold;
font-size:18.253120px;
}
.cls035ClsTxt98
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:359.586426px;
color:#030506;
}
.span100
{
color:#CB0307;
}
.cls035ClsTxt100
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:463.629242px;
color:#CB0307;
}
.span101
{
color:#CB0307;
}
.span101
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls035ClsTxt101
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:536.641724px;
color:#030506;
}
.span103
{
color:#CB0307;
}
.cls035ClsTxt103
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:804.962524px;
color:#CB0307;
}
