@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls049ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls049ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls049ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:519px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls049ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:921px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls049ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1127px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls049ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls049ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:288.399292px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.cls049ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:401.568604px;
color:#FFFFFF;
}
.span8
{
color:#C00D0E;
}
.cls049ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:542.117615px;
color:#FFFFFF;
}
.span9
{
color:#C00D0E;
}
.span9
{
font-weight:bold;
font-size:20.078430px;
}
.cls049ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:119px;
left:149.675583px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.span10
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls049ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:217.212112px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.span11
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls049ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:217.212112px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.span12
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:217.212112px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.span13
{
font-weight:bold;
font-size:20.078430px;
}
.cls049ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:519px;
left:150.675583px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.span14
{
font-weight:bold;
font-size:20.078430px;
}
.cls049ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:921px;
left:149.675583px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls049ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:955px;
left:149.675583px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.span16
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls049ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:978px;
left:217.212112px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls049ClsTxt17
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1002px;
left:149.675583px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.span18
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls049ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1002px;
left:217.212112px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.span19
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1002px;
left:522.039185px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls049ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1036px;
left:149.675583px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls049ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:182.531189px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls049ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:209.910858px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls049ClsTxt23
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:445.376099px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls049ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:531.165771px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls049ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:542.117615px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls049ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:627.907288px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls049ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:638.859131px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls049ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:689.967896px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls049ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:217.212112px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls049ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:350.459869px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.span31
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:474.581116px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls049ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:217.212112px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls049ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:346.809235px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.span34
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:436.249542px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls049ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:149.675583px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls049ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1128px;
left:244.591797px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls049ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:344.983948px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls049ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1128px;
left:359.586426px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls049ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:396.092651px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls049ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1128px;
left:401.568604px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls049ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:507.436676px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls049ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1128px;
left:516.563232px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls049ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:613.304810px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls049ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:217.212112px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls049ClsTxt45
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1152px;
left:388.791412px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls049ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:492.834198px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls049ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:567.671997px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls049ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1175px;
left:217.212112px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls049ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:313.953644px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls049ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:558.545410px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls049ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1210px;
left:149.675583px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt52
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1234px;
left:217.212112px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.span53
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:565.846680px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.span54
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:217.212112px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.span55
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:556.720093px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls049ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:36.506241px;
color:#FFFFFF;
}
.span57
{
color:#C00D0E;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:385px;
left:221.862732px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt58
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:385px;
left:476.406403px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.span59
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls049ClsTxt59
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:385px;
left:755.679077px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls049ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:783px;
left:215.386795px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls049ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:783px;
left:271.971466px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls049ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:783px;
left:465.454529px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls049ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:783px;
left:512.912659px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls049ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:783px;
left:741.076599px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls049ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:783px;
left:783.058838px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.span66
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls049ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:829px;
left:217.212112px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls049ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:853px;
left:217.212112px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.span68
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls049ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:876px;
left:217.212112px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.span69
{
font-family:'CronosPro-Semibold';
font-size:18.253120px;
}
.cls049ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1303px;
left:163.452759px;
color:#000000;
line-height:105%;
}
.span70
{
color:#C00D0E;
}
.cls049ClsTxt70
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1301px;
left:359.586426px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls049ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:381.490173px;
color:#C00D0E;
}
.span72
{
color:#C00D0E;
}
.cls049ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:489.183594px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls049ClsTxt73
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1301px;
left:671.714783px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls049ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:693.618469px;
color:#C00D0E;
}
.span75
{
color:#C00D0E;
}
.cls049ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:766.630981px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls049ClsTxt76
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1301px;
left:792.185303px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls049ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1301px;
left:812.263794px;
color:#C00D0E;
}
.span78
{
color:#C00D0E;
}
.span78
{
font-family:'CronosPro-Semibold';
font-size:18.253120px;
}
.cls049ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1320px;
left:162.452759px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls049ClsTxt79
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:297.525818px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls049ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1320px;
left:317.604279px;
color:#C00D0E;
}
.CSemibold
{
font-family:"CronosPro-Semibold" ;
}