@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls051ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls051ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls051ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:479px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls051ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:931px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls051ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:150.675583px;
color:#FFFFFF;
}
.span5
{
color:#C00D0E;
}
.cls051ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:219.037415px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls051ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:290.224579px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.cls051ClsTxt7
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:60px;
left:354.110504px;
color:#FFFFFF;
}
.span8
{
color:#C00D0E;
}
.cls051ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:119px;
left:149.675583px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls051ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:480px;
left:149.675583px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls051ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:317px;
left:217.212112px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls051ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:317px;
left:357.761108px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls051ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:341px;
left:217.212112px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls051ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:365px;
left:217.212112px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls051ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:389px;
left:217.212112px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls051ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:412px;
left:217.212112px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.span16
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:217.212112px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls051ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:166.103378px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls051ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:186.181824px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls051ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:365.062378px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls051ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:385.140808px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls051ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:562.196045px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls051ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:582.274475px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls051ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:761.155029px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls051ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:781.233521px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls051ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:839px;
left:149.675583px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls051ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:932px;
left:149.675583px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls051ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:35.506241px;
color:#FFFFFF;
}
.span28
{
color:#C00D0E;
}
.cls051ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:343.158630px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls051ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:363.237061px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls051ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:700.919739px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls051ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:720.998230px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls051ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:343.158630px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls051ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:363.237061px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls051ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:700.919739px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls051ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:720.998230px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls051ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:343.158630px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls051ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:363.237061px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls051ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:700.919739px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls051ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:720.998230px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls051ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:343.158630px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls051ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:363.237061px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls051ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:700.919739px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls051ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:720.998230px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls051ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:758px;
left:217.212112px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls051ClsTxt45
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:759px;
left:355.935822px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls051ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:759px;
left:478.231720px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls051ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:759px;
left:489.183594px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls051ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:782px;
left:217.212112px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls051ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:783px;
left:350.459869px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls051ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:806px;
left:217.212112px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls051ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:807px;
left:341.333344px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.span52
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls051ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:217.212112px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.span53
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls051ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:217.212112px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls051ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:758px;
left:688.142578px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls051ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:758px;
left:708.221008px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.span56
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:888px;
left:688.142578px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:973px;
left:417.996429px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:973px;
left:812.263794px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.span59
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:417.996429px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.span60
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:812.263794px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.span61
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:417.996429px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.span62
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:812.263794px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.span63
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:417.996429px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls051ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:832.342224px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls051ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:438.074829px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls051ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:217.212112px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls051ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:217.212112px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.span68
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls051ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:217.212112px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.span69
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls051ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:217.212112px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls051ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1233px;
left:149.675583px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.span71
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls051ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:217.212112px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls051ClsTxt72
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1177px;
left:817.739685px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls051ClsTxt73
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1255px;
left:792.185303px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.span74
{
font-weight:bold;
font-size:18.253120px;
}
.cls051ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls051ClsTxt75
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:317.604279px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls051ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:337.682709px;
color:#C00D0E;
}
.span77
{
color:#C00D0E;
}
.span77
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls051ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:412.520477px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls051ClsTxt78
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:522.039185px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls051ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:543.942932px;
color:#C00D0E;
}
.span80
{
color:#C00D0E;
}
.span80
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls051ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:626.081970px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls051ClsTxt81
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:746.552551px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls051ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:766.630981px;
color:#C00D0E;
}
