@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls064ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:37px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls064ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:845.119385px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls064ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls064ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls064ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:89.440277px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.span5
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls064ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:556.720093px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls064ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:166.103378px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls064ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:186.181824px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls064ClsTxt8
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:319px;
left:281.098022px;
color:#C00D0E;
}
.span9
{
color:#C00D0E;
}
.cls064ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:323.080200px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls064ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:553.069519px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls064ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:574.973267px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls064ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:748.377869px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls064ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:166.103378px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls064ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:186.181824px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls064ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:359.586426px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls064ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:553.069519px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls064ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:574.973267px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls064ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:717.347534px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls064ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:166.103378px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls064ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:186.181824px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls064ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:344.983948px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls064ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:553.069519px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls064ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:574.973267px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls064ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:391px;
left:575.973267px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls064ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:390px;
left:828.691589px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.span26
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls064ClsTxt26
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:431px;
left:166.103378px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls064ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:459px;
left:166.103378px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls064ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:459px;
left:186.181824px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls064ClsTxt29
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:459px;
left:341.333344px;
color:#C00D0E;
}
.span30
{
color:#C00D0E;
}
.cls064ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:459px;
left:378.839539px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls064ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:166.103378px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls064ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:186.181824px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls064ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:405.219238px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls064ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:506px;
left:166.103378px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls064ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:506px;
left:186.181824px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls064ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:506px;
left:522.039185px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls064ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:530px;
left:166.103378px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls064ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:530px;
left:186.181824px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls064ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:530px;
left:336.857391px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls064ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:166.103378px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls064ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls064ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:501.960785px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls064ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls064ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls064ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:385.140808px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls064ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:601px;
left:166.103378px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls064ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:601px;
left:186.181824px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls064ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:601px;
left:461.803925px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls064ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:625px;
left:166.103378px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls064ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:625px;
left:186.181824px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls064ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:625px;
left:408.869843px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls064ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:166.103378px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls064ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:186.181824px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls064ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:648px;
left:348.634583px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls064ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:157.976822px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls064ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:186.181824px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls064ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:388.791412px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls064ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:157.976822px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls064ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:186.181824px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls064ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:574.973267px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls064ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:157.976822px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls064ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:186.181824px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls064ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:335.857391px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls064ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:520.213867px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls064ClsTxt65
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:759px;
left:166.103378px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls064ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:788px;
left:166.103378px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls064ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:788px;
left:186.181824px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls064ClsTxt68
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:788px;
left:295.700531px;
color:#C00D0E;
}
.span69
{
color:#C00D0E;
}
.cls064ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:788px;
left:428.948303px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls064ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:788px;
left:492.834198px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls064ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:166.103378px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls064ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:186.181824px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls064ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:792.185303px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls064ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:808.613159px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls064ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:836px;
left:166.103378px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls064ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:836px;
left:186.181824px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls064ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:836px;
left:600.527588px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls064ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:836px;
left:753.853760px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls064ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:860px;
left:166.103378px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls064ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:860px;
left:186.181824px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls064ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:860px;
left:593.226318px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls064ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:860px;
left:609.654175px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls064ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:884px;
left:166.103378px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls064ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:884px;
left:186.181824px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls064ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:884px;
left:527.515137px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls064ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:884px;
left:792.185303px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls064ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:907px;
left:166.103378px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls064ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:907px;
left:186.181824px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls064ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:907px;
left:613.304810px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls064ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:907px;
left:629.732605px;
color:#000000;
}
.span91
{
font-family:'CronosPro-Semibold';
color:#C00D0E;
}
.cls064ClsTxt91
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:946px;
left:166.103378px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls064ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:975px;
left:166.103378px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls064ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:975px;
left:186.181824px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls064ClsTxt94
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:973px;
left:514.737976px;
color:#C00D0E;
}
.span95
{
color:#C00D0E;
}
.cls064ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:999px;
left:166.103378px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls064ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:999px;
left:186.181824px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls064ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1023px;
left:186.181824px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls064ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:166.103378px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls064ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:186.181824px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls064ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1070px;
left:186.181824px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls064ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1094px;
left:166.103378px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls064ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1094px;
left:186.181824px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls064ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:186.181824px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls064ClsTxt104
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1157px;
left:166.103378px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls064ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1185px;
left:166.103378px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls064ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1185px;
left:186.181824px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls064ClsTxt107
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1184px;
left:339.507996px;
color:#C00D0E;
}
.span108
{
color:#C00D0E;
}
.cls064ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1209px;
left:166.103378px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls064ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1209px;
left:186.181824px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls064ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1209px;
left:324.905518px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls064ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1233px;
left:166.103378px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls064ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1233px;
left:186.181824px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls064ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1233px;
left:324.905518px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls064ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:166.103378px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls064ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:186.181824px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls064ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1280px;
left:166.103378px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls064ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1280px;
left:186.181824px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls064ClsTxt118
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:424px;
left:89.440277px;
color:#FFF374;
}
.span119
{
color:#C00D0E;
}
.cls064ClsTxt119
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:754px;
left:89.440277px;
color:#FFF374;
}
.span120
{
color:#C00D0E;
}
.cls064ClsTxt120
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:940px;
left:89.440277px;
color:#FFF374;
}
.span121
{
color:#C00D0E;
}
.cls064ClsTxt121
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1150px;
left:89.440277px;
color:#FFF374;
}
.span122
{
color:#C00D0E;
}
.cls064ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:129px;
left:180.705872px;
color:#C00D0E;
}
.span123
{
color:#C00D0E;
}
.cls064ClsTxt123
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:136px;
left:217.212112px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls064ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:129px;
left:306.827087px;
color:#C00D0E;
}
.span125
{
color:#C00D0E;
}
.cls064ClsTxt125
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:129px;
left:430.773590px;
color:#C00D0E;
}
.span126
{
color:#C00D0E;
}
.cls064ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:129px;
left:557.720093px;
color:#C00D0E;
}
.span127
{
color:#C00D0E;
}
.cls064ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:129px;
left:683.666687px;
color:#C00D0E;
}
.span128
{
color:#C00D0E;
}
.cls064ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:129px;
left:808.613159px;
color:#C00D0E;
}
.span129
{
color:#C00D0E;
}
.cls064ClsTxt129
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:246px;
text-align:center;
line-height:115%;
left:556.720093px;
color:#000000;
}
.span130
{
color:#C00D0E;
}
.cls064ClsTxt130
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:263px;
left:582.274475px;
color:#000000;
}
.span131
{
color:#C00D0E;
}
.cls064ClsTxt131
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:283px;
left:573.147949px;
color:#000000;
}
.span132
{
color:#C00D0E;
}
.cls064ClsTxt132
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:255px;
text-align:center;
line-height:115%;
left:445.376099px;
color:#000000;
}
.span133
{
color:#C00D0E;
}
.cls064ClsTxt133
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:272px;
left:447.201416px;
color:#000000;
}
.span134
{
color:#C00D0E;
}
.cls064ClsTxt134
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:123px;
text-align:center;
line-height:115%;
left:854.245911px;
color:#000000;
}
.span135
{
color:#C00D0E;
}
.cls064ClsTxt135
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:140px;
left:870.673767px;
color:#000000;
}
