@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-LightIt";src:url('../fonts/SourceSansPro-LightIt.otf');}
@font-face{font-family:"SourceSansPro-Light";src:url('../fonts/SourceSansPro-Light.otf');}
@font-face{font-family:"SourceSansPro-Light";src:url('../fonts/SourceSansPro-Light.otf');}
@font-face{font-family:"SourceSansPro-Bold";src:url('../fonts/SourceSansPro-Bold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls081ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:78.488411px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls081ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:67px;
left:171.579315px;
color:#000000;
}
.span2
{
color:#C00D0E;
}
.cls081ClsTxt2
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:96px;
left:171.579315px;
color:#000000;
}
.span3
{
color:#C00D0E;
}
.cls081ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:96px;
left:191.657745px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls081ClsTxt4
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:93px;
left:388.966125px;
color:#C00D0E;
}
.span5
{
color:#C00D0E;
}
.cls081ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:171.579315px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls081ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:191.657745px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls081ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:171.579315px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls081ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:191.657745px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls081ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:171.579315px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls081ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:191.657745px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls081ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:171.579315px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls081ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:191.657745px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls081ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:171.579315px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls081ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:191.657745px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls081ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:288px;
left:122.295898px;
color:#FFF374;
}
.span16
{
color:#C00D0E;
}
.cls081ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:288px;
left:830.516907px;
color:#C00D0E;
}
.span17
{
color:#C00D0E;
}
.cls081ClsTxt17
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:339px;
left:171.579315px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls081ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:368px;
left:171.579315px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls081ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:368px;
left:191.657745px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls081ClsTxt20
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:366px;
left:210.910858px;
color:#C00D0E;
}
.span21
{
color:#C00D0E;
}
.cls081ClsTxt21
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:365px;
left:350.459869px;
color:#C00D0E;
}
.span22
{
color:#C00D0E;
}
.cls081ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:368px;
left:388.791412px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls081ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:368px;
left:414.345795px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls081ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:393px;
left:191.657745px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls081ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:392px;
left:208.085556px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls081ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:393px;
left:360.586426px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls081ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:392px;
left:376.014252px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls081ClsTxt28
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:393px;
left:522.039185px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls081ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:392px;
left:538.467041px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls081ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:393px;
left:700.919739px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls081ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:392px;
left:717.347534px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls081ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:171.579315px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls081ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:191.657745px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls081ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:512.912659px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls081ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:556.720093px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls081ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:451px;
left:191.657745px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls081ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:208.085556px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls081ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:450px;
left:358.761108px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls081ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:372.363647px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls081ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:451px;
left:555.894775px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls081ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:571.322571px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls081ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:451px;
left:720.998230px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls081ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:739.251282px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls081ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:484px;
left:171.579315px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls081ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:484px;
left:191.657745px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls081ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:484px;
left:591.401062px;
color:#000000;
}
.span47
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:508px;
left:191.657745px;
color:#000000;
}

.cls081ClsTxt47a
{
font-family:'CronosPro-Lt';
}

.span48
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:508px;
left:324.905518px;
color:#000000;
}
.span49
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:508px;
left:496.484802px;
color:#000000;
}
.span50
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt50
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:508px;
left:655.286926px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls081ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:171.579315px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls081ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:191.657745px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls081ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:323.080200px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls081ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:589.575745px;
color:#000000;
}
.span55
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt55
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:191.657745px;
color:#000000;
}
.span56
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:326.730835px;
color:#000000;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:436.249542px;
color:#000000;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt58
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:538.467041px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls081ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:171.579315px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls081ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:191.657745px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls081ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:494.659515px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls081ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:624px;
left:191.657745px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls081ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:208.085556px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls081ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:624px;
left:311.303009px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls081ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:326.730835px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls081ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:624px;
left:421.647064px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls081ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:438.074829px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls081ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:624px;
left:540.292297px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls081ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:558.545410px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls081ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:171.579315px;
color:#000000;
}

.cls081ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:191.657745px;
color:#000000;
}

.cls081ClsTxt71a
{
font-family:'CronosPro-LtIt';
}

.span72
{
color:#C00D0E;
}
.cls081ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:710.046326px;
color:#000000;
}
.span73
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:681px;
left:191.657745px;
color:#000000;
}
.span74
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:681px;
left:316.778931px;
color:#000000;
}
.span75
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:681px;
left:398.917999px;
color:#000000;
}
.span76
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:681px;
left:536.641724px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls081ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:171.579315px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls081ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:191.657745px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls081ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:463.629242px;
color:#000000;
}
.span80
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:739px;
left:191.657745px;
color:#000000;
}
.span81
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:739px;
left:304.827087px;
color:#000000;
}
.span82
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:739px;
left:439.900177px;
color:#000000;
}
.span83
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:739px;
left:555.894775px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls081ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:171.579315px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls081ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:191.657745px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls081ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:648.985718px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls081ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:797px;
left:191.657745px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls081ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:208.085556px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls081ClsTxt89
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:797px;
left:296.700531px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls081ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:312.128326px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls081ClsTxt91
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:797px;
left:410.695190px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls081ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:427.122955px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls081ClsTxt93
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:797px;
left:492.834198px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls081ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:509.261993px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls081ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:831px;
left:171.579315px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls081ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:831px;
left:191.657745px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls081ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:831px;
left:531.165771px;
color:#000000;
}
.span98
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt98
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:855px;
left:191.657745px;
color:#000000;
}
.span99
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt99
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:855px;
left:293.875214px;
color:#000000;
}
.span100
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt100
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:855px;
left:421.647064px;
color:#000000;
}
.span101
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt101
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:855px;
left:559.545410px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls081ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:162.452759px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls081ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:191.657745px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls081ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:534.816345px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls081ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:616.955383px;
color:#000000;
}
.span106
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt106
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:912px;
left:191.657745px;
color:#000000;
}
.span107
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt107
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:912px;
left:336.857391px;
color:#000000;
}
.span108
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt108
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:912px;
left:504.786072px;
color:#000000;
}
.span109
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt109
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:912px;
left:673.540100px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls081ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:162.452759px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls081ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:191.657745px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls081ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:888.926880px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls081ClsTxt113
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:971px;
left:191.657745px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls081ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:208.085556px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls081ClsTxt115
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:971px;
left:348.634583px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls081ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:363.237061px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls081ClsTxt117
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:971px;
left:520.213867px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls081ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:536.641724px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.cls081ClsTxt119
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:971px;
left:682.666687px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.cls081ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:699.094482px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls081ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1005px;
left:162.452759px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls081ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1004px;
left:191.657745px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls081ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1004px;
left:542.117615px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls081ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1004px;
left:573.147949px;
color:#000000;
}
.span125
{
font-family:'CronosPro-Lt';
}
.cls081ClsTxt125
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1028px;
left:191.657745px;
color:#000000;
}
.span126
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt126
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1028px;
left:364.237061px;
color:#000000;
}
.span127
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt127
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1028px;
left:531.165771px;
color:#000000;
}
.span128
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt128
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1028px;
left:691.793213px;
color:#000000;
}
.span129
{
color:#C00D0E;
}
.cls081ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:162.452759px;
color:#000000;
}
.span130
{
color:#C00D0E;
}
.cls081ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:191.657745px;
color:#000000;
}
.span131
{
color:#C00D0E;
}
.cls081ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:500.135468px;
color:#000000;
}
.span132
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt132
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1086px;
left:191.657745px;
color:#000000;
}
.span133
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt133
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1086px;
left:338.682709px;
color:#000000;
}
.span134
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt134
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1086px;
left:509.261993px;
color:#000000;
}
.span135
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt135
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1086px;
left:659.937622px;
color:#000000;
}
.span136
{
color:#C00D0E;
}
.cls081ClsTxt136
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:162.452759px;
color:#000000;
}
.span137
{
color:#C00D0E;
}
.cls081ClsTxt137
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:191.657745px;
color:#000000;
}
.span138
{
color:#C00D0E;
}
.cls081ClsTxt138
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:328.556122px;
color:#000000;
}
.span139
{
color:#C00D0E;
}
.cls081ClsTxt139
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1120px;
left:624.256653px;
color:#000000;
}
.span140
{
color:#C00D0E;
}
.cls081ClsTxt140
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1144px;
left:191.657745px;
color:#000000;
}
.span141
{
color:#C00D0E;
}
.cls081ClsTxt141
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:208.085556px;
color:#000000;
}
.span142
{
color:#C00D0E;
}
.cls081ClsTxt142
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1144px;
left:334.032074px;
color:#000000;
}
.span143
{
color:#C00D0E;
}
.cls081ClsTxt143
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:348.634583px;
color:#000000;
}
.span144
{
color:#C00D0E;
}
.cls081ClsTxt144
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1144px;
left:507.436676px;
color:#000000;
}
.span145
{
color:#C00D0E;
}
.cls081ClsTxt145
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:523.864502px;
color:#000000;
}
.span146
{
color:#C00D0E;
}
.cls081ClsTxt146
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1144px;
left:679.015991px;
color:#000000;
}
.span147
{
color:#C00D0E;
}
.cls081ClsTxt147
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:695.443848px;
color:#000000;
}
.span148
{
color:#C00D0E;
}
.cls081ClsTxt148
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1178px;
left:162.452759px;
color:#000000;
}
.span149
{
color:#C00D0E;
}
.cls081ClsTxt149
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1178px;
left:191.657745px;
color:#000000;
}
.span150
{
color:#C00D0E;
}
.cls081ClsTxt150
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1202px;
left:454.502655px;
color:#000000;
}
.span151
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt151
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1225px;
left:191.657745px;
color:#000000;
}
.span152
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt152
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1225px;
left:314.953644px;
color:#000000;
}
.span153
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt153
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1225px;
left:430.773590px;
color:#000000;
}
.span154
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls081ClsTxt154
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1225px;
left:562.196045px;
color:#000000;
}
.span155
{
color:#C00D0E;
}
.cls081ClsTxt155
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:62px;
left:111.344025px;
color:#FFF374;
}
.span156
{
color:#C00D0E;
}
.cls081ClsTxt156
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:334px;
left:111.344025px;
color:#FFF374;
}
.pg11_tquestions-top {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:22px;
margin-left:20px;
}
.rubric {
position:relative;
font-family:'CronosPro-Regular';
font-size:27px;
margin-top:22px;
margin-left:35px;
}
.pg11_tanswer
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
padding:10px 25px 10px 15px;
}
.pg11_answer
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
margin:10px 30px 10px 70px;
padding:10px 25px 10px 15px;
}
.pg11_question-top {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:27px;
margin-left:36px;
}
.pg11_question {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:20px;
margin-left:36px;
}
.u100question {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:37px;
margin-left:36px;
}
.pg11_italic
{
font-family: "SourceSansPro-LightIt";
}
.header {
position:relative;
border-top-left-radius:22px;
border-top-right-radius:22px;
width:962px;
height:58px;
background-color:#c02012;
}
.exe {
position:relative;
font-family:'SourceSansPro-Bold';
font-size:25px;
color:#ffffff;
padding-top:12px;
margin-left:35px;
}


.pg11_question-top-lt {
position:relative;
font-family:'SourceSansPro-Light';
font-size: 27px;
margin-top:0px;
margin-left:40px;
}
.pg11_question-top-lta {
position:relative;
font-family:'SourceSansPro-Light';
font-size: 27px;
margin-top:22px;
margin-left:40px;
}
.pg11_answer-lt
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
margin: 0px 0px 10px 50px;
padding:10px 25px 10px 15px;
}
.pg11_answer-lt-bg
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
background-color:#ffff99;
border-radius:25px;
margin:10px 30px 10px 60px;
padding:10px 25px 10px 15px;
}