@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls033ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:45.807484px;
color:#FFFFFF;
}
.zap {
font-family:'ZapfDingbatsStd';
}
.underline-nor
{
font-family:'CronosPro-Semibold';
text-decoration:underline;
color:#c00d0e;
}
.span0051{
font-family:'CronosPro-Semibold';
}
.span0052{
font-family:"CronosPro-LtIt" ;
}
.span0053{
font-family:"CronosPro-Lt" ;
}
.span1
{
color:#C00D0E;
}
.cls033ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls033ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:374px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls033ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:716px;
left:106.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls033ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:882px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls033ClsTxt5
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1113px;
left:109.518707px;
color:#FFF374;
}
.span6
{
color:#C00D0E;
}
.cls033ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:149.675583px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.cls033ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:248.242401px;
color:#FFFFFF;
}
.span8
{
color:#C00D0E;
}
.cls033ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:341.333344px;
color:#FFFFFF;
}
.span9
{
color:#C00D0E;
}
.cls033ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:414.345795px;
color:#FFFFFF;
}
.span10
{
color:#C00D0E;
}
.cls033ClsTxt10
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:489.183594px;
color:#FFFFFF;
}
.span11
{
color:#C00D0E;
}
.cls033ClsTxt11
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:140px;
left:176.229935px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls033ClsTxt12
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:140px;
left:231.814621px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls033ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:140px;
left:284.748657px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls033ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:140px;
left:326.730835px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls033ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:140px;
left:370.538300px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.span16
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls033ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:185px;
left:165.103378px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls033ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:208px;
left:166.103378px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls033ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:149.675583px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls033ClsTxt19
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:243px;
left:295.700531px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls033ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:243px;
left:388.791412px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls033ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:243px;
left:564.021362px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls033ClsTxt22
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:243px;
left:720.998230px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls033ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:308px;
left:390.616760px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls033ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:308px;
left:516.563232px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls033ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:308px;
left:551.244202px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls033ClsTxt26
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:407px;
left:258.368988px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls033ClsTxt27
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:407px;
left:409.869843px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls033ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:191.657745px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls033ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:193.483063px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls033ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:487px;
left:197.133682px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls033ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:511px;
left:182.531189px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls033ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:217.212112px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls033ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:559px;
left:161.627441px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls033ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:440px;
left:355.935822px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls033ClsTxt35
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:463px;
left:355.935822px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls033ClsTxt36
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:487px;
left:355.935822px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls033ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:511px;
left:355.935822px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls033ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:535px;
left:355.935822px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls033ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:558px;
left:355.935822px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls033ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:150.675583px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls033ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:326.730835px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls033ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:355.935822px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls033ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:604px;
left:414.345795px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls033ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:449.026733px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls033ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:217.212112px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls033ClsTxt46
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:628px;
left:657.112244px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls033ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:691.793213px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls033ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:671px;
left:217.212112px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls033ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:671px;
left:518.388550px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls033ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:671px;
left:553.069519px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls033ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:149.675583px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls033ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:171.579315px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls033ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:408.869843px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls033ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:408.869843px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls033ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:487px;
left:408.869843px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls033ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:511px;
left:408.869843px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls033ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:408.869843px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls033ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:558px;
left:408.869843px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls033ClsTxt59
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:749px;
left:267.495514px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls033ClsTxt60
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:749px;
left:406.219238px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls033ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:782px;
left:232.814621px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls033ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:806px;
left:178.880554px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls033ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:829px;
left:161.627441px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls033ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:781px;
left:365.062378px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls033ClsTxt65
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:805px;
left:365.062378px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls033ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:828px;
left:365.062378px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls033ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:615.130127px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls033ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:615.130127px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls033ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:781px;
left:405.219238px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls033ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:805px;
left:405.219238px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls033ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:828px;
left:405.219238px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.span72
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls033ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:885px;
left:150.675583px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls033ClsTxt73
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:918px;
left:285.748657px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls033ClsTxt74
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:918px;
left:471.930450px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls033ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:204.434921px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls033ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:162.452759px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls033ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:998px;
left:264.670227px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls033ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:951px;
left:385.140808px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls033ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:974px;
left:385.140808px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls033ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:998px;
left:385.140808px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls033ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:469.105133px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls033ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:469.105133px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls033ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:998px;
left:469.105133px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls033ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:150.675583px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls033ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:219.037415px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls033ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:217.212112px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls033ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:410.695190px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls033ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1112px;
left:150.675583px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls033ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1136px;
left:217.212112px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls033ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:217.212112px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls033ClsTxt91
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:48.458111px;
color:#FFFFFF;
}
.span92
{
color:#C00D0E;
}
.span92
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls033ClsTxt92
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1319px;
left:163.452759px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls033ClsTxt93
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:332.206757px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls033ClsTxt94
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:352.285187px;
color:#C00D0E;
}
