@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls065ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:20px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls065ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls065ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:624px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls065ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1094px;
left:107.693398px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.span4
{
font-family:'CronosPro-Regular';
font-size:38.331551px;
}
.cls065ClsTxt4
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:62px;
left:149.675583px;
color:#FFFFFF;
}
.span5
{
color:#C00D0E;
}
.cls065ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:60px;
left:565.846680px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls065ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:126px;
left:160.627441px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls065ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:126px;
left:191.657745px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls065ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:126px;
left:286.573975px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls065ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:126px;
left:313.953644px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.span10
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:155px;
left:160.627441px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.span11
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:184px;
left:160.627441px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.span12
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:213px;
left:160.627441px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls065ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:241px;
left:160.627441px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls065ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:270px;
left:160.627441px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls065ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:299px;
left:160.627441px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls065ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:299px;
left:211.736176px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls065ClsTxt17
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:299px;
left:295.700531px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls065ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:299px;
left:323.080200px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls065ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:160.627441px;
color:#000000;
}
.span20
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls065ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:259.194275px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls065ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:328px;
left:299.351166px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls065ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:366.887695px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.span23
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:160.627441px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.span24
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:150px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.span25
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:449px;
left:217.212112px;
color:#000000;
}
.span26
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls065ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:473px;
left:217.212112px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls065ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:496px;
left:217.212112px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls065ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:149.675583px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls065ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:209.910858px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls065ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:624px;
left:220.862732px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls065ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:624px;
left:288.399292px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls065ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:624px;
left:299.351166px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.span33
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:663px;
left:166.103378px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls065ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1095px;
left:149.675583px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.span35
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1129px;
left:149.675583px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls065ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:126px;
left:481.882324px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls065ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:126px;
left:527.515137px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls065ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:126px;
left:558.545410px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls065ClsTxt39
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:126px;
left:585.925110px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls065ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:126px;
left:613.304810px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.span41
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:155px;
left:481.882324px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls065ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:155px;
left:744.727295px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.span43
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:184px;
left:481.882324px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.span44
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:213px;
left:481.882324px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls065ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:241px;
left:481.882324px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls065ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:270px;
left:481.882324px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls065ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:270px;
left:551.244202px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls065ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:270px;
left:622.431396px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls065ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:299px;
left:481.882324px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls065ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:299px;
left:536.641724px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls065ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:299px;
left:651.636353px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls065ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:299px;
left:679.015991px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls065ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:481.882324px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls065ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:481.882324px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.span55
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:481.882324px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls065ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:217.212112px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1176px;
left:218.212112px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:565.846680px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls065ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1210px;
left:149.675583px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls065ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:217.212112px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.span61
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1258px;
left:218.212112px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls065ClsTxt62
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1257px;
left:485.532928px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls065ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:36.506241px;
color:#FFFFFF;
}
.span64
{
color:#C00D0E;
}
.cls065ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls065ClsTxt65
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:198.959000px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls065ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:219.037415px;
color:#C00D0E;
}
.span67
{
color:#C00D0E;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:18.253120px;
}
.cls065ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:293.875214px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls065ClsTxt68
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:421.647064px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls065ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:441.725464px;
color:#C00D0E;
}
.span70
{
color:#C00D0E;
}
.span70
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:687px;
left:522.039185px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.span71
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:711px;
left:522.039185px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.span72
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:734px;
left:522.039185px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.span73
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:789px;
left:166.103378px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls065ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:166.103378px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.span75
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:836px;
left:522.039185px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.span76
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls065ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:859px;
left:522.039185px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls065ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:936px;
left:166.103378px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls065ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:936px;
left:248.242401px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls065ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:166.103378px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls065ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:522.039185px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls065ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:984px;
left:522.039185px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls065ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:984px;
left:611.479492px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls065ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:522.039185px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls065ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1007px;
left:684.491943px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls065ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:770.281616px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls065ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1031px;
left:522.039185px;
color:#000000;
}
.bold
{
font-family:'CronosPro-Semibold';
}
.smallcap
{
font-size: 80%;
}
