@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls088ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:29px;
left:772.106934px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls088ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:27px;
left:870.673767px;
color:#C00D0E;
}
.span2
{
color:#C00D0E;
}
.cls088ClsTxt2
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:101px;
left:111.344025px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls088ClsTxt3
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:102px;
left:730px;
color:#C00D0E;
}
.span4
{
color:#C00D0E;
}
.cls088ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:148px;
left:102.392151px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls088ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:160.627441px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls088ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:193px;
left:175.229935px;
color:#C00D0E;
}
.span7
{
color:#C00D0E;
}
.cls088ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:415px;
left:175.229935px;
color:#C00D0E;
}
.span8
{
color:#C00D0E;
}
.cls088ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:637px;
left:175.229935px;
color:#C00D0E;
}
.span9
{
color:#C00D0E;
}
.cls088ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:860px;
left:175.229935px;
color:#C00D0E;
}
.span10
{
color:#C00D0E;
}
.cls088ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:1082px;
left:176.229935px;
color:#C00D0E;
}
.span11
{
color:#C00D0E;
}
.cls088ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:193px;
left:554.069519px;
color:#C00D0E;
}
.span12
{
color:#C00D0E;
}
.cls088ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:199px;
left:215.386795px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls088ClsTxt13
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:195px;
left:323.080200px;
color:#C00D0E;
}
.span14
{
color:#C00D0E;
}
.cls088ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:199px;
left:421.647064px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls088ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:199px;
left:595.051636px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls088ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:199px;
left:823.215637px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls088ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:415px;
left:554.069519px;
color:#C00D0E;
}
.span18
{
color:#C00D0E;
}
.cls088ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:638px;
left:553px;
color:#C00D0E;
}
.span19
{
color:#C00D0E;
}
.cls088ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:860px;
left:553px;
color:#C00D0E;
}
.span20
{
color:#C00D0E;
}
.cls088ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:1083px;
left:549px;
color:#C00D0E;
}
.span21
{
color:#C00D0E;
}
.cls088ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:370px;
left:786.709412px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls088ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:422px;
left:595.051636px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls088ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:590px;
left:727.474121px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls088ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:590px;
left:884.276245px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls088ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:644px;
left:596.877014px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls088ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:814px;
left:688.142578px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls088ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:814px;
left:887.101563px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls088ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:867px;
left:619.780701px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls088ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:887px;
left:726.474121px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls088ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:867px;
left:790.360046px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls088ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:887px;
left:799.486572px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls088ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1089px;
left:600.527588px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls088ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1238px;
left:696.443848px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls088ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1258px;
left:815.914368px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls088ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:422px;
left:219.037415px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls088ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:572px;
left:334.032074px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls088ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:591px;
left:461.803925px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls088ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:644px;
left:274.796783px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls088ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:665px;
left:272.971466px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls088ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:684px;
left:408.869843px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls088ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:866px;
left:321.254883px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls088ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1017px;
left:401.568604px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls088ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1037px;
left:505.611389px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls088ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1089px;
left:300.351166px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls088ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1110px;
left:419.821716px;
color:#000000;
}
