@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls022ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls022ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls022ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:25px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.span3
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls022ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls022ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:124px;
left:180.705872px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls022ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:124px;
left:260.844910px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls022ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:124px;
left:350.459869px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls022ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:124px;
left:423.472351px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls022ClsTxt8
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span9
{
color:#C00D0E;
}
.cls022ClsTxt9
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:306px;
left:284.748657px;
color:#000000;
line-height:115%;
}
.span10
{
color:#C00D0E;
}
.cls022ClsTxt10
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:323px;
left:284.748657px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls022ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:385px;
left:166.103378px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls022ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:385px;
left:186.181824px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls022ClsTxt13
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:385px;
left:310.303009px;
color:#C00D0E;
}
.span14
{
color:#C00D0E;
}
.cls022ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:385px;
left:529.340454px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls022ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:385px;
left:553.069519px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls022ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:385px;
left:574.973267px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls022ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:385px;
left:916.306519px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls022ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:166.103378px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls022ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:186.181824px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls022ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:529.340454px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls022ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:553.069519px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls022ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:574.973267px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls022ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:916.306519px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.span24
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls022ClsTxt24
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:449px;
left:166.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls022ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:482px;
left:180.705872px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls022ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:482px;
left:235.465225px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls022ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:482px;
left:299.351166px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls022ClsTxt28
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:482px;
left:381.140808px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls022ClsTxt29
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:442px;
left:96.741531px;
color:#FFF374;
}
.span30
{
color:#C00D0E;
}
.cls022ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:174px;
left:180.705872px;
color:#C00D0E;
}
.span31
{
color:#C00D0E;
}
.cls022ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:174px;
left:370.538300px;
color:#C00D0E;
}
.span32
{
color:#C00D0E;
}
.cls022ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:174px;
left:558.545410px;
color:#C00D0E;
}
.span33
{
color:#C00D0E;
}
.cls022ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:174px;
left:748.377869px;
color:#C00D0E;
}
.span34
{
color:#C00D0E;
}
.cls022ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:741px;
left:166.103378px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls022ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:741px;
left:186.181824px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls022ClsTxt36
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:741px;
left:228.163986px;
color:#C00D0E;
}
.span37
{
color:#C00D0E;
}
.cls022ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:741px;
left:529.340454px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls022ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:741px;
left:553.069519px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls022ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:741px;
left:574.973267px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls022ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:741px;
left:918.131836px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls022ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:765px;
left:166.103378px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls022ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:765px;
left:186.181824px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls022ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:765px;
left:529.340454px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls022ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:765px;
left:553.069519px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls022ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:765px;
left:574.973267px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls022ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:765px;
left:916.306519px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.span47
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls022ClsTxt47
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:805px;
left:166.103378px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls022ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:182.531189px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls022ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:235.465225px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls022ClsTxt50
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:290.875214px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls022ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:366.713013px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls022ClsTxt52
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:438.074829px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls022ClsTxt53
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:492.834198px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls022ClsTxt54
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:587.750427px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls022ClsTxt55
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:660.762939px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls022ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:726.474121px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls022ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:166.103378px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls022ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:186.181824px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls022ClsTxt59
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:878px;
left:262.844910px;
color:#C00D0E;
}
.span60
{
color:#C00D0E;
}
.cls022ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:376.014252px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls022ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:509.261993px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls022ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:901px;
left:166.103378px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls022ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:901px;
left:186.181824px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls022ClsTxt64
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:902px;
left:416.171112px;
color:#C00D0E;
}
.span65
{
color:#C00D0E;
}
.cls022ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:901px;
left:529.340454px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls022ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:925px;
left:166.103378px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls022ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:925px;
left:186.181824px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls022ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:925px;
left:731.950073px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls022ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:166.103378px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls022ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:186.181824px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls022ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:797.661316px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls022ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:973px;
left:186.181824px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls022ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:166.103378px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls022ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:186.181824px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls022ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:565.846680px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls022ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:166.103378px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls022ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:186.181824px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls022ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:666.238831px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls022ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:166.103378px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls022ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:186.181824px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls022ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:702.745056px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls022ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls022ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls022ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:828.691589px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls022ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1091px;
left:166.103378px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls022ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1091px;
left:186.181824px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls022ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1091px;
left:856.071289px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.span88
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls022ClsTxt88
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1130px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls022ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1170px;
left:166.103378px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls022ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1170px;
left:186.181824px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls022ClsTxt91
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1170px;
left:317.604279px;
color:#C00D0E;
}
.span92
{
color:#C00D0E;
}
.cls022ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1170px;
left:507.436676px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls022ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1170px;
left:819.565063px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls022ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1193px;
left:166.103378px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls022ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1193px;
left:186.181824px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls022ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1193px;
left:724.648804px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls022ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1193px;
left:819.565063px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls022ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:166.103378px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls022ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:186.181824px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls022ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:717.347534px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls022ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:819.565063px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls022ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:166.103378px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls022ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:186.181824px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls022ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:706.395691px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls022ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:819.565063px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls022ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:166.103378px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls022ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:186.181824px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls022ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:724.648804px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls022ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:819.565063px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls022ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1288px;
left:166.103378px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls022ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1288px;
left:186.181824px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls022ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1288px;
left:708.221008px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls022ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1288px;
left:819.565063px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls022ClsTxt114
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:798px;
left:96.741531px;
color:#FFF374;
}
.span115
{
color:#C00D0E;
}
.cls022ClsTxt115
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1125px;
left:96.741531px;
color:#FFF374;
}
.span116
{
color:#C00D0E;
}
.cls022ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:530px;
left:180.705872px;
color:#C00D0E;
}
.span117
{
color:#C00D0E;
}
.cls022ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:530px;
left:370.538300px;
color:#C00D0E;
}
.span118
{
color:#C00D0E;
}
.cls022ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:530px;
left:558.545410px;
color:#C00D0E;
}
.span119
{
color:#C00D0E;
}
.cls022ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:530px;
left:748.377869px;
color:#C00D0E;
}
