@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls057ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls057ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls057ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:411px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls057ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:628px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls057ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:869px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls057ClsTxt5
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1112px;
left:109.518707px;
color:#FFF374;
}
.span6
{
color:#C00D0E;
}
.cls057ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.cls057ClsTxt7
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:60px;
left:538.467041px;
color:#FFFFFF;
}
.span8
{
color:#C00D0E;
}
.cls057ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:119px;
left:149.675583px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls057ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:303.001770px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls057ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:255.543671px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls057ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:230px;
left:297.525818px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls057ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:332px;
left:310.303009px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.span13
{
font-weight:bold;
font-size:20.078430px;
}
.cls057ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:412px;
left:149.675583px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls057ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:381.490173px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls057ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:271.971466px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls057ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:359.586426px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls057ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:474.581116px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls057ClsTxt18
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:628px;
left:149.675583px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls057ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:173.404617px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.span20
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls057ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:812px;
left:166.103378px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls057ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:870px;
left:149.675583px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.span22
{
font-weight:bold;
font-size:20.078430px;
}
.cls057ClsTxt22
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1112px;
left:149.675583px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls057ClsTxt23
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:36.506241px;
color:#FFFFFF;
}
.span24
{
color:#C00D0E;
}
.span24
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls057ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:163.452759px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls057ClsTxt25
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:315.778931px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls057ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:337.682709px;
color:#C00D0E;
}
.span27
{
color:#C00D0E;
}
.cls057ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:419.821716px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls057ClsTxt28
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:441.725464px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls057ClsTxt29
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:461.803925px;
color:#C00D0E;
}
.span30
{
color:#C00D0E;
}
.cls057ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:578.623840px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls057ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:611.479492px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls057ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:671.714783px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls057ClsTxt33
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:162px;
left:697.269165px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls057ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:724.648804px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls057ClsTxt35
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:757.504456px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls057ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:812.263794px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls057ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:578.623840px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls057ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:186px;
left:607.828857px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls057ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:680.841309px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls057ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:578.623840px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls057ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:210px;
left:611.479492px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls057ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:697.269165px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls057ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:578.623840px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls057ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:233px;
left:607.828857px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls057ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:668.064148px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls057ClsTxt46
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:267px;
left:578.623840px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.span47
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls057ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:291px;
left:578.623840px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.span48
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls057ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:315px;
left:578.623840px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.span49
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls057ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:338px;
left:578.623840px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls057ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:682.666687px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls057ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:491px;
left:764.805664px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls057ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:848.770020px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls057ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:682.666687px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls057ClsTxt54
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:514px;
left:764.805664px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls057ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:837.818115px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls057ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:682.666687px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls057ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:538px;
left:762.980347px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls057ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:837.818115px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls057ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:708px;
left:476.406403px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls057ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:708px;
left:574.973267px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls057ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:708px;
left:669.889404px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls057ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:732px;
left:476.406403px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls057ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:732px;
left:673.540100px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls057ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:476.406403px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls057ClsTxt65
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:755px;
left:722.823486px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.span66
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls057ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:609.654175px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls057ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:609.654175px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.span68
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls057ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:998px;
left:609.654175px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.span69
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls057ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:295.700531px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls057ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:295.700531px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls057ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:295.700531px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls057ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1225px;
left:323.080200px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls057ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:295.700531px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls057ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:711.871643px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls057ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1181px;
left:711.871643px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls057ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:711.871643px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls057ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1248px;
left:711.871643px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls057ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1055px;
left:166.103378px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls057ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1055px;
left:217.212112px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls057ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1055px;
left:355.935822px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls057ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1055px;
left:407.044556px;
color:#000000;
}
.CSemibold
{
font-family:"CronosPro-Semibold" ;
}