@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls018ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:120px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:120px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls018ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:154px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls018ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:216px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:216px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:216px;
left:256.000000px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:216px;
left:272.000000px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt7
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:206px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls018ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:336px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:401px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:505px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:505px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.67px;
}
.cls018ClsTxt13
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:496px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls018ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:561px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:561px;
left:360.666656px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:561px;
left:601.000000px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:665px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:665px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt19
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:656px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls018ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:721px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.75px;
}
.cls018ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:721px;
left:465.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.92px;
}
.cls018ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:787px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.75px;
}
.cls018ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:787px;
left:465.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.50px;
}
.cls018ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:890px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:890px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:890px;
left:314.666656px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:890px;
left:453.333344px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt28
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:881px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls018ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:947px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:947px;
left:355.666656px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:947px;
left:637.000000px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1050px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1050px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.78px;
}
.cls018ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1050px;
left:496.000000px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt35
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1041px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls018ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1107px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1107px;
left:373.000000px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1172px;
left:121.666672px;
letter-spacing:0px;
color:#000000;
}
.cls018ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1172px;
left:373.000000px;
letter-spacing:0px;
color:#000000;
}
