@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.strike
{
text-decoration:line-through;
color:#C00C0D;
}
.span0
{
color:#030506;
}
.cls038ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:849.595337px;
color:#FFFFFF;
}
.span1
{
color:#030506;
}
.cls038ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#030506;
}
.cls038ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:28px;
left:103.042778px;
color:#CB0307;
}
.span3
{
color:#CB0307;
}
.span0001{
font-family:'CronosPro-Semibold';
color:#c00b0d;
}
.cls038ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:92px;
left:166.103378px;
color:#030506;
}
.span4
{
color:#CB0307;
}
.cls038ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:149px;
left:166.103378px;
color:#030506;
}
.span5
{
color:#CB0307;
}
.cls038ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:149px;
left:270.146149px;
color:#030506;
}
.span6
{
color:#CB0307;
}
.cls038ClsTxt6
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:148px;
left:357.761108px;
color:#CB0307;
}
.span7
{
color:#CB0307;
}
.cls038ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:149px;
left:501.960785px;
color:#030506;
}
.span8
{
color:#CB0307;
}
.cls038ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:149px;
left:546.768250px;
color:#030506;
}
.span9
{
color:#CB0307;
}
.cls038ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:173px;
left:166.103378px;
color:#030506;
}
.span10
{
color:#CB0307;
}
.cls038ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:173px;
left:282.923340px;
color:#030506;
}
.span11
{
color:#CB0307;
}
.cls038ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:173px;
left:501.960785px;
color:#030506;
}
.span12
{
color:#CB0307;
}
.cls038ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:173px;
left:546.768250px;
color:#030506;
}
.span13
{
color:#CB0307;
}
.cls038ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:197px;
left:166.103378px;
color:#030506;
}
.span14
{
color:#CB0307;
}
.cls038ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:197px;
left:198.959000px;
color:#030506;
}
.span15
{
color:#CB0307;
}
.cls038ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:197px;
left:501.960785px;
color:#030506;
}
.span16
{
color:#CB0307;
}
.cls038ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:197px;
left:546.768250px;
color:#030506;
}
.span17
{
color:#CB0307;
}
.cls038ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:222px;
left:166.103378px;
color:#030506;
}
.span18
{
color:#CB0307;
}
.cls038ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:222px;
left:197.133682px;
color:#030506;
}
.span19
{
color:#CB0307;
}
.cls038ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:222px;
left:501.960785px;
color:#030506;
}
.span20
{
color:#CB0307;
}
.cls038ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:222px;
left:546.768250px;
color:#030506;
}
.span21
{
color:#CB0307;
}
.cls038ClsTxt21
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:272px;
left:166.103378px;
color:#030506;
}
.span22
{
color:#CB0307;
}
.cls038ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:166.103378px;
color:#030506;
}
.span23
{
color:#CB0307;
}
.cls038ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:257.368988px;
color:#030506;
}
.span24
{
color:#CB0307;
}
.cls038ClsTxt24
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:328px;
left:450.852020px;
color:#CB0307;
}
.span25
{
color:#CB0307;
}
.cls038ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:354px;
left:166.103378px;
color:#030506;
}
.span26
{
color:#CB0307;
}
.cls038ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:354px;
left:233.639923px;
color:#030506;
}
.span27
{
color:#CB0307;
}
.cls038ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:166.103378px;
color:#030506;
}
.span28
{
color:#CB0307;
}
.cls038ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:247.417099px;
color:#030506;
}
.span29
{
color:#CB0307;
}
.cls038ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:166.103378px;
color:#030506;
}
.span30
{
color:#CB0307;
}
.cls038ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:206.260239px;
color:#030506;
}
.span31
{
color:#CB0307;
}
.cls038ClsTxt31
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:452px;
left:166.103378px;
color:#030506;
}
.span32
{
color:#CB0307;
}
.cls038ClsTxt32
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:482px;
left:166.103378px;
color:#030506;
}
.span33
{
color:#CB0307;
}
.cls038ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:511px;
left:166.103378px;
color:#030506;
}
.span34
{
color:#CB0307;
}
.cls038ClsTxt34
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:509px;
left:209.910858px;
color:#CB0307;
}
.span35
{
color:#CB0307;
}
.cls038ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:511px;
left:553.069519px;
color:#030506;
}
.span36
{
color:#CB0307;
}
.cls038ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:534px;
left:166.103378px;
color:#030506;
}
.span37
{
color:#CB0307;
}
.cls038ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:553.069519px;
color:#030506;
}
.span38
{
color:#CB0307;
}
.span38
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls038ClsTxt38
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:573px;
left:166.103378px;
color:#030506;
}
.span39
{
color:#CB0307;
}
.cls038ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:166.103378px;
color:#030506;
}
.span40
{
color:#CB0307;
}
.cls038ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:186.181824px;
color:#030506;
}
.span41
{
color:#CB0307;
}
.cls038ClsTxt41
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:602px;
left:346.809235px;
color:#CB0307;
}
.span42
{
color:#CB0307;
}
.cls038ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:436.249542px;
color:#030506;
}
.span43
{
color:#CB0307;
}
.cls038ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:166.103378px;
color:#030506;
}
.span44
{
color:#CB0307;
}
.cls038ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:186.181824px;
color:#030506;
}
.span45
{
color:#CB0307;
}
.cls038ClsTxt45
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:626px;
left:275.622101px;
color:#CB0307;
}
.span46
{
color:#CB0307;
}
.cls038ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:385.140808px;
color:#030506;
}
.span47
{
color:#CB0307;
}
.cls038ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:166.103378px;
color:#030506;
}
.span48
{
color:#CB0307;
}
.cls038ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:186.181824px;
color:#030506;
}
.span49
{
color:#CB0307;
}
.cls038ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:503.786072px;
color:#030506;
}
.span50
{
color:#CB0307;
}
.cls038ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:166.103378px;
color:#030506;
}
.span51
{
color:#CB0307;
}
.cls038ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:186.181824px;
color:#030506;
}
.span52
{
color:#CB0307;
}
.cls038ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:261.019592px;
color:#030506;
}
.span53
{
color:#CB0307;
}
.cls038ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:615.130127px;
color:#030506;
}
.span54
{
color:#CB0307;
}
.cls038ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:166.103378px;
color:#030506;
}
.span55
{
color:#CB0307;
}
.cls038ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:186.181824px;
color:#030506;
}
.span56
{
color:#CB0307;
}
.cls038ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:405.219238px;
color:#030506;
}
.span57
{
color:#CB0307;
}
.cls038ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:730.124756px;
color:#030506;
}
.span58
{
color:#CB0307;
}
.cls038ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:166.103378px;
color:#030506;
}
.span59
{
color:#CB0307;
}
.cls038ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:186.181824px;
color:#030506;
}
.span60
{
color:#CB0307;
}
.cls038ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:584.099854px;
color:#030506;
}
.span61
{
color:#CB0307;
}
.cls038ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:166.103378px;
color:#030506;
}
.span62
{
color:#CB0307;
}
.cls038ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:186.181824px;
color:#030506;
}
.span63
{
color:#CB0307;
}
.cls038ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:432.598907px;
color:#030506;
}
.span64
{
color:#CB0307;
}
.cls038ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:582.274475px;
color:#030506;
}
.span65
{
color:#CB0307;
}
.cls038ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:826.866272px;
color:#030506;
}
.span66
{
color:#CB0307;
}
.cls038ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:166.103378px;
color:#030506;
}
.span67
{
color:#CB0307;
}
.cls038ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:186.181824px;
color:#030506;
}
.span68
{
color:#CB0307;
}
.cls038ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:666.238831px;
color:#030506;
}
.span69
{
color:#CB0307;
}
.cls038ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:166.103378px;
color:#030506;
}
.span70
{
color:#CB0307;
}
.cls038ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:186.181824px;
color:#030506;
}
.span71
{
color:#CB0307;
}
.cls038ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:397.917999px;
color:#030506;
}
.span72
{
color:#CB0307;
}
.cls038ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:720.998230px;
color:#030506;
}
.span73
{
color:#CB0307;
}
.cls038ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:156.976822px;
color:#030506;
}
.span74
{
color:#CB0307;
}
.cls038ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:186.181824px;
color:#030506;
}
.span75
{
color:#CB0307;
}
.cls038ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:505.611389px;
color:#030506;
}
.span76
{
color:#CB0307;
}
.cls038ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:589.575745px;
color:#030506;
}
.span77
{
color:#CB0307;
}
.cls038ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:840px;
left:156.976822px;
color:#030506;
}
.span78
{
color:#CB0307;
}
.cls038ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:839px;
left:186.181824px;
color:#030506;
}
.span79
{
color:#CB0307;
}
.cls038ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:839px;
left:401.568604px;
color:#030506;
}
.span80
{
color:#CB0307;
}
.cls038ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:839px;
left:615.130127px;
color:#030506;
}
.span81
{
color:#CB0307;
}
.cls038ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:156.976822px;
color:#030506;
}
.span82
{
color:#CB0307;
}
.cls038ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:186.181824px;
color:#030506;
}
.span83
{
color:#CB0307;
}
.cls038ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:724.648804px;
color:#030506;
}
.span84
{
color:#CB0307;
}
.cls038ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:156.976822px;
color:#030506;
}
.span85
{
color:#CB0307;
}
.cls038ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:186.181824px;
color:#030506;
}
.span86
{
color:#CB0307;
}
.cls038ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:684.491943px;
color:#030506;
}
.span87
{
color:#CB0307;
}
.cls038ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:156.976822px;
color:#030506;
}
.span88
{
color:#CB0307;
}
.cls038ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:186.181824px;
color:#030506;
}
.span89
{
color:#CB0307;
}
.cls038ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:456.327972px;
color:#030506;
}
.span90
{
color:#CB0307;
}
.cls038ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:156.976822px;
color:#030506;
}
.span91
{
color:#CB0307;
}
.cls038ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:186.181824px;
color:#030506;
}
.span92
{
color:#CB0307;
}
.cls038ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:542.117615px;
color:#030506;
}
.span93
{
color:#CB0307;
}
.cls038ClsTxt93
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:974px;
left:166.103378px;
color:#030506;
}
.span94
{
color:#CB0307;
}
.cls038ClsTxt94
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1004px;
left:180.705872px;
color:#030506;
}
.span95
{
color:#CB0307;
}
.cls038ClsTxt95
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1004px;
left:297.525818px;
color:#030506;
}
.span96
{
color:#CB0307;
}
.cls038ClsTxt96
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1004px;
left:408.869843px;
color:#030506;
}
.span97
{
color:#CB0307;
}
.cls038ClsTxt97
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1028px;
left:180.705872px;
color:#030506;
}
.span98
{
color:#CB0307;
}
.cls038ClsTxt98
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1028px;
left:297.525818px;
color:#030506;
}
.span99
{
color:#CB0307;
}
.cls038ClsTxt99
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1028px;
left:403.869843px;
color:#030506;
}
.span100
{
color:#CB0307;
}
.cls038ClsTxt100
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1052px;
left:180.705872px;
color:#030506;
}
.span101
{
color:#CB0307;
}
.cls038ClsTxt101
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1052px;
left:408.869843px;
color:#030506;
}
.span102
{
color:#CB0307;
}
.cls038ClsTxt102
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1016px;
left:532.991028px;
color:#030506;
}
.span103
{
color:#CB0307;
}
.cls038ClsTxt103
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1016px;
left:606.003540px;
color:#030506;
}
.span104
{
color:#CB0307;
}
.cls038ClsTxt104
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1016px;
left:660.762939px;
color:#030506;
}
.span105
{
color:#CB0307;
}
.cls038ClsTxt105
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1016px;
left:726.474121px;
color:#030506;
}
.span106
{
color:#CB0307;
}
.cls038ClsTxt106
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1040px;
left:532.991028px;
color:#030506;
}
.span107
{
color:#CB0307;
}
.cls038ClsTxt107
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1040px;
left:602.003540px;
color:#030506;
}
.span108
{
color:#CB0307;
}
.cls038ClsTxt108
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1040px;
left:660.762939px;
color:#030506;
}
.span109
{
color:#CB0307;
}
.cls038ClsTxt109
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1040px;
left:726.474121px;
color:#030506;
}
.span110
{
color:#CB0307;
}
.cls038ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:166.103378px;
color:#030506;
}
.span111
{
color:#CB0307;
}
.cls038ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:186.181824px;
color:#030506;
}
.span112
{
color:#CB0307;
}
.cls038ClsTxt112
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1091px;
left:527.515137px;
color:#CB0307;
}
.span113
{
color:#CB0307;
}
.cls038ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:658.937622px;
color:#030506;
}
.span114
{
color:#CB0307;
}
.cls038ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:166.103378px;
color:#030506;
}
.span115
{
color:#CB0307;
}
.cls038ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:186.181824px;
color:#030506;
}
.span116
{
color:#CB0307;
}
.cls038ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1117px;
left:867.023193px;
color:#030506;
}
.span117
{
color:#CB0307;
}
.cls038ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1140px;
left:166.103378px;
color:#030506;
}
.span118
{
color:#CB0307;
}
.cls038ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1140px;
left:186.181824px;
color:#030506;
}
.span119
{
color:#CB0307;
}
.cls038ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1141px;
left:640.684448px;
color:#030506;
}
.span120
{
color:#CB0307;
}
.cls038ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:166.103378px;
color:#030506;
}
.span121
{
color:#CB0307;
}
.cls038ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:186.181824px;
color:#030506;
}
.span122
{
color:#CB0307;
}
.cls038ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:383.315491px;
color:#030506;
}
.span123
{
color:#CB0307;
}
.cls038ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:841.468750px;
color:#030506;
}
.span124
{
color:#CB0307;
}
.cls038ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:166.103378px;
color:#030506;
}
.span125
{
color:#CB0307;
}
.cls038ClsTxt125
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:186.181824px;
color:#030506;
}
.span126
{
color:#CB0307;
}
.cls038ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:620.606018px;
color:#030506;
}
.span127
{
color:#CB0307;
}
.cls038ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:651.636353px;
color:#030506;
}
.span128
{
color:#CB0307;
}
.cls038ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1211px;
left:166.103378px;
color:#030506;
}
.span129
{
color:#CB0307;
}
.cls038ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1211px;
left:186.181824px;
color:#030506;
}
.span130
{
color:#CB0307;
}
.cls038ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1234px;
left:500.135468px;
color:#030506;
}
.span131
{
color:#CB0307;
}
.cls038ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1258px;
left:166.103378px;
color:#030506;
}
.span132
{
color:#CB0307;
}
.cls038ClsTxt132
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1258px;
left:186.181824px;
color:#030506;
}
.span133
{
color:#CB0307;
}
.cls038ClsTxt133
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1259px;
left:551.244202px;
color:#030506;
}
.span134
{
color:#CB0307;
}
.cls038ClsTxt134
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1282px;
left:166.103378px;
color:#030506;
}
.span135
{
color:#CB0307;
}
.cls038ClsTxt135
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1282px;
left:186.181824px;
color:#030506;
}
.span136
{
color:#CB0307;
}
.cls038ClsTxt136
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1282px;
left:551.244202px;
color:#030506;
}
.span137
{
color:#CB0307;
}
.cls038ClsTxt137
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FEFF59;
}
.span138
{
color:#CB0307;
}
.cls038ClsTxt138
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:267px;
left:96.741531px;
color:#FEFF59;
}
.span139
{
color:#CB0307;
}
.cls038ClsTxt139
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:568px;
left:96.741531px;
color:#FEFF59;
}
.span140
{
color:#CB0307;
}
.cls038ClsTxt140
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:968px;
left:96.741531px;
color:#FEFF59;
}
