@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls017ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls017ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#fff374;
}
.span2
{
color:#C00D0E;
}
.cls017ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:706px;
left:107.693398px;
color:#fff374;
}
.span3
{
color:#C00D0E;
}
.cls017ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:818px;
left:105.868088px;
color:#fff374;
}
.span4
{
color:#C00D0E;
}
.cls017ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1037px;
left:105.042778px;
color:#fff374;
}
.span5
{
color:#C00D0E;
}
.cls017ClsTxt5
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1150px;
left:109.518707px;
color:#fff374;
}
.span6
{
color:#C00D0E;
}
.cls017ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:150.675583px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.cls017ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:130px;
left:166.103378px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
span.cls017ClsTxt8
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls017ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:239.115860px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls017ClsTxt10
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:172px;
left:213.561478px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls017ClsTxt11
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:172px;
left:332.206757px;
color:#000000;
}
.span12
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.span12a
{
font-family:'CronosPro-Semibold';
font-size:18.078430px;
}
.cls017ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:166.103378px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.span13
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:565.846680px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls017ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:496px;
left:217.212112px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls017ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:496px;
left:266.495514px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls017ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:496px;
left:385.140808px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls017ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:520px;
left:217.212112px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls017ClsTxt18
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:520px;
left:310.303009px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls017ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:544px;
left:217.212112px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls017ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:544px;
left:346.809235px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls017ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:544px;
left:509.261993px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls017ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:567px;
left:217.212112px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls017ClsTxt23
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:567px;
left:339.507996px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls017ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:217.212112px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls017ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:591px;
left:226.338684px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls017ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:271.971466px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls017ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:591px;
left:355.935822px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls017ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:443.550781px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls017ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:217.212112px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls017ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:615px;
left:306.652405px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls017ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:638px;
left:217.212112px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls017ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:639px;
left:558.545410px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls017ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:662px;
left:217.212112px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls017ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:662px;
left:295.700531px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls017ClsTxt35
{
position:absolute;
font-family:"CronosPro-Regular" ;
font-size:20.078430px;
top:706px;
left:150.675583px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.span36
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:729px;
left:217.212112px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.span37
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:730px;
left:501.960785px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.span38
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:753px;
left:217.212112px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.span39
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:754px;
left:507.436676px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.span40
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:777px;
left:217.212112px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.span41
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:777px;
left:458.153259px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls017ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:150.675583px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls017ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:819px;
left:224.513367px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls017ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:277.447388px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls017ClsTxt45
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:819px;
left:297.525818px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls017ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:819px;
left:317.604279px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls017ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:819px;
left:350.459869px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.span48
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:853px;
left:217.212112px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.span49
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:217.212112px;
color:#000000;
}
.span50
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls017ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:438.074829px;
color:#000000;
}
.span51
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:217.212112px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:217.212112px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls017ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:969px;
left:217.212112px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls017ClsTxt54
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:969px;
left:226.338684px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls017ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:969px;
left:271.971466px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls017ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:969px;
left:326.730835px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls017ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:969px;
left:417.996429px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls017ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:993px;
left:217.212112px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls017ClsTxt59
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:993px;
left:304.827087px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls017ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:993px;
left:392.442047px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls017ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:150.675583px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls017ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:273.796783px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls017ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:150.675583px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.span64
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:217.212112px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls017ClsTxt65
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1084px;
left:403.393921px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.span66
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:432.598907px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.span67
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1108px;
left:217.212112px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls017ClsTxt68
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1108px;
left:454.502655px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.span69
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1108px;
left:483.707642px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls017ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1151px;
left:150.675583px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls017ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1152px;
left:206.260239px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls017ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:304.827087px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls017ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:217.212112px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls017ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1175px;
left:376.014252px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls017ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:472.755737px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls017ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:217.212112px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls017ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1199px;
left:293.875214px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls017ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:447.201416px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls017ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1222px;
left:217.212112px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls017ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1223px;
left:299.351166px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls017ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:438.074829px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls017ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:48.458111px;
color:#FFFFFF;
}
.span83
{
color:#C00D0E;
}
.cls017ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:163.452759px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls017ClsTxt84
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:255.543671px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls017ClsTxt85
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:275.622101px;
color:#C00D0E;
}
.span86
{
color:#C00D0E;
}
.cls017ClsTxt86
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:350.459869px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls017ClsTxt87
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:631.557861px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls017ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:651.636353px;
color:#C00D0E;
}
.zap {
font-family:'ZapfDingbatsStd';
}
.underline-nor
{
font-family:'CronosPro-Semibold';
text-decoration:underline;
color:#c00d0e;
}