@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls015ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:50px;
line-height:130%;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:53px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls015ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:87px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls015ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:147px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:147px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:147px;
left:381.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt6
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:138px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt7
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:138px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:204px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:204px;
left:447.666656px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.75px;
}
.cls015ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:269px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.67px;
}
.cls015ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:269px;
left:447.666656px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.92px;
}
.cls015ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:373px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:373px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:373px;
left:324.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:373px;
left:426.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt16
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:363px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:429px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:429px;
left:305.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:429px;
left:539.666687px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:429px;
left:752.666687px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:533px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:533px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:533px;
left:328.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:533px;
left:486.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt25
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:523px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:589px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:589px;
left:407.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:654px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.67px;
}
.cls015ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:654px;
left:407.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:758px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:758px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:758px;
left:430.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt33
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:749px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:814px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:814px;
left:269.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:814px;
left:449.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:814px;
left:608.333313px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:814px;
left:730.333313px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:918px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:918px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.33px;
}
.cls015ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:918px;
left:578.666687px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt42
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:909px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:974px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:974px;
left:312.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:974px;
left:452.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1078px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1078px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.89px;
}
.cls015ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1078px;
left:376.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt49
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1069px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1134px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1134px;
left:410.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1134px;
left:712.333313px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1238px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1238px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1238px;
left:460.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt56
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1229px;
left:730.666687px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt57
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1229px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1294px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1294px;
left:265.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1294px;
left:426.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1294px;
left:601.333313px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1398px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1398px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-3.22px;
}
.cls015ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1398px;
left:364.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt65
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1389px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1454px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1454px;
left:443.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.11px;
}
.cls015ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1518px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.17px;
}
.cls015ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1518px;
left:443.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.11px;
}
.cls015ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1623px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1623px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
word-spacing:-2.75px;
}
.cls015ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1623px;
left:442.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt73
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1614px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1678px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1678px;
left:358.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1678px;
left:549.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1783px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1783px;
left:133.333328px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1783px;
left:285.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt80
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1774px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1838px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1838px;
left:304.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1838px;
left:444.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1943px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1943px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1943px;
left:220.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1943px;
left:408.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt88
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1934px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1998px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1998px;
left:327.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1998px;
left:522.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2064px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2064px;
left:327.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2169px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2169px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2169px;
left:348.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt97
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2158px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2224px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2224px;
left:308.333344px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2224px;
left:518.666687px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2224px;
left:679.666687px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2329px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2329px;
left:122.333328px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt104
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2318px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2384px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2384px;
left:417.666656px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2489px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2489px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2489px;
left:443.000000px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt110
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:2478px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls015ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2544px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls015ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:2544px;
left:409.666656px;
letter-spacing:0px;
color:#000000;
}
