@font-face{font-family:"HelveticaNeueLTStd-Bd";src:url('../fonts/HelveticaNeueLTStd-Bd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#CB0307;
}
.cls019ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#CB0307;
}
.cls019ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FEFF59;
}
.span2
{
color:#CB0307;
}
.cls019ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:339px;
left:107.693398px;
color:#FEFF59;
}
.span3
{
color:#CB0307;
}
.cls019ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:428px;
left:105.868088px;
color:#FEFF59;
}
.cls019ClsTxt3a
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:970px;
left:105.868088px;
color:#FEFF59;
}
.span4
{
color:#CB0307;
}
.cls019ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:968px;
left:104.042778px;
color:#FEFF59;
}
.span5
{
color:#CB0307;
}
.cls019ClsTxt5
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span6
{
color:#CB0307;
}
.span6
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:118px;
left:150.675583px;
color:#030506;
}
.span7
{
color:#CB0307;
}
.span7
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:142px;
left:217.212112px;
color:#030506;
}
.span8
{
color:#CB0307;
}
.cls019ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:142px;
left:467.279846px;
color:#030506;
}
.span9
{
color:#CB0307;
}
.span9
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:217.212112px;
color:#030506;
}
.span10
{
color:#CB0307;
}
.cls019ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:511.087341px;
color:#030506;
}
.span11
{
color:#CB0307;
}
.span11
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:190px;
left:217.212112px;
color:#030506;
}
.span12
{
color:#CB0307;
}
.span12
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls019ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:190px;
left:478.231720px;
color:#030506;
}
.span13
{
color:#CB0307;
}
.span13
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:213px;
left:217.212112px;
color:#030506;
}
.span14
{
color:#CB0307;
}
.cls019ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:213px;
left:452.677368px;
color:#030506;
}
.span15
{
color:#CB0307;
}
.cls019ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:150.675583px;
color:#030506;
}
.span16
{
color:#CB0307;
}
.cls019ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:248px;
left:244.591797px;
color:#030506;
}
.span17
{
color:#CB0307;
}
.cls019ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:217.212112px;
color:#030506;
}
.span18
{
color:#CB0307;
}
.cls019ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:343.158630px;
color:#030506;
}
.span19
{
color:#CB0307;
}
.span19
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:476.406403px;
color:#030506;
}
.span20
{
color:#CB0307;
}
.cls019ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:295px;
left:217.212112px;
color:#030506;
}
.span21
{
color:#CB0307;
}
.cls019ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:295px;
left:368.713013px;
color:#030506;
}
.span22
{
color:#CB0307;
}
.span22
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:295px;
left:520.213867px;
color:#030506;
}
.span23
{
color:#CB0307;
}
.span23
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:149.675583px;
color:#030506;
}
.span24
{
color:#CB0307;
}
.span24
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:217.212112px;
color:#030506;
}
.span25
{
color:#CB0307;
}
.span25
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:432.598907px;
color:#030506;
}
.span26
{
color:#CB0307;
}
.cls019ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:387px;
left:217.212112px;
color:#030506;
}
.span27
{
color:#CB0307;
}
.span27
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:387px;
left:470.930450px;
color:#030506;
}
.span28
{
color:#CB0307;
}
.span28
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:387px;
left:649.811035px;
color:#030506;
}
.span29
{
color:#CB0307;
}
.cls019ClsTxt29
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:47.458111px;
color:#FFFFFF;
}
.span30
{
color:#CB0307;
}
.cls019ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:560px;
left:752.028503px;
color:#030506;
}
.span31
{
color:#CB0307;
}
.cls019ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:584px;
left:752.028503px;
color:#030506;
}
.span32
{
color:#CB0307;
}
.cls019ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:608px;
left:752.028503px;
color:#030506;
}
.span33
{
color:#CB0307;
}
.cls019ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:752.028503px;
color:#030506;
}
.span34
{
color:#CB0307;
}
.cls019ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:655px;
left:752.028503px;
color:#030506;
}
.span35
{
color:#CB0307;
}
.cls019ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:440px;
left:166.103378px;
color:#030506;
}
.span36
{
color:#CB0307;
}
.cls019ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:463px;
left:166.103378px;
color:#030506;
}
.span37
{
color:#CB0307;
}
.cls019ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:487px;
left:233.639923px;
color:#030506;
}
.span38
{
color:#CB0307;
}
.span38
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:511px;
left:233.639923px;
color:#030506;
}
.span39
{
color:#CB0307;
}
.cls019ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:166.103378px;
color:#030506;
}
.span40
{
color:#CB0307;
}
.cls019ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:250.067734px;
color:#030506;
}
.span41
{
color:#CB0307;
}
.cls019ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:546px;
left:261.019592px;
color:#030506;
}
.span42
{
color:#CB0307;
}
.cls019ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:386.966125px;
color:#030506;
}
.span43
{
color:#CB0307;
}
.cls019ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:546px;
left:397.917999px;
color:#030506;
}
.span44
{
color:#CB0307;
}
.cls019ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:474.581116px;
color:#030506;
}
.span45
{
color:#CB0307;
}
.cls019ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:569px;
left:233.639923px;
color:#030506;
}
.span46
{
color:#CB0307;
}
.cls019ClsTxt46
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:569px;
left:461.803925px;
color:#030506;
}
.span47
{
color:#CB0307;
}
.cls019ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:593px;
left:233.639923px;
color:#030506;
}
.span48
{
color:#CB0307;
}
.cls019ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:593px;
left:397.917999px;
color:#030506;
}
.span49
{
color:#CB0307;
}
.cls019ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:593px;
left:492.834198px;
color:#030506;
}
.span50
{
color:#CB0307;
}
.cls019ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:166.103378px;
color:#030506;
}
.span51
{
color:#CB0307;
}
.span51
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:233.639923px;
color:#030506;
}
.span52
{
color:#CB0307;
}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:233.639923px;
color:#030506;
}
.span53
{
color:#CB0307;
}
.span53
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:233.639923px;
color:#030506;
}
.span54
{
color:#CB0307;
}
.cls019ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:721px;
left:233.639923px;
color:#030506;
}
.span55
{
color:#CB0307;
}
.cls019ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:651px;
left:679.015991px;
color:#030506;
}
.span56
{
color:#CB0307;
}
.cls019ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:640px;
left:775.757568px;
color:#030506;
}
.span57
{
color:#CB0307;
}
.cls019ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:651px;
left:848.770020px;
color:#030506;
}
.span58
{
color:#CB0307;
}
.cls019ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:166.103378px;
color:#030506;
}
.span59
{
color:#CB0307;
}
.span59
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:233.639923px;
color:#030506;
}
.span60
{
color:#CB0307;
}
.cls019ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:814px;
left:166.103378px;
color:#030506;
}
.span61
{
color:#CB0307;
}
.cls019ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:838px;
left:233.639923px;
color:#030506;
}
.span62
{
color:#CB0307;
}
.cls019ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:838px;
left:304.827087px;
color:#030506;
}
.span63
{
color:#CB0307;
}
.cls019ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:838px;
left:381.490173px;
color:#030506;
}
.span64
{
color:#CB0307;
}
.cls019ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:872px;
left:166.103378px;
color:#030506;
}
.span65
{
color:#CB0307;
}
.span65
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:894px;
left:233.639923px;
color:#030506;
}
.span66
{
color:#CB0307;
}
.cls019ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:980px;
left:166.103378px;
color:#030506;
}
.span67
{
color:#CB0307;
}
.span67
{
font-weight:bold;
font-size:20.078430px;
}
.cls019ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1013px;
left:166.103378px;
color:#030506;
}
.span68
{
color:#CB0307;
}
.span68
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:233.639923px;
color:#030506;
}
.span69
{
color:#CB0307;
}
.span69
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:233.639923px;
color:#030506;
}
.span70
{
color:#CB0307;
}
.cls019ClsTxt70
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1084px;
left:166.103378px;
color:#030506;
}
.span71
{
color:#CB0307;
}
.span71
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:233.639923px;
color:#030506;
}
.span72
{
color:#CB0307;
}
.cls019ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1119px;
left:166.103378px;
color:#030506;
}
.span73
{
color:#CB0307;
}
.cls019ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1119px;
left:244.591797px;
color:#030506;
}
.span74
{
color:#CB0307;
}
.cls019ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1119px;
left:255.543671px;
color:#030506;
}
.span75
{
color:#CB0307;
}
.cls019ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1119px;
left:304.827087px;
color:#030506;
}
.span76
{
color:#CB0307;
}
.cls019ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1119px;
left:315.778931px;
color:#030506;
}
.span77
{
color:#CB0307;
}
.cls019ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1142px;
left:233.639923px;
color:#030506;
}
.span78
{
color:#CB0307;
}
.cls019ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1142px;
left:405.219238px;
color:#030506;
}
.span79
{
color:#CB0307;
}
.span79
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1142px;
left:498.310181px;
color:#030506;
}
.span80
{
color:#CB0307;
}
.cls019ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1166px;
left:233.639923px;
color:#030506;
}
.span81
{
color:#CB0307;
}
.cls019ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1166px;
left:293.875214px;
color:#030506;
}
.span82
{
color:#CB0307;
}
.cls019ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:166.103378px;
color:#030506;
}
.span83
{
color:#CB0307;
}
.span83
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:233.639923px;
color:#030506;
}
.span84
{
color:#CB0307;
}
.span84
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:452.677368px;
color:#030506;
}
.span85
{
color:#CB0307;
}
.span85
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:233.639923px;
color:#030506;
}
.span86
{
color:#CB0307;
}
.span86
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:523.864502px;
color:#030506;
}
.span87
{
color:#CB0307;
}
.cls019ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:761.155029px;
color:#030506;
}
.span88
{
color:#CB0307;
}
.cls019ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:671px;
left:761.155029px;
color:#030506;
}
.span89
{
color:#CB0307;
}
.cls019ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:723px;
left:750.203186px;
color:#030506;
}
.span90
{
color:#CB0307;
}
.cls019ClsTxt90
{
position:absolute;
font-family:'HelveticaNeueLTStd-Bd';
font-size:67.536537px;
top:1034px;
left:757.504456px;
color:#030506;
}
.span91
{
color:#CB0307;
}
.span91
{
font-weight:bold;
font-size:18.253120px;
}
.cls019ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:164.452759px;
color:#030506;
}
.span93
{
color:#CB0307;
}
.cls019ClsTxt93
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:277.447388px;
color:#CB0307;
}
.span94
{
color:#CB0307;
}
.cls019ClsTxt94
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:350.459869px;
color:#030506;
}
.span96
{
color:#CB0307;
}
.cls019ClsTxt96
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:399.743286px;
color:#CB0307;
}
.span97
{
color:#CB0307;
}
.cls019ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:509.261993px;
color:#030506;
}
.span99
{
color:#CB0307;
}
.cls019ClsTxt99
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:786.709412px;
color:#CB0307;
}
