@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#CB0307;
}
.cls016ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:849.595337px;
color:#FFFFFF;
}
.span1
{
color:#CB0307;
}
.cls016ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:63px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#CB0307;
}
.cls016ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#CB0307;
}
.underline1{
text-decoration:underline;
}
.span3
{
color:#CB0307;
}
.cls016ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:92px;
left:166.103378px;
color:#030506;
}
.span4
{
color:#CB0307;
}
.cls016ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FEFF59;
}
.span5
{
color:#CB0307;
}
.cls016ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:332.206757px;
color:#030506;
}
.span6
{
color:#CB0307;
}
.cls016ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:129px;
left:180.705872px;
color:#CB0307;
}
.span7
{
color:#CB0307;
}
.cls016ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:130px;
left:369.538300px;
color:#CB0307;
}
.span8
{
color:#CB0307;
}
.cls016ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:130px;
left:558.545410px;
color:#CB0307;
}
.span9
{
color:#CB0307;
}
.cls016ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:130px;
left:748.377869px;
color:#CB0307;
}
.span10
{
color:#CB0307;
}
.cls016ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:166.103378px;
color:#030506;
}
.span11
{
color:#CB0307;
}
.cls016ClsTxt11
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:372px;
left:201.609619px;
color:#CB0307;
}
.span12
{
color:#CB0307;
}
.cls016ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:166.103378px;
color:#030506;
}
.span13
{
color:#CB0307;
}
.cls016ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:420px;
left:166.103378px;
color:#030506;
}
.span14
{
color:#CB0307;
}
.cls016ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:443px;
left:166.103378px;
color:#030506;
}
.span15
{
color:#CB0307;
}
.cls016ClsTxt15
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:477px;
left:96.741531px;
color:#FEFF59;
}
.span16
{
color:#CB0307;
}
.cls016ClsTxt16
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:482px;
left:165.103378px;
color:#030506;
}
.span17
{
color:#CB0307;
}
.cls016ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:519px;
left:808.613159px;
color:#CB0307;
}
.span18
{
color:#CB0307;
}
.cls016ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:732px;
left:166.103378px;
color:#030506;
}
.span19
{
color:#CB0307;
}
.cls016ClsTxt19
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:730px;
left:201.609619px;
color:#CB0307;
}
.span20
{
color:#CB0307;
}
.cls016ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:732px;
left:553.069519px;
color:#030506;
}
.span21
{
color:#CB0307;
}
.cls016ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:732px;
left:914.481201px;
color:#030506;
}
.span22
{
color:#CB0307;
}
.cls016ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:166.103378px;
color:#030506;
}
.span23
{
color:#CB0307;
}
.cls016ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:186.181824px;
color:#030506;
}
.span24
{
color:#CB0307;
}
.cls016ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:525.689819px;
color:#030506;
}
.span25
{
color:#CB0307;
}
.cls016ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:553.069519px;
color:#030506;
}
.span26
{
color:#CB0307;
}
.cls016ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:755px;
left:914.481201px;
color:#030506;
}
.span27
{
color:#CB0307;
}
.cls016ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:166.103378px;
color:#030506;
}
.span28
{
color:#CB0307;
}
.cls016ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:186.181824px;
color:#030506;
}
.span29
{
color:#CB0307;
}
.cls016ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:527.515137px;
color:#030506;
}
.span30
{
color:#CB0307;
}
.cls016ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:553.069519px;
color:#030506;
}
.span31
{
color:#CB0307;
}
.cls016ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:914.481201px;
color:#030506;
}
.span32
{
color:#CB0307;
}
.cls016ClsTxt32
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:818px;
left:166.103378px;
color:#030506;
}
.span33
{
color:#CB0307;
}
.cls016ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:166.103378px;
color:#030506;
}
.span34
{
color:#CB0307;
}
.cls016ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:186.181824px;
color:#030506;
}
.span35
{
color:#CB0307;
}
.cls016ClsTxt35
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:846px;
left:246.417099px;
color:#CB0307;
}
.span36
{
color:#CB0307;
}
.cls016ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:277.447388px;
color:#030506;
}
.span37
{
color:#CB0307;
}
.cls016ClsTxt37
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:846px;
left:450.852020px;
color:#CB0307;
}
.span38
{
color:#CB0307;
}
.cls016ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:516.563232px;
color:#030506;
}
.span39
{
color:#CB0307;
}
.cls016ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:870px;
left:166.103378px;
color:#030506;
}
.span40
{
color:#CB0307;
}
.cls016ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:870px;
left:186.181824px;
color:#030506;
}
.span41
{
color:#CB0307;
}
.cls016ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:870px;
left:292.049927px;
color:#030506;
}
.span42
{
color:#CB0307;
}
.cls016ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:870px;
left:514.737976px;
color:#030506;
}
.span43
{
color:#CB0307;
}
.cls016ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:894px;
left:166.103378px;
color:#030506;
}
.span44
{
color:#CB0307;
}
.cls016ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:894px;
left:186.181824px;
color:#030506;
}
.span45
{
color:#CB0307;
}
.cls016ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:894px;
left:306.652405px;
color:#030506;
}
.span46
{
color:#CB0307;
}
.cls016ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:918px;
left:166.103378px;
color:#030506;
}
.span47
{
color:#CB0307;
}
.cls016ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:918px;
left:186.181824px;
color:#030506;
}
.span48
{
color:#CB0307;
}
.cls016ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:918px;
left:377.839539px;
color:#030506;
}
.span49
{
color:#CB0307;
}
.cls016ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:918px;
left:547.593567px;
color:#030506;
}
.span50
{
color:#CB0307;
}
.cls016ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:942px;
left:166.103378px;
color:#030506;
}
.span51
{
color:#CB0307;
}
.cls016ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:942px;
left:186.181824px;
color:#030506;
}
.span52
{
color:#CB0307;
}
.cls016ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:942px;
left:542.117615px;
color:#030506;
}
.span53
{
color:#CB0307;
}
.cls016ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:942px;
left:675.365417px;
color:#030506;
}
.span54
{
color:#CB0307;
}
.cls016ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:965px;
left:166.103378px;
color:#030506;
}
.span55
{
color:#CB0307;
}
.cls016ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:965px;
left:186.181824px;
color:#030506;
}
.span56
{
color:#CB0307;
}
.cls016ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:965px;
left:319.429565px;
color:#030506;
}
.span57
{
color:#CB0307;
}
.cls016ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:965px;
left:514.737976px;
color:#030506;
}
.span58
{
color:#CB0307;
}
.cls016ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:965px;
left:699.094482px;
color:#030506;
}
.span59
{
color:#CB0307;
}
.cls016ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:989px;
left:166.103378px;
color:#030506;
}
.span60
{
color:#CB0307;
}
.cls016ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:989px;
left:186.181824px;
color:#030506;
}
.span61
{
color:#CB0307;
}
.cls016ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:989px;
left:527.515137px;
color:#030506;
}
.span62
{
color:#CB0307;
}
.cls016ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1013px;
left:166.103378px;
color:#030506;
}
.span63
{
color:#CB0307;
}
.cls016ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1013px;
left:186.181824px;
color:#030506;
}
.span64
{
color:#CB0307;
}
.cls016ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1013px;
left:569.497314px;
color:#030506;
}
.span65
{
color:#CB0307;
}
.cls016ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1036px;
left:166.103378px;
color:#030506;
}
.span66
{
color:#CB0307;
}
.cls016ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1036px;
left:186.181824px;
color:#030506;
}
.span67
{
color:#CB0307;
}
.cls016ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1036px;
left:567.671997px;
color:#030506;
}
.span0001{
font-family:'CronosPro-Semibold';
color:#c00c0d;
}
.span68
{
color:#CB0307;
}
.cls016ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1036px;
left:702.745056px;
color:#030506;
}
.span69
{
color:#CB0307;
}
.cls016ClsTxt69
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1076px;
left:166.103378px;
color:#030506;
}
.span70
{
color:#CB0307;
}
.cls016ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1104px;
left:166.103378px;
color:#030506;
}
.span71
{
color:#CB0307;
}
.cls016ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1104px;
left:186.181824px;
color:#030506;
}
.span72
{
color:#CB0307;
}
.span72
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls016ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1104px;
left:500.135468px;
color:#030506;
}
.span73
{
color:#CB0307;
}
.cls016ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:166.103378px;
color:#030506;
}
.span74
{
color:#CB0307;
}
.cls016ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1128px;
left:186.181824px;
color:#030506;
}
.span75
{
color:#CB0307;
}
.cls016ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:166.103378px;
color:#030506;
}
.span76
{
color:#CB0307;
}
.cls016ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1152px;
left:186.181824px;
color:#030506;
}
.span77
{
color:#CB0307;
}
.cls016ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1176px;
left:166.103378px;
color:#030506;
}
.span78
{
color:#CB0307;
}
.cls016ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1176px;
left:186.181824px;
color:#030506;
}
.span79
{
color:#CB0307;
}
.cls016ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1200px;
left:166.103378px;
color:#030506;
}
.span80
{
color:#CB0307;
}
.cls016ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1200px;
left:186.181824px;
color:#030506;
}
.span81
{
color:#CB0307;
}
.cls016ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:166.103378px;
color:#030506;
}
.span82
{
color:#CB0307;
}
.cls016ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:186.181824px;
color:#030506;
}
.span83
{
color:#CB0307;
}
.cls016ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:166.103378px;
color:#030506;
}
.span84
{
color:#CB0307;
}
.cls016ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:186.181824px;
color:#030506;
}
.span85
{
color:#CB0307;
}
.cls016ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1270px;
left:166.103378px;
color:#030506;
}
.span86
{
color:#CB0307;
}
.cls016ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1270px;
left:186.181824px;
color:#030506;
}
.span87
{
color:#CB0307;
}
.cls016ClsTxt87
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:812px;
left:96.741531px;
color:#FEFF59;
}
.span88
{
color:#CB0307;
}
.cls016ClsTxt88
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1070px;
left:96.741531px;
color:#FEFF59;
}
.span89
{
color:#CB0307;
}
.cls016ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:519px;
left:180.705872px;
color:#CB0307;
}
.span90
{
color:#CB0307;
}
.cls016ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:519px;
left:305.827087px;
color:#CB0307;
}
.span91
{
color:#CB0307;
}
.cls016ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:520px;
left:430.773590px;
color:#CB0307;
}
.span92
{
color:#CB0307;
}
.cls016ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:520px;
left:556.720093px;
color:#CB0307;
}
.span93
{
color:#CB0307;
}
.cls016ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:520px;
left:682.666687px;
color:#CB0307;
}
