@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls001ClsTxt0 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:48px;
left:60.235291px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.cls001ClsTxt1 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:63px;
left:149.675583px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.cls001ClsTxt2 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:143px;
left:417.996429px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.span3 {
font-family:'CronosPro-Semibold';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt3 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:152px;
left:264.670227px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.cls001ClsTxt4 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:212px;
left:192px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.cls001ClsTxt5 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:289px;
left:324.905518px;
letter-spacing:0px;
color:#030506;
line-height:115%;
text-align:center;
}
.span6 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt6 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:330px;
left:240px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:110%;
text-align:center;
}
.span7 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:350px;
left:240.941162px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.cls001ClsTxt8 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:436px;
left:150px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt9 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:436px;
left:363.237061px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt10 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:14.054896px;
top:383px;
left:522.039185px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:468px;
left:189.832443px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt12 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:468px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt13 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt14 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:403.393921px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt15 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:469px;
left:427.122955px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span16 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:514.737976px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt17 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:501px;
left:175.229935px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:169.753998px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt19 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:525px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt20 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:548px;
left:184.356506px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt21 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:501px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:548px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:501px;
left:388.791412px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:381.490173px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:548px;
left:396.092651px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt27 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:525px;
left:427.122955px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span28 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt28 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:143px;
left:613px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
text-align:center;
line-height:115%;
}
.span29 {
font-family:'CronosPro-Semibold';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:193px;
left:678px;
letter-spacing:0px;
color:#030506;
text-align:center;
word-spacing:0px;
line-height:115%;
}
.cls001ClsTxt30 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:212px;
left:679.015991px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:277px;
left:667px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
text-align:center;
line-height:115%;
}
.span32 {
font-family:'CronosPro-Semibold';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:339px;
left:645px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.cls001ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:338px;
left:700.919739px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt34 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:1057px;
left:591.401062px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span35 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt35 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.cls001ClsTxt37 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:390.616760px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.span38 {
font-family:'CronosPro-Semibold';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt38 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:465.454529px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt40 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:668.064148px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.cls001ClsTxt41 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:20px;
left:44.807484px;
letter-spacing:0px;
color:#FFFFFF;
line-height:115%;
}
.cls001ClsTxt42 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:120px;
left:105.868088px;
letter-spacing:0px;
color:#FEFF59;
line-height:115%;
}
.cls001ClsTxt43 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:436px;
left:107.693398px;
letter-spacing:0px;
color:#FEFF59;
line-height:115%;
}
.cls001ClsTxt44 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1029px;
left:105.868088px;
letter-spacing:0px;
color:#FEFF59;
line-height:115%;
}
.span45 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1029px;
left:150px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span46 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt46 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1027px;
left:279.272705px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span47 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1027px;
left:425.297668px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt48 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt49 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1086px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt50 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt51 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:359.586426px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span52 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt52 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:501px;
left:514.737976px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt53 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:501px;
left:618.780701px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span54 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt54 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:501px;
left:647.985718px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span55 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:514.737976px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt56 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:525px;
left:618.780701px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span57 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:647.985718px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span58 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt58 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:548px;
left:514.737976px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt59 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:548px;
left:618.780701px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span60 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt60 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:548px;
left:647.985718px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:581px;
left:172px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:605px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:161px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt64 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:605px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt65 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:581px;
left:261.320862px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:605px;
left:261.320862px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:261px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt71 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt72a {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:581px;
left:384.839539px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:377.839539px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:374.188934px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt74 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:604px;
left:427.122955px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:514.737976px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span76 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt76 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:514.213867px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt77 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:580px;
left:618.780701px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt78 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:58px;
left:699px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt79 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:647.540100px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt80 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:514.737976px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span81 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt81 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:514.213867px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt82 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:604px;
left:618.780701px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt83 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:604px;
left:647.985718px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt84 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:604px;
left:679.015991px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt85 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:514.737976px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span86 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt86 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:514.213867px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt87 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:628px;
left:618.780701px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt88 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:628px;
left:647.985718px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt89 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:628px;
left:684.491943px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt90 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:668px;
left:255.543671px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt91 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:668px;
left:573.147949px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt92 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:714px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span93 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt93 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:738px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span94 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt94 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:762px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span95 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt95 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:786px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.cls001ClsTxt96 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span97 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:833px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
line-height:115%;
}
.span98 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt98 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:857px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt99 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:891px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt100 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:246.417099px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span101 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
line-height:115%;
}
.cls001ClsTxt101 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:317.604279px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt102 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:379.664886px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt103 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt104 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:914px;
left:248.242401px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt105 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt106 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:447.201416px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt107 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:489.183594px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt108 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt109 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:938px;
left:264.670227px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt110 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:303.001770px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt111 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:379.664886px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt112 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:938px;
left:416.171112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt113 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt114 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:962px;
left:323.080200px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt115 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:372.363647px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt116 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:456.327972px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt117 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:962px;
left:496.484802px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt118 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt119 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:242.766464px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt120 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:985px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt121 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:985px;
left:423.472351px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt122 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:736px;
left:731px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt123 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:1162px;
left:839.643433px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.span124 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
line-height:115%;
}
.cls001ClsTxt124 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt126 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:335.857391px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.cls001ClsTxt127 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:401.568604px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt129 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:507.436676px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.cls001ClsTxt130 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:582.274475px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt132 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:638.859131px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.cls001ClsTxt133 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:713.696960px;
letter-spacing:0px;
color:#030506;
line-height:115%;
}
.cls001ClsTxt135 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:815.914368px;
letter-spacing:0px;
color:#CB0307;
line-height:115%;
}
.cls000ClsTxt125a{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
left:162.452759px;
top:1318px;
color:#000000;
line-height:125%;
}
.underline-nor
{
text-decoration:underline;
color:#c00d0e;
}
.zap {
font-family:'ZapfDingbatsStd';
}
.cls001span125{
font-size:18.253120px;
font-family:'CronosPro-Lt';
}
