@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls050ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:37px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls050ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:845.119385px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls050ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:26px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls050ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls050ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:137px;
left:180.705872px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls050ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:137px;
left:262.844910px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls050ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:146px;
left:352.285187px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls050ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:160px;
left:180.705872px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls050ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:160px;
left:262.844910px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls050ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:120px;
left:399.743286px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls050ClsTxt10
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:120px;
left:525.689819px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls050ClsTxt11
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:120px;
left:629.732605px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls050ClsTxt12
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:144px;
left:399.743286px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls050ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:144px;
left:521.689819px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls050ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:144px;
left:629.732605px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls050ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:168px;
left:399.743286px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls050ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:168px;
left:525.689819px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls050ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:166.103378px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls050ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:186.181824px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls050ClsTxt19
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:210px;
left:381.490173px;
color:#C00D0E;
}
.span20
{
color:#C00D0E;
}
.cls050ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:916.306519px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls050ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:166.103378px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls050ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:186.181824px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls050ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:916.306519px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls050ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:257px;
left:166.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls050ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:257px;
left:186.181824px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls050ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:257px;
left:916.306519px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls050ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:281px;
left:166.103378px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls050ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:281px;
left:186.181824px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls050ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:281px;
left:916.306519px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls050ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:305px;
left:166.103378px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls050ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:305px;
left:186.181824px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls050ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:305px;
left:916.306519px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls050ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:166.103378px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls050ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:186.181824px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls050ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:737.426025px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls050ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:353px;
left:186.181824px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls050ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:166.103378px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls050ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:186.181824px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls050ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:914.481201px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls050ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:166.103378px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls050ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls050ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:635.208557px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls050ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:424px;
left:186.181824px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.span44
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls050ClsTxt44
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:463px;
left:166.103378px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls050ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:166.103378px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls050ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:186.181824px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls050ClsTxt47
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:491px;
left:324.905518px;
color:#C00D0E;
}
.span48
{
color:#C00D0E;
}
.cls050ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:383.315491px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls050ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:166.103378px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls050ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:186.181824px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls050ClsTxt51
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:515px;
left:324.905518px;
color:#C00D0E;
}
.span52
{
color:#C00D0E;
}
.cls050ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:396.092651px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls050ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:166.103378px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls050ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:186.181824px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls050ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:538px;
left:381.490173px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls050ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:166.103378px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls050ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:186.181824px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls050ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:562px;
left:582.274475px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls050ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:166.103378px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls050ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:186.181824px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls050ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:469.105133px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls050ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:166.103378px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls050ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:186.181824px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls050ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:534.816345px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls050ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:166.103378px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls050ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:186.181824px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls050ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:410.695190px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls050ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:166.103378px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls050ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:186.181824px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls050ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:476.406403px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls050ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:166.103378px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls050ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:186.181824px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls050ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:476.406403px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls050ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:156.976822px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls050ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:186.181824px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls050ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:465.454529px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls050ClsTxt77
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:744px;
left:166.103378px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls050ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:166.103378px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls050ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:186.181824px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls050ClsTxt80
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:772px;
left:244.591797px;
color:#C00D0E;
}
.span81
{
color:#C00D0E;
}
.cls050ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:306.652405px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls050ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls050ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls050ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:425.297668px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls050ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:821px;
left:166.103378px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls050ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:821px;
left:186.181824px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls050ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:821px;
left:726.474121px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls050ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:845px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls050ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:845px;
left:186.181824px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls050ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:845px;
left:739.251282px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls050ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
left:166.103378px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls050ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
left:186.181824px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls050ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
left:361.411743px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls050ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:166.103378px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls050ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:186.181824px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls050ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:370.538300px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls050ClsTxt97
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:931px;
left:166.103378px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls050ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:166.103378px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls050ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:186.181824px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls050ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:984px;
left:186.181824px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls050ClsTxt101
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:983px;
left:244.591797px;
color:#C00D0E;
}
.span102
{
color:#C00D0E;
}
.cls050ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1018px;
left:166.103378px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls050ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1018px;
left:186.181824px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls050ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:186.181824px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls050ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1075px;
left:166.103378px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls050ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1075px;
left:186.181824px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls050ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1099px;
left:186.181824px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls050ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1133px;
left:166.103378px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls050ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1133px;
left:186.181824px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls050ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:186.181824px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls050ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:166.103378px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls050ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:186.181824px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls050ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1215px;
left:186.181824px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls050ClsTxt114
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:89.440277px;
color:#FFF374;
}
.span115
{
color:#C00D0E;
}
.cls050ClsTxt115
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:457px;
left:89.440277px;
color:#FFF374;
}
.span116
{
color:#C00D0E;
}
.cls050ClsTxt116
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:739px;
left:89.440277px;
color:#FFF374;
}
.span117
{
color:#C00D0E;
}
.cls050ClsTxt117
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:926px;
left:89.440277px;
color:#FFF374;
}
