@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls042ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls042ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:845.119385px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls042ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:26px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.span3
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls042ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls042ClsTxt4
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:115px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls042ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:177px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls042ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:180.705872px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls042ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:180.705872px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls042ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:180.705872px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls042ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:290.224579px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls042ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:290.224579px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls042ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:290.224579px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls042ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:290.224579px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls042ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:396.092651px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls042ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:396.092651px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls042ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:396.092651px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls042ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:396.092651px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls042ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:627.907288px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls042ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:624.907288px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls042ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:627.907288px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls042ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:627.907288px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls042ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:268px;
left:166.103378px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls042ClsTxt22
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:268px;
left:202.609619px;
color:#C00D0E;
}
.span23
{
color:#C00D0E;
}
.cls042ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:292px;
left:166.103378px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls042ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:292px;
left:186.181824px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls042ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:316px;
left:166.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls042ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:316px;
left:186.181824px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls042ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:166.103378px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls042ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:166.103378px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls042ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:387px;
left:166.103378px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls042ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:410px;
left:166.103378px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls042ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:434px;
left:166.103378px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls042ClsTxt32
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:474px;
left:166.103378px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls042ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:504px;
left:166.103378px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls042ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:504px;
left:186.181824px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls042ClsTxt35
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:526px;
left:202.609619px;
color:#C00D0E;
}
.span36
{
color:#C00D0E;
}
.cls042ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:560px;
left:166.103378px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls042ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:560px;
left:186.181824px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls042ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:584px;
left:186.181824px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls042ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:584px;
left:812.263794px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls042ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:619px;
left:166.103378px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls042ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:619px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls042ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:642px;
left:186.181824px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls042ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:677px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls042ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:677px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls042ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:701px;
left:186.181824px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls042ClsTxt46
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:739px;
left:166.103378px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls042ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:166.103378px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls042ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:186.181824px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls042ClsTxt49
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:768px;
left:317.604279px;
color:#C00D0E;
}
.span50
{
color:#C00D0E;
}
.cls042ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:370.538300px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls042ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:166.103378px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls042ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:186.181824px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls042ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:511.087341px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls042ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:166.103378px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls042ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:186.181824px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls042ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:509.261993px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls042ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:839px;
left:166.103378px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls042ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:839px;
left:186.181824px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls042ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:839px;
left:449.026733px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls042ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:166.103378px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls042ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:186.181824px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls042ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:469.105133px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls042ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:166.103378px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls042ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:186.181824px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls042ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:483.707642px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls042ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:166.103378px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls042ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:186.181824px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls042ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:401.568604px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls042ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:166.103378px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls042ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:186.181824px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls042ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:428.948303px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls042ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:958px;
left:166.103378px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls042ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:958px;
left:186.181824px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls042ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:958px;
left:545.768250px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls042ClsTxt75
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:998px;
left:166.103378px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls042ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1026px;
left:166.103378px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls042ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1026px;
left:186.181824px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls042ClsTxt78
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1026px;
left:627.907288px;
color:#C00D0E;
}
.span79
{
color:#C00D0E;
}
.cls042ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1050px;
left:166.103378px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls042ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1050px;
left:186.181824px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls042ClsTxt81
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1049px;
left:627.907288px;
color:#C00D0E;
}
.span82
{
color:#C00D0E;
}
.cls042ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1073px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls042ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1073px;
left:186.181824px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls042ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1097px;
left:166.103378px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls042ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1097px;
left:186.181824px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls042ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1121px;
left:166.103378px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls042ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1121px;
left:186.181824px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls042ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls042ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1144px;
left:186.181824px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls042ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:166.103378px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls042ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:186.181824px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls042ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:166.103378px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls042ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:186.181824px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls042ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1216px;
left:166.103378px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls042ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1216px;
left:186.181824px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls042ClsTxt96
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:89.440277px;
color:#FFF374;
}
.span97
{
color:#C00D0E;
}
.cls042ClsTxt97
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:469px;
left:89.440277px;
color:#FFF374;
}
.span98
{
color:#C00D0E;
}
.cls042ClsTxt98
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:734px;
left:89.440277px;
color:#FFF374;
}
.span99
{
color:#C00D0E;
}
.cls042ClsTxt99
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:991px;
left:89.440277px;
color:#FFF374;
}
