@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls085ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:29px;
left:78.488411px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls085ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:101px;
left:122.295898px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls085ClsTxt2
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:102px;
left:390px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls085ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:171.579315px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls085ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:148px;
left:112.344025px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls085ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:578.623840px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls085ClsTxt6
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:394px;
left:251.893036px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls085ClsTxt7
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:624px;
left:171.579315px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls085ClsTxt8
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:648px;
left:171.579315px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls085ClsTxt9
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:619px;
left:112.344025px;
color:#FFF374;
}
.span10
{
color:#C00D0E;
}
.cls085ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:197px;
left:352.285187px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls085ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:228px;
left:352.285187px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls085ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:221px;
left:580.449158px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls085ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:244px;
left:352.285187px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls085ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:251px;
left:439.900177px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls085ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:244px;
left:669.889404px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls085ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:268px;
left:352.285187px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls085ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:275px;
left:470.930450px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls085ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:268px;
left:699.094482px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls085ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:292px;
left:352.285187px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls085ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:299px;
left:564.021362px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls085ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:292px;
left:792.185303px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls085ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:316px;
left:352.285187px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls085ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:323px;
left:527.515137px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls085ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:316px;
left:755.679077px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls085ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:352.285187px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls085ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:346px;
left:660.762939px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls085ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:352.285187px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls085ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:405px;
left:352.285187px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls085ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:580.449158px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls085ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:428px;
left:352.285187px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls085ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:580.449158px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls085ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:445px;
left:352.285187px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls085ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:451px;
left:500.135468px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls085ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:445px;
left:728.299438px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls085ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:352.285187px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls085ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:475px;
left:450.852020px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls085ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:686.317261px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls085ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:493px;
left:352.285187px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls085ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:499px;
left:494.659515px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls085ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:493px;
left:728.299438px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls085ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:516px;
left:352.285187px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls085ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:522px;
left:589.575745px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls085ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:516px;
left:825.040955px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls085ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:540px;
left:352.285187px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls085ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:546px;
left:394.267365px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls085ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:540px;
left:629.732605px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls085ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:12.777183px;
top:571px;
left:352.285187px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls085ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:564px;
left:585.925110px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls085ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:750px;
left:124.121201px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls085ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:779px;
left:124.121201px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls085ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:803px;
left:124.121201px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls085ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:807px;
left:162.452759px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls085ClsTxt53
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:801px;
left:197.133682px;
color:#C00D0E;
}
.span54
{
color:#C00D0E;
}
.cls085ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:803px;
left:299.351166px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls085ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:831px;
left:124.121201px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls085ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:827px;
left:354.110504px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls085ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:850px;
left:124.121201px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls085ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:855px;
left:365.062378px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls085ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:124.121201px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls085ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:878px;
left:231.814621px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls085ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:461.803925px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls085ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:898px;
left:124.121201px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls085ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:902px;
left:197.133682px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls085ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:898px;
left:427.122955px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls085ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:921px;
left:124.121201px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls085ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:926px;
left:374.188934px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls085ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:945px;
left:124.121201px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls085ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:124.121201px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls085ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:979px;
left:341.333344px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls085ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:997px;
left:124.121201px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls085ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:1026px;
left:124.121201px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls085ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1021px;
left:354.110504px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls085ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:1050px;
left:124.121201px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls085ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1045px;
left:350.459869px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls085ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:1074px;
left:124.121201px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls085ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:411.520477px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls085ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1092px;
left:124.121201px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls085ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:1097px;
left:334.032074px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls085ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1093px;
left:571.322571px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls085ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1116px;
left:124.121201px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls085ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:1145px;
left:124.121201px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls085ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1140px;
left:359.586426px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls085ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:124.121201px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls085ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:13.689838px;
top:1174px;
left:330.381470px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls085ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:124.121201px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls085ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1221px;
left:124.121201px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls085ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1250px;
left:124.121201px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls085ClsTxt88
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:883px;
left:788.534729px;
color:#000000;
}
