@font-face{font-family:"MyriadPro-Regular";src:url('../fonts/MyriadPro-Regular.otf');}
@font-face{font-family:"MyriadPro-It";src:url('../fonts/MyriadPro-It.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#CB0307;
}
.cls039ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#CB0307;
}
.cls039ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FEFF59;
}
.span2
{
color:#CB0307;
}
.cls039ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:696px;
left:107.693398px;
color:#FEFF59;
}
.span3
{
color:#CB0307;
}
.cls039ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1035px;
left:105.868088px;
color:#FEFF59;
}
.span4
{
color:#CB0307;
}
.span4
{
font-weight:bold;
font-size:38.331551px;
}
.cls039ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span5
{
color:#CB0307;
}
.cls039ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:149.675583px;
color:#030506;
}
.span6
{
color:#CB0307;
}
.cls039ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:697px;
left:229.989288px;
color:#030506;
}
.span7
{
color:#CB0307;
}
.cls039ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:697px;
left:262.844910px;
color:#030506;
}
.span8
{
color:#CB0307;
}
.cls039ClsTxt8
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:11.499470px;
top:802px;
left:182.531189px;
color:#FFFFFF;
}
.span9
{
color:#030506;
}
.cls039ClsTxt9
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:11.499470px;
top:799px;
left:229.989288px;
color:#FFFFFF;
}
.span10
{
color:#030506;
}
.cls039ClsTxt10
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:11.499470px;
top:799px;
left:434.424225px;
color:#FFFFFF;
}
.span11
{
color:#030506;
}
.cls039ClsTxt11
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:11.499470px;
top:799px;
left:463.629242px;
color:#030506;
}
.span12
{
color:#030506;
}
.cls039ClsTxt12
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:11.499470px;
top:799px;
left:481.882324px;
color:#FFFFFF;
}
.span13
{
color:#030506;
}
.cls039ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1035px;
left:149.675583px;
color:#030506;
}
.span14
{
color:#030506;
}
.span14
{
font-weight:bold;
font-size:20.078430px;
}
.cls039ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1067px;
left:160.627441px;
color:#030506;
}
.span15
{
color:#030506;
}
.cls039ClsTxt15
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1091px;
left:160.627441px;
color:#030506;
}
.span16
{
color:#030506;
}
.cls039ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1115px;
left:160.627441px;
color:#030506;
}
.span17
{
color:#030506;
}
.cls039ClsTxt17
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1139px;
left:160.627441px;
color:#030506;
}
.span18
{
color:#030506;
}
.cls039ClsTxt18
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1162px;
left:160.627441px;
color:#030506;
}
.span19
{
color:#030506;
}
.cls039ClsTxt19
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1186px;
left:160.627441px;
color:#030506;
}
.span20
{
color:#030506;
}
.cls039ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1067px;
left:407.044556px;
color:#030506;
}
.span21
{
color:#030506;
}
.cls039ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1091px;
left:407.044556px;
color:#030506;
}
.span22
{
color:#030506;
}
.span22
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1115px;
left:407.044556px;
color:#030506;
}
.span23
{
color:#030506;
}
.cls039ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1139px;
left:407.044556px;
color:#030506;
}
.span24
{
color:#030506;
}
.span24
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:407.044556px;
color:#030506;
}
.span25
{
color:#030506;
}
.cls039ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1186px;
left:407.044556px;
color:#030506;
}
.span26
{
color:#030506;
}
.cls039ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1230px;
left:149.675583px;
color:#030506;
}
.span27
{
color:#030506;
}
.span27
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:217.212112px;
color:#030506;
}
.span28
{
color:#030506;
}
.span28
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:423.472351px;
color:#030506;
}
.span29
{
color:#030506;
}
.cls039ClsTxt29
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:118px;
left:149.675583px;
color:#030506;
}
.span30
{
color:#030506;
}
.cls039ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:362px;
left:149.675583px;
color:#030506;
}
.span31
{
color:#030506;
}
.span31
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:385px;
left:217.212112px;
color:#030506;
}
.span32
{
color:#030506;
}
.span32
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:409px;
left:217.212112px;
color:#030506;
}
.span33
{
color:#030506;
}
.span33
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:432px;
left:217.212112px;
color:#030506;
}
.span34
{
color:#030506;
}
.cls039ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:467px;
left:149.675583px;
color:#030506;
}
.span35
{
color:#030506;
}
.cls039ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:217.212112px;
color:#030506;
}
.span36
{
color:#030506;
}
.span36
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:491px;
left:511.087341px;
color:#030506;
}
.span37
{
color:#030506;
}
.span37
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:217.212112px;
color:#030506;
}
.span38
{
color:#030506;
}
.span38
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:514px;
left:483.707642px;
color:#030506;
}
.span39
{
color:#030506;
}
.cls039ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:549px;
left:149.675583px;
color:#030506;
}
.span40
{
color:#030506;
}
.cls039ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:549px;
left:224.513367px;
color:#030506;
}
.span41
{
color:#030506;
}
.cls039ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:549px;
left:271.971466px;
color:#030506;
}
.span42
{
color:#030506;
}
.cls039ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:549px;
left:303.001770px;
color:#030506;
}
.span43
{
color:#030506;
}
.cls039ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:47.458111px;
color:#FFFFFF;
}
.span44
{
color:#030506;
}
.cls039ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#030506;
}
.span46
{
color:#030506;
}
.cls039ClsTxt46
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:204.434921px;
color:#CB0307;
}
.span47
{
color:#030506;
}
.span47
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:190px;
left:609.654175px;
color:#030506;
}
.span48
{
color:#030506;
}
.cls039ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:609.654175px;
color:#030506;
}
.span49
{
color:#030506;
}
.cls039ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:710.046326px;
color:#030506;
}
.span50
{
color:#030506;
}
.cls039ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:609.654175px;
color:#030506;
}
.span51
{
color:#030506;
}
.cls039ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:724.648804px;
color:#030506;
}
.span52
{
color:#030506;
}
.cls039ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:233.639923px;
color:#030506;
}
.span53
{
color:#030506;
}
.cls039ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:346.809235px;
color:#030506;
}
.span54
{
color:#030506;
}
.cls039ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:233.639923px;
color:#030506;
}
.span55
{
color:#030506;
}
.cls039ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:639px;
left:233.639923px;
color:#030506;
}
.span56
{
color:#030506;
}
.cls039ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:639px;
left:379.664886px;
color:#030506;
}
.span57
{
color:#030506;
}
.cls039ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:620.606018px;
color:#030506;
}
.span58
{
color:#030506;
}
.cls039ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:752.028503px;
color:#030506;
}
.span59
{
color:#030506;
}
.cls039ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:620.606018px;
color:#030506;
}
.span60
{
color:#030506;
}
.cls039ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:639px;
left:620.606018px;
color:#030506;
}
.span61
{
color:#030506;
}
.cls039ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:639px;
left:768.456299px;
color:#030506;
}
.span62
{
color:#030506;
}
.span62
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:739px;
left:166.103378px;
color:#030506;
}
.span63
{
color:#030506;
}
.cls039ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:233.639923px;
color:#030506;
}
.span64
{
color:#030506;
}
.cls039ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:892px;
left:299.351166px;
color:#030506;
}
.span65
{
color:#030506;
}
.cls039ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:379.664886px;
color:#030506;
}
.span66
{
color:#030506;
}
.cls039ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:916px;
left:233.639923px;
color:#030506;
}
.span67
{
color:#030506;
}
.cls039ClsTxt67
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:940px;
left:233.639923px;
color:#030506;
}
.span68
{
color:#030506;
}
.cls039ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:940px;
left:357.761108px;
color:#030506;
}
.span69
{
color:#030506;
}
.span69
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:166.103378px;
color:#030506;
}
.span70
{
color:#030506;
}
.span70
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:739px;
left:553.069519px;
color:#030506;
}
.span71
{
color:#030506;
}
.cls039ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:620.606018px;
color:#030506;
}
.span72
{
color:#030506;
}
.cls039ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:892px;
left:686.317261px;
color:#030506;
}
.span73
{
color:#030506;
}
.cls039ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:742.901917px;
color:#030506;
}
.span74
{
color:#030506;
}
.cls039ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:916px;
left:620.606018px;
color:#030506;
}
.span75
{
color:#030506;
}
.cls039ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:916px;
left:821.390381px;
color:#030506;
}
.span76
{
color:#030506;
}
.cls039ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:940px;
left:620.606018px;
color:#030506;
}
.span77
{
color:#030506;
}
.span77
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls039ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:974px;
left:553.069519px;
color:#030506;
}
.span78
{
color:#030506;
}
.cls039ClsTxt78
{
position:absolute;
font-family:'MyriadPro-It';
font-size:14.785038px;
top:775px;
left:310.303009px;
color:#030506;
}
.span79
{
color:#030506;
}
.cls039ClsTxt79
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:11.499470px;
top:799px;
left:215.386795px;
color:#030506;
}
.span80
{
color:#030506;
}
.cls039ClsTxt80
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:14.785038px;
top:858px;
left:297.525818px;
color:#030506;
}
.span81
{
color:#030506;
}
.cls039ClsTxt81
{
position:absolute;
font-family:'MyriadPro-It';
font-size:14.785038px;
top:775px;
left:700.919739px;
color:#030506;
}
.span82
{
color:#030506;
}
.cls039ClsTxt82
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:13.142240px;
top:796px;
left:572.147949px;
color:#030506;
}
.span83
{
color:#030506;
}
.cls039ClsTxt83
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:13.142240px;
top:810px;
left:573.147949px;
color:#030506;
}
.span84
{
color:#030506;
}
.cls039ClsTxt84
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:13.142240px;
top:795px;
left:852.420654px;
color:#030506;
}
.span85
{
color:#030506;
}
.cls039ClsTxt85
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:13.142240px;
top:812px;
left:846.944702px;
color:#030506;
}
.span86
{
color:#030506;
}
.cls039ClsTxt86
{
position:absolute;
font-family:'MyriadPro-Regular';
font-size:14.785038px;
top:838px;
left:697.269165px;
color:#030506;
}
