@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-Light";src:url('../fonts/SourceSansPro-Light.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls083ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:78.488411px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls083ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:77px;
left:171.579315px;
color:#000000;
}
.span2
{
color:#C00D0E;
}
.cls083ClsTxt2
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:106px;
left:171.579315px;
color:#000000;
}
.span3
{
color:#C00D0E;
}
.cls083ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:106px;
left:191.657745px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls083ClsTxt4
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:104px;
left:248.242401px;
color:#C00D0E;
}
.span5
{
color:#C00D0E;
}
.cls083ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:106px;
left:355.935822px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls083ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:130px;
left:171.579315px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls083ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:130px;
left:191.657745px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls083ClsTxt8
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:128px;
left:452.677368px;
color:#C00D0E;
}
.span9
{
color:#C00D0E;
}
.cls083ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:613.304810px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls083ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:154px;
left:171.579315px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls083ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:191.657745px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls083ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:348.634583px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls083ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:699.094482px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls083ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:171.579315px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls083ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:191.657745px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls083ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:348.634583px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls083ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:622.431396px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls083ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:171.579315px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls083ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:191.657745px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls083ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:688.142578px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls083ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:171.579315px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls083ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:191.657745px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls083ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:626.081970px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls083ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:171.579315px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls083ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:191.657745px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls083ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:496.484802px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls083ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:171.579315px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls083ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:191.657745px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls083ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:644.335083px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls083ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:296px;
left:171.579315px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls083ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:297px;
left:191.657745px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls083ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:295px;
left:700.919739px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls083ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:162.452759px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls083ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:191.657745px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls083ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:319px;
left:668.064148px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls083ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:162.452759px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls083ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:191.657745px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls083ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:343px;
left:675.365417px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls083ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:162.452759px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls083ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:191.657745px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls083ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:367px;
left:609.654175px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls083ClsTxt42
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:441px;
left:122.295898px;
color:#FFF374;
}
.span43
{
color:#C00D0E;
}
.cls083ClsTxt43
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:441px;
left:817.739685px;
color:#C00D0E;
}
.span44
{
color:#C00D0E;
}
.cls083ClsTxt44
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:493px;
left:171.579315px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls083ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:522px;
left:171.579315px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls083ClsTxt46
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:518px;
left:207.260239px;
color:#C00D0E;
}
.span47
{
color:#C00D0E;
}
.cls083ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:522px;
left:350.459869px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls083ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:546px;
left:191.657745px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls083ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:208.085556px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls083ClsTxt50
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:546px;
left:308.477692px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls083ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:323.080200px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls083ClsTxt52
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:546px;
left:452.677368px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls083ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:469.105133px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls083ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:579px;
left:171.579315px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls083ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:579px;
left:191.657745px;
color:#000000;
}
.span56
{
color:#000000;
}.cls083ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:666.238831px;
color:#000000;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:602px;
left:191.657745px;
color:#000000;
}
.span58
{
color:#000000;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt58
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:602px;
left:317.604279px;
color:#000000;
}
.span59
{
color:#000000;
}
.span59
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt59
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:602px;
left:511.087341px;
color:#000000;
}
.span60
{
color:#000000;
}
.cls083ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:637px;
left:171.579315px;
color:#000000;
}
.span61
{
color:#000000;
}
.cls083ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:637px;
left:191.657745px;
color:#000000;
}
.span62
{
color:#000000;
}
.cls083ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:637px;
left:828.691589px;
color:#000000;
}
.span63
{
color:#000000;
}
.cls083ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:661px;
left:191.657745px;
color:#000000;
}
.span64
{
color:#000000;
}
.span64
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:684px;
left:191.657745px;
color:#000000;
}
.span65
{
color:#000000;
}
.span65
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt65
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:684px;
left:297.525818px;
color:#000000;
}
.span66
{
color:#000000;
}
.span66
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:684px;
left:427.122955px;
color:#000000;
}
.span67
{
color:#000000;
}
.cls083ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:171.579315px;
color:#000000;
}
.span68
{
color:#000000;
}
.cls083ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:191.657745px;
color:#000000;
}
.span69
{
color:#000000;
}
.cls083ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:719px;
left:722.823486px;
color:#000000;
}
.span70
{
color:#000000;
}
.cls083ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:743px;
left:191.657745px;
color:#000000;
}
.span71
{
color:#000000;
}
.cls083ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:208.085556px;
color:#000000;
}
.span72
{
color:#000000;
}
.cls083ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:743px;
left:292.049927px;
color:#000000;
}
.span73
{
color:#000000;
}
.cls083ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:306.652405px;
color:#000000;
}
.span74
{
color:#000000;
}
.cls083ClsTxt74
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:743px;
left:416.171112px;
color:#000000;
}
.span75
{
color:#000000;
}
.cls083ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:432.598907px;
color:#000000;
}
.span76
{
color:#000000;
}
.cls083ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:171.579315px;
color:#000000;
}
.span77
{
color:#000000;
}
.cls083ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:191.657745px;
color:#000000;
}
.span78
{
color:#000000;
}
.cls083ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:503.786072px;
color:#000000;
}
.span79
{
color:#000000;
}
.cls083ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:638.859131px;
color:#000000;
}
.span80
{
color:#000000;
}
.span80
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:799px;
left:191.657745px;
color:#000000;
}
.span81
{
color:#000000;
}
.span81
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:799px;
left:320.429565px;
color:#000000;
}
.span82
{
color:#000000;
}
.span82
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:799px;
left:471.930450px;
color:#000000;
}
.span83
{
color:#000000;
}
.cls083ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:171.579315px;
color:#000000;
}
.span84
{
color:#000000;
}
.cls083ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:191.657745px;
color:#000000;
}
.span85
{
color:#000000;
}
.cls083ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:593.226318px;
color:#000000;
}
.span86
{
color:#000000;
}
.cls083ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:892.577515px;
color:#000000;
}
.span87
{
color:#000000;
}
.span87
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:858px;
left:191.657745px;
color:#000000;
}
.span88
{
color:#000000;
}
.span88
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:858px;
left:275.622101px;
color:#000000;
}
.span89
{
color:#000000;
}
.span89
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt89
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:858px;
left:441.725464px;
color:#000000;
}
.span90
{
color:#000000;
}
.cls083ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:171.579315px;
color:#000000;
}
.span91
{
color:#000000;
}
.cls083ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:191.657745px;
color:#000000;
}
.span92
{
color:#000000;
}
.cls083ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:543.942932px;
color:#000000;
}
.span93
{
color:#000000;
}
.cls083ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:892px;
left:810.438477px;
color:#000000;
}
.span94
{
color:#000000;
}
.cls083ClsTxt94
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:916px;
left:191.657745px;
color:#000000;
}
.span95
{
color:#000000;
}
.cls083ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:916px;
left:208.085556px;
color:#000000;
}
.span96
{
color:#000000;
}
.cls083ClsTxt96
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:916px;
left:286.573975px;
color:#000000;
}
.span97
{
color:#000000;
}
.cls083ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:916px;
left:301.176453px;
color:#000000;
}
.span98
{
color:#000000;
}
.cls083ClsTxt98
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:916px;
left:463.629242px;
color:#000000;
}
.span99
{
color:#000000;
}
.cls083ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:916px;
left:480.057007px;
color:#000000;
}
.span100
{
color:#000000;
}
.cls083ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:171.579315px;
color:#000000;
}
.span101
{
color:#000000;
}
.cls083ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:191.657745px;
color:#000000;
}
.span102
{
color:#000000;
}
.cls083ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:699.094482px;
color:#000000;
}
.span103
{
color:#000000;
}
.span103
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt103
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:973px;
left:191.657745px;
color:#000000;
}
.span104
{
color:#000000;
}
.span104
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt104
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:973px;
left:284.748657px;
color:#000000;
}
.span105
{
color:#000000;
}
.span105
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt105
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:973px;
left:458.153259px;
color:#000000;
}
.span106
{
color:#000000;
}
.cls083ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:171.579315px;
color:#000000;
}
.span107
{
color:#000000;
}
.cls083ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:191.657745px;
color:#000000;
}
.span108
{
color:#000000;
}
.cls083ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:562.196045px;
color:#000000;
}
.span109
{
color:#000000;
}
.span109
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt109
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1031px;
left:191.657745px;
color:#000000;
}
.span110
{
color:#000000;
}
.span110
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt110
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1031px;
left:372.363647px;
color:#000000;
}
.span111
{
color:#000000;
}
.span111
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt111
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1031px;
left:540.292297px;
color:#000000;
}
.span112
{
color:#000000;
}
.cls083ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1066px;
left:162.452759px;
color:#000000;
}
.span113
{
color:#000000;
}
.cls083ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1066px;
left:191.657745px;
color:#000000;
}
.span114
{
color:#000000;
}
.cls083ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1066px;
left:808.613159px;
color:#000000;
}
.span115
{
color:#000000;
}
.cls083ClsTxt115
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1089px;
left:191.657745px;
color:#000000;
}
.span116
{
color:#000000;
}
.cls083ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1089px;
left:208.085556px;
color:#000000;
}
.span117
{
color:#000000;
}
.cls083ClsTxt117
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1089px;
left:390.616760px;
color:#000000;
}
.span118
{
color:#000000;
}
.cls083ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1089px;
left:405.219238px;
color:#000000;
}
.span119
{
color:#000000;
}
.cls083ClsTxt119
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1089px;
left:629.732605px;
color:#000000;
}
.span120
{
color:#000000;
}
.cls083ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1089px;
left:646.160400px;
color:#000000;
}
.span121
{
color:#000000;
}
.cls083ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1123px;
left:162.452759px;
color:#000000;
}
.span122
{
color:#000000;
}
.cls083ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1123px;
left:191.657745px;
color:#000000;
}
.span123
{
color:#000000;
}
.cls083ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1122px;
left:520.213867px;
color:#000000;
}
.span124
{
color:#000000;
}
.cls083ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1122px;
left:825.040955px;
color:#000000;
}
.span125
{
color:#000000;
}
.span125
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt125
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1146px;
left:191.657745px;
color:#000000;
}
.span126
{
color:#000000;
}
.span126
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt126
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1146px;
left:301.176453px;
color:#000000;
}
.span127
{
color:#000000;
}
.span127
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt127
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1146px;
left:449.026733px;
color:#000000;
}
.span128
{
color:#000000;
}
.cls083ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:162.452759px;
color:#000000;
}
.span129
{
color:#000000;
}
.cls083ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:191.657745px;
color:#000000;
}
.span130
{
color:#000000;
}
.cls083ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:458.153259px;
color:#000000;
}
.span131
{
color:#000000;
}
.cls083ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:596.877014px;
color:#000000;
}
.span132
{
color:#000000;
}
.span132
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt132
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1204px;
left:191.657745px;
color:#000000;
}
.span133
{
color:#000000;
}
.span133
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt133
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1204px;
left:326.730835px;
color:#000000;
}
.span134
{
color:#000000;
}
.span134
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls083ClsTxt134
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1204px;
left:532.991028px;
color:#000000;
}
.span135
{
color:#000000;
}
.cls083ClsTxt135
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:71px;
left:111.344025px;
color:#FFF374;
}
.span136
{
color:#000000;
}
.cls083ClsTxt136
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:488px;
left:111.344025px;
color:#FFF374;
}
.pg13_u88question-top {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:25px;
margin-left:28px;
}
.pg13_u88question {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:18px;
margin-left:28px;
}
.rubric {
position:relative;
font-family:'CronosPro-Regular';
font-size:27px;
margin-top:22px;
margin-left:35px;
}
.pg13_answer
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:26px;
border-radius:25px;
background-color:#ffff94;
margin:10px 30px 10px 70px;
padding:10px 25px 10px 15px;
}
