@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls002ClsTxt0
{
z-index:1;
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:20px;
left:109.518707px;
letter-spacing:0px;
word-spacing:0px;
color:#FFFFFF;
}
.cls002ClsTxt1
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:109.518707px;
letter-spacing:0px;
word-spacing:0px;
color:#FFFFFF;
}
.cls002ClsTxt2
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:137px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt3
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:137px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt4
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:137px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt5
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt6
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt7
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt8
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt9
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:186px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt10
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:186px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt11
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:208px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt12
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:208px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt13
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:208px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt14
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:232px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt15
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:232px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt16
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:232px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt17
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:255px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt18
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:255px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt19
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:255px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt20
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:279px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt21
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:279px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt22
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:279px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt23
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:303px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt24
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:303px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt25
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:303px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt26
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:326px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt27
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:326px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt28
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:326px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt29
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:350px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt30
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:350px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt31
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:350px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt32
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt33
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:372px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt34
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:372px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt35
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:414px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt36
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:414px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt37
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:414px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt38
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:438px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt39
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:438px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt40
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:438px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt41
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:462px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt42
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:462px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt43
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:462px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt44
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:485px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt45
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:485px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt46
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:485px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt47
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:509px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt48
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:509px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt49
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:509px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt50
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:531px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt51
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:531px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt52
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:531px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt53
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:555px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt54
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:555px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt55
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:555px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt56
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt57
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:578px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt58
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:578px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt59
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt60
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:602px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt61
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:602px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt62
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt63
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:626px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt64
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:626px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt65
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt66
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:668px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt67
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:668px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt68
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:692px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt69
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:692px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt70
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:692px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt71
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:713px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt72
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:713px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt73
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:713px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt74
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt75
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:737px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt76
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:737px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt77
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:761px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt78
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:761px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt79
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:761px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt80
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt81
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:785px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt82
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:785px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt83
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:808px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt84
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:808px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt85
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:808px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt86
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt87
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:832px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt88
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:832px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt89
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:854px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt90
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:854px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt91
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:854px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt92
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt93
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:878px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt94
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:878px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt95
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:920px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt96
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:920px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt97
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:920px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt98
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:943px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt99
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:943px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt100
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:943px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt101
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:967px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt102
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:967px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt103
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:967px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt104
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:991px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt105
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:991px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt106
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:991px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt107
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt108
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1015px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt109
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1015px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt110
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt111
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt112
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt113
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt114
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt115
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt116
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt117
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt118
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt119
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1108px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt120
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt121
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt122
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt123
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1131px;
left:251.893036px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt124
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1131px;
left:385.140808px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt125
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:137px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt126
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:137px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt127
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:137px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt128
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt129
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt130
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt131
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt132
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:186px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt133
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:186px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt134
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:208px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt135
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:208px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt136
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:208px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt137
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:232px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt138
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:232px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt139
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:232px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt140
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:255px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt141
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:255px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt142
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:255px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt143
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:279px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt144
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:279px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt145
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:279px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt146
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:303px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt147
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:303px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt148
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:303px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt149
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:326px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt150
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:326px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt151
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:326px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt152
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:350px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt153
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:350px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt154
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:350px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt155
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt156
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:372px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt157
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:372px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt158
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:396px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt159
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:396px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt160
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:396px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt161
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:438px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span162
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls002ClsTxt162
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:438px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span163
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls002ClsTxt163
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:438px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt164
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:462px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt165
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:462px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt166
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:462px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt167
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:485px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt168
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:485px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt169
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:485px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt170
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:509px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt171
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:509px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt172
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:509px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt173
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:531px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt174
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:531px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt175
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:531px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt176
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:555px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt177
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:555px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt178
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:555px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt179
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt180
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:578px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt181
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:578px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt182
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt183
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:602px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt184
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:602px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt185
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:626px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt186
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:626px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt187
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:626px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt188
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:650px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt189
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:650px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt190
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:650px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt191
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:673px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt192
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:673px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt193
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:673px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt194
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:713px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt195
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:713px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt196
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:713px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt197
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt198
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:737px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt199
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:737px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt200
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:761px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt201
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:761px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt202
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:761px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt203
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt204
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:785px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt205
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:785px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt206
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:808px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt207
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:808px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt208
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:808px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt209
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt210
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:832px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt211
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:832px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt212
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:854px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt213
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:854px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt214
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:854px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt215
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt216
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:878px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt217
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:878px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt218
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:901px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt219
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:901px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt220
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:901px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt221
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:925px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt222
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:925px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt223
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:925px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt224
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:967px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt225
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:967px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt226
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:967px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt227
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:991px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt228
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:991px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt229
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:991px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt230
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt231
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1015px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt232
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1015px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt233
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt234
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt235
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1037px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt236
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt237
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt238
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1060px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt239
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt240
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt241
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1084px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt242
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1108px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt243
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt244
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1108px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt245
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1131px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt246
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1131px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt247
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1131px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt248
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1155px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt249
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1155px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt250
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1155px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt251
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1177px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt252
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1177px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt253
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1177px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt254
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt255
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1201px;
left:671.714783px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt256
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1201px;
left:803.137207px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt257
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:109.518707px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt258
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1257px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt259
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1281px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt260
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1305px;
left:118.645279px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span261
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls002ClsTxt261
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1257px;
left:226.338684px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span262
{
font-weight:bold;
font-size:20.078430px;
}
.cls002ClsTxt262
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1281px;
left:226.338684px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span263
{
font-weight:bold;
font-size:20.078430px;
}
.cls002ClsTxt263
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1305px;
left:226.338684px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt264
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1257px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt265
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1281px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt266
{
z-index:1;
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1305px;
left:538.467041px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span267
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls002ClsTxt267
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1257px;
left:644.335083px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span268
{
font-weight:bold;
font-size:20.078430px;
}
.cls002ClsTxt268
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1281px;
left:644.335083px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.span269
{
font-weight:bold;
font-size:20.078430px;
}
.cls002ClsTxt269
{
z-index:1;
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1305px;
left:644.335083px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.cls002ClsTxt270
{
z-index:1;
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1168px;
left:109.518707px;
letter-spacing:0px;
word-spacing:0px;
color:#030506;
}
.nor
{
font-family:'CronosPro-Regular';
}