@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls019ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:18px;
left:43.807484px;
color:#FFFFFF;
}
.span1 {
color:#CB0307;
}
.cls019ClsTxt1 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FEFF59;
}
.span2 {
color:#CB0307;
}
.cls019ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:959px;
left:107.693398px;
color:#FEFF59;
}
.span3 {
color:#CB0307;
}
.cls019ClsTxt3 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1214px;
left:105.868088px;
color:#FEFF59;
}
.span4 {
color:#CB0307;
}
.cls019ClsTxt4 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:149.675583px;
color:#FFFFFF;
}
.span5 {
color:#CB0307;
}
.cls019ClsTxt5 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:432.598907px;
color:#FFFFFF;
}
.span6 {
color:#CB0307;
}
.span6 {
font-weight:bold;
font-size:20.078430px;
}
.cls019ClsTxt6 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:958px;
left:149.675583px;
color:#030506;
}
.span7 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls019ClsTxt7 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:197px;
left:253.718338px;
color:#030506;
}
.span8 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls019ClsTxt8 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:259px;
left:251.893036px;
color:#030506;
}
.span9 {
color:#CB0307;
}
.span9 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls019ClsTxt9 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:318px;
left:273.796783px;
color:#030506;
}
.span10 {
color:#CB0307;
}
.cls019ClsTxt10 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:338px;
left:281.098022px;
color:#030506;
}
.span11 {
color:#CB0307;
}
.cls019ClsTxt11 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:423px;
left:257.368988px;
color:#030506;
}
.span12 {
color:#CB0307;
}
.cls019ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:423px;
left:257px;
color:#030506;
}
.span13 {
color:#CB0307;
}
.cls019ClsTxt13 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:467px;
left:270.146149px;
color:#030506;
}
.span14 {
color:#CB0307;
}
.cls019ClsTxt14 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:487px;
left:257.368988px;
color:#030506;
}
.span15 {
color:#CB0307;
}
.cls019ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:557px;
left:255.543671px;
color:#030506;
}
.span16 {
color:#CB0307;
}
.cls019ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:557px;
left:303.001770px;
color:#030506;
}
.span17 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls019ClsTxt17 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:728px;
left:251.893036px;
color:#030506;
}
.span18 {
color:#CB0307;
}
.cls019ClsTxt18 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:767px;
left:257.368988px;
color:#030506;
}
.span19 {
color:#CB0307;
}
.cls019ClsTxt19 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:999px;
left:166.103378px;
color:#030506;
}
.span20 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls019ClsTxt20 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:860px;
left:355.935822px;
color:#030506;
}
.span21 {
color:#CB0307;
}
.cls019ClsTxt21 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:787px;
left:275.622101px;
color:#030506;
}
.span22 {
color:#CB0307;
}
.span22 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1024px;
left:233.639923px;
color:#030506;
}
.span23 {
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls019ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:233.639923px;
color:#030506;
}
.span24 {
color:#CB0307;
}
.span24 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1071px;
left:233.639923px;
color:#030506;
}
.span25 {
color:#CB0307;
}
.span25 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1095px;
left:233.639923px;
color:#030506;
}
.span26 {
color:#CB0307;
}
.span26 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1130px;
left:166.103378px;
color:#030506;
}
.span27 {
color:#CB0307;
}
.span27 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:166.103378px;
color:#030506;
}
.span28 {
color:#CB0307;
}
.cls019ClsTxt28 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1214px;
left:149.675583px;
color:#030506;
}
.span29 {
color:#CB0307;
}
.span29 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1237px;
left:217.212112px;
color:#030506;
}
.span30 {
color:#CB0307;
}
.cls019ClsTxt30 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1237px;
left:419.821716px;
color:#030506;
}
.span31 {
color:#CB0307;
}
.cls019ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1237px;
left:449.026733px;
color:#030506;
}
.span32 {
color:#CB0307;
}
.span32 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1237px;
left:613.304810px;
color:#030506;
}
.span33 {
color:#CB0307;
}
.span33 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1261px;
left:217.212112px;
color:#030506;
}
.span34 {
color:#CB0307;
}
.cls019ClsTxt34 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1261px;
left:536.641724px;
color:#030506;
}
.span35 {
color:#CB0307;
}
.cls019ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1261px;
left:565.846680px;
color:#030506;
}
.span36 {
color:#CB0307;
}
.cls019ClsTxt36 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:46px;
left:47.458111px;
color:#FFFFFF;
}
.span37 {
color:#CB0307;
}
.span37 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls019ClsTxt37 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#030506;
}
.span39 {
color:#CB0307;
}
.cls019ClsTxt39 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:293.875214px;
color:#CB0307;
}
.span40 {
color:#CB0307;
}
.cls019ClsTxt40 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:999px;
left:553.069519px;
color:#030506;
}
.span41 {
color:#CB0307;
}
.span41 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt41 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1024px;
left:620.606018px;
color:#030506;
}
.span42 {
color:#CB0307;
}
.span42 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1047px;
left:620.606018px;
color:#030506;
}
.span43 {
color:#CB0307;
}
.span43 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1071px;
left:620.606018px;
color:#030506;
}
.span44 {
color:#CB0307;
}
.span44 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt44 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1095px;
left:620.606018px;
color:#030506;
}
.span45 {
color:#CB0307;
}
.span45 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1129px;
left:553.069519px;
color:#030506;
}
.span46 {
color:#CB0307;
}
.span46 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt46 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:553.069519px;
color:#030506;
}
.span47 {
color:#CB0307;
}
.cls019ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:129px;
left:166.103378px;
color:#030506;
}
.span48 {
color:#CB0307;
}
.cls019ClsTxt48 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:150px;
left:166.103378px;
color:#030506;
}
.span49 {
color:#CB0307;
}
.cls019ClsTxt49 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:569.497314px;
color:#030506;
}
.span50 {
color:#CB0307;
}
.cls019ClsTxt50 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:569.497314px;
color:#030506;
}
.span51 {
color:#CB0307;
}
.cls019ClsTxt51 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:195px;
left:668.064148px;
color:#030506;
}
.span52 {
color:#CB0307;
}
.cls019ClsTxt52 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:195px;
left:777.582825px;
color:#030506;
}
.span53 {
color:#CB0307;
}
.cls019ClsTxt53 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:195px;
left:843.294128px;
color:#030506;
}
.span54 {
color:#CB0307;
}
.cls019ClsTxt54 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:219px;
left:668.064148px;
color:#030506;
}
.span55 {
color:#CB0307;
}
.cls019ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:243px;
left:668.064148px;
color:#030506;
}
.span56 {
color:#CB0307;
}
.cls019ClsTxt56 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.078430px;
top:318px;
left:273.630981px;
text-align:center;
color:#030506;
}
.span57 {
color:#CB0307;
}
.cls019ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:266px;
left:668.064148px;
color:#030506;
}
.span58 {
color:#CB0307;
}
.cls019ClsTxt58 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:316px;
left:668.064148px;
color:#030506;
}
.span59 {
color:#CB0307;
}
.cls019ClsTxt59 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:316px;
left:846.944702px;
color:#030506;
}
.span60 {
color:#CB0307;
}
.cls019ClsTxt60 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:340px;
left:668.064148px;
text-align:center;
color:#030506;
}
.span61 {
color:#CB0307;
}
.cls019ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:710.046326px;
color:#030506;
}
.span62 {
color:#CB0307;
}
.span62 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:668.064148px;
color:#030506;
}
.span63 {
color:#CB0307;
}
.cls019ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:445px;
left:668.064148px;
color:#030506;
}
.span64 {
color:#CB0307;
}
.span64 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:668.064148px;
color:#030506;
}
.span65 {
color:#CB0307;
}
.cls019ClsTxt65 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:493px;
left:668.064148px;
color:#030506;
}
.span66 {
color:#CB0307;
}
.span66 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:555px;
left:668.064148px;
color:#030506;
}
.span67 {
color:#CB0307;
}
.cls019ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:578px;
left:668.064148px;
color:#030506;
}
.span68 {
color:#CB0307;
}
.span68 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:640px;
left:668.064148px;
color:#030506;
}
.span69 {
color:#CB0307;
}
.cls019ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:664px;
left:668.064148px;
color:#030506;
}
.span70 {
color:#CB0307;
}
.span70 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:724px;
left:668.064148px;
color:#030506;
}
.span71 {
color:#CB0307;
}
.cls019ClsTxt71 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:748px;
left:668.064148px;
color:#030506;
}
.span72 {
color:#CB0307;
}
.span72 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:668.064148px;
color:#030506;
}
.span73 {
color:#CB0307;
}
.cls019ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:796px;
left:668.064148px;
color:#030506;
}
.span74 {
color:#CB0307;
}
.span74 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:834px;
left:668.064148px;
color:#030506;
}
.span75 {
color:#CB0307;
}
.span75 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls019ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:858px;
left:668.064148px;
color:#030506;
}
.span76 {
color:#CB0307;
}
.cls019ClsTxt76 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:222px;
left:472.755737px;
color:#030506;
}
.span78 {
color:#CB0307;
}
.cls019ClsTxt78 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:233px;
left:513.467041px;
color:#030506;
}
.span79 {
color:#CB0307;
}
.cls019ClsTxt79 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:246px;
left:485.532928px;
color:#030506;
}
.span80 {
color:#CB0307;
}
.cls019ClsTxt80 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:440px;
left:459.978577px;
color:#030506;
}
.span81 {
color:#CB0307;
}
.span81 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt81 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:449px;
left:512.912659px;
color:#030506;
}
.span82 {
color:#CB0307;
}
.cls019ClsTxt82 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:463px;
left:470.930450px;
color:#030506;
}
.span83 {
color:#CB0307;
}
.cls019ClsTxt83 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:746px;
left:476.406403px;
color:#030506;
}
.span84 {
color:#CB0307;
}
.span84 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls019ClsTxt84 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:755px;
left:512.912659px;
color:#030506;
}
.span85 {
color:#CB0307;
}
.cls019ClsTxt85 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:770px;
left:459.978577px;
color:#030506;
}
.span86 {
color:#CB0307;
}
.cls019ClsTxt86 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:405px;
left:166.103378px;
color:#030506;
}
.span87 {
color:#CB0307;
}
.cls019ClsTxt87 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:531px;
left:166.103378px;
color:#030506;
}
.span88 {
color:#CB0307;
}
.cls019ClsTxt88 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:631px;
left:166.103378px;
color:#030506;
}
.span89 {
color:#CB0307;
}
.cls019ClsTxt89 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:719px;
left:166.103378px;
color:#030506;
}
.span90 {
color:#CB0307;
}
.cls019ClsTxt90 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:828px;
left:166.103378px;
color:#030506;
}
.span91 {
color:#CB0307;
}
.cls019ClsTxt91 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:896px;
left:354.110504px;
color:#030506;
}
.span92 {
color:#CB0307;
}
.span92 {
font-weight:bold;
font-size:20.078430px;
}
.cls019ClsTxt92 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:333px;
left:483.707642px;
color:#030506;
}
.span93 {
color:#CB0307;
}
.span93 {
font-weight:bold;
font-size:20.078430px;
}
.cls019ClsTxt93 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:560px;
left:481.882324px;
color:#030506;
}
.span94 {
color:#CB0307;
}
.span94 {
font-weight:bold;
font-size:20.078430px;
}
.cls019ClsTxt94 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:655px;
left:481.882324px;
color:#030506;
}
.span95 {
color:#CB0307;
}
.span95 {
font-weight:bold;
font-size:20.078430px;
}
.cls019ClsTxt95 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:830px;
left:474.581116px;
color:#030506;
}
.span96 {
color:#CB0307;
}
.span96 {
font-weight:bold;
font-size:20.078430px;
}
.cls019ClsTxt96 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:854px;
left:481.882324px;
color:#030506;
}
.span97 {
color:#CB0307;
}
.cls019ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:483.707642px;
color:#030506;
}
.span98 {
color:#CB0307;
}
.cls019ClsTxt98 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:878px;
left:538.467041px;
color:#030506;
}
.span99 {
color:#CB0307;
}
.cls019ClsTxt99 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:903px;
left:445.376099px;
color:#030506;
}
.span100 {
color:#CB0307;
}
.cls019ClsTxt100 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:903px;
left:538.467041px;
color:#030506;
}
.span101 {
color:#CB0307;
}
.cls019ClsTxt101 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:184px;
left:166.103378px;
color:#030506;
}
.span102 {
color:#CB0307;
}
.cls019ClsTxt102 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:301px;
left:166.103378px;
color:#030506;
}
.span103 {
color:#CB0307;
}
.cls019ClsTxt103 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:372px;
left:268.320862px;
color:#030506;
}
.span104 {
color:#CB0307;
}
.cls019ClsTxt104 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:644px;
left:286.573975px;
color:#030506;
}
.span105 {
color:#CB0307;
}
.cls019ClsTxt105 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:644px;
left:308.477692px;
color:#030506;
}
.span106 {
color:#CB0307;
}
.cls019ClsTxt106 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:836px;
left:233.639923px;
color:#030506;
}
.span107 {
color:#CB0307;
}
.cls019ClsTxt107 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:836px;
left:301.176453px;
color:#030506;
}
.span0 {
color:#CB0307;
}
