@font-face{font-family:"SourceSansPro-Regular";src:url('../fonts/SourceSansPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-Bold";src:url('../fonts/SourceSansPro-Bold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls005ClsTxt0
{
position:absolute;
font-family:'SourceSansPro-Bold';
font-size:21.333334px;
top:57px;
left:73.333336px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls005ClsTxt1
{
position:absolute;
font-family:'SourceSansPro-Bold';
font-size:21.333334px;
top:57px;
left:133.333328px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls005ClsTxt2
{
position:absolute;
font-family:'SourceSansPro-Bold';
font-size:21.333334px;
top:57px;
left:196.000000px;
letter-spacing:0px;
color:#FFF373;
}
.cls005ClsTxt3
{
position:absolute;
font-family:'SourceSansPro-Regular';
font-size:21.333334px;
top:57px;
left:304.000000px;
letter-spacing:0px;
color:#FFF373;
word-spacing:1.62px;
}
.cls005ClsTxt4
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:121px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.88px;
}
.cls005ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:155px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls005ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:234.666672px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt9
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:219px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls005ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:271px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:271px;
left:379.333344px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:336px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:336px;
left:379.333344px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:328.000000px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt17
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:443px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls005ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:496px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:496px;
left:359.333344px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:561px;
left:123.666672px;
letter-spacing:0px;
color:#000000;
}
.cls005ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:561px;
left:359.333344px;
letter-spacing:0px;
color:#000000;
}
