@font-face{font-family:"SymbolStd";src:url('../fonts/SymbolStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#030506;
}
.cls007ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:20px;
left:43.807484px;
letter-spacing:0px;
color:#FFFFFF;
}
.span1 {
color:#030506;
}
.cls007ClsTxt1 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:106.868088px;
letter-spacing:0px;
color:#FEFF59;
}
.span2 {
color:#030506;
}
.cls007ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:533px;
left:107.693398px;
letter-spacing:0px;
color:#FEFF59;
}
.span3 {
color:#030506;
}
.cls007ClsTxt3 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:60px;
left:150.675583px;
letter-spacing:0px;
color:#FFFFFF;
}
.span4 {
color:#030506;
}
.cls007ClsTxt4 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:150.675583px;
letter-spacing:0px;
color:#030506;
}
.span5 {
color:#030506;
}
.cls007ClsTxt5 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span6 {
color:#030506;
}
.cls007ClsTxt6 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:540.292297px;
letter-spacing:0px;
color:#030506;
}
.span7 {
color:#030506;
}
.cls007ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:175px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span8 {
color:#030506;
}
.span8 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt8 {
position:absolute;
font-family:'SymbolStd';
font-size:20.078430px;
top:173px;
left:193.483063px;
letter-spacing:0px;
color:#030506;
}
.span9 {
color:#030506;
}
.cls007ClsTxt9 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:301.176453px;
letter-spacing:0px;
color:#030506;
}
.span10 {
color:#030506;
}
.span10 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt10 {
position:absolute;
font-family:'SymbolStd';
font-size:20.078430px;
top:173px;
left:330.381470px;
letter-spacing:0px;
color:#030506;
}
.span11 {
color:#030506;
}
.cls007ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:416.171112px;
letter-spacing:0px;
color:#030506;
}
.span12 {
color:#030506;
}
.span12 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt12 {
position:absolute;
font-family:'SymbolStd';
font-size:20.078430px;
top:173px;
left:459.978577px;
letter-spacing:0px;
color:#030506;
}
.span13 {
color:#030506;
}
.cls007ClsTxt13 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:567.671997px;
letter-spacing:0px;
color:#030506;
}
.span14 {
color:#030506;
}
.span14 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt14 {
position:absolute;
font-family:'SymbolStd';
font-size:20.078430px;
top:173px;
left:613.304810px;
letter-spacing:0px;
color:#030506;
}
.span15 {
color:#030506;
}
.cls007ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span16 {
color:#030506;
}
.span16 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span17 {
color:#030506;
}
.span17 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt17 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:257px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span18 {
color:#030506;
}
.cls007ClsTxt18 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:297px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span19 {
color:#030506;
}
.cls007ClsTxt19 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:320px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span20 {
color:#030506;
}
.cls007ClsTxt20 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:261.019592px;
letter-spacing:0px;
color:#030506;
}
.span21 {
color:#030506;
}
.cls007ClsTxt21 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:321px;
left:277.447388px;
letter-spacing:0px;
color:#030506;
}
.span22 {
color:#030506;
}
.cls007ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:385.140808px;
letter-spacing:0px;
color:#030506;
}
.span24 {
color:#030506;
}
.cls007ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:531.165771px;
letter-spacing:0px;
color:#030506;
}
.span25 {
color:#030506;
}
.cls007ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:345px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span26 {
color:#030506;
}
.cls007ClsTxt26 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:345px;
left:226.338684px;
letter-spacing:0px;
color:#030506;
}
.span27 {
color:#030506;
}
.cls007ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:345px;
left:334.032074px;
letter-spacing:0px;
color:#030506;
}
.span28 {
color:#030506;
}
.cls007ClsTxt28 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:368px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span29 {
color:#030506;
}
.cls007ClsTxt29 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:368px;
left:253.718338px;
letter-spacing:0px;
color:#030506;
}
.span30 {
color:#030506;
}
.cls007ClsTxt30 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:368px;
left:328.556122px;
letter-spacing:0px;
color:#030506;
}
.span31 {
color:#030506;
}
.cls007ClsTxt31 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:401px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span32 {
color:#030506;
}
.cls007ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:209.910858px;
letter-spacing:0px;
color:#030506;
}
.span33 {
color:#030506;
}
.cls007ClsTxt33 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:403px;
left:215.386795px;
letter-spacing:0px;
color:#030506;
}
.span34 {
color:#030506;
}
.span34 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt34 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:386.966125px;
letter-spacing:0px;
color:#030506;
}
.span36 {
color:#030506;
}
.cls007ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:631.557861px;
letter-spacing:0px;
color:#030506;
}
.span37 {
color:#030506;
}
.cls007ClsTxt37 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span38 {
color:#030506;
}
.cls007ClsTxt38 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:427px;
left:317.604279px;
letter-spacing:0px;
color:#030506;
}
.span39 {
color:#030506;
}
.cls007ClsTxt39 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:412.520477px;
letter-spacing:0px;
color:#030506;
}
.span40 {
color:#030506;
}
.cls007ClsTxt40 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span41 {
color:#030506;
}
.cls007ClsTxt41 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:451px;
left:273.796783px;
letter-spacing:0px;
color:#030506;
}
.span42 {
color:#030506;
}
.cls007ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:535px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span43 {
color:#030506;
}
.cls007ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:568px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span44 {
color:#030506;
}
.cls007ClsTxt44 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span45 {
color:#030506;
}
.cls007ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:374.188934px;
letter-spacing:0px;
color:#030506;
}
.span46 {
color:#030506;
}
.cls007ClsTxt46 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span47 {
color:#030506;
}
.cls007ClsTxt47 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:633px;
left:173.404617px;
letter-spacing:0px;
color:#030506;
}
.span48 {
color:#030506;
}
.cls007ClsTxt48 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:657px;
left:153.326202px;
letter-spacing:0px;
color:#030506;
}
.span49 {
color:#030506;
}
.cls007ClsTxt49 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:633px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span50 {
color:#030506;
}
.cls007ClsTxt50 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:657px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span51 {
color:#030506;
}
.cls007ClsTxt51 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:633px;
left:374.188934px;
letter-spacing:0px;
color:#030506;
}
.span52 {
color:#030506;
}
.cls007ClsTxt52 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:657px;
left:374.188934px;
letter-spacing:0px;
color:#030506;
}
.span53 {
color:#030506;
}
.cls007ClsTxt53 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:633px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span54 {
color:#030506;
}
.cls007ClsTxt54 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:657px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span55 {
color:#030506;
}
.cls007ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:712px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span56 {
color:#030506;
}
.cls007ClsTxt56 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span57 {
color:#030506;
}
.cls007ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:376.014252px;
letter-spacing:0px;
color:#030506;
}
.span58 {
color:#030506;
}
.cls007ClsTxt58 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span59 {
color:#030506;
}
.cls007ClsTxt59 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:554.894775px;
letter-spacing:0px;
color:#030506;
}
.span60 {
color:#030506;
}
.cls007ClsTxt60 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:777px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span61 {
color:#030506;
}
.cls007ClsTxt61 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:777px;
left:376.014252px;
letter-spacing:0px;
color:#030506;
}
.span62 {
color:#030506;
}
.cls007ClsTxt62 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:777px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span63 {
color:#030506;
}
.cls007ClsTxt63 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:777px;
left:554.894775px;
letter-spacing:0px;
color:#030506;
}
.span64 {
color:#030506;
}
.cls007ClsTxt64 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:765px;
left:173.404617px;
letter-spacing:0px;
color:#030506;
}
.span65 {
color:#030506;
}
.cls007ClsTxt65 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:788px;
left:153.326202px;
letter-spacing:0px;
color:#030506;
}
.span66 {
color:#030506;
}
.span66 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:827px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span67 {
color:#030506;
}
.cls007ClsTxt67 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:827px;
left:408.869843px;
letter-spacing:0px;
color:#030506;
}
.span68 {
color:#030506;
}
.span68 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:850px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span69 {
color:#030506;
}
.cls007ClsTxt69 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:850px;
left:423.472351px;
letter-spacing:0px;
color:#030506;
}
.span70 {
color:#030506;
}
.span70 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls007ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span71 {
color:#030506;
}
.cls007ClsTxt71 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:874px;
left:421.647064px;
letter-spacing:0px;
color:#030506;
}
.span72 {
color:#030506;
}
.cls007ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:920px;
left:149.675583px;
letter-spacing:0px;
color:#030506;
}
.span73 {
color:#030506;
}
.cls007ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span74 {
color:#030506;
}
.cls007ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:374.188934px;
letter-spacing:0px;
color:#030506;
}
.span75 {
color:#030506;
}
.cls007ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span76 {
color:#030506;
}
.cls007ClsTxt76 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:951px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span77 {
color:#030506;
}
.cls007ClsTxt77 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:984px;
left:173.404617px;
letter-spacing:0px;
color:#030506;
}
.span78 {
color:#030506;
}
.cls007ClsTxt78 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1007px;
left:153.326202px;
letter-spacing:0px;
color:#030506;
}
.span79 {
color:#030506;
}
.cls007ClsTxt79 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:984px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span80 {
color:#030506;
}
.cls007ClsTxt80 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1007px;
left:286.573975px;
letter-spacing:0px;
color:#030506;
}
.span81 {
color:#030506;
}
.cls007ClsTxt81 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:984px;
left:374.188934px;
letter-spacing:0px;
color:#030506;
}
.span82 {
color:#030506;
}
.cls007ClsTxt82 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1007px;
left:374.188934px;
letter-spacing:0px;
color:#030506;
}
.span83 {
color:#030506;
}
.cls007ClsTxt83 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:984px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span84 {
color:#030506;
}
.cls007ClsTxt84 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1007px;
left:463.629242px;
letter-spacing:0px;
color:#030506;
}
.span85 {
color:#030506;
}
.cls007ClsTxt85 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:984px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span86 {
color:#030506;
}
.cls007ClsTxt86 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1007px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span87 {
color:#030506;
}
.cls007ClsTxt87 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1053px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span88 {
color:#030506;
}
.cls007ClsTxt88 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1053px;
left:303.001770px;
letter-spacing:0px;
color:#030506;
}
.span89 {
color:#030506;
}
.cls007ClsTxt89 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1053px;
left:352.285187px;
letter-spacing:0px;
color:#030506;
}
.span90 {
color:#030506;
}
.cls007ClsTxt90 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1053px;
left:532.991028px;
letter-spacing:0px;
color:#030506;
}
.span91 {
color:#030506;
}
.cls007ClsTxt91 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1077px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span92 {
color:#030506;
}
.cls007ClsTxt92 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1077px;
left:303.001770px;
letter-spacing:0px;
color:#030506;
}
.span93 {
color:#030506;
}
.cls007ClsTxt93 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1077px;
left:394.267365px;
letter-spacing:0px;
color:#030506;
}
.span94 {
color:#030506;
}
.cls007ClsTxt94 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1077px;
left:501.960785px;
letter-spacing:0px;
color:#030506;
}
.span95 {
color:#030506;
}
.cls007ClsTxt95 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1100px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span96 {
color:#030506;
}
.cls007ClsTxt96 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1100px;
left:315.778931px;
letter-spacing:0px;
color:#030506;
}
.span97 {
color:#030506;
}
.cls007ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1100px;
left:412.520477px;
letter-spacing:0px;
color:#030506;
}
.span98 {
color:#030506;
}
.cls007ClsTxt98 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1100px;
left:496.484802px;
letter-spacing:0px;
color:#030506;
}
.span99 {
color:#030506;
}
.cls007ClsTxt99 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:47.458111px;
letter-spacing:0px;
color:#FFFFFF;
}
.span100 {
color:#030506;
}
.cls007ClsTxt100 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:162.452759px;
letter-spacing:0px;
color:#030506;
}
.span102 {
color:#030506;
}
.cls007ClsTxt102 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:281.098022px;
letter-spacing:0px;
color:#CB0307;
}
.span103 {
color:#030506;
}
.cls007ClsTxt103 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:405.219238px;
letter-spacing:0px;
color:#030506;
}
.span105 {
color:#030506;
}
.cls007ClsTxt105 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:580.449158px;
letter-spacing:0px;
color:#CB0307;
}


.underline1234
{
color:#000000;
text-decoration:underline;
}