@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls076ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:772.106934px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls076ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:27px;
left:870.673767px;
color:#C00D0E;
}
.span2
{
color:#C00D0E;
}
.cls076ClsTxt2
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:101px;
left:111.344025px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls076ClsTxt3
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:102px;
left:808.613159px;
color:#C00D0E;
}
.span4
{
color:#C00D0E;
}
.cls076ClsTxt4
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:160.627441px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls076ClsTxt5
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:146px;
left:100.392151px;
color:#FFF374;
}
.span6
{
color:#C00D0E;
}
.cls076ClsTxt6
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:397.917999px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls076ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:191px;
left:176.229935px;
color:#C00D0E;
}
.span8
{
color:#C00D0E;
}
.cls076ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:191px;
left:553.069519px;
color:#C00D0E;
}
.span9
{
color:#C00D0E;
}
.cls076ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:412px;
left:553.069519px;
color:#C00D0E;
}
.span10
{
color:#C00D0E;
}
.cls076ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:634px;
left:553.069519px;
color:#C00D0E;
}
.span11
{
color:#C00D0E;
}
.cls076ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:858px;
left:553.069519px;
color:#C00D0E;
}
.span12
{
color:#C00D0E;
}
.cls076ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:1080px;
left:549.418884px;
color:#C00D0E;
}
.span13
{
color:#C00D0E;
}
.cls076ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:353px;
left:171.579315px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls076ClsTxt14
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:351px;
left:201.784302px;
color:#C00D0E;
}
.span15
{
color:#C00D0E;
}
.cls076ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:353px;
left:308.477692px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls076ClsTxt16
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:374px;
left:186.181824px;
color:#C00D0E;
}
.span17
{
color:#C00D0E;
}
.cls076ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:247.417099px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls076ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:412px;
left:175.229935px;
color:#C00D0E;
}
.span19
{
color:#C00D0E;
}
.cls076ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:171.579315px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls076ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:339.507996px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls076ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:597px;
left:171.579315px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls076ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:634px;
left:175.229935px;
color:#C00D0E;
}
.span23
{
color:#C00D0E;
}
.cls076ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:171.579315px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls076ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:339.507996px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls076ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:171.579315px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls076ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:359.586426px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls076ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:821px;
left:171.579315px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls076ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:857px;
left:176.229935px;
color:#C00D0E;
}
.span29
{
color:#C00D0E;
}
.cls076ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:171.579315px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls076ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:1080px;
left:175.229935px;
color:#C00D0E;
}
.span31
{
color:#C00D0E;
}
.cls076ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:401.568604px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls076ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:439.900177px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls076ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:171.579315px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls076ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:339.507996px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls076ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:330.381470px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls076ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:330.381470px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls076ClsTxt37
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:17.078430px;
top:238px;
left:715.522217px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls076ClsTxt38
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:17.078430px;
top:193px;
left:576.798584px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls076ClsTxt39
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:199px;
left:788.534729px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls076ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:350px;
left:549.418884px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls076ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:746.552551px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls076ClsTxt42
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:516px;
left:633.383240px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls076ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:549.418884px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls076ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:573px;
left:808.613159px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls076ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:597px;
left:549.418884px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls076ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:597px;
left:739.251282px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls076ClsTxt47
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:17.078430px;
top:743px;
left:695.443848px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls076ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:549.418884px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls076ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:774px;
left:835.992859px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls076ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:549.418884px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls076ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:821px;
left:828.691589px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls076ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:549.418884px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls076ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:808.613159px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls076ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:549.418884px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls076ClsTxt55
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:17.078430px;
top:1101px;
left:801.311890px;
color:#FFFFFF;
}
.span56
{
color:#C00D0E;
}
.cls076ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:549.418884px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls076ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:717.347534px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls076ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:549.418884px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls076ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:717.347534px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls076ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:549.418884px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls076ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:770.281616px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls076ClsTxt62
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:17.078430px;
top:878px;
left:344.158630px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls076ClsTxt63
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:17.078430px;
top:864px;
left:748.377869px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls076ClsTxt64
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:1086px;
left:701.919739px;
color:#000000;
}
