@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}

body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls071ClsTxt0
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1315px;
left:56.759354px;
color:#000000;
}
.span1
{
color:#C00D0E;
}
.cls071ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:62px;
left:109.518707px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls071ClsTxt2
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:131px;
left:109.518707px;
color:#000000;
}
.span3
{
color:#C00D0E;
}
.cls071ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:119.645279px;
color:#000000;
line-height:24px;
}
.cls071ClsTxt3a
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:119.645279px;
color:#000000;
line-height:24.3px;
}
.cls071ClsTxt3b
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:119.645279px;
color:#000000;
line-height:24px;
}
.span4
{
color:#C00D0E;
}
.cls071ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:226.338684px;
color:#000000;
line-height:120%;
}
.span5
{
color:#C00D0E;
}
.cls071ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:162px;
left:583.274475px;
color:#000000;
line-height:120%;
}
.span6
{
color:#C00D0E;
}
.cls071ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:118.645279px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls071ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:226.338684px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls071ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:186px;
left:582.274475px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls071ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:118.645279px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls071ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:226.338684px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls071ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:582.274475px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls071ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:118.645279px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls071ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:226.338684px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls071ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:233px;
left:582.274475px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls071ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:118.645279px;
color:#000000;
}

.cls071ClsTxt15a
{
font-family:'CronosPro-Lt';
}

.cls071ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:226.338684px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls071ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:259px;
left:582.274475px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls071ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:281px;
left:118.645279px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.span19
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls071ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:226.338684px;
color:#000000;
line-height:120%;
}
.span20
{
color:#C00D0E;
}
.cls071ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:583.274475px;
color:#000000;
line-height:120%;
}
.span21
{
color:#C00D0E;
}
.cls071ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:118.645279px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls071ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:226.338684px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls071ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:582.274475px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls071ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:118.645279px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls071ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:226.338684px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls071ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:582.274475px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls071ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:356px;
left:118.645279px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls071ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:356px;
left:226.338684px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls071ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:356px;
left:582.274475px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls071ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:118.645279px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls071ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:226.338684px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls071ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:582.274475px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls071ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:118.645279px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls071ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:226.338684px;
color:#000000;
line-height:120%;
}
.span35
{
color:#C00D0E;
}
.cls071ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:583.274475px;
color:#000000;
line-height:120%;
}
.span36
{
color:#C00D0E;
}
.cls071ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:118.645279px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls071ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:226.338684px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls071ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:582.274475px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls071ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:118.645279px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls071ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:226.338684px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls071ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:582.274475px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls071ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:118.645279px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls071ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:226.338684px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls071ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:582.274475px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls071ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:118.645279px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls071ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:226.338684px;
color:#000000;
}
.span47
{
font-family:'CronosPro-Lt';
}
.cls071ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:582.274475px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls071ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:118.645279px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls071ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:524px;
left:226.338684px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls071ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:262.844910px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls071ClsTxt51
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:524px;
left:293.875214px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls071ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:315.778931px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls071ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:582.274475px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls071ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:118.645279px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.span55
{
font-weight:bold;
font-size:20.078430px;
}
.cls071ClsTxt55
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:547px;
left:226.338684px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls071ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:582.274475px;
color:#000000;
}

.cls071ClsTxt56a
{
font-family:'CronosPro-Lt';
}
.cls071ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:118.645279px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls071ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:226.338684px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls071ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:571px;
left:582.274475px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls071ClsTxt60
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:20.808544px;
top:652px;
left:142.374329px;
color:#FFF374;
}
.span61
{
color:#C00D0E;
}
.cls071ClsTxt61
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:651px;
left:839.643433px;
color:#C00D0E;
}
.span62
{
color:#C00D0E;
}
.cls071ClsTxt62
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:703px;
left:171.579315px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls071ClsTxt63
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:698px;
left:118.645279px;
color:#FFF374;
}
.span64
{
color:#C00D0E;
}
.cls071ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:655.286926px;
color:#C00D0E;
}
.span65
{
color:#C00D0E;
}
.cls071ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:738px;
left:374.188934px;
color:#C00D0E;
}
.span66
{
color:#C00D0E;
}
.cls071ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:892px;
left:186.181824px;
color:#C00D0E;
}
.span67
{
color:#C00D0E;
}
.cls071ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:892px;
left:374.188934px;
color:#C00D0E;
}
.span68
{
color:#C00D0E;
}
.cls071ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:892px;
left:564.021362px;
color:#C00D0E;
}
.span69
{
color:#C00D0E;
}
.cls071ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:892px;
left:753.853760px;
color:#C00D0E;
}
.span70
{
color:#C00D0E;
}
.cls071ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1088px;
left:182.181824px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls071ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1112px;
left:181.181824px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls071ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1135px;
left:186.181824px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls071ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:186.181824px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls071ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:186.181824px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls071ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1206px;
left:186.181824px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls071ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1230px;
left:186.181824px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls071ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:186.181824px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls071ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1088px;
left:337.682709px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls071ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1111px;
left:337.682709px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls071ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1135px;
left:337.682709px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls071ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:333.682709px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls071ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:337.682709px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls071ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1206px;
left:337.682709px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls071ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1230px;
left:337.682709px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls071ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:333.682709px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls071ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:740px;
left:564.021362px;
color:#C00D0E;
}
.span87
{
color:#C00D0E;
}
.cls071ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:740px;
left:753.853760px;
color:#C00D0E;
}
.span88
{
color:#C00D0E;
}
.cls071ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1090px;
left:486.532928px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls071ClsTxt89
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1088px;
left:523.039185px;
color:#C00D0E;
}
.span90
{
color:#C00D0E;
}
.cls071ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1114px;
left:486.532928px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls071ClsTxt91
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1111px;
left:523.039185px;
color:#C00D0E;
}
.span92
{
color:#C00D0E;
}
.cls071ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1138px;
left:486.532928px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls071ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1138px;
left:507.436676px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls071ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1161px;
left:486.532928px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls071ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1185px;
left:486.532928px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls071ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1209px;
left:486.532928px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls071ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1233px;
left:486.532928px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls071ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:486.532928px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls071ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:740px;
left:186.181824px;
color:#C00D0E;
}
.span100
{
color:#C00D0E;
}
.cls071ClsTxt100
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:897px;
left:248.242401px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls071ClsTxt101
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:1025px;
left:199.959000px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls071ClsTxt102
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:854px;
left:650.636353px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls071ClsTxt103
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:829px;
left:386.966125px;
color:#000000;
}

.cls071ClsTxt104
{
font-family:'CronosPro-Semibold';
}

