@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
@font-face{font-family:"BriemScriptStd-Regular";src:url('../fonts/BriemScriptStd-Regular.otf');}
@font-face{font-family:"Arial-BoldMT";src:url('../fonts/Arial-BoldMT.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls055ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:44.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls055ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls055ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:787px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls055ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:957px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls055ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:150.675583px;
color:#FFFFFF;
}
.span5
{
color:#C00D0E;
}
.cls055ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:223.688049px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls055ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:292.049927px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.cls055ClsTxt7
{
font-family:'CronosPro-Regular';
font-size:38.331551px;
color:#FFFFFF;
}
.span8
{
color:#C00D0E;
}
.cls055ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:166.103378px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls055ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:163px;
left:166.103378px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls055ClsTxt10
{
position:absolute;
font-family:'BriemScriptStd-Regular';
font-size:13.854111px;
text-align:center;
top:239px;
left:209.814621px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls055ClsTxt11
{
position:absolute;
font-family:'BriemScriptStd-Regular';
font-size:13.854111px;
top:254px;
left:209.910858px;
color:#000000;
}
.cls055ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:311px;
left:233.639923px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.span13
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:233.639923px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls055ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:233.639923px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls055ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:381px;
left:233.639923px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.span16
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:406px;
left:233.639923px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.span17
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:658px;
left:233.639923px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.span18
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:233.639923px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.span19
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:705px;
left:233.639923px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.span20
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:233.639923px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.span21
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:553.069519px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls055ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:129px;
left:626.081970px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls055ClsTxt23
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:162px;
left:553.069519px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.span24
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:312px;
left:620.606018px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.span25
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:335px;
left:620.606018px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.span26
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:359px;
left:620.606018px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls055ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:381px;
left:620.606018px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.span28
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:406px;
left:620.606018px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls055ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:163px;
left:553.069519px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls055ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:554.775391px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls055ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:451px;
left:775.757568px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls055ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:795.835999px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls055ClsTxt33
{
position:absolute;
font-family:'Arial-BoldMT';
font-size:16.538686px;
top:511px;
left:642.509766px;
color:#FFFFFF;
}
.span34
{
color:#C00D0E;
}
.cls055ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:620.606018px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls055ClsTxt35
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:657px;
left:684.491943px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls055ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:620.606018px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls055ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:681px;
left:666.238831px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls055ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:786.709412px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls055ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:620.606018px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls055ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:704px;
left:629.732605px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls055ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:620.606018px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls055ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:728px;
left:668.064148px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls055ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:830px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.span44
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:854px;
left:233.639923px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.span45
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:876px;
left:233.639923px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.span46
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:901px;
left:233.639923px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.span47
{
font-weight:bold;
font-size:20.078430px;
}
.cls055ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:829px;
left:553.069519px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.span48
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:854px;
left:620.606018px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls055ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:877px;
left:620.606018px;
color:#000000;
}
.cls055ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:900px;
left:620.606018px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls055ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:959px;
left:150.675583px;
color:#000000;
}
.cls055ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:200.784302px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls055ClsTxt53
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:960px;
left:233.639923px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls055ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:994px;
left:150.675583px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.span55
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1017px;
left:217.212112px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.span56
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1016px;
left:525.689819px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls055ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1051px;
left:150.675583px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.span58
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1075px;
left:217.212112px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.span59
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls055ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1075px;
left:525.689819px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls055ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1110px;
left:150.675583px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls055ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:200.784302px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls055ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1110px;
left:206.260239px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls055ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1133px;
left:217.212112px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls055ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1133px;
left:363.237061px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls055ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:217.212112px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls055ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1157px;
left:363.237061px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls055ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1191px;
left:150.675583px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.span68
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1214px;
left:217.212112px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls055ClsTxt69
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1214px;
left:445.376099px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.span70
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls055ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1214px;
left:472.755737px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls055ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:788px;
left:150.675583px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls055ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:36.506241px;
color:#FFFFFF;
}
.span73
{
color:#C00D0E;
}
.cls055ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:163.452759px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls055ClsTxt74
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:220.862732px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls055ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:242.766464px;
color:#C00D0E;
}
.span76
{
color:#C00D0E;
}
.span76
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls055ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:315.778931px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls055ClsTxt77
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:390.616760px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls055ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:412.520477px;
color:#C00D0E;
}
.span79
{
color:#C00D0E;
}
.cls055ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:485.532928px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls055ClsTxt80
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:525.689819px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls055ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:545.768250px;
color:#C00D0E;
}
.span82
{
color:#C00D0E;
}
.cls055ClsTxt82
{
position:absolute;
font-family:'BriemScriptStd-Regular';
font-size:13.854111px;
top:229px;
text-align:center;
left:690.696960px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls055ClsTxt83
{
position:absolute;
font-family:'BriemScriptStd-Regular';
font-size:13.854111px;
top:242px;
left:323.080200px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls055ClsTxt84
{
position:absolute;
font-family:'BriemScriptStd-Regular';
font-size:13.854111px;
top:243px;
left:691.793213px;
color:#000000;
}
.span12
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;}
.span12a
{
font-family:'CronosPro-Semibold';
font-size:18.078430px;}
.span12aa
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
color:#c00d0e;}
.span50
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.zap {
font-family:'ZapfDingbatsStd';}
.underline-nor
{
font-family:'CronosPro-Semibold';
text-decoration:underline;
color:#c00d0e;}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}