@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls077ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:78.488411px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls077ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:101px;
left:122.295898px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls077ClsTxt2
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:102px;
left:830.516907px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls077ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:171.579315px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.span4
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls077ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:171.579315px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.span5
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls077ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:472.755737px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.span6
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls077ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:171.579315px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.span7
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls077ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:472.755737px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls077ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:171.579315px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls077ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:240px;
left:191.657745px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls077ClsTxt10
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:237px;
left:451.852020px;
color:#C00D0E;
}
.span11
{
color:#C00D0E;
}
.cls077ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:595.051636px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls077ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:171.579315px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls077ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:191.657745px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls077ClsTxt14
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:261px;
left:329.556122px;
color:#C00D0E;
}
.span15
{
color:#C00D0E;
}
.cls077ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:372.363647px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls077ClsTxt16
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:261px;
left:550.418884px;
color:#C00D0E;
}
.span17
{
color:#C00D0E;
}
.cls077ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:662.588196px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls077ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:287px;
left:171.579315px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls077ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:287px;
left:191.657745px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls077ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:287px;
left:568.671997px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls077ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:171.579315px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls077ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:311px;
left:192.657745px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls077ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:310px;
left:382.490173px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls077ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:311px;
left:660.762939px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls077ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:171.579315px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls077ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:191.657745px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls077ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:334px;
left:591.401062px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls077ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:171.579315px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls077ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:191.657745px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls077ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:358px;
left:483.707642px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls077ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:171.579315px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls077ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:191.657745px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls077ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:382px;
left:437.249542px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls077ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:381px;
left:870.673767px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls077ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:191.657745px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls077ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:171.579315px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls077ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:191.657745px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls077ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:449.026733px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls077ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:453px;
left:192.657745px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls077ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:476px;
left:171.579315px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls077ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:476px;
left:191.657745px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls077ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:476px;
left:496.484802px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls077ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:500px;
left:192.657745px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls077ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:162.452759px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls077ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:191.657745px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls077ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:524px;
left:689.967896px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls077ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:548px;
left:162.452759px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls077ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:547px;
left:191.657745px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls077ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:548px;
left:437.249542px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls077ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:572px;
left:163.452759px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls077ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:572px;
left:191.657745px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls077ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:572px;
left:610.654175px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls077ClsTxt53
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:645px;
left:122.295898px;
color:#FFF374;
}
.span54
{
color:#C00D0E;
}
.cls077ClsTxt54
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:646px;
left:817.739685px;
color:#C00D0E;
}
.span55
{
color:#C00D0E;
}
.cls077ClsTxt55
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:697px;
left:171.579315px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls077ClsTxt56
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:148px;
left:112.344025px;
color:#FFF374;
}
.span57
{
color:#C00D0E;
}
.cls077ClsTxt57
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:692px;
left:112.344025px;
color:#FFF374;
}
.span58
{
color:#C00D0E;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls077ClsTxt58
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:725px;
left:424.472351px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls077ClsTxt59a
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:731px;
left:186.181824px;
color:#C00D0E;
}
.cls077ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:731px;
left:563.196045px;
color:#C00D0E;
}
.span60
{
color:#C00D0E;
}
.cls077ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:1016px;
left:186.181824px;
color:#C00D0E;
}
.span61
{
color:#C00D0E;
}
.cls077ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:1017px;
left:562px;
color:#C00D0E;
}
.span62
{
color:#C00D0E;
}
.cls077ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:953px;
left:745.727295px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls077ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:973px;
left:675.365417px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls077ClsTxt64
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:969px;
left:699.094482px;
color:#C00D0E;
}
.span65
{
color:#C00D0E;
}
.cls077ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:973px;
left:825.040955px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls077ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:736px;
left:285.748657px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls077ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:758px;
left:415.345795px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls077ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:954px;
left:355.110504px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls077ClsTxt69
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:950px;
left:398.917999px;
color:#C00D0E;
}
.span70
{
color:#C00D0E;
}
.cls077ClsTxt70
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:970px;
left:380.664886px;
color:#C00D0E;
}
.span71
{
color:#C00D0E;
}
.cls077ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:974px;
left:470.930450px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls077ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:736px;
left:659.937622px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls077ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1024px;
left:281.098022px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls077ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1109px;
left:308.477692px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls077ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1109px;
left:442.725464px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls077ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1130px;
left:465.454529px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls077ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1024px;
left:680.015991px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls077ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1044px;
left:670.889404px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls077ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1243px;
left:753.853760px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls077ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1263px;
left:697.269165px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls077ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1263px;
left:863.372498px;
color:#000000;
}
.small
{
font-size:15px;
}