@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls062ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls062ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:845.119385px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls062ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:103.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.span3
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls062ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls062ClsTxt4
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:186.181824px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls062ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:275.622101px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls062ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:388.616760px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls062ClsTxt7
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:498.310181px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls062ClsTxt8
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:125px;
left:551.244202px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls062ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:166.103378px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls062ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:186.181824px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls062ClsTxt11
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:165px;
left:350.459869px;
color:#C00D0E;
}
.span12
{
color:#C00D0E;
}
.cls062ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:463.629242px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls062ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:189px;
left:166.103378px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls062ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:189px;
left:186.181824px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls062ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:189px;
left:684.491943px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls062ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:213px;
left:166.103378px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls062ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:213px;
left:186.181824px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls062ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:213px;
left:699.094482px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls062ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:237px;
left:166.103378px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls062ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:237px;
left:186.181824px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls062ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:237px;
left:352.285187px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls062ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:237px;
left:761.155029px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls062ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:261px;
left:166.103378px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls062ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:261px;
left:186.181824px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls062ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:261px;
left:481.882324px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls062ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:261px;
left:602.352905px;
color:#000000;
}
.sbcred
{
font-family:"CronosPro-Semibold" ;
color:#C00D0E;
}
.span27
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls062ClsTxt27
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:300px;
left:166.103378px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls062ClsTxt28
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:89.440277px;
color:#FFF374;
}
.span29
{
color:#C00D0E;
}
.cls062ClsTxt29
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:294px;
left:89.440277px;
color:#FFF374;
}
.span30
{
color:#C00D0E;
}
.cls062ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:338px;
left:180.705872px;
color:#C00D0E;
}
.span31
{
color:#C00D0E;
}
.cls062ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:533px;
left:181.705872px;
color:#C00D0E;
}
.span32
{
color:#C00D0E;
}
.cls062ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:338px;
left:332.206757px;
color:#C00D0E;
}
.span33
{
color:#C00D0E;
}
.cls062ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:533px;
left:332.206757px;
color:#C00D0E;
}
.span34
{
color:#C00D0E;
}
.cls062ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:338px;
left:482.882324px;
color:#C00D0E;
}
.span35
{
color:#C00D0E;
}
.cls062ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:533px;
left:482.882324px;
color:#C00D0E;
}
.span36
{
color:#C00D0E;
}
.cls062ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:338px;
left:635.208557px;
color:#C00D0E;
}
.span37
{
color:#C00D0E;
}
.cls062ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:533px;
left:634.208557px;
color:#C00D0E;
}
.span38
{
color:#C00D0E;
}
.cls062ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:338px;
left:785.884094px;
color:#C00D0E;
}
.span39
{
color:#C00D0E;
}
.cls062ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:533px;
left:782.058838px;
color:#C00D0E;
}
.span40
{
color:#C00D0E;
}
.cls062ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:166.103378px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls062ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls062ClsTxt42
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:737px;
left:315.778931px;
color:#C00D0E;
}
.span43
{
color:#C00D0E;
}
.cls062ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:370.538300px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls062ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:512.912659px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls062ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:532.991028px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls062ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:737px;
left:808.613159px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls062ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:761px;
left:186.181824px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls062ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:761px;
left:512.912659px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls062ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:761px;
left:532.991028px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls062ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:761px;
left:725.648804px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls062ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:166.103378px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls062ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:186.181824px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls062ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:428.948303px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls062ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:512.912659px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls062ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:532.991028px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls062ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:785px;
left:646.160400px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls062ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:166.103378px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls062ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:186.181824px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls062ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:388.791412px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls062ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:512.912659px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls062ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:532.991028px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls062ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:761.155029px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls062ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:166.103378px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls062ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:186.181824px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls062ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:363.237061px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls062ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:503.786072px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls062ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:532.991028px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls062ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:832px;
left:737.426025px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls062ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:856px;
left:166.103378px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls062ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:856px;
left:186.181824px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls062ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:856px;
left:316.778931px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls062ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:856px;
left:588.750427px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.span73
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls062ClsTxt73
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:895px;
left:166.103378px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls062ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:166.103378px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls062ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:186.181824px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls062ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:430.773590px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls062ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:166.103378px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls062ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:186.181824px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls062ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:455.502655px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls062ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:166.103378px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls062ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:186.181824px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls062ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:529.340454px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls062ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:995px;
left:166.103378px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls062ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:995px;
left:186.181824px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls062ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:995px;
left:417.996429px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls062ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1018px;
left:166.103378px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls062ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1018px;
left:186.181824px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls062ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1018px;
left:412.520477px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls062ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:166.103378px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls062ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:186.181824px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls062ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1042px;
left:640.684448px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls062ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1066px;
left:166.103378px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls062ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1066px;
left:186.181824px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls062ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:609.654175px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls062ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1090px;
left:166.103378px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls062ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1090px;
left:186.181824px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls062ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1090px;
left:397.917999px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls062ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1113px;
left:166.103378px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls062ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1113px;
left:186.181824px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls062ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1113px;
left:553.069519px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls062ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1137px;
left:157.976822px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls062ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1137px;
left:187.181824px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls062ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1137px;
left:564.021362px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls062ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1161px;
left:157.976822px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls062ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1161px;
left:187.181824px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls062ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1161px;
left:509.261993px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls062ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1184px;
left:157.976822px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls062ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1184px;
left:187.181824px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls062ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1184px;
left:347.809235px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls062ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1208px;
left:157.976822px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls062ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1208px;
left:187.181824px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls062ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1208px;
left:629.732605px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls062ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1232px;
left:157.976822px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls062ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1232px;
left:187.181824px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls062ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1232px;
left:465.454529px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls062ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1256px;
left:157.976822px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls062ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1256px;
left:187.181824px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls062ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1256px;
left:507.436676px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.cls062ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1279px;
left:157.976822px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.cls062ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1279px;
left:187.181824px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls062ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1279px;
left:491.008911px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls062ClsTxt122
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:889px;
left:89.440277px;
color:#FFF374;
}
.Regular
{
font-family:'CronosPro-Regular';
}
.LtIt{
font-family:"CronosPro-LtIt" ;
}
.Lt{
font-family:"CronosPro-Lt" ;
}
zapp{
font-family:'ZapfDingbatsStd';
}