@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"MyriadPro-Semibold";src:url('../fonts/MyriadPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#030506;
}
.cls026ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:38px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#030506;
}
.cls026ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#030506;
}
.cls026ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:25px;
left:104.042778px;
color:#CB0307;
}
.span3
{
color:#030506;
}
.cls026ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:92px;
left:166.103378px;
color:#030506;
}
.span4
{
color:#030506;
}
.cls026ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FEFF59;
}
.span5
{
color:#CB0307;
}
.span5
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls026ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:556.720093px;
color:#030506;
}
.span6
{
color:#CB0307;
}
.cls026ClsTxt6
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:188px;
left:412.520477px;
color:#FFFFFF;
}
.span7
{
color:#CB0307;
}
.cls026ClsTxt7
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:221px;
left:392.442047px;
color:#FFFFFF;
}
.span8
{
color:#CB0307;
}
.cls026ClsTxt8
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:183px;
left:372.363647px;
color:#FFFFFF;
}
.span9
{
color:#CB0307;
}
.cls026ClsTxt9
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:223px;
left:637.033875px;
color:#FFFFFF;
}
.span10
{
color:#CB0307;
}
.cls026ClsTxt10
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:223px;
left:182.531189px;
color:#FFFFFF;
}
.span11
{
color:#CB0307;
}
.cls026ClsTxt11
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:223px;
left:885.276245px;
color:#FFFFFF;
}
.span12
{
color:#CB0307;
}
.cls026ClsTxt12
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:236px;
left:408.869843px;
color:#FFFFFF;
}
.span13
{
color:#CB0307;
}
.cls026ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:332px;
left:166.103378px;
color:#030506;
}
.span14
{
color:#CB0307;
}
.cls026ClsTxt14
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:331px;
left:202.609619px;
color:#CB0307;
}
.span15
{
color:#CB0307;
}
.cls026ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:332px;
left:397.917999px;
color:#030506;
}
.span16
{
color:#CB0307;
}
.cls026ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:356px;
left:166.103378px;
color:#030506;
}
.span17
{
color:#CB0307;
}
.cls026ClsTxt17
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:355px;
left:202.609619px;
color:#CB0307;
}
.span18
{
color:#CB0307;
}
.cls026ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:356px;
left:397.917999px;
color:#030506;
}
.span19
{
color:#CB0307;
}
.cls026ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:166.103378px;
color:#030506;
}
.span20
{
color:#CB0307;
}
.cls026ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:397.917999px;
color:#030506;
}
.span21
{
color:#CB0307;
}
.cls026ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:166.103378px;
color:#030506;
}
.span22
{
color:#CB0307;
}
.cls026ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:403px;
left:397.917999px;
color:#030506;
}
.span23
{
color:#CB0307;
}
.cls026ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:166.103378px;
color:#030506;
}
.span24
{
color:#CB0307;
}
.cls026ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:427px;
left:397.917999px;
color:#030506;
}
.span25
{
color:#CB0307;
}
.cls026ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:166.103378px;
color:#030506;
}
.span26
{
color:#CB0307;
}
.cls026ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:451px;
left:397.917999px;
color:#030506;
}
.span27
{
color:#CB0307;
}
.cls026ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:166.103378px;
color:#030506;
}
.span28
{
color:#CB0307;
}
.cls026ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:397.917999px;
color:#030506;
}
.span29
{
color:#CB0307;
}
.cls026ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:498px;
left:166.103378px;
color:#030506;
}
.span30
{
color:#CB0307;
}
.cls026ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:498px;
left:397.917999px;
color:#030506;
}
.span31
{
color:#CB0307;
}
.cls026ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:522px;
left:166.103378px;
color:#030506;
}
.span32
{
color:#CB0307;
}
.cls026ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:522px;
left:397.917999px;
color:#030506;
}
.span33
{
color:#CB0307;
}
.cls026ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:546px;
left:156.976822px;
color:#030506;
}
.span34
{
color:#CB0307;
}
.cls026ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:545px;
left:397.917999px;
color:#030506;
}
.span35
{
color:#CB0307;
}
.cls026ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:569px;
left:156.976822px;
color:#030506;
}
.span36
{
color:#CB0307;
}
.cls026ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:569px;
left:397.917999px;
color:#030506;
}
.span37
{
color:#CB0307;
}
.cls026ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:593px;
left:156.976822px;
color:#030506;
}
.span38
{
color:#CB0307;
}
.cls026ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:593px;
left:397.917999px;
color:#030506;
}
.span39
{
color:#CB0307;
}
.cls026ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:617px;
left:156.976822px;
color:#030506;
}
.span40
{
color:#CB0307;
}
.cls026ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:616px;
left:397.917999px;
color:#030506;
}
.span41
{
color:#CB0307;
}
.cls026ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:640px;
left:156.976822px;
color:#030506;
}
.span42
{
color:#CB0307;
}
.cls026ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:640px;
left:397.917999px;
color:#030506;
}
.span43
{
color:#CB0307;
}
.cls026ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:664px;
left:156.976822px;
color:#030506;
}
.span44
{
color:#CB0307;
}
.cls026ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:664px;
left:397.917999px;
color:#030506;
}
.span45
{
color:#CB0307;
}
.cls026ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:328px;
left:700.919739px;
color:#030506;
}
.span46
{
color:#CB0307;
}
.cls026ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:352px;
left:700.919739px;
color:#030506;
}
.span47
{
color:#CB0307;
}
.cls026ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:376px;
left:700.919739px;
color:#030506;
}
.span48
{
color:#CB0307;
}
.cls026ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:399px;
left:700.919739px;
color:#030506;
}
.span49
{
color:#CB0307;
}
.cls026ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:424px;
left:700.919739px;
color:#030506;
}
.span50
{
color:#CB0307;
}
.cls026ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:447px;
left:700.919739px;
color:#030506;
}
.span51
{
color:#CB0307;
}
.cls026ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:700.919739px;
color:#030506;
}
.span52
{
color:#CB0307;
}
.cls026ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:700.919739px;
color:#030506;
}
.span53
{
color:#CB0307;
}
.cls026ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:700.919739px;
color:#030506;
}
.span54
{
color:#CB0307;
}
.cls026ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:700.919739px;
color:#030506;
}
.span55
{
color:#CB0307;
}
.cls026ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:700.919739px;
color:#030506;
}
.span56
{
color:#CB0307;
}
.cls026ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:700.919739px;
color:#030506;
}
.span57
{
color:#CB0307;
}
.cls026ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:700.919739px;
color:#030506;
}
.span58
{
color:#CB0307;
}
.cls026ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:637px;
left:700.919739px;
color:#030506;
}
.span59
{
color:#CB0307;
}
.cls026ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:661px;
left:700.919739px;
color:#030506;
}
.span60
{
color:#CB0307;
}
.span60
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls026ClsTxt60
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:713px;
left:166.103378px;
color:#030506;
}
.span61
{
color:#CB0307;
}
.cls026ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:166.103378px;
color:#030506;
}
.span62
{
color:#CB0307;
}
.cls026ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:743px;
left:186.181824px;
color:#030506;
}
.span63
{
color:#CB0307;
}
.cls026ClsTxt63
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:741px;
left:556.720093px;
color:#CB0307;
}
.span64
{
color:#CB0307;
}
.cls026ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:766px;
left:166.103378px;
color:#030506;
}
.span65
{
color:#CB0307;
}
.cls026ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:766px;
left:186.181824px;
color:#030506;
}
.span66
{
color:#CB0307;
}
.cls026ClsTxt66
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:765px;
left:556.720093px;
color:#CB0307;
}
.span67
{
color:#CB0307;
}
.cls026ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:790px;
left:166.103378px;
color:#030506;
}
.span68
{
color:#CB0307;
}
.cls026ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:790px;
left:186.181824px;
color:#030506;
}
.span69
{
color:#CB0307;
}
.cls026ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:814px;
left:166.103378px;
color:#030506;
}
.span70
{
color:#CB0307;
}
.cls026ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:814px;
left:186.181824px;
color:#030506;
}
.span71
{
color:#CB0307;
}
.cls026ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:838px;
left:166.103378px;
color:#030506;
}
.span72
{
color:#CB0307;
}
.cls026ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:838px;
left:186.181824px;
color:#030506;
}
.span73
{
color:#CB0307;
}
.cls026ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:861px;
left:166.103378px;
color:#030506;
}
.span74
{
color:#CB0307;
}
.cls026ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:861px;
left:186.181824px;
color:#030506;
}
.span75
{
color:#CB0307;
}
.cls026ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:885px;
left:166.103378px;
color:#030506;
}
.span76
{
color:#CB0307;
}
.cls026ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:885px;
left:186.181824px;
color:#030506;
}
.span77
{
color:#CB0307;
}
.cls026ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:909px;
left:166.103378px;
color:#030506;
}
.span78
{
color:#CB0307;
}
.cls026ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:909px;
left:186.181824px;
color:#030506;
}
.span79
{
color:#CB0307;
}
.cls026ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:932px;
left:166.103378px;
color:#030506;
}
.span80
{
color:#CB0307;
}
.cls026ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:932px;
left:186.181824px;
color:#030506;
}
.span81
{
color:#CB0307;
}
.cls026ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:156.976822px;
color:#030506;
}
.span82
{
color:#CB0307;
}
.cls026ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:186.181824px;
color:#030506;
}
.span83
{
color:#CB0307;
}
.cls026ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:980px;
left:156.976822px;
color:#030506;
}
.span84
{
color:#CB0307;
}
.cls026ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:980px;
left:186.181824px;
color:#030506;
}
.span85
{
color:#CB0307;
}
.cls026ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1004px;
left:156.976822px;
color:#030506;
}
.span86
{
color:#CB0307;
}
.cls026ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1005px;
left:186.181824px;
line-height:115%;
color:#030506;
}
.span87
{
color:#CB0307;
}
.cls026ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1027px;
left:186.181824px;
color:#030506;
}
.span88
{
color:#CB0307;
}
.cls026ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1051px;
left:156.976822px;
color:#030506;
}
.span89
{
color:#CB0307;
}
.cls026ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1051px;
left:186.181824px;
color:#030506;
}
.span90
{
color:#CB0307;
}
.cls026ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1075px;
left:156.976822px;
color:#030506;
}
.span91
{
color:#CB0307;
}
.cls026ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1075px;
left:186.181824px;
line-height:115%;
color:#030506;
}
.span92
{
color:#CB0307;
}
.span92
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls026ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1099px;
left:186.181824px;
color:#030506;
}
.span93
{
color:#CB0307;
}
.cls026ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1122px;
left:156.976822px;
color:#030506;
}
.span94
{
color:#CB0307;
}
.cls026ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1122px;
left:186.181824px;
color:#030506;
}
.span95
{
color:#CB0307;
}
.cls026ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1146px;
left:156.976822px;
color:#030506;
}
.span96
{
color:#CB0307;
}
.cls026ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1146px;
left:186.181824px;
color:#030506;
}
.span97
{
color:#CB0307;
}
.cls026ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1170px;
left:156.976822px;
color:#030506;
}
.span98
{
color:#CB0307;
}
.cls026ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1170px;
left:186.181824px;
color:#030506;
}
.span99
{
color:#CB0307;
}
.cls026ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1193px;
left:156.976822px;
color:#030506;
}
.span100
{
color:#CB0307;
}
.cls026ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1193px;
left:186.181824px;
color:#030506;
}
.span101
{
color:#CB0307;
}
.cls026ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:156.976822px;
color:#030506;
}
.span102
{
color:#CB0307;
}
.cls026ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1217px;
left:186.181824px;
color:#030506;
}
.span103
{
color:#CB0307;
}
.cls026ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1241px;
left:156.976822px;
color:#030506;
}
.span104
{
color:#CB0307;
}
.cls026ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1242px;
left:186.181824px;
line-height:115%;
color:#030506;
}
.span105
{
color:#CB0307;
}
.cls026ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1265px;
left:186.181824px;
color:#030506;
}
.span106
{
color:#CB0307;
}
.cls026ClsTxt106
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:708px;
left:96.741531px;
color:#FEFF59;
}
.span108
{
color:#CB0307;
}
.span108
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls026ClsTxt108
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1315px;
left:99.295898px;
color:#CB0307;
}
.span109
{
color:#CB0307;
}
.cls026ClsTxt109
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:148px;
left:710.046326px;
color:#FFFFFF;
}
.span110
{
color:#CB0307;
}
.cls026ClsTxt110
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:209px;
left:788.534729px;
color:#FFFFFF;
}
.span111
{
color:#CB0307;
}
.cls026ClsTxt111
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:252px;
left:467.279846px;
color:#FFFFFF;
}
.span112
{
color:#CB0307;
}
.cls026ClsTxt112
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:261px;
left:640.684448px;
color:#FFFFFF;
}
.span113
{
color:#CB0307;
}
.cls026ClsTxt113
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:181px;
left:295.700531px;
color:#FFFFFF;
}
.span114
{
color:#CB0307;
}
.cls026ClsTxt114
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:128px;
left:505.611389px;
color:#FFFFFF;
}
.span115
{
color:#CB0307;
}
.cls026ClsTxt115
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:161px;
left:456.327972px;
color:#FFFFFF;
}
.span116
{
color:#CB0307;
}
.cls026ClsTxt116
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:192px;
left:445.376099px;
color:#FFFFFF;
}
.span117
{
color:#CB0307;
}
.cls026ClsTxt117
{
position:absolute;
font-family:'MyriadPro-Semibold';
font-size:11.608984px;
top:269px;
left:297.525818px;
color:#FFFFFF;
}
