@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls013ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:118px;
line-height:130%;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:121px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls013ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:155px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls013ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:265.333344px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:217px;
left:436.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt7
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:207px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls013ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:352.333344px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:337px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:337px;
left:352.333344px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:396.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:442px;
left:596.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt16
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:431px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls013ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:497px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:497px;
left:257.666656px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:497px;
left:423.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:497px;
left:565.666687px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:602px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:602px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:602px;
left:265.333344px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt24
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:591px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls013ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:657px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:657px;
left:314.666656px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:722px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:722px;
left:314.666656px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:826px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:826px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:826px;
left:406.666656px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:826px;
left:532.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:826px;
left:650.666687px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt34
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:817px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls013ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:884px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:884px;
left:252.333344px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:884px;
left:408.333344px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:884px;
left:541.666687px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:986px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:986px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:986px;
left:320.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt42
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:977px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls013ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:257.666656px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:402.333344px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1042px;
left:528.333313px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1146px;
left:61.333332px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1146px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1146px;
left:225.333328px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1146px;
left:476.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt51
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1137px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls013ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1202px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1202px;
left:345.000000px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1268px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls013ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1268px;
left:345.000000px;
letter-spacing:0px;
color:#000000;
}
