@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls087ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:78.488411px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls087ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:101px;
left:123.295898px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls087ClsTxt2
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:102px;
left:640px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls087ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:171.579315px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls087ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:171.579315px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls087ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:191.657745px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls087ClsTxt6
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:179px;
left:301.176453px;
color:#C00D0E;
}
.span7
{
color:#C00D0E;
}
.cls087ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:182px;
left:427.122955px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.span8
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:191.657745px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.span9
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:290.224579px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.span10
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:206px;
left:408.869843px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls087ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:171.579315px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls087ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:191.657745px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls087ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:515.563232px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.span14
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:191.657745px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.span15
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:261.019592px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.span16
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:350.459869px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls087ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:297px;
left:171.579315px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls087ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:297px;
left:191.657745px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls087ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:297px;
left:633.383240px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls087ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:191.657745px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls087ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:208.085556px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls087ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:317.604279px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls087ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:334.032074px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls087ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:416.171112px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls087ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:321px;
left:432.598907px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls087ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:171.579315px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls087ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:191.657745px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls087ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:356px;
left:700.919739px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.span29
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:191.657745px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.span30
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:280.272705px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.span31
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:386.966125px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls087ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:412px;
left:170.579315px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls087ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:412px;
left:191.657745px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls087ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:412px;
left:516.563232px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.span35
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:191.657745px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.span36
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:261.019592px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.span37
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:350.459869px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls087ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:171.579315px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls087ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:191.657745px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls087ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:795.835999px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls087ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:191.657745px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls087ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:208.085556px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls087ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:286.573975px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls087ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:301.176453px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls087ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:399.743286px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls087ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:494px;
left:414.345795px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls087ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:528px;
left:170.579315px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls087ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:528px;
left:191.657745px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls087ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:529px;
left:520.213867px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.span50
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:552px;
left:191.657745px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.span51
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:552px;
left:284.748657px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:552px;
left:397.917999px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls087ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:171.579315px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls087ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:191.657745px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls087ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:586px;
left:686.317261px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.span56
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:191.657745px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.span57
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:306.652405px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.span58
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:609px;
left:438.074829px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls087ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:644px;
left:171.579315px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls087ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:644px;
left:191.657745px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls087ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:644px;
left:730.901917px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls087ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:191.657745px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls087ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:208.085556px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls087ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:303.001770px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls087ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:317.604279px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls087ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:450.852020px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls087ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:467.279846px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls087ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:162.452759px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls087ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:191.657745px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls087ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:702px;
left:570.497314px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.span71
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:726px;
left:191.657745px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.span72
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:726px;
left:292.049927px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.span73
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:726px;
left:397.917999px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls087ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:759px;
left:162.452759px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls087ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:759px;
left:191.657745px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls087ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:759px;
left:458.153259px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.span77
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:783px;
left:191.657745px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.span78
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:783px;
left:278.447388px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.span79
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:783px;
left:383.315491px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls087ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:817px;
left:162.452759px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls087ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:817px;
left:191.657745px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls087ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:817px;
left:485.532928px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls087ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:191.657745px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls087ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:208.085556px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls087ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:275.622101px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls087ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:290.224579px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls087ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:377.839539px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls087ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:394.267365px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls087ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:875px;
left:162.452759px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls087ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:875px;
left:191.657745px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls087ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:876px;
left:498.310181px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.span92
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:899px;
left:191.657745px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.span93
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:899px;
left:260.194275px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.span94
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:899px;
left:346.809235px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls087ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:933px;
left:162.452759px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls087ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:933px;
left:191.657745px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls087ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:932px;
left:503.786072px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.span98
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:191.657745px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.span99
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:319.429565px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.span100
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:956px;
left:450.026733px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls087ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:991px;
left:162.452759px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls087ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:991px;
left:191.657745px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls087ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:991px;
left:651.636353px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls087ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:191.657745px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls087ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:213.561478px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls087ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:288.399292px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls087ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:306.652405px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls087ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:403.393921px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls087ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1015px;
left:423.472351px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls087ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1049px;
left:162.452759px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls087ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1048px;
left:191.657745px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls087ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1048px;
left:794.010681px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.span113
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1072px;
left:191.657745px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.span114
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1072px;
left:268.320862px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.span115
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1072px;
left:365.062378px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls087ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1106px;
left:162.452759px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls087ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1106px;
left:191.657745px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls087ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1106px;
left:611.479492px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.span119
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1130px;
left:191.657745px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.span120
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1130px;
left:321.254883px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.span121
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls087ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1130px;
left:461.803925px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls087ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:162.452759px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls087ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:191.657745px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls087ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1164px;
left:607.828857px;
color:#000000;
}
.span125
{
color:#C00D0E;
}
.cls087ClsTxt125
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:191.657745px;
color:#000000;
}
.span126
{
color:#C00D0E;
}
.cls087ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:208.085556px;
color:#000000;
}
.span127
{
color:#C00D0E;
}
.cls087ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:266.495514px;
color:#000000;
}
.span128
{
color:#C00D0E;
}
.cls087ClsTxt128
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:281.098022px;
color:#000000;
}
.span129
{
color:#C00D0E;
}
.cls087ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:361.411743px;
color:#000000;
}
.span130
{
color:#C00D0E;
}
.cls087ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1188px;
left:377.839539px;
color:#000000;
}
.span131
{
color:#C00D0E;
}
.cls087ClsTxt131
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:148px;
left:113.344025px;
color:#FFF374;
}
