@font-face{font-family:"Gotham-Ultra";src:url('../fonts/Gotham-Ultra.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#CB0307;
}
.cls017ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:17px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#CB0307;
}
.cls017ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:117px;
left:105.868088px;
color:#FEFF59;
}
.span2
{
color:#CB0307;
}
.cls017ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:884px;
left:107.693398px;
color:#FEFF59;
}
.span3
{
color:#CB0307;
}
.span3
{
font-weight:bold;
font-size:38.331551px;
}
.cls017ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span4
{
color:#CB0307;
}
.span4
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:473px;
left:233.639923px;
color: #000000;
}
.span5
{
color:#CB0307;
}
.cls017ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:496px;
left:233.639923px;
color: #000000;
}
.span6
{
color:#CB0307;
}
.span6
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:520px;
left:233.639923px;
color: #000000;
}
.span7
{
color:#CB0307;
}
.cls017ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:520px;
left:405.219238px;
color: #000000;
}
.span8
{
color:#CB0307;
}
.cls017ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:544px;
left:233.639923px;
color: #000000;
}
.span9
{
color:#CB0307;
}
.span9
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:567px;
left:233.639923px;
color: #000000;
}
.span10
{
color:#CB0307;
}
.cls017ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:567px;
left:438.074829px;
color: #000000;
}
.span11
{
color:#CB0307;
}
.cls017ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:233.639923px;
color: #000000;
}
.span12
{
color:#CB0307;
}
.span12
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:233.639923px;
color: #000000;
}
.span13
{
color:#CB0307;
}
.cls017ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:445.376099px;
color: #000000;
}
.span14
{
color:#CB0307;
}
.cls017ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:639px;
left:233.639923px;
color: #000000;
}
.span15
{
color:#CB0307;
}
.span15
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:662px;
left:233.639923px;
color: #000000;
}
.span16
{
color:#CB0307;
}
.cls017ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:686px;
left:233.639923px;
color: #000000;
}
.span17
{
color:#CB0307;
}
.cls017ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:710px;
left:233.639923px;
color: #000000;
}
.span18
{
color:#CB0307;
}
.cls017ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:294px;
text-align: center;
line-height: 120%;
left:695.443848px;
color: #000000;
}
.span19
{
color:#CB0307;
}
.span19
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls017ClsTxt19
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:314px;
left:699.094482px;
color: #000000;
}
.span20
{
color:#CB0307;
}
.span20
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:885px;
left:149.675583px;
color: #000000;
}
.span21
{
color:#CB0307;
}
.cls017ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:929px;
left:160.627441px;
color: #000000;
}
.span22
{
color:#CB0307;
}
.cls017ClsTxt22
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:929px;
left:635.208557px;
color: #000000;
}
.span23
{
color:#CB0307;
}
.cls017ClsTxt23
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:953px;
left:160.627441px;
color: #000000;
}
.span24
{
color:#CB0307;
}
.cls017ClsTxt24
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:953px;
left:602.352905px;
color: #000000;
}
.span25
{
color:#CB0307;
}
.cls017ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:976px;
left:160.627441px;
color: #000000;
}
.span26
{
color:#CB0307;
}
.cls017ClsTxt26
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:976px;
left:611.479492px;
color: #000000;
}
.span27
{
color:#CB0307;
}
.cls017ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
line-height: 120%;
left:217.212112px;
color: #000000;
}
.span28
{
color:#CB0307;
}
.cls017ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:344.983948px;
color: #000000;
}
.span29
{
color:#CB0307;
}
.cls017ClsTxt29
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1020px;
left:366.887695px;
color: #000000;
}
.span30
{
color:#CB0307;
}
.cls017ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:217.212112px;
color: #000000;
}
.span31
{
color:#CB0307;
}
.cls017ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
line-height: 120%;
left:217.212112px;
color: #000000;
}
.span32
{
color:#CB0307;
}
.cls017ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1068px;
left:281.098022px;
color: #000000;
}
.span33
{
color:#CB0307;
}
.cls017ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:352.285187px;
color: #000000;
}
.span34
{
color:#CB0307;
}
.cls017ClsTxt34
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1068px;
left:427.122955px;
color: #000000;
}
.span35
{
color:#CB0307;
}
.cls017ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1091px;
left:217.212112px;
color: #000000;
}
.span36
{
color:#CB0307;
}
.cls017ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1115px;
line-height: 120%;
left:217.212112px;
color: #000000;
}
.span37
{
color:#CB0307;
}
.cls017ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1115px;
left:370.538300px;
color: #000000;
}
.span38
{
color:#CB0307;
}
.cls017ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1139px;
left:217.212112px;
color: #000000;
}
.span39
{
color:#CB0307;
}
.cls017ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
line-height: 120%;
left:217.212112px;
color: #000000;
}
.span40
{
color:#CB0307;
}
.cls017ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1162px;
left:354.110504px;
color: #000000;
}
.span41
{
color:#CB0307;
}
.cls017ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1162px;
left:461.803925px;
color: #000000;
}
.span42
{
color:#CB0307;
}
.cls017ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1186px;
left:217.212112px;
color: #000000;
}
.span43
{
color:#CB0307;
}
.cls017ClsTxt43
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:47.458111px;
color:#FFFFFF;
}
.span44
{
color:#CB0307;
}
.cls017ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color: #000000;
}
.span46
{
color:#CB0307;
}
.cls017ClsTxt46
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:219.037415px;
color:#CB0307;
}
.span47
{
color:#CB0307;
}
.cls017ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:293.875214px;
color: #000000;
}
.span49
{
color:#CB0307;
}
.cls017ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:343.158630px;
color:#CB0307;
}
.span50
{
color:#CB0307;
}
.span50
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:473px;
left:620.606018px;
color: #000000;
}
.span51
{
color:#CB0307;
}
.cls017ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:496px;
left:620.606018px;
color: #000000;
}
.span52
{
color:#CB0307;
}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:520px;
left:620.606018px;
color: #000000;
}
.span53
{
color:#CB0307;
}
.cls017ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:544px;
left:620.606018px;
color: #000000;
}
.span54
{
color:#CB0307;
}
.span54
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:567px;
left:620.606018px;
color: #000000;
}
.span55
{
color:#CB0307;
}
.cls017ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:620.606018px;
color: #000000;
}
.span56
{
color:#CB0307;
}
.cls017ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:591px;
left:735.600708px;
color: #000000;
}
.span57
{
color:#CB0307;
}
.span57
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:615px;
left:620.606018px;
color: #000000;
}
.span58
{
color:#CB0307;
}
.cls017ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:639px;
left:620.606018px;
color: #000000;
}
.span59
{
color:#CB0307;
}
.span59
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls017ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:662px;
left:620.606018px;
color: #000000;
}
.span60
{
color:#CB0307;
}
.cls017ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:686px;
left:620.606018px;
color: #000000;
}
.span61
{
color:#CB0307;
}
.cls017ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:686px;
left:669.889404px;
color: #000000;
}
.span62
{
color:#CB0307;
}
.cls017ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:710px;
left:620.606018px;
color: #000000;
}
.span63
{
color:#CB0307;
}
.cls017ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:166.103378px;
color: #000000;
}
.span64
{
color:#CB0307;
}
.cls017ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:129px;
left:553.069519px;
color: #000000;
}
.span65
{
color:#CB0307;
}
.cls017ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:757px;
left:149.675583px;
color: #000000;
}
.span66
{
color:#CB0307;
}
.span66
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls017ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:217.212112px;
color: #000000;
}
.span67
{
color:#CB0307;
}
.cls017ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:363.237061px;
color: #000000;
}
.span68
{
color:#CB0307;
}
.cls017ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:812px;
left:401.568604px;
color: #000000;
}
.span69
{
color:#CB0307;
}
.cls017ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:461.803925px;
color: #000000;
}
.span70
{
color:#CB0307;
}
.span70
{
font-weight:bold;
font-size:20.078430px;
}
.cls017ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:812px;
left:478.231720px;
color: #000000;
}
.span71
{
color:#CB0307;
}
.cls017ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:812px;
left:768.456299px;
color: #000000;
}
.span72
{
color:#CB0307;
}
.cls017ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:841px;
left:472.755737px;
color: #000000;
}
.span73
{
color:#CB0307;
}
.cls017ClsTxt73
{
position:absolute;
font-family:'Gotham-Ultra';
font-size:20.272476px;
top:162px;
left:231.814621px;
color:#576566;
}
.span74
{
color:#CB0307;
}
.cls017ClsTxt74
{
position:absolute;
font-family:'Gotham-Ultra';
font-size:20.272476px;
top:162px;
left:335.857391px;
color:#576566;
}
.span75
{
color:#CB0307;
}
.cls017ClsTxt75
{
position:absolute;
font-family:'Gotham-Ultra';
font-size:20.272476px;
top:162px;
left:438.074829px;
color:#576566;
}
.span76
{
color:#CB0307;
}
.cls017ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:177.055252px;
color: #000000;
}
.span77
{
color:#CB0307;
}
.cls017ClsTxt77
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:405px;
left:250.067734px;
color: #000000;
}
.span78
{
color:#CB0307;
}
.cls017ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:292.049927px;
color: #000000;
}
.span79
{
color:#CB0307;
}
.cls017ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:177.055252px;
color: #000000;
}
.span80
{
color:#CB0307;
}
.cls017ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:191.657745px;
color: #000000;
}
.span81
{
color:#CB0307;
}
.cls017ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:564.021362px;
color: #000000;
}
.span82
{
color:#CB0307;
}
.cls017ClsTxt82
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:405px;
left:662.588196px;
color: #000000;
}
.span83
{
color:#CB0307;
}
.cls017ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:405px;
left:693.618469px;
color: #000000;
}
.span84
{
color:#CB0307;
}
.cls017ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:429px;
left:564.021362px;
color: #000000;
}
.span85
{
color:#CB0307;
}
.cls017ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:429px;
left:595.051636px;
color: #000000;
}
.span86
{
color:#CB0307;
}
.cls017ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:327px;
text-align: center;
line-height: 120%;
left:295.700531px;
color: #000000;
}
.span87
{
color:#CB0307;
}
.cls017ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:347px;
left:306.652405px;
color: #000000;
}
.span88
{
color:#CB0307;
}
.cls017ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:347px;
left:319.429565px;
color: #000000;
}
.span89
{
color:#CB0307;
}
.cls017ClsTxt89
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1029px;
left:638.859131px;
color: #000000;
}
.span90
{
color:#CB0307;
}
.cls017ClsTxt90
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1060px;
left:587.750427px;
color: #000000;
}
.span91
{
color:#CB0307;
}
.cls017ClsTxt91
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1047px;
left:797.661316px;
color: #000000;
}
.span92
{
color:#CB0307;
}
.cls017ClsTxt92
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1243px;
left:689.967896px;
color: #000000;
}
