@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls023ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls023ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:120px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls023ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:385px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls023ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:567px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls023ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:706px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls023ClsTxt5
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1086px;
left:108.518707px;
color:#FFF374;
}
.span6
{
color:#C00D0E;
}
.cls023ClsTxt6
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:62px;
left:150.675583px;
color:#FFFFFF;
}
.span7
{
color:#C00D0E;
}
.span7
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:326px;
left:165.103378px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.span8
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:326px;
left:569.497314px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls023ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:149.675583px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls023ClsTxt10
{
font-family:'CronosPro-Lt';
}
.span11
{
color:#C00D0E;
}
.cls023ClsTxt11
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:566px;
left:242.766464px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls023ClsTxt12
{
font-family:'CronosPro-Lt';
}
.span13
{
color:#C00D0E;
}
.cls023ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:217.212112px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls023ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:589px;
left:496.484802px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls023ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:626.081970px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls023ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:217.212112px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls023ClsTxt17
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:613px;
left:520.213867px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls023ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:660.762939px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls023ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:637px;
left:217.212112px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls023ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:637px;
left:549.418884px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls023ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:661px;
left:217.212112px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls023ClsTxt22
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:661px;
left:536.641724px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls023ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:705px;
left:149.675583px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls023ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:866px;
left:165.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls023ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1026px;
left:165.103378px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls023ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1085px;
left:150.675583px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls023ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1118px;
left:160.627441px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls023ClsTxt28
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1199px;
left:160.627441px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.span29
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:747px;
left:414.345795px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.span30
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:771px;
left:414.345795px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.span31
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:794px;
left:414.345795px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls023ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:817px;
left:414.345795px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.span33
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls023ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:842px;
left:414.345795px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.span34
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:908px;
left:414.345795px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.span35
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls023ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:907px;
left:675.365417px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.span36
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:932px;
left:414.345795px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.span37
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:955px;
left:414.345795px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls023ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:978px;
left:414.345795px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.span39
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls023ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1003px;
left:414.345795px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls023ClsTxt40
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1257px;
left:160.627441px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls023ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1257px;
left:160.483063px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls023ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1257px;
left:211.736176px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls023ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:240.941162px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls023ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1257px;
left:323.080200px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls023ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:370.538300px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.span46
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls023ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1118px;
left:514.737976px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.span47
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls023ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1142px;
left:514.737976px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls023ClsTxt48
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1166px;
left:514.737976px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.span49
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:514.737976px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.span50
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:704.570374px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.span51
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls023ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:514.737976px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls023ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1257px;
left:514.737976px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls023ClsTxt53
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1257px;
left:598.702332px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls023ClsTxt54
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:385px;
left:149.675583px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls023ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:408px;
left:217.212112px;
color:#000000;
}
.span56
{
font-family:'CronosPro-Semibold';
}
.cls023ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:432px;
left:217.212112px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls023ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:432px;
left:324.905518px;
color:#000000;
}
.span58
{
font-family:'CronosPro-Semibold';
}
.cls023ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:456px;
left:217.212112px;
color:#000000;
}
.span59
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls023ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:480px;
left:217.212112px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls023ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:48.458111px;
color:#FFFFFF;
}
.span61
{
color:#C00D0E;
}
.cls023ClsTxt61
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls023ClsTxt62
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:273.796783px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls023ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:293.875214px;
color:#C00D0E;
}
.span64
{
color:#C00D0E;
}
.cls023ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:368.713013px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls023ClsTxt65
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:459.978577px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls023ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:481.882324px;
color:#C00D0E;
}
.span67
{
color:#C00D0E;
}
.cls023ClsTxt67
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:554.894775px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls023ClsTxt68
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:613.304810px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls023ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:635.208557px;
color:#C00D0E;
}
.span70
{
color:#C00D0E;
}
.cls023ClsTxt70
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:144px;
left:702.745056px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls023ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:392px;
left:724.648804px;
color:#000000;
}
.prolt{
font-family:'CronosPro-Lt';
}
.LtIt{
font-family:"CronosPro-LtIt" ;
}