@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls027ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:45px;
letter-spacing:0px;
color:#FFFFFF;
}
.span1 {
color:#CB0307;
}
.cls027ClsTxt1 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
letter-spacing:0px;
color:#FEFF59;
}
.span2 {
color:#CB0307;
}
.cls027ClsTxt2 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:521px;
left:107.693398px;
letter-spacing:0px;
color:#FEFF59;
}
.span3 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.span33 {
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls027ClsTxt3 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:646px;
left:107px;
letter-spacing:0px;
color:#FEFF59;
}
.span4 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt4 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:61px;
left:150px;
letter-spacing:0px;
color:#FFFFFF;
}
.span5 {
color:#CB0307;
}
.cls027ClsTxt5 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:478.231720px;
letter-spacing:0px;
color:#FFFFFF;
}
.span6 {
color:#CB0307;
}
.cls027ClsTxt6 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:150px;
letter-spacing:0px;
color:#030506;
}
.span7 {
color:#CB0307;
}
.cls027ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:150px;
letter-spacing:0px;
color:#030506;
}
.span8 {
color:#CB0307;
}
.cls027ClsTxt8 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:209.910858px;
letter-spacing:0px;
color:#030506;
}
.span9 {
color:#CB0307;
}
.cls027ClsTxt9 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:334.032074px;
letter-spacing:0px;
color:#030506;
}
.span10 {
color:#CB0307;
}
.cls027ClsTxt10 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:153px;
left:354.110504px;
letter-spacing:0px;
color:#030506;
}
.span11 {
color:#CB0307;
}
.cls027ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:153px;
left:365.062378px;
letter-spacing:0px;
color:#030506;
}
.span12 {
color:#CB0307;
}
.cls027ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span13 {
color:#CB0307;
}
.cls027ClsTxt13 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:177px;
left:237.290558px;
letter-spacing:0px;
color:#030506;
}
.span14 {
color:#CB0307;
}
.cls027ClsTxt14 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:361.411743px;
letter-spacing:0px;
color:#030506;
}
.span15 {
color:#CB0307;
}
.cls027ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:201px;
left:217px;
letter-spacing:0px;
color:#030506;
}
.span16 {
color:#CB0307;
}
.cls027ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span17 {
color:#CB0307;
}
.cls027ClsTxt17 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:224px;
left:237.290558px;
letter-spacing:0px;
color:#030506;
}
.span18 {
color:#CB0307;
}
.cls027ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:224px;
left:361.411743px;
letter-spacing:0px;
color:#030506;
}
.span19 {
color:#CB0307;
}
.cls027ClsTxt19 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:248px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span20 {
color:#CB0307;
}
.cls027ClsTxt20 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span21 {
color:#CB0307;
}
.cls027ClsTxt21 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:272px;
left:284.748657px;
letter-spacing:0px;
color:#030506;
}
.span22 {
color:#CB0307;
}
.cls027ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:272px;
left:408.869843px;
letter-spacing:0px;
color:#030506;
}
.span23 {
color:#CB0307;
}
.cls027ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:295px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span24 {
color:#CB0307;
}
.cls027ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:150px;
letter-spacing:0px;
color:#030506;
}
.span25 {
color:#CB0307;
}
.cls027ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:407px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span26 {
color:#CB0307;
}
.cls027ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:407px;
left:386.966125px;
letter-spacing:0px;
color:#030506;
}
.span27 {
color:#CB0307;
}
.cls027ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span28 {
color:#CB0307;
}
.cls027ClsTxt28 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:431px;
left:237.290558px;
letter-spacing:0px;
color:#030506;
}
.span29 {
color:#CB0307;
}
.cls027ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:412.520477px;
letter-spacing:0px;
color:#030506;
}
.span30 {
color:#CB0307;
}
.cls027ClsTxt30 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:217px;
letter-spacing:0px;
color:#030506;
}
.span31 {
color:#CB0307;
}
.cls027ClsTxt31 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:454px;
left:270.146149px;
letter-spacing:0px;
color:#030506;
}
.span32 {
color:#CB0307;
}
.cls027ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:363.237061px;
letter-spacing:0px;
color:#030506;
}
.cls027ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span34 {
color:#CB0307;
}
.cls027ClsTxt34 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:478px;
left:262.844910px;
letter-spacing:0px;
color:#030506;
}
.span35 {
color:#CB0307;
}
.cls027ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:430.773590px;
letter-spacing:0px;
color:#030506;
}
.span36 {
color:#CB0307;
}
.cls027ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:521px;
left:150px;
letter-spacing:0px;
color:#030506;
}
.span37 {
color:#CB0307;
}
.cls027ClsTxt37 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:128px;
left:664.413513px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.span38 {
color:#CB0307;
}
.cls027ClsTxt38 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:146px;
left:668.064148px;
letter-spacing:0px;
color:#030506;
}
.span39 {
color:#CB0307;
}
.span39 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt39 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:555px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span40 {
color:#CB0307;
}
.cls027ClsTxt40 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:578px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span41 {
color:#CB0307;
}
.span41 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt41 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:578px;
left:361.411743px;
letter-spacing:0px;
color:#030506;
}
.span42 {
color:#CB0307;
}
.span42 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:602px;
left:217.212112px;
letter-spacing:0px;
color:#030506;
}
.span43 {
color:#CB0307;
}
.cls027ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:646px;
left:150px;
letter-spacing:0px;
color:#030506;
}
.span44 {
color:#CB0307;
}
.cls027ClsTxt44 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:646px;
left:273.796783px;
letter-spacing:0px;
color:#030506;
}
.span45 {
color:#CB0307;
}
.cls027ClsTxt45 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:646px;
left:293.875214px;
letter-spacing:0px;
color:#030506;
}
.span46 {
color:#CB0307;
}
.cls027ClsTxt46 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:646px;
left:304.827087px;
letter-spacing:0px;
color:#030506;
}
.span47 {
color:#CB0307;
}
.cls027ClsTxt47 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:646px;
left:337.682709px;
letter-spacing:0px;
color:#030506;
}
.span48 {
color:#CB0307;
}
.cls027ClsTxt48 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:646px;
left:432.598907px;
letter-spacing:0px;
color:#030506;
}
.span49 {
color:#CB0307;
}
.cls027ClsTxt49 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:646px;
left:452.677368px;
letter-spacing:0px;
color:#030506;
}
.span50 {
color:#CB0307;
}
.cls027ClsTxt50 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:45px;
left:47.458111px;
letter-spacing:0px;
color:#FFFFFF;
}
.span51 {
color:#CB0307;
}
.cls027ClsTxt51 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:682px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span52 {
color:#CB0307;
}
.cls027ClsTxt52 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:725px;
left:247px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.span53 {
color:#CB0307;
}
.cls027ClsTxt53 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:725px;
left:434px;
letter-spacing:0px;
color:#030506;
}
.span54 {
color:#CB0307;
}
.span54 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls027ClsTxt54 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:725px;
left:638px;
letter-spacing:0px;
color:#030506;
}
.span55 {
color:#CB0307;
}
.span55 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls027ClsTxt55 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:745px;
left:246.417099px;
letter-spacing:0px;
color:#030506;
}
.span56 {
color:#CB0307;
}
.span56 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt56 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:989px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span57 {
color:#CB0307;
}
.cls027ClsTxt57 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1013px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span58 {
color:#CB0307;
}
.span58 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt58 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span59 {
color:#CB0307;
}
.cls027ClsTxt59 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1060px;
left:253.718338px;
letter-spacing:0px;
color:#030506;
}
.span60 {
color:#CB0307;
}
.span60 {
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls027ClsTxt60 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:253.718338px;
letter-spacing:0px;
color:#030506;
}
.span61 {
color:#CB0307;
}
.cls027ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1108px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span62 {
color:#CB0307;
}
.span62 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt62 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1142px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span63 {
color:#CB0307;
}
.cls027ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1166px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span64 {
color:#CB0307;
}
.cls027ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span65 {
color:#CB0307;
}
.cls027ClsTxt65 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1201px;
left:279.272705px;
letter-spacing:0px;
color:#030506;
}
.span66 {
color:#CB0307;
}
.cls027ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:399.743286px;
letter-spacing:0px;
color:#030506;
}
.span67 {
color:#CB0307;
}
.cls027ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:233.639923px;
letter-spacing:0px;
color:#030506;
}
.span68 {
color:#CB0307;
}
.cls027ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:682px;
left:553.5px;
letter-spacing:0px;
color:#030506;
}
.span69 {
color:#CB0307;
}
.span69 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:990px;
left:554px;
letter-spacing:0px;
color:#030506;
}
.span70 {
color:#CB0307;
}
.span70 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1037px;
left:620.606018px;
letter-spacing:0px;
color:#030506;
}
.span71 {
color:#CB0307;
}
.cls027ClsTxt71 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1062px;
left:640.684448px;
letter-spacing:0px;
color:#030506;
}
.span72 {
color:#CB0307;
}
.cls027ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1084px;
left:621.3px;
letter-spacing:0px;
color:#030506;
}
.span73 {
color:#CB0307;
}
.span73 {
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls027ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1142px;
left:620.606018px;
letter-spacing:0px;
color:#030506;
}
.span74 {
color:#CB0307;
}
.cls027ClsTxt74 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1142px;
left:737.426025px;
letter-spacing:0px;
color:#030506;
}
.span75 {
color:#CB0307;
}
.cls027ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:620.606018px;
letter-spacing:0px;
color:#030506;
}
.span76 {
color:#CB0307;
}
.cls027ClsTxt76 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1201px;
left:668.064148px;
letter-spacing:0px;
color:#030506;
}
.span77 {
color:#CB0307;
}
.cls027ClsTxt77 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:759.329773px;
letter-spacing:0px;
color:#030506;
}
.span78 {
color:#CB0307;
}
.span78 {
font-weight:bold;
font-size:18.253120px;
}
.cls027ClsTxt78 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1317px;
left:162px;
letter-spacing:0px;
color:#030506;
}
.span80 {
color:#CB0307;
}
.cls027ClsTxt80 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:346.809235px;
letter-spacing:0px;
color:#CB0307;
}
.span81 {
color:#CB0307;
}
.cls027ClsTxt81 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:421.647064px;
letter-spacing:0px;
color:#030506;
}
.span83 {
color:#CB0307;
}
.cls027ClsTxt83 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:631.557861px;
letter-spacing:0px;
color:#CB0307;
}
.span84 {
color:#CB0307;
}
.cls027ClsTxt84 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:761px;
left:696.5px;
letter-spacing:0px;
color:#030506;
}
.span85 {
color:#CB0307;
}
.cls027ClsTxt85 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:924px;
left:775.757568px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:115%;
}
.span86 {
color:#CB0307;
}
.cls027ClsTxt86 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:944px;
left:792.185303px;
letter-spacing:0px;
color:#030506;
}
.span87 {
color:#CB0307;
}
.cls027ClsTxt87 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:891px;
left:630px;
letter-spacing:0px;
color:#030506;
text-align:center;
line-height:110%;
}
.span88 {
color:#CB0307;
}
.span88 {
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls027ClsTxt88 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:911px;
left:627.907288px;
letter-spacing:0px;
color:#030506;
}
.span89 {
color:#CB0307;
}
.cls027ClsTxt89 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:294px;
left:811px;
letter-spacing:0px;
color:#030506;
}
.small
{
font-size:16px;
}