@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls074ClsTxt0
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:28px;
left:772.106934px;
color:#C00D0E;
}
.span1
{
color:#C00D0E;
}
.cls074ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:21.903742px;
top:27px;
left:870.673767px;
color:#C00D0E;
}
.span2
{
color:#C00D0E;
}
.cls074ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:101px;
left:111.344025px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls074ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:21.903742px;
top:102px;
left:828.691589px;
color:#C00D0E;
}
.span4
{
color:#C00D0E;
}
.cls074ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:149px;
left:108.693398px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls074ClsTxt5
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:153px;
left:160.627441px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls074ClsTxt6
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:982px;
left:160.627441px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls074ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1011px;
left:160.627441px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls074ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1011px;
left:181.705872px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls074ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1011px;
left:523.864502px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.span10
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls074ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1011px;
left:631.557861px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls074ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1035px;
left:160.627441px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls074ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1035px;
left:181.705872px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls074ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1058px;
left:160.627441px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls074ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1058px;
left:181.705872px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls074ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1082px;
left:160.627441px;
color:#000000;
}
.span16
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls074ClsTxt16
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:1082px;
left:181.705872px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls074ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1106px;
left:160.627441px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls074ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1106px;
left:181.705872px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls074ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1130px;
left:160.627441px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls074ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1130px;
left:181.705872px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls074ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:160.627441px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls074ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1153px;
left:181.705872px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls074ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1177px;
left:160.627441px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls074ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1177px;
left:181.705872px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls074ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1177px;
left:414.345795px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls074ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:160.627441px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls074ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1201px;
left:181.705872px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls074ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:152.500885px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls074ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:181.705872px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls074ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:152.500885px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls074ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:181.705872px;
color:#000000;
}
.under
{
text-decoration:underline;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls074ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1271px;
left:152.500885px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls074ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1272px;
left:181.705872px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls074ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1272px;
left:399.743286px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls074ClsTxt35
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:977px;
left:107.693398px;
color:#FFF374;
}
.span36
{
color:#C00D0E;
}
.cls074ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:707px;
left:175.229935px;
color:#C00D0E;
}
.span37
{
color:#C00D0E;
}
.cls074ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:190px;
left:426.297668px;
color:#C00D0E;
}
.span38
{
color:#C00D0E;
}
.cls074ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:447px;
left:426.297668px;
color:#C00D0E;
}
.span39
{
color:#C00D0E;
}
.cls074ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:190px;
left:679.015991px;
color:#C00D0E;
}
.span40
{
color:#C00D0E;
}
.cls074ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:447px;
left:680.015991px;
color:#C00D0E;
}
.span41
{
color:#C00D0E;
}
.cls074ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:706px;
left:426.297668px;
color:#C00D0E;
}
.span42
{
color:#C00D0E;
}
.cls074ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:706px;
left:679.015991px;
color:#C00D0E;
}
.span43
{
color:#C00D0E;
}
.cls074ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:448px;
left:176.229935px;
color:#C00D0E;
}
.span44
{
color:#C00D0E;
}
.cls074ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:215px;
left:218.212112px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls074ClsTxt45
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:231px;
left:195.308380px;
color:#C00D0E;
}
.span46
{
color:#C00D0E;
}
.cls074ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:235px;
left:301.176453px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls074ClsTxt47
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:194px;
left:474.581116px;
color:#C00D0E;
}
.span48
{
color:#C00D0E;
}
.cls074ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
text-align:center;
top:219px;
left:464.629242px;
line-height:115%;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls074ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:237px;
left:509.261993px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls074ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:197px;
left:708.221008px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls074ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:217px;
left:810.438477px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls074ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:456px;
left:206.260239px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls074ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:456px;
left:352.285187px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls074ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:476px;
left:232.814621px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls074ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:456px;
left:602.352905px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls074ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:476px;
left:494.659515px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls074ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:456px;
left:835.992859px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls074ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:476px;
left:717.347534px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls074ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:734px;
left:204.434921px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls074ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:714px;
left:719.172852px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls074ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:754px;
left:730.124756px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls074ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:190px;
left:176.229935px;
color:#C00D0E;
}
.span63
{
color:#C00D0E;
}
.cls074ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:714px;
left:455.502655px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls074ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:734px;
left:551.244202px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls074ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:754px;
left:504.786072px;
color:#000000;
}
