@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls021ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls021ClsTxt1
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span2
{
color:#C00D0E;
}
.cls021ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:430px;
left:107.693398px;
color:#FFF374;
}
.span3
{
color:#C00D0E;
}
.cls021ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:722px;
left:105.868088px;
color:#FFF374;
}
.span4
{
color:#C00D0E;
}
.cls021ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1008px;
left:104.042778px;
color:#FFF374;
}
.span5
{
color:#C00D0E;
}
.cls021ClsTxt5
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:60px;
left:149.675583px;
color:#FFFFFF;
}
.span6
{
color:#C00D0E;
}
.cls021ClsTxt6
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:272px;
left:450.852020px;
color:#000000;
text-align:center;
line-height:115%;
}
.span7
{
color:#C00D0E;
}
.cls021ClsTxt7
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:288px;
left:465.454529px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls021ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:348px;
left:166.103378px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls021ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:348px;
left:675.365417px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls021ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:166.103378px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls021ClsTxt11
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:372px;
left:273.796783px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls021ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:372px;
left:675.365417px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls021ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:372px;
left:733.775391px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls021ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:431px;
left:149.675583px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.span15
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:215.386795px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls021ClsTxt16
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:431px;
left:279.272705px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls021ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:401.568604px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls021ClsTxt18
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:431px;
left:412.520477px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls021ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:536.641724px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls021ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:217.212112px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls021ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:454px;
left:295.700531px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls021ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:399.743286px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls021ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:217.212112px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls021ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:502px;
left:217.212112px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls021ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:502px;
left:569.497314px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls021ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:217.212112px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls021ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:525px;
left:496.484802px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.span28
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:525px;
left:631.557861px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls021ClsTxt29
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:721px;
left:149.675583px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls021ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:744px;
left:217.212112px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.span31
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:217.212112px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.span32
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:768px;
left:441.725464px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.span33
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:792px;
left:217.212112px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.span34
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:217.212112px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls021ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:816px;
left:629.732605px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls021ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:850px;
left:149.675583px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls021ClsTxt37
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:874px;
left:160.627441px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.span38
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls021ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:224.513367px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls021ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:874px;
left:295.700531px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.span40
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt40
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:874px;
left:339.507996px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls021ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:874px;
left:421.647064px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.span42
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt42
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:905px;
left:160.627441px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.span43
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:905px;
left:385.140808px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.span44
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt44
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:929px;
left:160.627441px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.span45
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:929px;
left:368.713013px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.span46
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt46
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:953px;
left:160.627441px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.span47
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:953px;
left:383.315491px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls021ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1007px;
left:149.675583px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.span49
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt49
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1040px;
left:160.627441px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls021ClsTxt50
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1099px;
left:160.627441px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls021ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1099px;
left:271.971466px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt52
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1203px;
left:160.627441px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.span53
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt53
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1226px;
left:180.705872px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.span54
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1040px;
left:480.057007px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.span55
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1064px;
left:480.057007px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls021ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1099px;
left:480.057007px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls021ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1099px;
left:574.973267px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls021ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1099px;
left:755.679077px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.span59
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1122px;
left:480.057007px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls021ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1146px;
left:480.057007px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls021ClsTxt61
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1146px;
left:589.575745px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls021ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1146px;
left:762.980347px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.span63
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1170px;
left:480.057007px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.span64
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1203px;
left:480.057007px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls021ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1226px;
left:480.057007px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.span66
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.cls021ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:559px;
left:149.675583px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.span67
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls021ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:582px;
left:217.212112px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls021ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:606px;
left:217.212112px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls021ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:630px;
left:217.212112px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.span70
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:654px;
left:217.212112px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.span71
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls021ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:677px;
left:217.212112px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls021ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:47.458111px;
color:#FFFFFF;
}
.span73
{
color:#C00D0E;
}
.cls021ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls021ClsTxt74
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:273.796783px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls021ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:293.875214px;
color:#C00D0E;
}
.span76
{
color:#C00D0E;
}
.cls021ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:368.713013px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls021ClsTxt77
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:396.092651px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls021ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:417.996429px;
color:#C00D0E;
}
.CSemibold
{
font-family:"CronosPro-Semibold" ;
}