@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls059ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:19px;
left:43.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls059ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:36.506241px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls059ClsTxt2
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:38.331551px;
top:62px;
left:150.675583px;
color:#FFFFFF;
}
.span3
{
color:#C00D0E;
}
.span4
{
color:#C00D0E;
}
.span4
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:119px;
left:362.411743px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls059ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:142px;
left:362.411743px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.span6
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:362.411743px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.span7
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:210px;
left:362.411743px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.span8
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
line-height:115%;
left:362.411743px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.span9
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt9
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:257px;
left:362.411743px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.span10
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:281px;
left:362.411743px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.span11
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:305px;
left:362.411743px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls059ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:331.381470px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls059ClsTxt13
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:339px;
left:388.791412px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls059ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:421.647064px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls059ClsTxt15
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:339px;
left:505.611389px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls059ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:523.864502px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls059ClsTxt17
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:339px;
left:551.244202px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls059ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:339px;
left:635.208557px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls059ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:362.411743px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls059ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:363px;
left:370.538300px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls059ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:403.393921px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls059ClsTxt22
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:363px;
left:507.436676px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls059ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:363px;
left:527.515137px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.span24
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:406px;
left:362.411743px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.span25
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:430px;
left:362.411743px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.span26
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:453px;
left:362.411743px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.span27
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:477px;
left:362.411743px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.span28
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:501px;
left:362.411743px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls059ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:556px;
left:362.411743px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls059ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:556px;
left:449.026733px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls059ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:556px;
left:474.581116px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls059ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:362.411743px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls059ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:580px;
left:516.563232px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls059ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:580px;
left:567.671997px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.span35
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:634px;
left:362.411743px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.span36
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:658px;
left:362.411743px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.span37
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls059ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:683px;
line-height:115%;
left:362.411743px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls059ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:362.411743px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.span39
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:750px;
line-height:115%;
left:362.411743px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls059ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:772px;
left:362.411743px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.span41
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:797px;
left:362.411743px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.span42
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:820px;
left:362.411743px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.span43
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:844px;
left:362.411743px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.span44
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:869px;
line-height:115%;
left:362.411743px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls059ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:362.411743px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls059ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:925px;
left:331.381470px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls059ClsTxt47
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:925px;
left:458.153259px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls059ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:925px;
left:520.213867px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls059ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:362.411743px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls059ClsTxt50
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:949px;
left:449.026733px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls059ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:949px;
left:511.087341px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls059ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:993px;
left:362.411743px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls059ClsTxt53
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:993px;
left:463.629242px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls059ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:993px;
left:512.912659px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls059ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1017px;
left:362.411743px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls059ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1016px;
left:496.484802px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls059ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1016px;
left:545.768250px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls059ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1041px;
left:362.411743px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls059ClsTxt59
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1040px;
left:476.406403px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls059ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1040px;
left:529.340454px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.span61
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1098px;
left:362.411743px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls059ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1122px;
left:362.411743px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.span63
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls059ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1146px;
left:363.411743px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls059ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1168px;
left:383.315491px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls059ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1192px;
left:383.315491px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls059ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:133px;
left:826.866272px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls059ClsTxt67
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:331px;
left:814.089111px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls059ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:495px;
left:826.866272px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls059ClsTxt69
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:550px;
left:820.565063px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls059ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:693px;
left:818.739685px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls059ClsTxt71
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:746px;
left:807.787842px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls059ClsTxt72
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:950px;
left:775.757568px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls059ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1048px;
left:779.408142px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls059ClsTxt74
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1117px;
left:806.787842px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls059ClsTxt75
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1203px;
left:843.294128px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls059ClsTxt76
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1145px;
left:744.727295px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls059ClsTxt77
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:133px;
left:193.483063px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.span78
{
font-weight:bold;
font-size:20.078430px;
}
.cls059ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:331px;
left:185.356506px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls059ClsTxt79
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:416px;
left:200.784302px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls059ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:549px;
left:208.085556px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls059ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:631px;
left:195.308380px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls059ClsTxt82
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:746px;
left:177.055252px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls059ClsTxt83
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:990px;
left:153.326202px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls059ClsTxt84
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1192px;
left:208.085556px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.span85
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.cls059ClsTxt85
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1319px;
left:162.452759px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls059ClsTxt86
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:259.194275px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls059ClsTxt87
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:281.098022px;
color:#C00D0E;
}
.span88
{
color:#C00D0E;
}
.cls059ClsTxt88
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:354.110504px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls059ClsTxt89
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:397.917999px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls059ClsTxt90
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:417.996429px;
color:#C00D0E;
}
.span91
{
color:#C00D0E;
}
.cls059ClsTxt91
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:545.768250px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls059ClsTxt92
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:564.021362px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls059ClsTxt93
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:585.925110px;
color:#C00D0E;
}
.span94
{
color:#C00D0E;
}
.cls059ClsTxt94
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:668.064148px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls059ClsTxt95
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:825.040955px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls059ClsTxt96
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:846.944702px;
color:#C00D0E;
}
.Regular
{
font-family:'CronosPro-Regular';
}
.LtIt{
font-family:"CronosPro-LtIt" ;
}
.Lt{
font-family:"CronosPro-Lt" ;
}