@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body
{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.cls0009ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:119px;
line-height:130%;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:119px;
left:92.000000px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.72px;
}
.cls0009ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:154px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
word-spacing:-1.00px;
}
.cls0009ClsTxt3
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:215px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:215px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:215px;
left:528.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt6
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:206px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls0009ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:271.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:409.666656px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
left:568.333313px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:272px;
width:160px;
left:729.666687px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:375px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:375px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:375px;
left:533.333313px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt15
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:366px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls0009ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:432px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:432px;
left:272.333344px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:432px;
left:445.666656px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:432px;
left:575.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:432px;
left:758.333313px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:535px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:535px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:535px;
left:444.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:535px;
left:545.333313px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt25
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:526px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls0009ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:592px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:592px;
left:285.666656px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:592px;
left:475.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:592px;
left:660.333313px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:695px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:695px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:695px;
left:501.333344px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt33
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:686px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls0009ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:752px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:752px;
left:339.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:752px;
left:531.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:817px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:817px;
left:339.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:921px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:921px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:921px;
left:352.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:921px;
left:726.666687px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt43
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:911px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls0009ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:977px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:977px;
left:260.333344px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:977px;
left:419.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:977px;
left:592.333313px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1081px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1081px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1081px;
left:398.666656px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1081px;
left:501.333344px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt52
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1071px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls0009ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1137px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1137px;
left:347.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1137px;
left:543.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1201px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1201px;
left:347.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1306px;
left:73.333336px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1306px;
left:122.666664px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1306px;
left:256.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt61
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:23.072672px;
top:1297px;
left:845.000000px;
letter-spacing:0px;
color:#FFFFFF;
}
.cls0009ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1362px;
left:122.666672px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1362px;
left:276.333344px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1362px;
left:451.000000px;
letter-spacing:0px;
color:#000000;
}
.cls0009ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1362px;
left:637.666687px;
letter-spacing:0px;
color:#000000;
}
