@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#000000;
}
.cls010ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:849.595337px;
color:#FFFFFF;
}
.span1
{
color:#000000;
}
.cls010ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#000000;
}
.cls010ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#000000;
}
.cls010ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#000000;
}
.cls010ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#000000;
}
.cls010ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:186.181824px;
color:#000000;
}
.span6
{
color:#000000;
}
.cls010ClsTxt6
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:119px;
left:523.039185px;
color:#C00D0E;
}
.span7
{
color:#000000;
}
.cls010ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:166.103378px;
color:#000000;
}
.span8
{
color:#000000;
}
.cls010ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:186.181824px;
color:#000000;
}
.span9
{
color:#000000;
}
.cls010ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:507.436676px;
color:#000000;
}
.span10
{
color:#000000;
}
.cls010ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:166.103378px;
color:#000000;
}
.span11
{
color:#000000;
}
.cls010ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:186.181824px;
color:#000000;
}
.span12
{
color:#000000;
}
.cls010ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:507.436676px;
color:#000000;
}
.span13
{
color:#000000;
}
.cls010ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:166.103378px;
color:#000000;
}
.span14
{
color:#000000;
}
.cls010ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:186.181824px;
color:#000000;
}
.span15
{
color:#000000;
}
.cls010ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:166.103378px;
color:#000000;
}
.span16
{
color:#000000;
}
.cls010ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:186.181824px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls010ClsTxt17
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:254px;
left:166.103378px;
line-height:120%;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls010ClsTxt18
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:277px;
left:166.103378px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls010ClsTxt19
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:182px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls010ClsTxt20
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:255px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls010ClsTxt21
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:374.188934px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls010ClsTxt22
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:465px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls010ClsTxt23
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:553.069519px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls010ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:627.907288px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls010ClsTxt25
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:310px;
left:740.076599px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls010ClsTxt26
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:334px;
left:182px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls010ClsTxt27
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:334px;
left:255px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls010ClsTxt28
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:334px;
left:374.188934px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls010ClsTxt29
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:334px;
left:465.454529px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls010ClsTxt30
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:334px;
left:552.069519px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls010ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:334px;
left:627.907288px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls010ClsTxt32
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:334px;
left:740.076599px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls010ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:166.103378px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls010ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:186.181824px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls010ClsTxt35
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:373px;
left:337.682709px;
color:#C00D0E;
}
.span36
{
color:#C00D0E;
}
.cls010ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:374px;
left:498.310181px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls010ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:166.103378px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls010ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:186.181824px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls010ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:398px;
left:582.274475px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls010ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:166.103378px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls010ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls010ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:421px;
left:876.149658px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls010ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:445px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls010ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:445px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls010ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:445px;
left:804.962524px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls010ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:166.103378px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls010ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:186.181824px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls010ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:469px;
left:806.787842px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls010ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:493px;
left:166.103378px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls010ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:493px;
left:186.181824px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls010ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:493px;
left:540.292297px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls010ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:516px;
left:166.103378px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls010ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:516px;
left:186.181824px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls010ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:516px;
left:598.702332px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls010ClsTxt55
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:555px;
left:166.103378px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls010ClsTxt56
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:588px;
left:181px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls010ClsTxt57
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:588px;
left:269.320862px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls010ClsTxt58
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:588px;
left:365.062378px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls010ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:600px;
left:478.231720px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls010ClsTxt60
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:612px;
left:180.705872px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls010ClsTxt61
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:612px;
left:267.495514px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls010ClsTxt62
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:611px;
left:365.062378px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls010ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:588px;
left:531.165771px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls010ClsTxt64
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:588px;
left:627px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls010ClsTxt65
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:588px;
left:691px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls010ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:612px;
left:531.165771px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls010ClsTxt67
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:612px;
left:627.907288px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls010ClsTxt68
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:612px;
left:691.793213px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls010ClsTxt69
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span70
{
color:#C00D0E;
}
.cls010ClsTxt70
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:248px;
left:96.741531px;
color:#FFF374;
}
.span71
{
color:#C00D0E;
}
.cls010ClsTxt71
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:550px;
left:96.741531px;
color:#FFF374;
}
.span72
{
color:#C00D0E;
}
.cls010ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:672px;
left:227.338684px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls010ClsTxt73
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:670px;
left:271.971466px;
color:#C00D0E;
}
.span74
{
color:#C00D0E;
}
.cls010ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:672px;
left:393.442047px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls010ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:672px;
left:459.978577px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls010ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:672px;
left:647.985718px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls010ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:672px;
left:710.046326px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls010ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:672px;
left:898.053467px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.span79
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls010ClsTxt79
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1095px;
left:166.103378px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls010ClsTxt80
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1124px;
left:240.941162px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls010ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1124px;
left:857.896606px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls010ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1158px;
left:166.103378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls010ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1158px;
left:254.718338px;
text-align:right;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls010ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1158px;
left:404.393921px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls010ClsTxt85
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1157px;
left:474.581116px;
color:#C00D0E;
}
.span86
{
color:#C00D0E;
}
.cls010ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1158px;
left:835.992859px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls010ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:852.420654px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls010ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1182px;
left:166.103378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls010ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1182px;
left:229.989288px;
text-align:right;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls010ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:404px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls010ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:835.992859px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls010ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:852.420654px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls010ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1205px;
left:166.103378px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls010ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1205px;
left:261.019592px;
text-align:right;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls010ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1205px;
left:404.393921px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls010ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1205px;
left:835.992859px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls010ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1206px;
left:852.420654px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls010ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1229px;
left:166.103378px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls010ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1229px;
left:257.368988px;
text-align:right;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls010ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1229px;
left:404px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls010ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1229px;
left:835.992859px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls010ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1230px;
left:852.420654px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls010ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1253px;
left:166.103378px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls010ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1252px;
left:205.434921px;
text-align:right;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls010ClsTxt105
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1252px;
left:404px;
color:#000000;
}
.span106
{
color:#C00D0E;
}
.cls010ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1252px;
left:835.992859px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls010ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:852.420654px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls010ClsTxt108
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1276px;
left:165.103378px;
color:#000000;
}
.span109
{
color:#C00D0E;
}
.cls010ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1276px;
left:197.133682px;
text-align:right;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls010ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1276px;
left:404px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls010ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1276px;
left:835.992859px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls010ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1277px;
left:852.420654px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls010ClsTxt113
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1090px;
left:96.741531px;
color:#FFF374;
}
.span114
{
color:#C00D0E;
}
.cls010ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:654px;
left:180.705872px;
color:#C00D0E;
}
.span115
{
color:#C00D0E;
}
.cls010ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:654px;
left:431.773590px;
color:#C00D0E;
}
.span116
{
color:#C00D0E;
}
.cls010ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:654px;
left:685px;
color:#C00D0E;
}
.span117
{
color:#C00D0E;
}
.cls010ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:864px;
left:180.705872px;
color:#C00D0E;
}
.span118
{
color:#C00D0E;
}
.cls010ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:864px;
left:430.773590px;
color:#C00D0E;
}
.span119
{
color:#C00D0E;
}
.cls010ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:17.340462px;
top:864px;
left:684.491943px;
color:#C00D0E;
}
.span120
{
color:#C00D0E;
}
.cls010ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:880px;
left:208.085556px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls010ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:880px;
left:394.267365px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls010ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:880px;
left:459.978577px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls010ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:880px;
left:646.160400px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls010ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:880px;
left:710.046326px;
color:#000000;
}
.span125
{
color:#C00D0E;
}
.cls010ClsTxt125
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:880px;
left:898.053467px;
color:#000000;
}
