@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"SymbolStd";src:url('../fonts/SymbolStd.otf');}
@font-face{font-family:"SourceSansPro-Semibold";src:url('../fonts/SourceSansPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls030ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:38px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls030ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:854.245911px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls030ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:26px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
color:#C00D0E;
}
.cls030ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.span4
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls030ClsTxt4
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:115px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls030ClsTxt5
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:569.497314px;
color:#000000;
}
.span6
{
color:#C00D0E;
}
.cls030ClsTxt6
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:144px;
left:606.003540px;
color:#C00D0E;
}
.span7
{
color:#C00D0E;
}
.cls030ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:569.497314px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls030ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:589.575745px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls030ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:569.497314px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls030ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:589.575745px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls030ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:569.497314px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls030ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:569.497314px;
color:#000000;
}
.span13
{
color:#C00D0E;
}
.cls030ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:263px;
left:569.497314px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls030ClsTxt14
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:96.741531px;
color:#FFF374;
}
.span15
{
color:#C00D0E;
}
.cls030ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:422px;
left:160.627441px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls030ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:526px;
left:162.452759px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls030ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:631px;
left:160.627441px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls030ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:736px;
left:160.627441px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls030ClsTxt19
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:144px;
left:286.573975px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls030ClsTxt20
{
position:absolute;
font-family:'SymbolStd';
font-size:21.903742px;
top:454px;
left:341.333344px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls030ClsTxt21
{
position:absolute;
font-family:'SymbolStd';
font-size:21.903742px;
top:558px;
left:341.333344px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls030ClsTxt22
{
position:absolute;
font-family:'SymbolStd';
font-size:21.903742px;
top:664px;
left:341.333344px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls030ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:432.598907px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls030ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:300px;
left:432.598907px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls030ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:176px;
left:197.133682px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.span26
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls030ClsTxt26
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:861px;
left:166.103378px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls030ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:889px;
left:166.103378px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls030ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:890px;
left:186.181824px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls030ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:914px;
left:186.181824px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls030ClsTxt30
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:913px;
left:303.001770px;
color:#C00D0E;
}
.span31
{
color:#C00D0E;
}
.cls030ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:937px;
left:166.103378px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls030ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:937px;
left:186.181824px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls030ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:186.181824px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls030ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:960px;
left:450.852020px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls030ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:984px;
left:166.103378px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls030ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:984px;
left:186.181824px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls030ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1008px;
left:186.181824px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls030ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1008px;
left:396.092651px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls030ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1031px;
left:166.103378px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls030ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1032px;
left:186.181824px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls030ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1055px;
left:186.181824px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls030ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1079px;
left:186.181824px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.span43
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls030ClsTxt43
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1119px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls030ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1176px;
left:166.103378px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls030ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1176px;
left:263.844910px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.cls030ClsTxt46
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1175px;
left:511.087341px;
color:#C00D0E;
}
.span47
{
color:#C00D0E;
}
.cls030ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1175px;
left:627.907288px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls030ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1200px;
left:166.103378px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls030ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1200px;
left:233.639923px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls030ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:496.484802px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls030ClsTxt51
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1199px;
left:542.117615px;
color:#C00D0E;
}
.span52
{
color:#C00D0E;
}
.cls030ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1199px;
left:720.998230px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls030ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:166.103378px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls030ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:204.434921px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls030ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:496.484802px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls030ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1223px;
left:788.534729px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls030ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1247px;
left:166.103378px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls030ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:303.001770px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls030ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:496.484802px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls030ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1246px;
left:766.630981px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls030ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1271px;
left:166.103378px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls030ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1271px;
left:317.604279px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls030ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1270px;
left:496.484802px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls030ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1270px;
left:764.805664px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls030ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1295px;
left:166.103378px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls030ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1295px;
left:197.133682px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls030ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1294px;
left:496.484802px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls030ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1294px;
left:719.172852px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls030ClsTxt69
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:854px;
left:96.741531px;
color:#FFF374;
}
.span70
{
color:#C00D0E;
}
.cls030ClsTxt70
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1114px;
left:96.741531px;
color:#FFF374;
}
.span71
{
color:#C00D0E;
}
.cls030ClsTxt71
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:355px;
left:166.103378px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls030ClsTxt72
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:384px;
left:233.814621px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls030ClsTxt73
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:384px;
left:431.773590px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls030ClsTxt74
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:349px;
left:96.741531px;
color:#FFF374;
}
.span75
{
color:#C00D0E;
}
.cls030ClsTxt75
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:434px;
left:555.894775px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls030ClsTxt76
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:434px;
left:633.383240px;
color:#C00D0E;
}
.span77
{
color:#C00D0E;
}
.cls030ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:458px;
left:570.497314px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls030ClsTxt78
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:458px;
left:633.383240px;
color:#C00D0E;
}
.span79
{
color:#C00D0E;
}
.cls030ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:482px;
left:572.322571px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls030ClsTxt80
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:482px;
left:633.383240px;
color:#C00D0E;
}
.span81
{
color:#C00D0E;
}
.span81
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls030ClsTxt81
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:529px;
left:555.894775px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls030ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:553px;
left:570.497314px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls030ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:572.322571px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls030ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:577px;
left:895.402832px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.span85
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls030ClsTxt85
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:635px;
left:555.894775px;
color:#000000;
}
.cls030ClsTxt85-1
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:634px;
left:871.894775px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls030ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:633px;
left:870.673767px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls030ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:657px;
left:570.497314px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls030ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:572.322571px;
color:#000000;
}
.span89
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls030ClsTxt89
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:743px;
left:555.894775px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls030ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:765px;
left:570.497314px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls030ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:789px;
left:572.322571px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls030ClsTxt92
{
position:absolute;
font-family:'SymbolStd';
font-size:21.903742px;
top:768px;
left:341.333344px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls030ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:166px;
left:166.103378px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls030ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:235px;
left:166.103378px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls030ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:167.103378px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls030ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:177px;
left:432.598907px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls030ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:186px;
line-height:115%;
left:458.153259px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls030ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:204px;
left:458.153259px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls030ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:253px;
left:458.153259px;
line-height:115%;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls030ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:272px;
left:458.153259px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls030ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:241px;
left:192.657745px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls030ClsTxt102
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:261px;
left:191.657745px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls030ClsTxt103
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:320px;
left:197.133682px;
color:#000000;
}
.span104
{
color:#C00D0E;
}
.cls030ClsTxt104
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:310px;
left:458.153259px;
color:#000000;
}
.span105
{
color:#C00D0E;
}
.cls030ClsTxt105
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:528px;
left:229.163986px;
color:#000000;
}
.question-top2 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:10px;
margin-left:37px;
}
.question-top1a {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:76px;
margin-left:37px;
}
.question1a {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:12px;
margin-right:10px;
text-align:right;
}
.questions14 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:40px;
margin-left:25px;
}
.questions1b {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:65px;
margin-left:25px;
}
.questions1a {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:40px;
margin-left:25px;
}
.question1 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:44px;
margin-right:10px;
text-align:right;
}
.questions1 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:40px;
margin-left:25px;
}
.answer1
{
position:relative;
font-family:'SourceSansPro-Semibold';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
margin:10px 25px 5px 20px;
padding:10px 10px 10px 10px;
}


.Lt
{
font-family:'CronosPro-Lt';
}