@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls006ClsTxt0 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:25px;
left:104.042778px;
letter-spacing:0px;
color:#CB0307;
}
.span1 {
color:#CB0307;
}
.cls006ClsTxt1 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span2 {
color:#CB0307;
}
.cls006ClsTxt2 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span3 {
color:#CB0307;
}
.cls006ClsTxt3 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:119px;
left:202.609619px;
letter-spacing:0px;
color:#CB0307;
}
.span4 {
color:#CB0307;
}
.cls006ClsTxt4 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:244.591797px;
letter-spacing:0px;
color:#030506;
}
.span5 {
color:#CB0307;
}
.cls006ClsTxt5 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span6 {
color:#CB0307;
}
.cls006ClsTxt6 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:629.732605px;
letter-spacing:0px;
color:#030506;
}
.span7 {
color:#CB0307;
}
.cls006ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span8 {
color:#CB0307;
}
.cls006ClsTxt8 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span9 {
color:#CB0307;
}
.cls006ClsTxt9 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:142px;
left:255.543671px;
letter-spacing:0px;
color:#CB0307;
}
.span10 {
color:#CB0307;
}
.cls006ClsTxt10 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:301.176453px;
letter-spacing:0px;
color:#030506;
}
.span11 {
color:#CB0307;
}
.cls006ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span12 {
color:#CB0307;
}
.cls006ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span13 {
color:#CB0307;
}
.cls006ClsTxt13 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:715.522217px;
letter-spacing:0px;
color:#030506;
}
.span14 {
color:#CB0307;
}
.cls006ClsTxt14 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span15 {
color:#CB0307;
}
.cls006ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span16 {
color:#CB0307;
}
.cls006ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:282.923340px;
letter-spacing:0px;
color:#030506;
}
.span17 {
color:#CB0307;
}
.cls006ClsTxt17 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span18 {
color:#CB0307;
}
.cls006ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:629.732605px;
letter-spacing:0px;
color:#030506;
}
.span19 {
color:#CB0307;
}
.cls006ClsTxt19 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span20 {
color:#CB0307;
}
.cls006ClsTxt20 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:242.766464px;
letter-spacing:0px;
color:#030506;
}
.span21 {
color:#CB0307;
}
.cls006ClsTxt21 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span22 {
color:#CB0307;
}
.cls006ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span23 {
color:#CB0307;
}
.cls006ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:677.190674px;
letter-spacing:0px;
color:#030506;
}
.span24 {
color:#CB0307;
}
.cls006ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span25 {
color:#CB0307;
}
.cls006ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:242.766464px;
letter-spacing:0px;
color:#030506;
}
.span26 {
color:#CB0307;
}
.cls006ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:545.768250px;
letter-spacing:0px;
color:#030506;
}
.span27 {
color:#CB0307;
}
.cls006ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:629.732605px;
letter-spacing:0px;
color:#030506;
}
.span28 {
}
.cls006ClsTxt28 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:253px;
left:166.103378px;
letter-spacing:0px;
}
.span29 {
color:#030506;
}
.cls006ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span30 {
color:#030506;
}
.cls006ClsTxt30 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span31 {
color:#030506;
}
.cls006ClsTxt31 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:283px;
left:240.941162px;
letter-spacing:0px;
color:#CB0307;
}
.span32 {
color:#030506;
}
.cls006ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:283px;
left:324.905518px;
letter-spacing:0px;
color:#030506;
}
.span33 {
color:#030506;
}
.cls006ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span34 {
color:#030506;
}
.cls006ClsTxt34 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span35 {
color:#030506;
}
.cls006ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:436.249542px;
letter-spacing:0px;
color:#030506;
}
.span36 {
color:#030506;
}
.cls006ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span37 {
color:#030506;
}
.cls006ClsTxt37 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span38 {
color:#030506;
}
.cls006ClsTxt38 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:436.249542px;
letter-spacing:0px;
color:#030506;
}
.span39 {
color:#030506;
}
.cls006ClsTxt39 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:354px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span40 {
color:#030506;
}
.cls006ClsTxt40 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:354px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span41 {
color:#030506;
}
.cls006ClsTxt41 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:354px;
left:359.586426px;
letter-spacing:0px;
color:#030506;
}
.span42 {
color:#030506;
}
.cls006ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span43 {
color:#030506;
}
.cls006ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span44 {
color:#030506;
}
.cls006ClsTxt44 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:378px;
left:604.178223px;
letter-spacing:0px;
color:#030506;
}
.span45 {
color:#030506;
}
.cls006ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:401px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span46 {
color:#030506;
}
.cls006ClsTxt46 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:401px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span47 {
color:#030506;
}
.cls006ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:401px;
left:569.497314px;
letter-spacing:0px;
color:#030506;
}
.span48 {
color:#030506;
}
.cls006ClsTxt48 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:425px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span49 {
color:#030506;
}
.cls006ClsTxt49 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:425px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span50 {
color:#030506;
}
.cls006ClsTxt50 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:425px;
left:564.021362px;
letter-spacing:0px;
color:#030506;
}
.span51 {
color:#030506;
}
.cls006ClsTxt51 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:449px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span52 {
color:#030506;
}
.cls006ClsTxt52 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:449px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span53 {
color:#030506;
}
.cls006ClsTxt53 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:449px;
left:689.967896px;
letter-spacing:0px;
color:#030506;
}
.span54 {
color:#030506;
}
.cls006ClsTxt54 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:489px;
left:166.561478px;
letter-spacing:0px;
}
.span55 {
color:#030506;
}
.cls006ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span56 {
color:#030506;
}
.cls006ClsTxt56 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span57 {
color:#030506;
}
.cls006ClsTxt57 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:516px;
left:255.543671px;
letter-spacing:0px;
color:#CB0307;
}
.span58 {
color:#030506;
}
.cls006ClsTxt58 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:313.953644px;
letter-spacing:0px;
color:#030506;
}
.span59 {
color:#030506;
}
.cls006ClsTxt59 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span60 {
color:#030506;
}
.cls006ClsTxt60 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span61 {
color:#030506;
}
.cls006ClsTxt61 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:518px;
left:766.630981px;
letter-spacing:0px;
color:#030506;
}
.span62 {
color:#030506;
}
.cls006ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span63 {
color:#030506;
}
.cls006ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:293.875214px;
letter-spacing:0px;
color:#030506;
}
.span64 {
color:#030506;
}
.cls006ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span65 {
color:#030506;
}
.cls006ClsTxt65 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span66 {
color:#030506;
}
.cls006ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:542px;
left:731.950073px;
letter-spacing:0px;
color:#030506;
}
.span67 {
color:#030506;
}
.cls006ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span68 {
color:#030506;
}
.cls006ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span69 {
color:#030506;
}
.cls006ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:341.333344px;
letter-spacing:0px;
color:#030506;
}
.span70 {
color:#030506;
}
.cls006ClsTxt70 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span71 {
color:#030506;
}
.cls006ClsTxt71 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:566px;
left:682.666687px;
letter-spacing:0px;
color:#030506;
}
.span72 {
color:#030506;
}
.cls006ClsTxt72 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span73 {
color:#030506;
}
.cls006ClsTxt73 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span74 {
color:#030506;
}
.cls006ClsTxt74 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:348.634583px;
letter-spacing:0px;
color:#030506;
}
.span75 {
color:#030506;
}
.cls006ClsTxt75 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:553.069519px;
letter-spacing:0px;
color:#030506;
}
.span76 {
color:#030506;
}
.cls006ClsTxt76 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span77 {
color:#030506;
}
.cls006ClsTxt77 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:589px;
left:722.823486px;
letter-spacing:0px;
color:#030506;
}
.span78 {
color:#030506;
}
.cls006ClsTxt78 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span79 {
color:#030506;
}
.cls006ClsTxt79 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:293.875214px;
letter-spacing:0px;
color:#030506;
}
.span80 {
color:#030506;
}
.cls006ClsTxt80 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:545.768250px;
letter-spacing:0px;
color:#030506;
}
.span81 {
color:#030506;
}
.cls006ClsTxt81 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span82 {
color:#030506;
}
.cls006ClsTxt82 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:613px;
left:759.329773px;
letter-spacing:0px;
color:#030506;
}
.span83 {
color:#030506;
}
.cls006ClsTxt83 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:651px;
left:166.561478px;
letter-spacing:0px;
}
.span84 {
color:#030506;
}
.cls006ClsTxt84 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span85 {
color:#030506;
}
.cls006ClsTxt85 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span86 {
color:#030506;
}
.cls006ClsTxt86 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:680px;
left:228.163986px;
letter-spacing:0px;
color:#CB0307;
}
.span87 {
color:#030506;
}
.cls006ClsTxt87 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:681px;
left:277.447388px;
letter-spacing:0px;
color:#030506;
}
.span88 {
color:#030506;
}
.cls006ClsTxt88 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span89 {
color:#030506;
}
.cls006ClsTxt89 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span90 {
color:#030506;
}
.cls006ClsTxt90 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:704px;
left:354.110504px;
letter-spacing:0px;
color:#030506;
}
.span91 {
color:#030506;
}
.cls006ClsTxt91 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span92 {
color:#030506;
}
.cls006ClsTxt92 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:728px;
left:268.320862px;
letter-spacing:0px;
color:#030506;
}
.span93 {
color:#030506;
}
.cls006ClsTxt93 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span94 {
color:#030506;
}
.cls006ClsTxt94 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span95 {
color:#030506;
}
.cls006ClsTxt95 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:752px;
left:547.593567px;
letter-spacing:0px;
color:#030506;
}
.span96 {
color:#030506;
}
.cls006ClsTxt96 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span97 {
color:#030506;
}
.cls006ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span98 {
color:#030506;
}
.cls006ClsTxt98 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:776px;
left:323.080200px;
letter-spacing:0px;
color:#030506;
}
.span99 {
color:#030506;
}
.cls006ClsTxt99 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:799px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span100 {
color:#030506;
}
.cls006ClsTxt100 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:799px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span101 {
color:#030506;
}
.cls006ClsTxt101 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:799px;
left:277.447388px;
letter-spacing:0px;
color:#030506;
}
.span102 {
color:#030506;
}
.cls006ClsTxt102 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:823px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span103 {
color:#030506;
}
.cls006ClsTxt103 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:823px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span104 {
color:#030506;
}
.cls006ClsTxt104 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:823px;
left:310.303009px;
letter-spacing:0px;
color:#030506;
}
.span105 {
color:#030506;
}
.cls006ClsTxt105 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span106 {
color:#030506;
}
.cls006ClsTxt106 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span107 {
color:#030506;
}
.cls006ClsTxt107 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:847px;
left:509.261993px;
letter-spacing:0px;
color:#030506;
}
.span108 {
color:#030506;
}
.cls006ClsTxt108 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:870px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span109 {
color:#030506;
}
.cls006ClsTxt109 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:870px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span110 {
color:#030506;
}
.cls006ClsTxt110 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:870px;
left:315.778931px;
letter-spacing:0px;
color:#030506;
}
.span111 {
color:#030506;
}
.cls006ClsTxt111 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:942px;
left:180.705872px;
letter-spacing:0px;
color:#030506;
}
.span112 {
color:#030506;
}
.cls006ClsTxt112 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:942px;
left:272.447388px;
letter-spacing:0px;
color:#030506;
}
.span113 {
color:#030506;
}
.cls006ClsTxt113 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:942px;
left:341.333344px;
letter-spacing:0px;
color:#030506;
}
.span114 {
color:#030506;
}
.cls006ClsTxt114 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:942px;
left:414.821716px;
letter-spacing:0px;
color:#030506;
}
.span115 {
color:#030506;
}
.cls006ClsTxt115 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:942px;
left:472.755737px;
letter-spacing:0px;
color:#030506;
}
.span116 {
color:#030506;
}
.cls006ClsTxt116 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:942px;
left:591.401062px;
letter-spacing:0px;
color:#030506;
}
.span117 {
color:#030506;
}
.cls006ClsTxt117 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:965px;
left:180.705872px;
letter-spacing:0px;
color:#030506;
}
.span118 {
color:#030506;
}
.cls006ClsTxt118 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:965px;
left:277.447388px;
letter-spacing:0px;
color:#030506;
}
.span119 {
color:#030506;
}
.cls006ClsTxt119 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:965px;
left:341.333344px;
letter-spacing:0px;
color:#030506;
}
.span120 {
color:#030506;
}
.cls006ClsTxt120 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:965px;
left:419.821716px;
letter-spacing:0px;
color:#030506;
}
.span121 {
color:#030506;
}
.cls006ClsTxt121 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:965px;
left:472.755737px;
letter-spacing:0px;
color:#030506;
}
.span122 {
color:#030506;
}
.cls006ClsTxt122 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1005px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span123 {
color:#030506;
}
.cls006ClsTxt123 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1005px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span124 {
color:#030506;
}
.cls006ClsTxt124 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1004px;
left:520.213867px;
letter-spacing:0px;
color:#CB0307;
}
.span125 {
color:#030506;
}
.cls006ClsTxt125 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1005px;
left:591.401062px;
letter-spacing:0px;
color:#030506;
}
.span126 {
color:#030506;
}
.cls006ClsTxt126 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1029px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span127 {
color:#030506;
}
.cls006ClsTxt127 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1029px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span128 {
color:#030506;
}
.cls006ClsTxt128 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1028px;
left:434.424225px;
letter-spacing:0px;
color:#CB0307;
}
.span129 {
color:#030506;
}
.cls006ClsTxt129 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1029px;
left:472.755737px;
letter-spacing:0px;
color:#030506;
}
.span130 {
color:#030506;
}
.cls006ClsTxt130 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1053px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span131 {
color:#030506;
}
.cls006ClsTxt131 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1053px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span132 {
color:#030506;
}
.cls006ClsTxt132 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1053px;
left:624.256653px;
letter-spacing:0px;
color:#030506;
}
.span133 {
color:#030506;
}
.cls006ClsTxt133 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1077px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span134 {
color:#030506;
}
.cls006ClsTxt134 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1077px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span135 {
color:#030506;
}
.cls006ClsTxt135 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1077px;
left:576.798584px;
letter-spacing:0px;
color:#030506;
}
.span136 {
color:#030506;
}
.cls006ClsTxt136 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1100px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span137 {
color:#030506;
}
.cls006ClsTxt137 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1100px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span138 {
color:#030506;
}
.cls006ClsTxt138 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1100px;
left:478.231720px;
letter-spacing:0px;
color:#030506;
}
.span139 {
color:#030506;
}
.cls006ClsTxt139 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1124px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span140 {
color:#030506;
}
.cls006ClsTxt140 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1124px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span141 {
color:#030506;
}
.cls006ClsTxt141 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1124px;
left:600.527588px;
letter-spacing:0px;
color:#030506;
}
.span142 {
color:#030506;
}
.cls006ClsTxt142 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1148px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span143 {
color:#030506;
}
.cls006ClsTxt143 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1148px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span144 {
color:#030506;
}
.cls006ClsTxt144 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1148px;
left:545.768250px;
letter-spacing:0px;
color:#030506;
}
.span145 {
color:#030506;
}
.cls006ClsTxt145 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span146 {
color:#030506;
}
.cls006ClsTxt146 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span147 {
color:#030506;
}
.cls006ClsTxt147 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1172px;
left:397.917999px;
letter-spacing:0px;
color:#030506;
}
.span148 {
color:#030506;
}
.cls006ClsTxt148 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span149 {
color:#030506;
}
.cls006ClsTxt149 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span150 {
color:#030506;
}
.cls006ClsTxt150 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1195px;
left:534.816345px;
letter-spacing:0px;
color:#030506;
}
.span151 {
color:#030506;
}
.cls006ClsTxt151 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:156.976822px;
letter-spacing:0px;
color:#030506;
}
.span152 {
color:#030506;
}
.cls006ClsTxt152 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span153 {
color:#030506;
}
.cls006ClsTxt153 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1219px;
left:677.190674px;
letter-spacing:0px;
color:#030506;
}
.span154 {
color:#030506;
}
.cls006ClsTxt154 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:156.976822px;
letter-spacing:0px;
color:#030506;
}
.span155 {
color:#030506;
}
.cls006ClsTxt155 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span156 {
color:#030506;
}
.cls006ClsTxt156 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1243px;
left:443.550781px;
letter-spacing:0px;
color:#030506;
}
.span157 {
color:#030506;
}
.cls006ClsTxt157 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:88px;
left:97.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span158 {
color:#030506;
}
.cls006ClsTxt158 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:250px;
left:97.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span159 {
color:#030506;
}
.cls006ClsTxt159 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:253px;
left:166.103378px;
letter-spacing:0px;
color:#FEFF59;
}
.span160 {
color:#030506;
}
.cls006ClsTxt160 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:484px;
left:96.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span161 {
color:#030506;
}
.cls006ClsTxt161 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:489px;
left:166.103378px;
letter-spacing:0px;
color:#FEFF59;
}
.span162 {
color:#030506;
}
.cls006ClsTxt162 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:648px;
left:97.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span163 {
color:#030506;
}
.cls006ClsTxt163 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:651px;
left:166.103378px;
letter-spacing:0px;
color:#FEFF59;
}
.span164 {
color:#030506;
}
.cls006ClsTxt164 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:906px;
left:97.741531px;
letter-spacing:0px;
color:#FEFF59;
}
.span165 {
color:#030506;
}
.cls006ClsTxt165 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:909px;
left:166.103378px;
letter-spacing:0px;
}
.span166 {
color:#030506;
}
.cls006ClsTxt166 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:37px;
left:850.595337px;
letter-spacing:0px;
color:#FFFFFF;
}
.span167 {
color:#030506;
}
.cls006ClsTxt167 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:854.245911px;
letter-spacing:0px;
color:#FFFFFF;
}
.red
{
color:#c00b0d;
}
