@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls046ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:39px;
left:850.595337px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls046ClsTxt1
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:62px;
left:845.119385px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls046ClsTxt2
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:40.156860px;
top:27px;
left:104.042778px;
color:#C00D0E;
}
.span3
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
color:#C00D0E;
}
.cls046ClsTxt3
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
color:#000000;
}
.span4
{
color:#C00D0E;
}
.cls046ClsTxt4
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:166.103378px;
color:#000000;
}
.span5
{
color:#C00D0E;
}
.cls046ClsTxt5
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:120px;
left:202.609619px;
color:#C00D0E;
}
.span6
{
color:#C00D0E;
}
.cls046ClsTxt6
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:248.242401px;
color:#000000;
}
.span7
{
color:#C00D0E;
}
.cls046ClsTxt7
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:432.598907px;
color:#000000;
}
.span8
{
color:#C00D0E;
}
.cls046ClsTxt8
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:514.912659px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls046ClsTxt9
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:691.793213px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls046ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:781.233521px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls046ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:166.103378px;
color:#000000;
}
.cls046ClsTxt12
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:143px;
left:202.609619px;
color:#C00D0E;
}
.span13
{
color:#C00D0E;
}
.cls046ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:248.242401px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls046ClsTxt14
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:432.598907px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls046ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:514.912659px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls046ClsTxt16
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:691.793213px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls046ClsTxt17
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:781.233521px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls046ClsTxt18
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:166.103378px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls046ClsTxt19
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:248.242401px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls046ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:432.598907px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.cls046ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:514.912659px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls046ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:691.793213px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.cls046ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:781.233521px;
color:#000000;
}
.span24
{
color:#C00D0E;
}
.cls046ClsTxt24
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:166.103378px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls046ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:248.242401px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.cls046ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:423.472351px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls046ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:514.912659px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls046ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:691.793213px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.cls046ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:781.233521px;
color:#000000;
}
.span30
{
color:#C00D0E;
}
.cls046ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:166.103378px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls046ClsTxt31
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:248.242401px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls046ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:423.472351px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls046ClsTxt33
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:514.912659px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls046ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:691.793213px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls046ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:781.233521px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls046ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:166.103378px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls046ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:248.242401px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls046ClsTxt38
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:423.472351px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls046ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:514.912659px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls046ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:691.793213px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls046ClsTxt41
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:781.233521px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.span42
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls046ClsTxt42
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:278px;
left:166.103378px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls046ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:307px;
left:166.103378px;
color:#000000;
}
.span44
{
color:#C00D0E;
}
.cls046ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:307px;
left:186.181824px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls046ClsTxt45
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:307px;
left:301.176453px;
color:#C00D0E;
}
.span46
{
color:#C00D0E;
}
.cls046ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:307px;
left:347.809235px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls046ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:307px;
left:571.322571px;
color:#000000;
}
.span48
{
color:#C00D0E;
}
.cls046ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:307px;
left:600.527588px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls046ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:307px;
left:777.582825px;
color:#000000;
}
.cls046ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:331px;
left:166.103378px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls046ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:331px;
left:186.181824px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls046ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:331px;
left:374.188934px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.cls046ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:331px;
left:571.322571px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.cls046ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:331px;
left:600.527588px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls046ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:331px;
left:841.468750px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.cls046ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:166.103378px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls046ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:186.181824px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls046ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:310.303009px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls046ClsTxt59
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:571.322571px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls046ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:600.527588px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls046ClsTxt61
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:355px;
left:856.071289px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls046ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:166.103378px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls046ClsTxt63
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:186.181824px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls046ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:405.219238px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls046ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:571.322571px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls046ClsTxt66
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:600.527588px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls046ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:379px;
left:790.360046px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.cls046ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:402px;
left:166.103378px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls046ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:402px;
left:186.181824px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls046ClsTxt70
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:402px;
left:409.869843px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls046ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:402px;
left:571.322571px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls046ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:402px;
left:600.527588px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls046ClsTxt73
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:402px;
left:786.709412px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls046ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:166.103378px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls046ClsTxt75
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:186.181824px;
color:#000000;
}
.span76
{
color:#C00D0E;
}
.cls046ClsTxt76
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:407.044556px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls046ClsTxt77
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:571.322571px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls046ClsTxt78
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:600.527588px;
color:#000000;
}
.span79
{
color:#C00D0E;
}
.cls046ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:426px;
left:763.980347px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls046ClsTxt80
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:166.103378px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls046ClsTxt81
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:186.181824px;
color:#000000;
}
.span82
{
color:#C00D0E;
}
.cls046ClsTxt82
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:365.062378px;
color:#000000;
}
.span83
{
color:#C00D0E;
}
.cls046ClsTxt83
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:571.322571px;
color:#000000;
}
.span84
{
color:#C00D0E;
}
.cls046ClsTxt84
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:600.527588px;
color:#000000;
}
.span85
{
color:#C00D0E;
}
.cls046ClsTxt85
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:450px;
left:825.040955px;
color:#000000;
}
.span86
{
color:#C00D0E;
}
.cls046ClsTxt86
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:166.103378px;
color:#000000;
}
.span87
{
color:#C00D0E;
}
.cls046ClsTxt87
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:186.181824px;
color:#000000;
}
.span88
{
color:#C00D0E;
}
.cls046ClsTxt88
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:365.062378px;
color:#000000;
}
.span89
{
color:#C00D0E;
}
.cls046ClsTxt89
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:571.322571px;
color:#000000;
}
.span90
{
color:#C00D0E;
}
.cls046ClsTxt90
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:600.527588px;
color:#000000;
}
.span91
{
color:#C00D0E;
}
.cls046ClsTxt91
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:474px;
left:842.468750px;
color:#000000;
}
.span92
{
color:#C00D0E;
}
.cls046ClsTxt92
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:166.103378px;
color:#000000;
}
.span93
{
color:#C00D0E;
}
.cls046ClsTxt93
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:186.181824px;
color:#000000;
}
.span94
{
color:#C00D0E;
}
.cls046ClsTxt94
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:405.219238px;
color:#000000;
}
.span95
{
color:#C00D0E;
}
.cls046ClsTxt95
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:571.322571px;
color:#000000;
}
.span96
{
color:#C00D0E;
}
.cls046ClsTxt96
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:600.527588px;
color:#000000;
}
.span97
{
color:#C00D0E;
}
.cls046ClsTxt97
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:497px;
left:838.818115px;
color:#000000;
}
.span98
{
color:#C00D0E;
}
.cls046ClsTxt98
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:521px;
left:157.976822px;
color:#000000;
}
.span99
{
color:#C00D0E;
}
.cls046ClsTxt99
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:521px;
left:186.181824px;
color:#000000;
}
.span100
{
color:#C00D0E;
}
.cls046ClsTxt100
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:521px;
left:326.730835px;
color:#000000;
}
.span101
{
color:#C00D0E;
}
.cls046ClsTxt101
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:521px;
left:600.527588px;
color:#000000;
}
.span102
{
color:#C00D0E;
}
.cls046ClsTxt102
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:560px;
left:166.103378px;
color:#000000;
}
.span103
{
color:#C00D0E;
}
.cls046ClsTxt103
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:89.440277px;
color:#FFF374;
}
.span104
{
color:#C00D0E;
}
.cls046ClsTxt104
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:272px;
left:89.440277px;
color:#FFF374;
}
.span105
{
color:#C00D0E;
}
.cls046ClsTxt105
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:555px;
left:89.440277px;
color:#FFF374;
}
.span106
{
color:#C00D0E;
}
.cls046ClsTxt106
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:166.103378px;
color:#000000;
}
.span107
{
color:#C00D0E;
}
.cls046ClsTxt107
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:186.181824px;
color:#000000;
}
.span108
{
color:#C00D0E;
}
.cls046ClsTxt108
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:809px;
left:401.568604px;
color:#C00D0E;
}
.span109
{
color:#C00D0E;
}
.cls046ClsTxt109
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:809px;
left:917.306519px;
color:#000000;
}
.span110
{
color:#C00D0E;
}
.cls046ClsTxt110
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:833px;
left:166.103378px;
color:#000000;
}
.span111
{
color:#C00D0E;
}
.cls046ClsTxt111
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:833px;
left:186.181824px;
color:#000000;
}
.span112
{
color:#C00D0E;
}
.cls046ClsTxt112
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:833px;
left:915.481201px;
color:#000000;
}
.span113
{
color:#C00D0E;
}
.cls046ClsTxt113
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:857px;
left:166.103378px;
color:#000000;
}
.span114
{
color:#C00D0E;
}
.cls046ClsTxt114
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:857px;
left:186.181824px;
color:#000000;
}
.span115
{
color:#C00D0E;
}
.cls046ClsTxt115
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:857px;
left:915.481201px;
color:#000000;
}
.span116
{
color:#C00D0E;
}
.cls046ClsTxt116
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:881px;
left:166.103378px;
color:#000000;
}
.span117
{
color:#C00D0E;
}
.cls046ClsTxt117
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:880px;
left:186.181824px;
color:#000000;
}
.span118
{
color:#C00D0E;
}
.cls046ClsTxt118
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:880px;
left:915.481201px;
color:#000000;
}
.span119
{
color:#C00D0E;
}
.cls046ClsTxt119
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:904px;
left:166.103378px;
color:#000000;
}
.span120
{
color:#C00D0E;
}
.cls046ClsTxt120
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:904px;
left:186.181824px;
color:#000000;
}
.span121
{
color:#C00D0E;
}
.cls046ClsTxt121
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:904px;
left:915.481201px;
color:#000000;
}
.span122
{
color:#C00D0E;
}
.cls046ClsTxt122
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:928px;
left:166.103378px;
color:#000000;
}
.span123
{
color:#C00D0E;
}
.cls046ClsTxt123
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:928px;
left:186.181824px;
color:#000000;
}
.span124
{
color:#C00D0E;
}
.cls046ClsTxt124
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:928px;
left:915.481201px;
color:#000000;
}
.span125
{
color:#C00D0E;
}
.span125
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls046ClsTxt125
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:967px;
left:166.103378px;
color:#000000;
}
.span126
{
color:#C00D0E;
}
.cls046ClsTxt126
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:166.103378px;
color:#000000;
}
.span127
{
color:#C00D0E;
}
.cls046ClsTxt127
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:996px;
left:186.181824px;
color:#000000;
}
.span128
{
color:#C00D0E;
}
.cls046ClsTxt128
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:996px;
left:543.942932px;
color:#C00D0E;
}
.span129
{
color:#C00D0E;
}
.cls046ClsTxt129
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:166.103378px;
color:#000000;
}
.span130
{
color:#C00D0E;
}
.cls046ClsTxt130
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:186.181824px;
color:#000000;
}
.span131
{
color:#C00D0E;
}
.cls046ClsTxt131
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:529.340454px;
color:#000000;
}
.span132
{
color:#C00D0E;
}
.cls046ClsTxt132
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1020px;
left:882.625671px;
color:#000000;
}
.span133
{
color:#C00D0E;
}
.cls046ClsTxt133
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:166.103378px;
color:#000000;
}
.span134
{
color:#C00D0E;
}
.cls046ClsTxt134
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:186.181824px;
color:#000000;
}
.span135
{
color:#C00D0E;
}
.cls046ClsTxt135
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1044px;
left:529.340454px;
color:#000000;
}
.span136
{
color:#C00D0E;
}
.cls046ClsTxt136
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:166.103378px;
color:#000000;
}
.span137
{
color:#C00D0E;
}
.cls046ClsTxt137
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:186.181824px;
color:#000000;
}
.span138
{
color:#C00D0E;
}
.cls046ClsTxt138
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1068px;
left:529.340454px;
color:#000000;
}
.span139
{
color:#C00D0E;
}
.span139
{
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls046ClsTxt139
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1106px;
left:166.103378px;
color:#000000;
}
.span140
{
color:#C00D0E;
}
.cls046ClsTxt140
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1130px;
left:166.103378px;
color:#000000;
}
.span141
{
color:#C00D0E;
}
.cls046ClsTxt141
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:166.103378px;
color:#000000;
}
.span142
{
color:#C00D0E;
}
.cls046ClsTxt142
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:186.181824px;
color:#000000;
}
.span143
{
color:#C00D0E;
}
.cls046ClsTxt143
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1159px;
left:274.796783px;
color:#C00D0E;
}
.span144
{
color:#C00D0E;
}
.cls046ClsTxt144
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:320.429565px;
color:#000000;
}
.span145
{
color:#C00D0E;
}
.cls046ClsTxt145
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:580.449158px;
color:#000000;
}
.span146
{
color:#C00D0E;
}
.cls046ClsTxt146
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:600.527588px;
color:#000000;
}
.span147
{
color:#C00D0E;
}
.cls046ClsTxt147
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:814.089111px;
color:#000000;
}
.span148
{
color:#C00D0E;
}
.cls046ClsTxt148
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:166.103378px;
color:#000000;
}
.span149
{
color:#C00D0E;
}
.cls046ClsTxt149
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:186.181824px;
color:#000000;
}
.span150
{
color:#C00D0E;
}
.cls046ClsTxt150
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1183px;
left:282.923340px;
color:#C00D0E;
}
.span151
{
color:#C00D0E;
}
.cls046ClsTxt151
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:320.429565px;
color:#000000;
}
.span152
{
color:#C00D0E;
}
span .cls046ClsTxt152
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
color:#000000;
}
.span153
{
color:#C00D0E;
}
.cls046ClsTxt153
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:580.449158px;
color:#000000;
}
.span154
{
color:#C00D0E;
}
.cls046ClsTxt154
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:600.527588px;
color:#000000;
}
.span155
{
color:#C00D0E;
}
.cls046ClsTxt155
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1183px;
left:778.582825px;
color:#000000;
}
.span156
{
color:#C00D0E;
}
.cls046ClsTxt156
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1207px;
left:166.103378px;
color:#000000;
}
.span157
{
color:#C00D0E;
}
.cls046ClsTxt157
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1207px;
left:186.181824px;
color:#000000;
}
.span158
{
color:#C00D0E;
}
.cls046ClsTxt158
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1207px;
left:377.014252px;
color:#000000;
}
.span159
{
color:#C00D0E;
}
.cls046ClsTxt159
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1207px;
left:580.449158px;
color:#000000;
}
.span160
{
color:#C00D0E;
}
.cls046ClsTxt160
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1207px;
left:600.527588px;
color:#000000;
}
.span161
{
color:#C00D0E;
}
.cls046ClsTxt161
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1207px;
left:809.613159px;
color:#000000;
}
.span162
{
color:#C00D0E;
}
.cls046ClsTxt162
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1231px;
left:166.103378px;
color:#000000;
}
.span163
{
color:#C00D0E;
}
.cls046ClsTxt163
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1231px;
left:186.181824px;
color:#000000;
}
.span164
{
color:#C00D0E;
}
.cls046ClsTxt164
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1231px;
left:403.393921px;
color:#000000;
}
.span165
{
color:#C00D0E;
}
.cls046ClsTxt165
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1231px;
left:571.322571px;
color:#000000;
}
.span166
{
color:#C00D0E;
}
.cls046ClsTxt166
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1231px;
left:600.527588px;
color:#000000;
}
.span167
{
color:#C00D0E;
}
.cls046ClsTxt167
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1231px;
left:825.040955px;
color:#000000;
}
.span168
{
color:#C00D0E;
}
.cls046ClsTxt168
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:166.103378px;
color:#000000;
}
.span169
{
color:#C00D0E;
}
.cls046ClsTxt169
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:186.181824px;
color:#000000;
}
.span170
{
color:#C00D0E;
}
.cls046ClsTxt170
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:393.442047px;
color:#000000;
}
.span171
{
color:#C00D0E;
}
.cls046ClsTxt171
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:571.322571px;
color:#000000;
}
.span172
{
color:#C00D0E;
}
.cls046ClsTxt172
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:600.527588px;
color:#000000;
}
.span173
{
color:#C00D0E;
}
.cls046ClsTxt173
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1254px;
left:854.245911px;
color:#000000;
}
.span174
{
color:#C00D0E;
}
.cls046ClsTxt174
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1278px;
left:166.103378px;
color:#000000;
}
.span175
{
color:#C00D0E;
}
.cls046ClsTxt175
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1278px;
left:186.181824px;
color:#000000;
}
.span176
{
color:#C00D0E;
}
.cls046ClsTxt176
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1278px;
left:365.062378px;
color:#000000;
}
.span177
{
color:#C00D0E;
}
.cls046ClsTxt177
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1278px;
left:571.322571px;
color:#000000;
}
.span178
{
color:#C00D0E;
}
.cls046ClsTxt178
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1278px;
left:600.527588px;
color:#000000;
}
.span179
{
color:#C00D0E;
}
.cls046ClsTxt179
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1278px;
left:810.438477px;
color:#000000;
}
.span180
{
color:#C00D0E;
}
.cls046ClsTxt180
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:962px;
left:89.440277px;
color:#FFF374;
}
.span181
{
color:#C00D0E;
}
.cls046ClsTxt181
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1101px;
left:89.440277px;
color:#FFF374;
}
.span12
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;}
.span12a
{
font-family:'CronosPro-Semibold';
font-size:18.078430px;}
.span12aa
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
color:#c00d0e;}
.span50
{
font-family:'CronosPro-LtIt';
font-size:20.078430px;
}
.zap {
font-family:'ZapfDingbatsStd';}
.underline-nor
{
font-family:'CronosPro-Semibold';
text-decoration:underline;
color:#c00d0e;}
.span52
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}