@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body {
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0 {
color:#CB0307;
}
.cls012ClsTxt0 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:24.641710px;
top:37px;
left:850.595337px;
letter-spacing:0px;
color:#FFFFFF;
}
.span1 {
color:#CB0307;
}
.cls012ClsTxt1 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:36.506241px;
top:61px;
left:861.547180px;
letter-spacing:0px;
color:#FFFFFF;
}
.span2 {
color:#CB0307;
}
.cls012ClsTxt2 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:40.156860px;
top:27px;
left:104.042778px;
letter-spacing:0px;
color:#CB0307;
}
.span3 {
color:#CB0307;
}
.cls012ClsTxt3 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:91px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span4 {
color:#CB0307;
}
.cls012ClsTxt4 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span5 {
color:#CB0307;
}
.cls012ClsTxt5 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:120px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span6 {
color:#CB0307;
}
.cls012ClsTxt6 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:120px;
left:469.105133px;
letter-spacing:0px;
color:#CB0307;
word-spacing:0px;
}
.span7 {
color:#CB0307;
}
.cls012ClsTxt7 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span8 {
color:#CB0307;
}
.cls012ClsTxt8 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span9 {
color:#CB0307;
}
.cls012ClsTxt9 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:144px;
left:454.502655px;
letter-spacing:0px;
color:#030506;
}
.span10 {
color:#CB0307;
}
.cls012ClsTxt10 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span11 {
color:#CB0307;
}
.cls012ClsTxt11 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span12 {
color:#CB0307;
}
.cls012ClsTxt12 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:168px;
left:454.502655px;
letter-spacing:0px;
color:#030506;
}
.span13 {
color:#CB0307;
}
.cls012ClsTxt13 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span14 {
color:#CB0307;
}
.cls012ClsTxt14 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:191px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span15 {
color:#CB0307;
}
.cls012ClsTxt15 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span16 {
color:#CB0307;
}
.cls012ClsTxt16 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:215px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span17 {
color:#CB0307;
}
.cls012ClsTxt17 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span18 {
color:#CB0307;
}
.cls012ClsTxt18 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:239px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span19 {
color:#CB0307;
}
.span19 {
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls012ClsTxt19 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:277px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span20 {
color:#CB0307;
}
.cls012ClsTxt20 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:306px;
left:589.575745px;
letter-spacing:0px;
color:#030506;
}
.span21 {
color:#CB0307;
}
.cls012ClsTxt21 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:306px;
left:626.081970px;
letter-spacing:0px;
color:#CB0307;
word-spacing:0px;
}
.span22 {
color:#CB0307;
}
.cls012ClsTxt22 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:330px;
left:609.654175px;
letter-spacing:0px;
color:#030506;
}
.span23 {
color:#CB0307;
}
.cls012ClsTxt23 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:354px;
left:609.654175px;
letter-spacing:0px;
color:#030506;
}
.span24 {
color:#CB0307;
}
.cls012ClsTxt24 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:354px;
left:810.438477px;
letter-spacing:0px;
color:#030506;
}
.span25 {
color:#CB0307;
}
.cls012ClsTxt25 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:389px;
left:589.575745px;
letter-spacing:0px;
color:#030506;
}
.span26 {
color:#CB0307;
}
.cls012ClsTxt26 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:389px;
left:609.654175px;
letter-spacing:0px;
color:#030506;
}
.span27 {
color:#CB0307;
}
.cls012ClsTxt27 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:412px;
left:609.654175px;
letter-spacing:0px;
color:#030506;
}
.span28 {
color:#CB0307;
}
.cls012ClsTxt28 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:609.654175px;
letter-spacing:0px;
color:#030506;
}
.span29 {
color:#CB0307;
}
.cls012ClsTxt29 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:471px;
left:589.575745px;
letter-spacing:0px;
color:#030506;
}
.span30 {
color:#CB0307;
}
.cls012ClsTxt30 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:369px;
left:248.242401px;
letter-spacing:0px;
color:#030506;
}
.span31 {
color:#CB0307;
}
.cls012ClsTxt31 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:389px;
left:244.591797px;
letter-spacing:0px;
color:#030506;
}
.span32 {
color:#CB0307;
}
.cls012ClsTxt32 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:177.055252px;
letter-spacing:0px;
color:#030506;
}
.span33 {
color:#CB0307;
}
.cls012ClsTxt33 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:197.133682px;
letter-spacing:0px;
color:#030506;
}
.span34 {
color:#CB0307;
}
.cls012ClsTxt34 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:177.055252px;
letter-spacing:0px;
color:#030506;
}
.span35 {
color:#CB0307;
}
.cls012ClsTxt35 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:197.133682px;
letter-spacing:0px;
color:#030506;
}
.span36 {
color:#CB0307;
}
.cls012ClsTxt36 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:177.055252px;
letter-spacing:0px;
color:#030506;
}
.span37 {
color:#CB0307;
}
.cls012ClsTxt37 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:197.133682px;
letter-spacing:0px;
color:#030506;
}
.span38 {
color:#CB0307;
}
.cls012ClsTxt38 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:380px;
left:335.857391px;
letter-spacing:0px;
line-height:100%;
color:#030506;
text-align:center;
}
.span39 {
color:#CB0307;
}
.cls012ClsTxt39 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:398px;
left:343.158630px;
letter-spacing:0px;
color:#030506;
}
.span40 {
color:#CB0307;
}
.cls012ClsTxt40 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:398px;
left:425.297668px;
letter-spacing:0px;
color:#030506;
}
.span41 {
color:#CB0307;
}
.cls012ClsTxt41 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:398px;
left:485.532928px;
letter-spacing:0px;
color:#030506;
}
.span42 {
color:#CB0307;
}
.cls012ClsTxt42 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:355.935822px;
letter-spacing:0px;
color:#030506;
}
.span43 {
color:#CB0307;
}
.cls012ClsTxt43 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:357.761108px;
letter-spacing:0px;
color:#030506;
}
.span44 {
color:#CB0307;
}
.cls012ClsTxt44 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:355.935822px;
letter-spacing:0px;
color:#030506;
}
.span45 {
color:#CB0307;
}
.cls012ClsTxt45 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:431px;
left:425.297668px;
letter-spacing:0px;
color:#030506;
}
.span46 {
color:#CB0307;
}
.cls012ClsTxt46 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:454px;
left:425.297668px;
letter-spacing:0px;
color:#030506;
}
.span47 {
color:#CB0307;
}
.cls012ClsTxt47 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:478px;
left:425.297668px;
letter-spacing:0px;
color:#030506;
}
.span48 {
color:#CB0307;
}
.cls012ClsTxt48 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:54.759354px;
top:436px;
left:491.008911px;
letter-spacing:0px;
color:#030506;
}
.span49 {
color:#CB0307;
}
.cls012ClsTxt49 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:556px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span50 {
color:#CB0307;
}
.cls012ClsTxt50 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:586px;
left:186.181824px;
letter-spacing:0px;
color:#CB0307;
}
.span51 {
color:#CB0307;
}
.cls012ClsTxt51 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:586px;
left:290.224579px;
letter-spacing:0px;
color:#030506;
}
.span52 {
color:#CB0307;
}
.cls012ClsTxt52 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:586px;
left:335.857391px;
letter-spacing:0px;
color:#CB0307;
}
.span53 {
color:#CB0307;
}
.cls012ClsTxt53 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:586px;
left:438.074829px;
letter-spacing:0px;
color:#030506;
}
.span54 {
color:#CB0307;
}
.cls012ClsTxt54 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:586px;
left:483.707642px;
letter-spacing:0px;
color:#CB0307;
word-spacing:0px;
}
.span55 {
color:#CB0307;
}
.cls012ClsTxt55 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:620px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span56 {
color:#CB0307;
}
.cls012ClsTxt56 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:620px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span57 {
color:#CB0307;
}
.cls012ClsTxt57 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:620px;
left:361.411743px;
letter-spacing:0px;
color:#CB0307;
word-spacing:0px;
}
.span58 {
color:#CB0307;
}
.cls012ClsTxt58 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:620px;
left:604.178223px;
letter-spacing:0px;
color:#030506;
}
.span59 {
color:#CB0307;
}
.cls012ClsTxt59 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:620px;
left:649.811035px;
letter-spacing:0px;
color:#CB0307;
}
.span60 {
color:#CB0307;
}
.cls012ClsTxt60 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:620px;
left:806.787842px;
letter-spacing:0px;
color:#030506;
}
.span61 {
color:#CB0307;
}
.cls012ClsTxt61 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:643px;
left:361.411743px;
letter-spacing:0px;
color:#CB0307;
word-spacing:0px;
}
.span62 {
color:#CB0307;
}
.cls012ClsTxt62 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span63 {
color:#CB0307;
}
.cls012ClsTxt63 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:668px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span64 {
color:#CB0307;
}
.cls012ClsTxt64 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:692px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span65 {
color:#CB0307;
}
.cls012ClsTxt65 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:692px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span66 {
color:#CB0307;
}
.cls012ClsTxt66 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span67 {
color:#CB0307;
}
.cls012ClsTxt67 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:715px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span68 {
color:#CB0307;
}
.cls012ClsTxt68 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:739px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span69 {
color:#CB0307;
}
.cls012ClsTxt69 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:739px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span70 {
color:#CB0307;
}
.span70 {
font-family:'CronosPro-Regular';
font-size:20.078430px;
}
.cls012ClsTxt70 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:777px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span71 {
color:#CB0307;
}
.cls012ClsTxt71 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:180.705872px;
letter-spacing:0px;
color:#030506;
}
.span72 {
color:#CB0307;
}
.cls012ClsTxt72 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:244.591797px;
letter-spacing:0px;
color:#030506;
}
.span73 {
color:#CB0307;
}
.cls012ClsTxt73 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:292.049927px;
letter-spacing:0px;
color:#030506;
}
.span74 {
color:#CB0307;
}
.cls012ClsTxt74 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:370.538300px;
letter-spacing:0px;
color:#030506;
}
.span75 {
color:#CB0307;
}
.cls012ClsTxt75 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:436.249542px;
letter-spacing:0px;
color:#030506;
}
.span76 {
color:#CB0307;
}
.cls012ClsTxt76 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:491.008911px;
letter-spacing:0px;
color:#030506;
}
.span77 {
color:#CB0307;
}
.cls012ClsTxt77 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:810px;
left:547.593567px;
letter-spacing:0px;
color:#030506;
}
.span78 {
color:#CB0307;
}
.cls012ClsTxt78 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:852px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span79 {
color:#CB0307;
}
.cls012ClsTxt79 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:852px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span80 {
color:#CB0307;
}
.cls012ClsTxt80 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:851px;
left:461.803925px;
letter-spacing:0px;
color:#CB0307;
}
.span81 {
color:#CB0307;
}
.cls012ClsTxt81 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:852px;
left:574.973267px;
letter-spacing:0px;
color:#030506;
}
.span82 {
color:#CB0307;
}
.cls012ClsTxt82 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:876px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span83 {
color:#CB0307;
}
.cls012ClsTxt83 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:876px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span84 {
color:#CB0307;
}
.cls012ClsTxt84 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:876px;
left:556.720093px;
letter-spacing:0px;
color:#030506;
}
.span85 {
color:#CB0307;
}
.cls012ClsTxt85 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:900px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span86 {
color:#CB0307;
}
.cls012ClsTxt86 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:900px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span87 {
color:#CB0307;
}
.cls012ClsTxt87 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:900px;
left:684.491943px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span88 {
color:#CB0307;
}
.cls012ClsTxt88 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span89 {
color:#CB0307;
}
.cls012ClsTxt89 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span90 {
color:#CB0307;
}
.cls012ClsTxt90 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:923px;
left:606.003540px;
letter-spacing:0px;
color:#030506;
}
.span91 {
color:#CB0307;
}
.cls012ClsTxt91 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span92 {
color:#CB0307;
}
.cls012ClsTxt92 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span93 {
color:#CB0307;
}
.cls012ClsTxt93 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:947px;
left:405.219238px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span94 {
color:#CB0307;
}
.cls012ClsTxt94 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span95 {
color:#CB0307;
}
.cls012ClsTxt95 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span96 {
color:#CB0307;
}
.cls012ClsTxt96 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:971px;
left:664.413513px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span97 {
color:#CB0307;
}
.cls012ClsTxt97 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:995px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span98 {
color:#CB0307;
}
.cls012ClsTxt98 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:995px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span99 {
color:#CB0307;
}
.cls012ClsTxt99 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:995px;
left:609.654175px;
letter-spacing:0px;
color:#030506;
}
.span100 {
color:#CB0307;
}
.cls012ClsTxt100 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span101 {
color:#CB0307;
}
.cls012ClsTxt101 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span102 {
color:#CB0307;
}
.cls012ClsTxt102 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1061px;
left:273.796783px;
letter-spacing:0px;
color:#CB0307;
}
.span103 {
color:#CB0307;
}
.cls012ClsTxt103 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:352.285187px;
letter-spacing:0px;
color:#030506;
}
.span104 {
color:#CB0307;
}
.cls012ClsTxt104 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1062px;
left:764.805664px;
letter-spacing:0px;
color:#030506;
}
.span105 {
color:#CB0307;
}
.cls012ClsTxt105 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1086px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span106 {
color:#CB0307;
}
.cls012ClsTxt106 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1086px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span107 {
color:#CB0307;
}
.cls012ClsTxt107 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:20.078430px;
top:1085px;
left:209.910858px;
letter-spacing:0px;
color:#CB0307;
}
.span108 {
color:#CB0307;
}
.cls012ClsTxt108 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1086px;
left:301.176453px;
letter-spacing:0px;
color:#030506;
}
.span109 {
color:#CB0307;
}
.cls012ClsTxt109 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1086px;
left:487.358276px;
letter-spacing:0px;
color:#030506;
}
.span110 {
color:#CB0307;
}
.cls012ClsTxt110 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span111 {
color:#CB0307;
}
.cls012ClsTxt111 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span112 {
color:#CB0307;
}
.cls012ClsTxt112 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:323.080200px;
letter-spacing:0px;
color:#030506;
}
.span113 {
color:#CB0307;
}
.cls012ClsTxt113 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:620.606018px;
letter-spacing:0px;
color:#030506;
}
.span114 {
color:#CB0307;
}
.cls012ClsTxt114 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1110px;
left:638.859131px;
letter-spacing:0px;
color:#030506;
}
.span115 {
color:#CB0307;
}
.cls012ClsTxt115 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1133px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span116 {
color:#CB0307;
}
.cls012ClsTxt116 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1133px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span117 {
color:#CB0307;
}
.cls012ClsTxt117 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1133px;
left:627.907288px;
letter-spacing:0px;
color:#030506;
}
.span118 {
color:#CB0307;
}
.cls012ClsTxt118 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1133px;
left:722.823486px;
letter-spacing:0px;
color:#030506;
}
.span119 {
color:#CB0307;
}
.cls012ClsTxt119 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span120 {
color:#CB0307;
}
.cls012ClsTxt120 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
}
.span121 {
color:#CB0307;
}
.cls012ClsTxt121 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:441.725464px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span122 {
color:#CB0307;
}
.cls012ClsTxt122 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1157px;
left:706.395691px;
letter-spacing:0px;
color:#030506;
}
.span123 {
color:#CB0307;
}
.cls012ClsTxt123 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span124 {
color:#CB0307;
}
.cls012ClsTxt124 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span125 {
color:#CB0307;
}
.cls012ClsTxt125 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:501.960785px;
letter-spacing:0px;
color:#030506;
}
.span126 {
color:#CB0307;
}
.cls012ClsTxt126 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1181px;
left:529.340454px;
letter-spacing:0px;
color:#030506;
}
.span127 {
color:#CB0307;
}
.cls012ClsTxt127 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1204px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span128 {
color:#CB0307;
}
.cls012ClsTxt128 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1204px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span129 {
color:#CB0307;
}
.cls012ClsTxt129 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1204px;
left:635.208557px;
letter-spacing:0px;
color:#030506;
}
.span130 {
color:#CB0307;
}
.cls012ClsTxt130 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1204px;
left:744.727295px;
letter-spacing:0px;
color:#030506;
}
.span131 {
color:#CB0307;
}
.cls012ClsTxt131 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1228px;
left:166.103378px;
letter-spacing:0px;
color:#030506;
}
.span132 {
color:#CB0307;
}
.cls012ClsTxt132 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1228px;
left:186.181824px;
letter-spacing:0px;
color:#030506;
word-spacing:0px;
}
.span133 {
color:#CB0307;
}
.cls012ClsTxt133 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1228px;
left:582.274475px;
letter-spacing:0px;
color:#030506;
}
.span134 {
color:#CB0307;
}
.cls012ClsTxt134 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1228px;
left:637.033875px;
letter-spacing:0px;
color:#030506;
}
.span135 {
color:#CB0307;
}
.cls012ClsTxt135 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:86px;
left:104.042778px;
letter-spacing:0px;
color:#FEFF59;
}
.span136 {
color:#CB0307;
}
.cls012ClsTxt136 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:272px;
left:104.042778px;
letter-spacing:0px;
color:#FEFF59;
}
.span137 {
color:#CB0307;
}
.cls012ClsTxt137 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:551px;
left:104.042778px;
letter-spacing:0px;
color:#FEFF59;
}
.span138 {
color:#CB0307;
}
.cls012ClsTxt138 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:772px;
left:104.042778px;
letter-spacing:0px;
color:#FEFF59;
}
.span139 {
color:#CB0307;
}
.cls012ClsTxt139 {
position:absolute;
font-family:'CronosPro-Bold';
font-size:24.676748px;
top:1028px;
left:104.042778px;
letter-spacing:0px;
color:#FEFF59;
}
.span140 {
color:#CB0307;
}
.cls012ClsTxt140 {
position:absolute;
font-family:'CronosPro-Regular';
font-size:20.078430px;
top:1033px;
left:166.103378px;
letter-spacing:0px;
color:#000000;
word-spacing:0px;
}
