@font-face{font-family:"ZapfDingbatsStd";src:url('../fonts/ZapfDingbatsStd.otf');}
@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
@font-face{font-family:"CronosPro-Bold";src:url('../fonts/CronosPro-Bold.otf');}
body{
position: absolute;
width: 1024px;
height:1365px;
left:0px;
margin:0px;
}
.span0
{
color:#C00D0E;
}
.cls029ClsTxt0
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:33.768269px;
top:20px;
left:45.807484px;
color:#FFFFFF;
}
.span1
{
color:#C00D0E;
}
.cls029ClsTxt1
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:50.196075px;
top:47px;
left:48.458111px;
color:#FFFFFF;
}
.span2
{
color:#C00D0E;
}
.cls029ClsTxt2
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:38.331551px;
top:62px;
left:150.675583px;
color:#FFFFFF;
}
.span3
{
color:#C00D0E;
}
.cls029ClsTxt3
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:38.331551px;
top:60px;
left:248.242401px;
color:#FFFFFF;
}
.span4
{
color:#C00D0E;
}
.cls029ClsTxt4
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:38.331551px;
top:60px;
left:335.857391px;
color:#FFFFFF;
}
.span5
{
color:#C00D0E;
}
.cls029ClsTxt5
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:119px;
left:105.868088px;
color:#FFF374;
}
.span6
{
color:#C00D0E;
}
.cls029ClsTxt6
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:527px;
left:108.693398px;
color:#FFF374;
}
.span7
{
color:#C00D0E;
}
.cls029ClsTxt7
{
position:absolute;
font-family:'CronosPro-Bold';
font-size:22.816399px;
top:1200px;
left:105.868088px;
color:#FFF374;
}
.span8
{
color:#C00D0E;
}
.cls029ClsTxt8
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:161px;
left:166.103378px;
color:#000000;
}
.span9
{
color:#C00D0E;
}
.cls029ClsTxt9
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:161px;
left:641.684448px;
color:#000000;
}
.span10
{
color:#C00D0E;
}
.cls029ClsTxt10
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:245px;
text-align:center;
left:475.310181px;
color:#000000;
}
.span11
{
color:#C00D0E;
}
.cls029ClsTxt11
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:268px;
left:474.581116px;
color:#000000;
}
.span12
{
color:#C00D0E;
}
.cls029ClsTxt12
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:364px;
left:160.627441px;
color:#000000;
}
.span13
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt13
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:364px;
left:642.684448px;
color:#000000;
}
.span14
{
color:#C00D0E;
}
.cls029ClsTxt14
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:418px;
left:149.675583px;
color:#000000;
}
.span15
{
color:#C00D0E;
}
.cls029ClsTxt15
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:412px;
left:150.531189px;
color:#000000;
}
.span16
{
color:#C00D0E;
}
.cls029ClsTxt16
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:566px;
left:161.627441px;
color:#000000;
}
.span17
{
color:#C00D0E;
}
.cls029ClsTxt17
{
position:absolute;
font-family:'CronosPro-LtIt';
font-size:20.078430px;
top:566px;
left:642.684448px;
color:#000000;
}
.span18
{
color:#C00D0E;
}
.cls029ClsTxt18
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:579px;
left:303.001770px;
color:#000000;
}
.span19
{
color:#C00D0E;
}
.cls029ClsTxt19
{
position:absolute;
font-family:'TektonPro-Regular';
font-size:18.253120px;
top:579px;
left:699.094482px;
color:#000000;
}
.span20
{
color:#C00D0E;
}
.cls029ClsTxt20
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:758px;
left:160.627441px;
color:#000000;
}
.span21
{
color:#C00D0E;
}
.span21
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt21
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:758px;
left:642.684448px;
color:#000000;
}
.span22
{
color:#C00D0E;
}
.cls029ClsTxt22
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:781px;
left:160.627441px;
color:#000000;
}
.span23
{
color:#C00D0E;
}
.span23
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls029ClsTxt23
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:781px;
left:640.684448px;
color:#000000;
}
.span24
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt24
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1201px;
left:150.675583px;
color:#000000;
}
.span25
{
color:#C00D0E;
}
.cls029ClsTxt25
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:217.212112px;
color:#000000;
}
.span26
{
color:#C00D0E;
}
.span26
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt26
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:434.424225px;
color:#000000;
}
.span27
{
color:#C00D0E;
}
.cls029ClsTxt27
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1225px;
left:585.925110px;
color:#000000;
}
.span28
{
color:#C00D0E;
}
.cls029ClsTxt28
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1249px;
left:217.212112px;
color:#000000;
}
.span29
{
color:#C00D0E;
}
.span29
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt29
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1248px;
left:516.563232px;
color:#000000;
}
.span30
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt30
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1272px;
left:217.212112px;
color:#000000;
}
.span31
{
color:#C00D0E;
}
.cls029ClsTxt31
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:526px;
left:150.675583px;
color:#000000;
}
.span32
{
color:#C00D0E;
}
.cls029ClsTxt32
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:217.212112px;
color:#000000;
}
.span33
{
color:#C00D0E;
}
.cls029ClsTxt33
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:436px;
left:403.393921px;
color:#000000;
}
.span34
{
color:#C00D0E;
}
.cls029ClsTxt34
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:436.249542px;
color:#000000;
}
.span35
{
color:#C00D0E;
}
.cls029ClsTxt35
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:436px;
left:505.611389px;
color:#000000;
}
.span36
{
color:#C00D0E;
}
.cls029ClsTxt36
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:460px;
left:217.212112px;
color:#000000;
}
.span37
{
color:#C00D0E;
}
.cls029ClsTxt37
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:460px;
left:403.393921px;
color:#000000;
}
.span38
{
color:#C00D0E;
}
.cls029ClsTxt38
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:460px;
left:465.454529px;
color:#000000;
}
.span39
{
color:#C00D0E;
}
.cls029ClsTxt39
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:460px;
left:498.310181px;
color:#000000;
}
.span40
{
color:#C00D0E;
}
.cls029ClsTxt40
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:484px;
left:217.212112px;
color:#000000;
}
.span41
{
color:#C00D0E;
}
.cls029ClsTxt41
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:483px;
left:281.098022px;
color:#000000;
}
.span42
{
color:#C00D0E;
}
.cls029ClsTxt42
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:483px;
left:313.953644px;
color:#000000;
}
.span43
{
color:#C00D0E;
}
.cls029ClsTxt43
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:483px;
left:463.629242px;
color:#000000;
}
.cls029ClsTxt44
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:829px;
left:150.675583px;
color:#000000;
}
.span45
{
color:#C00D0E;
}
.cls029ClsTxt45
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:863px;
left:150.675583px;
color:#000000;
}
.span46
{
color:#C00D0E;
}
.span46
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt46
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:887px;
left:150.675583px;
color:#000000;
}
.span47
{
color:#C00D0E;
}
.cls029ClsTxt47
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:911px;
left:218.212112px;
color:#000000;
}
.scaps
{
font-size:15px;
}
.span48
{
color:#C00D0E;
}
.cls029ClsTxt48
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:935px;
left:218.212112px;
color:#000000;
}
.span49
{
color:#C00D0E;
}
.cls029ClsTxt49
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:934px;
left:383.315491px;
color:#000000;
}
.span50
{
color:#C00D0E;
}
.cls029ClsTxt50
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:958px;
left:218.212112px;
color:#000000;
}
.span51
{
color:#C00D0E;
}
.cls029ClsTxt51
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:982px;
left:218.212112px;
color:#000000;
}
.span52
{
color:#C00D0E;
}
.cls029ClsTxt52
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:982px;
left:379.664886px;
color:#000000;
}
.span53
{
color:#C00D0E;
}
.span53
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls029ClsTxt53
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1006px;
left:218.212112px;
color:#000000;
}
.span54
{
color:#C00D0E;
}
.span54
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt54
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1029px;
left:218.212112px;
color:#000000;
}
.span55
{
color:#C00D0E;
}
.cls029ClsTxt55
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1029px;
left:410.695190px;
color:#000000;
}
.span56
{
color:#C00D0E;
}
.span56
{
font-family:'CronosPro-Semibold';
font-size:20.078430px;
}
.cls029ClsTxt56
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1053px;
left:218.212112px;
color:#000000;
}
.span57
{
color:#C00D0E;
}
.cls029ClsTxt57
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1077px;
left:218.212112px;
color:#000000;
}
.span58
{
color:#C00D0E;
}
.cls029ClsTxt58
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1111px;
left:149.675583px;
color:#000000;
}
.span59
{
color:#C00D0E;
}
.cls029ClsTxt59
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1111px;
left:224.513367px;
color:#000000;
}
.span60
{
color:#C00D0E;
}
.cls029ClsTxt60
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1111px;
left:253.718338px;
color:#000000;
}
.span61
{
color:#C00D0E;
}
.cls029ClsTxt61
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1111px;
left:284.748657px;
color:#000000;
}
.span62
{
color:#C00D0E;
}
.cls029ClsTxt62
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1135px;
left:217.212112px;
color:#000000;
}
.span63
{
color:#C00D0E;
}
.cls029ClsTxt63
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1135px;
left:337.682709px;
color:#000000;
}
.span64
{
color:#C00D0E;
}
.cls029ClsTxt64
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1135px;
left:377.839539px;
color:#000000;
}
.span65
{
color:#C00D0E;
}
.cls029ClsTxt65
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1135px;
left:401.568604px;
color:#000000;
}
.span66
{
color:#C00D0E;
}
.cls029ClsTxt66
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1135px;
left:441.725464px;
color:#000000;
}
.span67
{
color:#C00D0E;
}
.cls029ClsTxt67
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1135px;
left:474.581116px;
color:#000000;
}
.span68
{
color:#C00D0E;
}
.span68
{
font-family:'CronosPro-Lt';
font-size:20.078430px;
}
.cls029ClsTxt68
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1135px;
left:523.864502px;
color:#000000;
}
.span69
{
color:#C00D0E;
}
.cls029ClsTxt69
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:217.212112px;
color:#000000;
}
.span70
{
color:#C00D0E;
}
.cls029ClsTxt70
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1159px;
left:396.092651px;
color:#000000;
}
.span71
{
color:#C00D0E;
}
.cls029ClsTxt71
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:436.249542px;
color:#000000;
}
.span72
{
color:#C00D0E;
}
.cls029ClsTxt72
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:459.978577px;
color:#000000;
}
.span73
{
color:#C00D0E;
}
.cls029ClsTxt73
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:1159px;
left:487.358276px;
color:#000000;
}
.span74
{
color:#C00D0E;
}
.cls029ClsTxt74
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:20.078430px;
top:1159px;
left:520.213867px;
color:#000000;
}
.span75
{
color:#C00D0E;
}
.cls029ClsTxt75
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:20.078430px;
top:119px;
left:150.675583px;
color:#000000;
}
.span76
{
font-family:'CronosPro-Lt';
font-size:18.253120px;
}
.zap {
font-family:'ZapfDingbatsStd';
}
.underline-nor
{
font-family:'CronosPro-Semibold';
text-decoration:underline;
color:#c00d0e;
}
.cls029ClsTxt76
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:162.452759px;
color:#000000;
}
.span77
{
color:#C00D0E;
}
.cls029ClsTxt77
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:368.713013px;
color:#000000;
}
.span78
{
color:#C00D0E;
}
.cls029ClsTxt78
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:390.616760px;
color:#C00D0E;
}
.span79
{
color:#C00D0E;
}
.span79
{
font-family:'CronosPro-Semibold';
font-size:18.253120px;
}
.cls029ClsTxt79
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:18.253120px;
top:1318px;
left:463.629242px;
color:#000000;
}
.span80
{
color:#C00D0E;
}
.cls029ClsTxt80
{
position:absolute;
font-family:'ZapfDingbatsStd';
font-size:18.253120px;
top:1320px;
left:644.335083px;
color:#000000;
}
.span81
{
color:#C00D0E;
}
.cls029ClsTxt81
{
position:absolute;
font-family:'CronosPro-Semibold';
font-size:18.253120px;
top:1318px;
left:664.413513px;
color:#C00D0E;
}

.Lt
{
font-family:'CronosPro-Lt';
}