@font-face{font-family:"TektonPro-Regular";src:url('../fonts/TektonPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-Semibold";src:url('../fonts/SourceSansPro-Semibold.otf');}
@font-face{font-family:"SourceSansPro-Regular";src:url('../fonts/SourceSansPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-Light";src:url('../fonts/SourceSansPro-Light.otf');}
@font-face{font-family:"SourceSansPro-It";src:url('../fonts/SourceSansPro-It.otf');}
@font-face{font-family:"SourceSansPro-Bold";src:url('../fonts/SourceSansPro-Bold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-LtIt";src:url('../fonts/CronosPro-LtIt.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
body {
position: absolute;
width:962px;
height:1310px;
left:0px;
margin:0px;
}
.outline1 {
position:relative;
left:40px;
top:20px;
border:2px solid #f7d6ae;
border-radius:10px;
width:610px;
height:50px;
}
.header {
position:relative;
border-top-left-radius:22px;
border-top-right-radius:22px;
width:962px;
height:58px;
background-color:#c02012;
}
.exe {
position:relative;
font-family:'SourceSansPro-Bold';
font-size:25px;
color:#ffffff;
padding-top:12px;
margin-left:35px;
}
.rubric {
position:relative;
font-family:'CronosPro-Regular';
font-size:27px;
margin-top:22px;
margin-left:35px;
}
.rubric0 {
position:relative;
font-family:'SourceSansPro-Semibold';
font-size:27px;
margin-top:0px;
margin-left:35px;
}
.rubric1 {
position:relative;
font-family:'SourceSansPro-Semibold';
font-size:27px;
margin-top:42px;
margin-left:35px;
}
.question-top {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:22px;
margin-left:40px;
}
.question {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:15px;
margin-left:40px;
}
.question1 {
position:relative;
font-family:'SourceSansPro-Regular';
font-size: 27px;
margin-top:21px;
margin-left:27px;
}
.question2 {
position:relative;
font-family:'SourceSansPro-Regular';
font-size: 27px;
margin-top:21px;
margin-left:73px;
}
.outline2 {
position:relative;
left:40px;
top:20px;
border:2px solid #f7d6ae;
border-radius:10px;
width:780px;
height:50px;
}
.outline3 {
position:relative;
left:40px;
top:20px;
border:2px solid #f7d6ae;
border-radius:10px;
width:580px;
height:80px;
}
.leftpadding
{
position:relative;
margin-left:180px;
margin-top:40px;
}
.question3 {
position:relative;
font-family:'CronosPro-Semibold';
font-size: 27px;
margin-top:6px;
margin-left:11px;
height: 61px;
}
span.bold
{
font-family:'SourceSansPro-Semibold';
}
span.italic
{
font-family:'SourceSansPro-It';
}
.answer
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff99;
margin:10px 30px 10px 70px;
padding:10px 25px 10px 15px;
}
.answere3
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff99;
margin:10px 30px 10px 70px;
padding:10px 15px 10px 15px;
}
.answer2
{
position:absolute;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff99;
margin:10px 30px 10px 70px;
padding:10px 25px 10px 15px;
width:610px;
}
.leftpadding
{
position:relative;
margin-left:180px;
margin-top:30px;
}
.question-topa {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:22px;
margin-left:75px;
}
.questiona {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:21px;
margin-left:74px;
}
.rubrica {
position:relative;
font-family:'CronosPro-Regular';
font-size:27px;
margin-top:22px;
margin-left:73px;
}
.tquestions {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:22px;
margin-left:20px;
}
.tquestionsa {
position:relative;
font-family:'SourceSansPro-Regular';
font-size: 27px;
margin-top:22px;
margin-left:20px;
}
.tanswer
{
position:relative;
font-family:'SourceSansPro-Regular';
font-size:27px;
border-radius:25px;
background-color:#ffff99;
margin:10px 40px 10px 5px;
padding:10px 25px 10px 15px;
}
.question-topaa {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:42px;
margin-left:40px;
}
.cls012ClsTxt30-1 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:21.253120px;
top:196px;
left:138.242401px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt31-1 {
position:absolute;
font-family:'TektonPro-Regular';
font-size:21.253120px;
top:218px;
left:135.591797px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt38-1 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:25.078430px;
top:212px;
left:282.857391px;
letter-spacing:0px;
line-height:90%;
color:#030506;
text-align:center;
}
.cls012ClsTxt40-1 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:25.078430px;
top:233px;
left:412.297668px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt41-1 {
position:absolute;
font-family:'CronosPro-LtIt';
font-size:25.078430px;
top:233px;
left:523.532928px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt32-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:278px;
left:62.055252px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt33-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:278px;
left:92.133682px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt34-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:342px;
left:62.055252px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt35-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:342px;
left:92.133682px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt36-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:408px;
left:62.055252px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt37-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:408px;
left:92.133682px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt42-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:278px;
left:297.935822px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt43-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:342px;
left:297.761108px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt44-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:408px;
left:297.935822px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt45-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:408px;
left:412.297668px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt46-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:342px;
left:412.297668px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt47-1 {
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.078430px;
top:278px;
left:412.297668px;
letter-spacing:0px;
color:#030506;
}
.cls012ClsTxt48-1 {
position:absolute;
font-family:'CronosPro-Semibold';
font-size:42.759354px;
top:334px;
left:530.008911px;
letter-spacing:0px;
color:#030506;
}
.questionaaa {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:21px;
margin-left:22px;
}
.questionaaaa {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:21px;
margin-left:56px;
}
.answer1
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff99;
margin:10px 10px 10px 20px;
padding:10px 25px 10px 15px;
}
.answer1s
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
width:600px;
border-radius:25px;
background-color:#ffff99;
margin-left:55px;
margin-top:15px;
padding:10px 45px 10px 25px;
}
.asb
{
font-family:'SourceSansPro-Semibold';
}
.question-top-under {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
}
