@font-face{font-family:"SourceSansPro-Semibold";src:url('../fonts/SourceSansPro-Semibold.otf');}
@font-face{font-family:"SourceSansPro-Regular";src:url('../fonts/SourceSansPro-Regular.otf');}
@font-face{font-family:"SourceSansPro-Light";src:url('../fonts/SourceSansPro-Light.otf');}
@font-face{font-family:"SourceSansPro-It";src:url('../fonts/SourceSansPro-It.otf');}
@font-face{font-family:"SourceSansPro-Bold";src:url('../fonts/SourceSansPro-Bold.otf');}
@font-face{font-family:"CronosPro-Semibold";src:url('../fonts/CronosPro-Semibold.otf');}
@font-face{font-family:"CronosPro-Regular";src:url('../fonts/CronosPro-Regular.otf');}
@font-face{font-family:"CronosPro-Lt";src:url('../fonts/CronosPro-Lt.otf');}
body {
position: absolute;
width:962px;
height:1310px;
left:0px;
margin:0px;
}
.span00050{
font-family:'CronosPro-Semibold';
color:#c00304;
}
.outline2 {
position:relative;
left:36px;
top:20px;
box-shadow: 2px 2px 2px 2px #ebb1b1;
border:2px solid #f7d6ae;
border-radius:25px;
width:282px;
height:160px;
}
.outline3 {
position:relative;
left:352px;
top:-143px;
box-shadow: 2px 2px 2px 2px #ebb1b1;
border:2px solid #f7d6ae;
border-radius:25px;
width:540px;
height:160px;
}
.header {
position:relative;
border-top-left-radius:22px;
border-top-right-radius:22px;
width:962px;
height:58px;
background-color:#c02012;
}
.exe {
position:relative;
font-family:'SourceSansPro-Bold';
font-size:25px;
color:#ffffff;
padding-top:12px;
margin-left:35px;
}
.rubric {
position:relative;
font-family:'CronosPro-Regular';
font-size:27px;
margin-top:22px;
margin-left:35px;
}
.rubric0 {
position:relative;
font-family:'SourceSansPro-Semibold';
font-size:27px;
margin-top:0px;
margin-left:35px;
}
.rubric1 {
position:relative;
font-family:'SourceSansPro-Semibold';
font-size:27px;
margin-top:42px;
margin-left:35px;
}
.question-top {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:26px;
margin-left:35px;
}
.question-top23 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:20px;
margin-left:35px;
}
.question-top3 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:22px;
margin-left:35px;
}
.question-top2 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:26px;
margin-left:65px;
}
.question-top24 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:26px;
margin-left:65px;
}
.question-top21 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:15px;
margin-left:65px;
}
.question-top1 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:20px;
margin-left:35px;
}
.question {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:10px;
margin-left:36px;
}
.question4 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:20px;
margin-left:36px;
}
.questione3 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:10px;
margin-left:40px;
}
.question1 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:23px;
margin-left:35px;
}
.question2 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:22px;
margin-left:66px;
}
.span00052{
font-family:'CronosPro-Lt';
color:#c00304;
}
.question3 {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
line-height:130%;
margin-top:11px;
margin-left:21px;
}
.question-hang {
position:relative;
font-family:'SourceSansPro-Regular';
font-size: 27px;
margin-top:21px;
margin-left:80px;
text-indent:-40px;
}
.questions {
position:relative;
font-family:'SourceSansPro-Regular';
font-size: 27px;
margin-top:22px;
margin-left:15px;
}
.questions1a {
position:relative;
font-family:'SourceSansPro-Regular';
font-size: 27px;
margin-top:26px;
margin-left:15px;
}
.questions1 {
position:relative;
font-family:'SourceSansPro-Regular';
font-size: 27px;
margin-top:31px;
margin-left:15px;
}
.tquestions {
position:relative;
font-family:'CronosPro-Lt';
font-size: 27px;
margin-top:22px;
margin-left:20px;
}
span.bold
{
font-family:'SourceSansPro-Semibold';
}
span.italic
{
font-family:'SourceSansPro-It';
}
.answer
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
margin:10px 30px 10px 70px;
padding:10px 25px 10px 15px;
}
.answere3
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
margin:10px 30px 10px 75px;
padding:10px 25px 10px 15px;
}
.answer1
{
position:relative;
font-family:'SourceSansPro-Regular';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
margin:10px 10px 10px 20px;
padding:10px 25px 10px 15px;
}
.danswer
{
position:relative;
font-family:'SourceSansPro-Regular';
font-size:27px;
border-radius:25px;
background-color:#ffffff;
margin:10px 30px 10px 70px;
padding:10px 25px 10px 15px;
}
.tanswer
{
position:relative;
font-family:'SourceSansPro-Light';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
padding:10px 25px 10px 15px;
}
.answer-nt
{
position:relative;
font-family:'SourceSansPro-Regular';
font-size:27px;
border-radius:25px;
background-color:#ffff94;
margin:0px 30px 0px 70px;
padding:10px 25px 10px 15px;
}
.leftpadding
{
position:relative;
margin-left:180px;
margin-top:40px;
}
