@font-face{font-family:"SourceSansPro-Semibold";src:url('../fonts/SourceSansPro-Semibold.otf');}
@font-face{font-family:"SourceSansPro-Regular";src:url('../fonts/SourceSansPro-Regular.otf');}
body {
position: absolute;
width:1024px;
height:1365px;
left:0px;
margin:0px;
}
.AccordionTitle, .AccordionContent, .AccordionContainer
{
position:relative;
width:875px;
height: 1050px;
overflow-x: hidden;
overflow-y: scroll;


}
.AccordionTitle
{
height:50px;
overflow:hidden;
cursor:pointer;
font-family:SourceSansPro-Semibold;
font-size:27px;
vertical-align:middle;
text-align:left;
padding-left:0px;
padding-top:6px;
background-repeat:repeat-x;
display:table;
background-color:#c22323;
-moz-user-select:none;
color:#fff;
}
.AccordionContent
{
height:0px;
display:none;
padding-top:8px;
background-color:#FFF;
overflow:auto;
}
.AccordionContainer
{
/*border-top: solid 1px #C1C1C1;
border-bottom: solid 1px #C1C1C1;
border-left: solid 2px #C1C1C1;
border-right: solid 2px #C1C1C1;*/
}
.contents{

padding-top:3px;
}
.units{
font-family:SourceSansPro-Semibold;
font-size:26px;
color:#e18a18;
}
.titles{
display:table;
position:relative;
margin-top:1px;
margin-left:0px;
height:10px;
padding:0px;

}


.titles1{
display:table;
position:relative;
margin-top:30px;
margin-left:0px;
height:10px;
padding:0px;

}

.titles:hover{
position:relative;
margin-top:1px;
margin-left:0px;
height:10px;
cursor:pointer;
padding:0px;

}
.downArrow{
position:absolute;
width:55px;
height:55px;
margin-top:-6px;
}
hr{
border: 1px solid #c22323;
}
.heading:hover{

position:absolute;
background-color:#CCC;
width:875px;
height:37px;
margin-top:-8px;

}
.heading{
display:table-row;
position:absolute;
font-family:SourceSansPro-Regular;
font-size:26px;
width:850px;
height:37px;
margin-top:-8px;
margin-left:-10px;

}
.table-row{
text-align: center;
}
.col{
display:table-cell;
padding-left:15px;
}
.col-1{
display:table-cell;
padding-left:50px;
}
.col-2{
display:table-cell;
padding-left:37px;
}
.col-3{
display:table-cell;
padding-left:23px;
}
.col-4{
display:table-cell;
padding-left:15px;
}
.col-5{
display:table-cell;
padding-left:15px;
}
.col-l{
display:table-cell;
text-align:left;
padding-left:15px;
width:815px;
}
.col-r{
display:table-cell;
text-align:left;
width:60px;
}
