body 
{
 position: absolute;
 width: 1024px;
height:1365px;
 left:0px;
 margin:0px;
}

.cls071ClsTxt0
{
position:absolute;
font-family:'CronosPro-Regular';
font-size:38.331551px;
top:53px;
left:74.518707px;
color:#FFFFFF;

}
.cls001ClsTxt0 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:143px;
left:73.333336px;
color:#000000;
}
.cls001ClsTxt1 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:143px;
left:117.333336px;

color:#000000;

}
.cls001ClsTxt2 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:178px;
left:104.000000px;

color:#000000;

}
.cls001ClsTxt3 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:178px;
left:322.666656px;

color:#000000;

}

.cls001ClsTxt4 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:213px;
left:104.000000px;
line-height:130%;
color:#000000;
}

.cls001ClsTxt5 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:213px;
left:384.000000px;

color:#000000;

}
.cls001ClsTxt6 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:247px;
left:104.000000px;

color:#000000;

}
.cls001ClsTxt7 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:282px;
left:104.000000px;
line-height:130%;
color:#000000;

}
.cls001ClsTxt8 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:282px;
left:462.666656px;

color:#000000;

}
.cls001ClsTxt9 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:317px;
left:104.000000px;

color:#000000;
 }
.cls001ClsTxt10 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:351px;
left:104.000000px;

color:#000000;

}
.cls001ClsTxt11 
{

position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:417px;
left:73.333336px;

color:#000000;
 }
.cls001ClsTxt12 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:453px;
left:73.333336px;
line-height:130%;
color:#000000;

}
.cls001ClsTxt13 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:490px;
left:73.333336px;

color:#000000;

}
.cls001ClsTxt14 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:525px;
left:73.333336px;

color:#000000;
 }
.span15 
{
font-family:'CronosPro-LtIt';
 }
.cls001ClsTxt15 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:525px;
left:157.333328px;

color:#000000;

word-spacing:0.85px;
word-spacing:0.85px;
}
.cls001ClsTxt16 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:559px;
left:73.333336px;

color:#000000;

}
.span17 
{
 font-family:'CronosPro-Lt';
font-size:26.666666px;
 }
.cls001ClsTxt17 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:559px;
left:592.000000px;

color:#000000;

word-spacing:0.67px;
word-spacing:0.67px;
}
.cls001ClsTxt18 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:594px;
left:73.333336px;

color:#000000;

}
.span19 
{
 color:#A30808;
}
 .span19 
{
 font-family:'CronosPro-Lt';
font-size:26.666666px;
 }
.cls001ClsTxt19 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:594px;
left:398.666656px;

color:#000000;

word-spacing:2.22px;
word-spacing:2.22px;
}
.span20 
{
color:#A30808;
}
 .span20 
{
font-family:'CronosPro-Bold';
color:#A30808;
 }
.cls001ClsTxt20 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:629px;
left:73.333336px;

color:#000000;
 }
.span21 
{
 color:#A30808;
}
 .cls001ClsTxt21 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:676px;
left:72.333336px;
line-height:130%;
color:#000000;
}
.span22 
{
 color:#A30808;
}
 .cls001ClsTxt22 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:678px;
left:641.333313px;

color:#000000;

}
.span23 
{
 color:#A30808;
}
 .cls001ClsTxt23 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:713px;
left:73.333336px;

color:#000000;

}
.span24 
{
 color:#A30808;
}
 .cls001ClsTxt24 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:747px;
left:73.333336px;

color:#000000;
 }
.span25 
{
 color:#A30808;
}
 .cls001ClsTxt25 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:747px;
left:160.000000px;

color:#000000;
 }
.span26 
{
 color:#A30808;
}
 .cls001ClsTxt26 
{

position:absolute;
font-family:'CronosPro-Bold';
font-size:26.666666px;
top:747px;
left:318.666656px;

color:#A30808;
 }
.span27 
{
 color:#A30808;
}
 .cls001ClsTxt27 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:747px;
left:450.666656px;

color:#000000;

}
.span28 
{
 color:#A30808;
}
 .cls001ClsTxt28 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:782px;
left:73.333336px;

color:#000000;

}
.span29 
{
 color:#A30808;
}
 .cls001ClsTxt29 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:782px;
left:672.000000px;

color:#000000;

}
.span30 
{
 color:#A30808;
}
 .cls001ClsTxt30 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:817px;
left:73.333336px;

color:#000000;

}
.span31 
{
 color:#A30808;
}
 .cls001ClsTxt31 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:865px;
left:73.333336px;
line-height:130%;
color:#000000;
}
.span32 
{
 color:#A30808;
}
 .cls001ClsTxt32 
{

position:absolute;
font-family:'CronosPro-Bold';
font-size:26.666666px;
top:867px;
left:376.000000px;

color:#A30808;
 }
.span33 
{
 color:#A30808;
}
 .cls001ClsTxt33 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:867px;
left:609.333313px;

color:#000000;

}
.span34 
{
 color:#A30808;
}
 .cls001ClsTxt34 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:902px;
left:73.333336px;

color:#000000;

}
.span35 
{
 color:#A30808;
}
 .cls001ClsTxt35 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:937px;
left:73.333336px;

color:#000000;

}
.span36 
{
 color:#A30808;
}
 .cls001ClsTxt36 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:937px;
left:380.000000px;

color:#000000;

}
.span37 
{
 color:#A30808;
}
 .cls001ClsTxt37 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:971px;
left:73.333336px;

color:#000000;
 }
.span38 
{
 color:#A30808;
}
 .cls001ClsTxt38 
{

position:absolute;
font-family:'CronosPro-Bold';
font-size:26.666666px;
top:971px;
left:106.666664px;

color:#A30808;
 }
.span39 
{
 color:#A30808;
}
 .span39 
{
 font-family:'CronosPro-Lt';
font-size:26.666666px;
 }
.cls001ClsTxt39 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1021px;
left:73.333336px;

color:#000000;

word-spacing:0.90px;
word-spacing:0.90px;
}
.span40 
{
 color:#A30808;
}
 .cls001ClsTxt40 
{

position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:1101px;
left:73.333336px;

color:#000000;
 }
.span41 
{
 color:#A30808;
}
 .cls001ClsTxt41 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1137px;
left:73.333336px;
line-height:130%;
color:#000000;
}
.span42 
{
 color:#A30808;
}
 .cls001ClsTxt42 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1174px;
left:73.333336px;

color:#000000;
 }
.span43 
{
 color:#A30808;
}
 .cls001ClsTxt43 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1174px;
left:284.000000px;

color:#000000;

}
.span44 
{
 color:#A30808;
}
 .cls001ClsTxt44 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1209px;
left:73.333336px;

color:#000000;

}
.span45 
{
 color:#A30808;
}
 .cls001ClsTxt45 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1209px;
left:418.666656px;

color:#000000;

}
.span46 
{
 color:#A30808;
}
 .cls001ClsTxt46 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1243px;
left:73.333336px;

color:#000000;

}
.span47 
{
 color:#A30808;
}
 .cls001ClsTxt47 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1278px;
left:73.333336px;

color:#000000;

}
.span48 
{
 color:#A30808;
}
.cls001ClsTxt48 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1325px;
left:73.333336px;
line-height:130%;
color:#000000;

}
.span49 
{
 color:#A30808;
}
 .cls001ClsTxt49 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1362px;
left:73.333336px;

color:#000000;

}
.span50 
{
 color:#A30808;
}
 .cls001ClsTxt50 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1362px;
left:277.333344px;

color:#000000;

}
.span51 
{
 color:#A30808;
}
 .cls001ClsTxt51 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1397px;
left:73.333336px;

color:#000000;

}
.span52 
{
 color:#A30808;
}
 .cls001ClsTxt52 
{

position:absolute;
font-family:'CronosPro-Regular';
font-size:26.666666px;
top:1462px;
left:73.333336px;

color:#000000;
 }
.span53 
{
 color:#A30808;
}
 .cls001ClsTxt53 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1497px;
left:73.333336px;
line-height:130%;
color:#000000;

}
.span54 
{
 color:#A30808;
}
 .cls001ClsTxt54 
{

position:absolute;
font-family:'CronosPro-Bold';
font-size:26.666666px;
top:1501px;
left:610.666687px;

color:#A30808;
 }
.span55 
{
 color:#A30808;
}
 .cls001ClsTxt55 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1501px;
left:781.333313px;

color:#000000;
 }
.span56 
{
 color:#A30808;
}
 .cls001ClsTxt56 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1535px;
left:73.333336px;

color:#000000;
 }
.span57 
{
 color:#A30808;
}
 .cls001ClsTxt57 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1535px;
left:393.333344px;

color:#000000;

}
.span58 
{
 color:#A30808;
}
 .cls001ClsTxt58 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1570px;
left:73.333336px;

color:#000000;
 }
.span59 
{
 color:#A30808;
}
 .cls001ClsTxt59 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1617px;
left:73.333336px;
line-height:130%;
color:#000000;

}
.span60 
{
 color:#A30808;
}
 .cls001ClsTxt60 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1654px;
left:73.333336px;

color:#000000;

}
.span61 
{
 color:#A30808;
}
 .cls001ClsTxt61 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1654px;
left:420.000000px;

color:#000000;

}
.span62 
{
 color:#A30808;
}
 .cls001ClsTxt62 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1689px;
left:73.333336px;

color:#000000;

}
.span63 
{
 color:#A30808;
}
 .cls001ClsTxt63 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1736px;
left:73.333336px;
line-height:130%;
color:#000000;

}
.span64 
{
 color:#A30808;
}
 .cls001ClsTxt64 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1773px;
left:73.333336px;

color:#000000;

}
.span65 
{
 color:#A30808;
}
 .cls001ClsTxt65 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1807px;
left:73.333336px;

color:#000000;
 }
.span66 
{
 color:#A30808;
}
 .cls001ClsTxt66 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1807px;
left:221.333328px;

color:#000000;

}
.span67 
{
 color:#A30808;
}
 .cls001ClsTxt67 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1842px;
left:73.333336px;

color:#000000;

}
.span68 
{
 color:#A30808;
}
 .cls001ClsTxt68 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1842px;
left:900.000000px;

color:#000000;
 }
.span69 
{
 color:#A30808;
}
 .cls001ClsTxt69 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1877px;
left:73.333336px;

color:#000000;

}
.span70 
{
 color:#A30808;
}
.cls001ClsTxt70 
{
position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1925px;
line-height:130%;
left:73.333336px;
color:#000000;
}
.span71 
{
 color:#A30808;
}
 .cls001ClsTxt71 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1927px;
left:825.333313px;

color:#000000;
 }
.span72 
{
 color:#A30808;
}
 .cls001ClsTxt72 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1962px;
left:73.333336px;

color:#000000;

}
.span73 
{
 color:#A30808;
}
 .cls001ClsTxt73 
{

position:absolute;
font-family:'CronosPro-Lt';
font-size:26.666666px;
top:1997px;
left:73.333336px;
color:#000000;
}

.ured
{
text-decoration:underline;
font-family:'CronosPro-Bold';
color:#A30808;
}

@font-face 
{
  font-family:"CronosPro-Bold" ;
  src:url('../fonts/CronosPro-Bold.otf');
 }
@font-face 
{
  font-family:"CronosPro-Lt" ;
  src:url('../fonts/CronosPro-Lt.otf');
 }
@font-face 
{
  font-family:"CronosPro-Regular" ;
  src:url('../fonts/CronosPro-Regular.otf');
 }
